#!/psw/cpp
geom	x:118:y:112bw:4
hmin	92
wmin	150
map	n
cols	3
item	Подсветка		kpaction 'setdimsecs';Kp label:'Выключение подсветки (сек):0=No AutoDim' post
item	Сохранить\nподсветку	Vga dimmerSecs:0
item	Выключить\nмигание	flashEnable 0
item	Включить\nмигание	flashEnable 1
item	Закрыть 			FlashCntrl unpost
#if #arch(cgc)
itemColor Закрыть:Exit
#endif
