%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Vsms.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2008/04/10 19:14:47 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for GpsSpeed systems
 * * * * * * * * * * * * * * * * * * *
 */
#include <Fatigue/Hub/Vsms.cfg>
