%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.13 $
 *   $Author: dcitron $
 *     $Date: 2013/10/04 20:37:33 $
 *    $State: Exp $
 *   Purpose: GOIC configuration common to all equipment.
 * * * * * * * * * * * * * * * * * * *
 */

#include <Goic/English/Macro.cfg>

/* Message file */
#include <Goic/Spanish/Message.cfg>

#include <Goic/Spanish/Macro_cfg.cfg>

/* Pre-Start Check stuff */
#include <Goic/Spanish/PS_Macro.cfg>

/* Keyboard button configurations and macros */
#include <Goic/Spanish/keyboard.cfg>

#if #option(Tasks)
#include <Tasks/Macro.cfg>
#include <Tasks/Spanish/TaskMessage.cfg>
#endif

symbol  exitstr         Salir Menu
symbol  morestr         Mas->
symbol  updtstr         Actualizar
macro SetMenus        eq? "$(statmenuupdt)" "0" Status item:Actualizar

/* MsgBox */
message OkLbl		Aceptar
message	CancelLbl	Cancelar
message YesLbl		Si
message NoLbl		No

/* Weight Station message, in principle useful for trucks only */
message	ReadyToWeighLbl	Cuando esté listo para pesar, presione botón Aceptar

message	v1.label	Bienvenido a Intellimine
message	v2.label	Ingrese Cartera
message	v3.label

/* Messages assigned to each state -- these appear on w0.v1
   These override the ones in Massage.cfg */
message	msg.0	Bienvenido a IntelliMine
message	msg.1	Caido en $(loc)
message msg.2	Disponible en $(loc)
message msg.3	Reserva en $(loc)
message msg.4	Demora en $(loc)
message msg.5	Enlace en $(loc)
message msg.6	Vaya a $(loc)
message msg.7	Llegado a $(loc)
message msg.8	Cargando en $(loc)
message msg.9	Vaya a $(loc)
message msg.10	Botando en $(loc)
message	msg.14	Llegado en $(loc)
message msg.17	Cargando en $(loc)

/* Messages assigned to each state -- these appear on w0.v2
   These override the ones in Massage.cfg */
message	nmsg.0	Ingrese Cartera
message	nmsg.1	Prox: $(next)
message nmsg.2	Prox: $(next)
message nmsg.3	Prox: $(next)
message nmsg.4	Prox: $(next)
message nmsg.5	Prox: $(next)
message nmsg.6	Prox: $(next)
message nmsg.7	Prox: $(next)
message nmsg.8	Prox: $(next)
message nmsg.9	Prox: $(next)
message nmsg.10	Prox: $(next)
message	nmsg.14	Prox: $(next)
message nmsg.17	Espere Pala


#if #class(excav) | #class(lhd) | #class(loader) | #class(loaderlp) | #class(ug_loader)
message msg.21   Caido en $(loc) 
message msg.22   Reserva en $(loc) 
message msg.23   Demora en $(loc) 
message msg.24   Enlace en $(loc) 
message msg.25   Esperando Camion en $(loc) 
message msg.16	 Cargando $(unit.$(u1)) $(id1) 
message msg.7 	 Esperando Camion en $(loc)
#else
message	msg.16	Cargando por $(loc)
#endif
message msg.256  Temporalmente sin comunicacion



message pressOk	Imprime OK

/* Macros run by rpc.$(state) */
macro	kpLogOn	kplabel 'No. Cartera';kpaction 'DoLogon';Kp label:$(kplabel) post

macro	kpOkReady	Ok label:Disponible action:READY post

macro	kpOkAssign	Ok label:Asignar action:ASSIGN post

macro	kpOkArrive	Ok label:Llegar action:ARRIVE post

macro	kpFuel		kplabel 'Cantidad de Combustible';kpaction 'sendfuel';Kp label:$(kplabel) post
macro	SendMessage	id $1;kplabel 'Mensaje a $1';kpaction 'sendmsg2';Kp2 label:$(kplabel) post
macro   kpTrkLoad       Ok label:Cargar action:LOAD post 
macro   kpTrkFull       Ok label:'Camion Lleno' action:'FULL None' post 
macro 	kpNoFull	Ok label:'Espere LLENO de la Pala' action:none post

/* Engine Hours macros */
macro   kpEngHrs        kplabel 'Horometro';kpaction 'DoEngHrs';Kp label:$(kplabel) post

macro	kpHelp2		Ok label:'EMERGENCIA' action:SendHelp post

symbol  actwin
