/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: MineExpo.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/10/08 20:35:54 $
 *    $State: Exp $
 *   Purpose: GOIC configuration common to all equipment.
 * * * * * * * * * * * * * * * * * * *
 */

#if #class(excav) | #class(loader)
macro PowerUp Macro PWRUP:Goic, v2.5.110;dimOff;gpson
macro ready.stat KSTATE 2 " " "Bench 1" "Ready" " "
macro down.stat KSTATE 1 " " "Bench 1" 2 " "
macro delay.stat KSTATE 4 " " "Bench 1" 2 " "
macro standby.stat KSTATE 3 " " "Bench 1" 8 " "
macro gpson tmpwin hp;WinMgr window:hp;whichmat;hp.GPS map:y;ht geom:x:560:y:70:w:80:h:354 pixels:300 map:y refresh;getinfo;hp.mb hmin:70 map:y;w0.v2 label:Ready;KSTATE 8 "Ore" "Bench 1"
#endif

#if #class(drill)
in      KSTATE  0x41    b?ssss   state $1;loc $2;w0.Icon icon:$(icon.$1);w0.v1 label:$(msg.$1);w0.v2 label:$3;w0.Text write:$4;w0.v4 label:$5
macro PowerUp Macro PWRUP:Goic, v2.5.110;dimOff;gpson;for minexpo
macro ready.minexpo KSTATE 18 "Bench 1" "Ready" " " " "
macro down.minexpo KSTATE 17 "Bench 1" "Next: Ready" " " " "
macro delay.minexpo KSTATE 19 "Bench 1" "Next: Ready" " " " "
macro standby.minexpo KSTATE 20 "Bench 1" "LOGON" " " " "
message msg.17   Down at $(loc) 
message msg.18   Ready at $(loc)
message msg.20   Standby at $(loc) 
message msg.19   Delayed at $(loc) 
message msg.21 Drilling Hole $(hp.hole label) of pattern $(hp.pattern label)
macro gpson loadgeodb; tmpwin hp;WinMgr window:hp;CADCanvas map:y;KSTATE 21 "Bench 1" "Ready" " " "Drilled Holes: $(hp.drillednum label) out of $(hp.totnum label)"
#endif

#if #class(dozer)
out	READY   0x09	d       ready.$(for)
out	DELAY   0x07	d       delay.$(for)
out	DOWN    0x08	d       down.$(for)
out	STANDBY 0x0a	d       standby.$(for)
in      KSTATE  0x41    b?ssss   state $1;loc $2;w0.Icon icon:$(icon.$1);w0.v1 label:$(msg.$1);w0.v2 label:$3;w0.Text write:$4;w0.v4 label:$5
macro PowerUp Macro PWRUP:Goic, v2.5.110;dimOff;for minexpo
macro ready.minexpo KSTATE 18 "Bench 1" "Ready"
macro down.minexpo KSTATE 17 "Bench 1" "Next: Ready"
macro delay.minexpo KSTATE 19 "Bench 1" "Next: Ready"
macro standby.minexpo KSTATE 20 "Bench 1" "LOGON"
message msg.17   Down at $(loc) 
message msg.18   Ready at $(loc)
message msg.20   Standby at $(loc) 
message msg.19   Delayed at $(loc) 
message msg.21 Working at $(loc)
macro gpson hp.CADCanvas zoom 800; tmpwin hp;WinMgr window:hp;CADCanvas map:y; ht map:y;KSTATE 21 "Bench 1" "Ready"
#endif

/* added for mine expo by Dov, remove after
   will automatically go back to gps screen after timeout minutes
   starttimeoutcheck and endtimeoutcheck are called by the onpost and onunpost
   methods of w0
 */
symbol	timeout 4
symbol	w0on	0
symbol	timeoutcount	0	
macro starttimeoutcheck w0on 1;timeoutloop
macro timeoutloop eq? $(w0on) 1 WinMgr after:60:checktimeout
macro checktimeout timeoutcount $(+ $(timeoutcount) 1);eq? $(timeoutcount) $(timeout) gpson;ne? $(timeoutcount) $(timeout) timeoutloop
macro endtimeoutcheck w0on 0;timeoutcount 0
