#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Мэдээлэл		req info;ob1 $(typ);args 2;sendaction
item	Мессеж			req mess;args 3;kplabel '$(id)-руу илгээж буй мессеж';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    GC\ кадр\ "агуулах"            snapshotUnit $(id);GetSnapshot
item    Цэснээс\nгарах              Action1 unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif
