%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: zambetis $
 *     $Date: 2010/04/08 20:40:29 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */

/* Set up the labels on the wGauges window , it is called on post of wGauges
 *
 * change here the wGauges.data0 label:$(depth) etc. to something else
 * and use macro setOtherData to calculate these new values
 *
 */
macro InitwGaugesWindow eq? $(rateState) 0 SET-VALUES wGauges.dataLbl 0 0 [ $(cfgLbl.85) ];\
                        ne? $(rateState) 0 SET-VALUES wGauges.dataLbl 0 0 [ $(cfgLbl.102) ]
macro cliSetOtherData /* overwrite it in clients Equipment.h */

/* 
 * we include the client config after InitwGaugesWindow in order to give him the
 * chance to overwrite this as well
 * the labels of the gauges can be changed there on a eqmt. by eqmt basis
 * or in LANGUAGE/Macro_cfg.cfg on an equipment's class basis
 *
 */
#include <LGCGauges/Equipment.h>

/*
 * from PlcDrill and VsmsDrill we get the following data with KDATA:
 * # parameter           unit        min      max    macro
 * - ------------------- ----------- ------   -----  --------
 * 0 bit speed rpm       Pc0 width   ?        ?      setDat0
 * 1 air bit pressure    ?           ?        ?      setDat1
 * 2 torque at bit       ?           ?        ?      setDat2
 * 3 pulldown force      ?           ?        ?      setDat3
 * 4 penetration rate    rate        ?        ?      setDat4
 *
 * Since the values will be coming from the Hub in a raw Hexidecimal
 * format we will need to convert the incoming parameters to a legible
 * number based on the calibration from the Hub.
 * it would be nice to know more about t hese values
 *
 */

macro setDat0 dat0 $(/ $(+ OFFSET0 $(* MULTIP0 $2) ) DIVIDE0); wGauges.1 value:$(dat0)
macro setDat1 dat1 $(/ $(+ OFFSET1 $(* MULTIP1 $2) ) DIVIDE1); wGauges.2 value:$(dat1)
macro setDat2 dat2 $(/ $(+ OFFSET2 $(* MULTIP2 $2) ) DIVIDE2); wGauges.3 value:$(dat2)
macro setDat3 dat3 $(/ $(+ OFFSET3 $(* MULTIP3 $2) ) DIVIDE3); wGauges.4 value:$(dat3)
macro setDat4 dat4 $(/ $(+ OFFSET4 $(* MULTIP4 $2) ) DIVIDE4); wGauges.5 value:$(dat4)
/* more are gauges can be added in the same way */
macro setDat5 
macro setDat6 
macro setDat7 
macro setDat8 
macro setDat9 

macro setOtherData  cliSetOtherData /* set this on a class specific basis */


/* KDATA shouln't send more than 10 values */
symbol  dat0 0
symbol  dat1 0
symbol  dat2 0
symbol  dat3 0
symbol  dat4 0
symbol  dat5 0
symbol  dat6 0
symbol  dat7 0
symbol  dat8 4
symbol  dat9 0

/* this will be removed its here in order to avoid error messages*/
#if  ! #class(drill)
symbol depth 0
symbol bottom 0
symbol target 0
symbol bottomRate 0.0
symbol rateState 0
symbol dispDepth 0.00
#endif

/*
 * here we set a pre-processor macro in oder to use different DisplayRate and
 * DisplayBottom macros in Goic/drill/LANGUAGE/Macro_drill.cfg
 * these macros are change in a way that we have the same behaviour
 * on the Gauges screen as on the main screen (w0) regarding the three
 * labels. depth, rate/dist-to-bottom, and target
 *
 * we use this trick here because the this option's macro seems to be
 * parsed before the Macro_drill.cfg statements and there we can not
 * check the #options(LGCGauges) condition because this kind of statement
 * can not distinguish between various options like HpDrill,LGCGauges
 * this statement checks always against the entire string)
 * long explanation for a short line :-)
 *
 */
#define lgcgauges yes


in      KDATA   0x97    [d]     foreach $1;do 'setDat\$1 \$2'; setOtherData
in      KDATA2  0x99    [s]     foreach $1;do 'wGauges.\$(+ \$1 1) value:\$2; wGauges.\$(+ \$1 1)val label:\$2'
