#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Colors.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2014/02/14 08:10:53 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Blue	Azul
#define	Dict_Green	Verde
#define	Dict_Gray	Cinza
#define	Dict_Brown	Marrom
#define	Dict_Yellow	Amarelo
#define	Dict_ExitMenu	Sair\ Menu
