%! /psw/cpp
###################################################################
# Store and Forward Mine Info code
###################################################################
symbol  mindex
symbol  minfo
symbol	argsrcv
symbol  bcn0
symbol  bcn1
symbol  bcn2
symbol  bcn3
symbol  bcn4
symbol  bcn5
symbol  bcn6
symbol  bcn7
symbol  bcn8
symbol  bcn9
symbol  bcn10
symbol  bcn11
symbol  bcn12
symbol  bcn13
symbol  bcn14
symbol  bcn15
symbol  bcn16
symbol  bcn17
symbol  bcn18
symbol  bcn19
symbol  bcn20
symbol  inf0
symbol  inf1
symbol  inf2
symbol  inf3
symbol  inf4
symbol  inf5
symbol  inf6
symbol  inf7
symbol  inf8
symbol  inf9
symbol  inf10
symbol  inf11
symbol  inf12
symbol  inf13
symbol  inf14
symbol  inf15
symbol  inf16
symbol  inf17
symbol  inf18
symbol  inf19
symbol  inf20
symbol	MIarglist0	0
symbol	MIarglist1	0 1
symbol  MIarglist2	0 1 2
symbol  MIarglist3	0 1 2 3
symbol  MIarglist4	0 1 2 3 4
symbol  MIarglist5	0 1 2 3 4 5
symbol  MIarglist6	0 1 2 3 4 5 6
symbol  MIarglist7	0 1 2 3 4 5 6 7
symbol  MIarglist8	0 1 2 3 4 5 6 7 8
symbol	MIarglist9	0 1 2 3 4 5 6 7 8 9
symbol	MIarglist10	0 1 2 3 4 5 6 7 8 9 10
symbol	MIarglist11	0 1 2 3 4 5 6 7 8 9 10 11
symbol	MIarglist12	0 1 2 3 4 5 6 7 8 9 10 11 12
symbol	MIarglist13	0 1 2 3 4 5 6 7 8 9 10 11 12 13
symbol	MIarglist14	0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
symbol	MIarglist15	0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
symbol  MIarglist16     0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
symbol  MIarglist17     0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
symbol  MIarglist18     0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
symbol  MIarglist19     0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
symbol  MIarglist20     0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
macro   createminfo     Macro symbol $(minfo).$(bcn$(mindex)) $(inf$(mindex))
in MINEINFO     0x078c    s[d][s] minfo $1;showMineInfo;foreach $2;do getbcn;foreach $3;do getinf;processminfo
macro processminfo	foreach $(MIarglist$(argsrcv));do 'mindex \$2;createminfo'
macro getbcn    argsrcv $1;bcn$1 $2
macro getinf    inf$1 $2
macro showMineInfo	eq? "$(midebug)" "1" displayMineInfo
macro displayMineInfo	postTrans "\nMINEINFO rpc received for $(minfo)\n"

symbol loc_id
symbol loc_sign
symbol loc_type
symbol loc_unit
symbol loc_stat
symbol loc_rsn
symbol loc_btyp
symbol loc_auto
symbol midebug   	 0
macro HandleBcnArr	loc_sign $(last_beacon);clrLocInfo;setLocId;setLocType;setLocUnit;setLocStat;setLocAuto;showArrive
macro clrLocInfo	loc_id "Unknown";loc_type "Unknown";loc_unit 0;loc_stat "Unknown";loc_auto 0
macro setLocId		loc_id $(locid.$(last_beacon))
macro setLocType	loc_type $(loctype.$(last_beacon))
macro setLocUnit	loc_unit $(locunit.$(last_beacon))
macro setLocStat	loc_stat $(locstat.$(last_beacon))
macro setLocAuto	loc_auto $(locauto.$(last_beacon))
macro showArrive	eq? "$(midebug)" "1" showDisplay
macro showDisplay	displayInfo;displayInfo2
macro displayInfo	postTrans "\nBeacon Arrive at $(loc_sign)\nLocation:$(loc_id)\n"
macro displayInfo2	postTrans "Type:$(loc_type)\nUnit:$(loc_unit)\nStatus:$(loc_stat)\nAuto:$(loc_auto)\n"
macro CheckAuto		eq? "$(loc_auto)" "1" eq? "$(loc_id)" "$(dest)" eq? $(sfnextact) $(SF_ARRIVE) ARRIVE -1
macro btnMIView		PostNumPad "Beacon ID" MIView
macro MIView		postTrans "Beacon ID:$(GetPadValue)\nlocid:$(locid.$(GetPadValue))\nloctype:$(loctype.$(GetPadValue))\nlocunit:$(locunit.$(GetPadValue))\nlocstat:$(locstat.$(GetPadValue))\nlocauto:$(locauto.$(GetPadValue))\n"
macro MIViewon	KMENU2 Options [ 'MineInfo\nView btnMIView' ]
