#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Informasi		req info;ob1 $(typ);args 2;sendaction
item	Pesan			req mess;args 3;kplabel 'Pesan ke $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Setel\ Status		args 3;updtselect statupdate;menutype Status;Status action:menuaction post
#item    Oper\ Login             kplabel 'Payroll No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

item    Keluar\ Menu
#if #arch(cgc)
itemColor Keluar\ Menu:Exit
#endif
