%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: GpsGGA.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:48 $
 *    $State: Exp $
 *   Purpose: Configuration file for Ashtech MicroZ GPS interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Gps/GpsTruck.cfg>
delayTime	500
sendTo	Slip.-2
