%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.6 $
 *   $Author: dcitron $
 *     $Date: 2018/06/22 21:46:16 $
 *    $State: Exp $
 *   Purpose: Main configuration file for Moto GPS interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#ifndef ISOPTION
	up	Loop
	version	GPSNAME GPS Interface, vVERSION
#	define PROMPT	\'Moto GPS Interface, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
#include <Main/GpsPort.h>
#if ! #GPSPORT(busy)
#	assert  module(GpsDev)
	module	GPSNAME
	object	GPSNAME name:Gps
#endif
#if #arch(pe)
#	ifndef NORTCM
		module	GpsRTCM
		object	GpsRTCM
#	endif
#	if defined DELITE
		module ConvMgr
		object ConvMgr
#	endif
#endif
