#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    2
item	Información	 req info;ob1 $(typ);args 2;sendaction

#if #option(Full)
item	Act\ Estatus	 for loc;DumpStat post
item	Act\ Capacidad	 req capy;Kp label:'$(id) Capacity' action:getKp post
item	Add\ Material	 req madd;DumpMaterial action:getReq post
item	Quitar\ Material req mdel;DumpMaterial action:getReq post
#item	Act\ Blending    req sblend;Blends action:getReq post
#item	Quitar\ Blending req rblend;doReq
#endif

item    Salir\ Menú
#if #arch(cgc)
colors    default
itemColor    Salir\ Menú:Exit
#endif
