#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Información		req info;ob1 $(typ);args 2;sendaction
item	Mensaje			req mess;args 3;kplabel 'Mensaje a $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Foto\ de\ GC            snapshotUnit $(id);GetSnapshot
item    Salir\ Menú
#if #arch(cgc)
itemColor Salir\ Menú:Exit
#endif
