#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Shovel...	req shvbar;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Dump...		req dmpbar;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	Material...	req matbar;menutype Load;menuselect menuactionob1;Load action:menuaction post

item    Exit\ Menu              Bar unpost
#if #arch(cgc)
itemColor Exit\ Menu:Exit
#endif
