%!/psw/cpp
geom	bw:4
hmin	100
map	n
tile    srash
#if #arch(cgc)
colors  default
item	Limpiar\nPantalla	w0.Text clear
item	Act.\ Brillo		Kp label:'Tiempo AutoOscura(0 = no AutoOscura)' action:'Vga dimmerSecs:\$(Kp.D label)' post
item	Salir\ Menu		Options unpost  
#else
item    Video\nReves		Screen reverse:1
item    Video\nNormal		Screen reverse:0
item	Salir\ Menu		Options unpost  
#endif
