%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2004/01/05 23:04:13 $
 *    $State: Exp $
 *   Purpose: main object instantiation for minestar
 *            interface 1
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
version	Minestar1 Interface, vVERSION
#define PROMPT	\'Minestar1 Interface, vVERSION> \'
#define MYAPP Minestar1
#assert up(none)
#include <Main/UpPort.h>
#include <Main/ObjSh.h>
#include <Main/Adc.h>
#include <Main/OMS.h>
module	Macro
object	Macro path:y
module	PlmMinestar
object	PlmMinestar name:Plm port:scc0a speed:9600 hdwe:rs232 flags:0x0
module	Slip
object	Slip port:cpu speed:38400 hdwe:rs232
module	Can
object	Can id:1 ipaddr:192.168.203.1
