%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: hp.sideview.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2009/04/13 12:28:48 $
 *    $State: Exp $
 *   Purpose: Configuration for hp.sideview object
 * * * * * * * * * * * * * * * * * * *
 */
vertRange	3000
viewLevel	50
#if defined(BACKHOESIM)
	object	BucketSimulator name:bktsim
	object	PositionSimulator name:possim
#endif
