%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: zambetis $
 *     $Date: 2009/04/08 21:31:20 $
 *    $State: Exp $
 *   Purpose: Object instantiation for Backhoe systems
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(goic) || #arch(goiccan) || #arch(cgc)
	module Backhoe
	object BackhoeSideView name:hp.sideview geom:x:250:y:104:h:316:w:250:bw:2 relief:sunken map:n font:Tiny
	object StratifiedMaterialModel name:materials
	object TerrainModel name:terrain
	object BucketPositioning name:bucket
	object BackhoeModel name:backhoe
#endif
