%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2005/10/31 22:21:57 $
 *    $State: Exp $
 *   Purpose: Load script for Bridgestone interface
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Bridgestone
#assert do(GenerciDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module BridgestoneDriver	
	object BridgestoneDevice name:bsdev speed:38400 hdwe:rs232 port:GSPPORT flags:0x0a
        object BridgestoneDriver name:bridgestone device:bsdev sendto:MINECARENET
#endif
