#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2016/08/26 14:30:13 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Recall	ʨ
#define	Dict_Refresh	ʫ\nʬ
#define	Dict_Lock	˞\n˟
#define Dict_Clear      ʯ\nʰ
#define Dict_Chat       ʲ
#define Dict_RemBktBeep	Set\ Buckets\nRemaining\nBeep
#define Dict_Color      ʴ
#define	Dict_ExitMenu	½
