%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2012/04/19 07:35:40 $
 *    $State: Exp $
 *   Purpose: Load script for Rieker driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Rieker
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	RiekerDriver
	object	RiekerDevice name:riekerdev speed:9600 hdwe:rs232 port:GSPPORT
	object	RiekerDriver name:rieker device:riekerdev sendto:MINECARENET
#endif
