%!/psw/cpp

#if !defined(LANGUAGE)
#	define LANGUAGE English
#endif

#define DICT_FILE <Proximity/Goic/LANGUAGE/Macro_cfg.cfg>
#include DICT_FILE

/************* Configuration ********************************/

symbol	hpLabels	0  /* Set 0 for shovel, 1 for dozers */

/************* LED STATUS    *********************************/
/* the "proximityStatus" macro gets called by the Proximity  */
/* object whenever there is a change to the current severity */
/* which is the maximum of all severities for all known eqmt */
/* and hazards                                               */
/*************************************************************/

symbol	pxStatSev	0
symbol	pxStatDir	0

/*
 * the "proximityStatus" macro is called only when the current proximity severity
 * changes from one value to another. It doesn't necessarily get called whenever
 * each alarm occurs
 */
macro	proximityStatus	pxStatSev $1; pxStatDir $2; pxIndicators

/*
 * please override these macros and symbols anyway you want, in the Macro_client.cfg
 * file included at the end of this file
 */
#if #option(HpShovel) || #option(HpLoader) || #option(HpDozer) || #option(HpDrill)
macro   pxText0         w0.Text colors:default clear
macro   pxText1         w0.Text colors:default clear
macro   pxText2         w0.Text colors:default clear
macro   pxText3         w0.Text colors:pxTXTHigh
#else
macro   pxText0         w0.Text colors:default clear
macro   pxText1         w0.Text colors:default clear
macro   pxText2         w0.Text colors:default clear
macro   pxText3         w0.Text colors:pxTXTHigh
#endif

/************ INDIVIDUAL ALARM ACTIONS ***********************/
/* the following macro "pxWarningMacro" is called whenever   */
/* an alarm is triggered. this can be changed by either      */
/* specifying (a) different macro(s) in the Proximity.cfg    */
/* file or re-defining the pxWarningMacro definition in the  */
/* Proximity/Goic/Macro_client.cfg file                      */
/*                                                           */
/* the following messages can be used to display certain     */
/* text whenever certain alarm conditions occur.             */
/* the default naming convention is:                         */
/*                                                           */
/*     pxMsg<zone><type>                                     */
/*                                                           */
/* where <zone> is as defined in the Proximity configuration */
/* (always, a higher number indicates a higher severity =    */
/* closer to the equipment. and the <type> is one of the     */
/* following:                                                */
/*                                                           */
/*     0 = safe, only ever for zone 0                        */
/*     1 = moving away from us                               */
/*     2 = staying in the same zone                          */
/*     3 = new, would be unexpected if not in zone 1         */
/*     4 = moving closer to us                               */
/*     5 = reserved for hazards. hazards are always zone 3   */
/*                                                           */
/*************************************************************/

/* 
 *  Sound off message and Proximity display
 */

symbol	pxArea	0
symbol	pxType	0
symbol	pxDist	-1
symbol	pxName	""
symbol	pxUnits	""
symbol	pxSilent	no
symbol	pxMsg	""
symbol	pxSnooze	900

macro	pxIndicators	pxText$(pxStatSev); statusBeep$(pxStatSev)
macro	statusBeep0     ne? $(pxSilent) yes WinMgr beep:100:3
macro	statusBeep1     ne? $(pxSilent) yes WinMgr beep:100:3
macro	statusBeep2     ne? $(pxSilent) yes WinMgr beep:100:3
macro	statusBeep3	ne? $(pxSilent) yes WinMgr beep:100:3

macro	soundOff	pxSilent yes;WinMgr after:$(pxSnooze):soundOn
macro	soundOn		pxSilent no

/*
 * proximity warnings can be customized and disabled and the sounds snoozed
 */
macro	pxWarningMacro	pxArea $1; pxType $2; pxDist $3; pxName $4; pxUnits $5;\
			pxMsg $(pxMsg$(pxArea)$(pxType));\
			ne? "$(pxMsg)" "none" KDISP "$(pxMsg)";\

/* Used for automated testing of pxWarningMacro: */
in pxWarningMacroTEST INT_RPC sssss pxWarningMacro

/*
 * hazard warnings can be customized and snoozed but not disabled
 */
macro	pxHazardMacro	pxDist $3; pxName $4; pxUnits $5;\
			KDISP "$(pxMsgHazard)";\
			ne? $(pxSilent) yes beepHazard

/* Used for automated testing of pxHazardMacro: */
in pxHazardMacroTEST INT_RPC sssss pxHazardMacro

/*
 * Definition of the beep in each area. They can be overriden
 * in the Proximity/Goic/Macro_client.cfg file
 */

/*
 * hazard sound, always same severity
 */
macro	beepHazard	WinMgr beep:200:8

/* Enable or Disable the alarm sound via popup menu */

macro	pxSound		eq? $(operResponse) 1 soundOff;\
			eq? $(operResponse) 0 soundOn

macro setInfoHpTruck    mapHpTruckInfo
macro setInfoHpIncl     mapHpInclInfo

#if #option(HpShovel) || #option(HpLoader) || #option(HpDozer) || #option(HpDrill)
in	KDISP	0x40	s	w0.Text write:"$1\n";\
				hp.Text write:"$1\n";\
				eq? $(pxSilent) no hp.Text map:y;\
				WinMgr after:5:'hp.Text map:n'
#else
in	KDISP	0x40	s	w0.Text write:"$1\n"
#endif

#if !defined(SMALLUI) && !defined(LARGEUI)
macro GoodProxGps w0.ProxGpsLight colors:Pass
macro BadProxGps w0.ProxGpsLight colors:Fail;\
                 WinMgr after:1:'w0.ProxGpsLight colors:dspDown'
#elif defined(DELITE)
macro GoodProxGps gpsOverrideStatus ""
macro BadProxGps  gpsOverrideStatus $(GpsBadQual)
#endif

symbol proxGpsDelay 8
macro ProxGpsQuery  eq? "$(Prox proxGpsStatus)" "Good" GoodProxGps;\
                    eq? "$(Prox proxGpsStatus)" "Bad"  BadProxGps;\
                    WinMgr after:$(proxGpsDelay):ProxGpsQuery

/*
 * use this include file to override any of the above macros or add
 * new ones as configured in the Proximity.cfg file
 */
#include <Proximity/Goic/Macro_client.cfg>
