%!/psw/cpp
/*
 * addAlarm <class>:<severity>:<distance>:<snooze>:<size>:<color>:<macro>
 *
 * <class>    = equipment class for which this alarm applies. class can be
 *              "unknown", "any", "dozer", "shovel", "loader", "drill",
 *              "truck", "auxil", "lvehicle"
 * <severity> = severity of alarm 0=lowest and indicates no alarm
 * <distance> = distance at which this alarm is triggered, in local mine units.
 *              for severity '0' this distance has no meaning
 * <snooze>   = time to wait before generating the same alarm again for the
 *              same equipment, in seconds (severity '0' alarms are never
 *              repeated).
 * <size>     = minimum size (radius) of circle representing any equipment in
 *              this alarm zone. if the equipment is larger than this it will
 *              be shown in its correct size
 * <color>    = color of the circle representing any equipment in this alarm
 *              zone
 * <macro>    = macro to run whenever this alarm is triggered. the macro is
 *              called with the following arguments: <severity>, <alarm type>,
 *              <distance>, <eqmt name>, <distance unit>.
 *
 *              <alarm type> is one of the following:
 *
 *                  0 = safe, this is always the type of a severity '0' alarm
 *                  1 = decreasing; previous alarm was higher severity
 *                  2 = same severity as before for this equipment
 *                  3 = new alarm, normally only for severity '1'
 *                  4 = increasing; previous alarm was lower severity
 *
 * The "any" class applies to all equipment classes. At any severity level,
 * the class specific alarm always has precedence to that for the "any" class.
 * For example, consider the following hypothetical configuration for a shovel:
 *
 *   ------ ALARM CONFIG -------   ---------- ZONES ----------
 *   severity  dozer  truck  any    dozers    trucks     others
 *      0                    100     > 70      > 60       > 70
 *      1              60     70   20 to 70  20 to 60    40 to 70
 *      2       20     20     40   10 to 20   0 to 20    20 to 40
 *      3       10      0     20     < 10       none      < 20
 *
 * In the above example, dozers don't generate a severity '3' alarm until they
 * are within 10 meters of the shovel. Trucks never generate severity '3' alarms
 * and all other equipment classes generate these at 20 meters. This config is
 * only shown as an example! Please work with your customer to determine the
 * correct alarm configuration that best suits the mine operations
 *
 * * * * * * * * * * * * * WARNING * * * * * * * * * * * * * * * * * * * * * *
 * The following default configuration may suit metric sites, but certainly  *
 * will NOT be suitable for non-metric sites using feet as the unit of       *
 * distance. You MUST create a site specific configuration file              *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

 /* Alarms are generic but with the pxWarningMacro removed 
  * to ensure no feedback is provided to the operator
  */
addAlarm	any:0:110:0:3:normalColor:pxWarningMacro
addAlarm	any:1:50:30:5:level1Color:pxWarningMacro
addAlarm	any:2:30:20:8:level2Color:pxWarningMacro
#if #class(dozer)
/* RSC: 10m sev 3 alarms for dozers only. */
addAlarm	any:3:10:8:10:level3Color:pxWarningMacro
#else
addAlarm	any:3:20:8:10:level3Color:pxWarningMacro
#endif

#if #class(shovel)
	class	shovel
#elif #class(dozer)
	class	dozer
#elif #class(drill)
	class	drill
#elif #class(loader)
	class	loader
#elif #class(truck)
	class	truck
#elif #class(excav)
	class	excav
#else
	class	auxil
#endif

/* Time before a GPS Position is considered stale (in milliseconds) */
staleGpsMillis 600000

/* These can be set to specify the number of seconds to re-send the beep in a security level */
intvl0		0
intvl1		0
intvl2		0
intvl3		0
