%!/psw/cpp
geom	bw:4
hmin	80
map	n
cols    2
item	Numero\ Operador	kpLogOn
item	Cambio\ Operador	LOGON -1
item	Informacion		Info post
item	Actualizar\ Pantalla	RECALL
item	Combustible		kpFuel
item	Mensage			KeyMessage
#if #option(PS/dozer)
item	Lista\ de\nChequeo	kpPrestart
#endif
#if #option(Tasks)
item	Tasks			WinMgr window:wtaskmenu
#endif
