%!/psw/cpp
#if #arch(hub)
	route Pmc 0x238
#endif
route LhNav 0x1003
route LhNav 0x1015
route LhNav 0x1011
route LhNav 0x1013
route LhNav 0x1010
route LhNav 0x1012
route LhNav 0x1014
route LhSafety 0x1018
route LhSafety 0x1038
route LhSafety 0x1041
