%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2006/04/13 15:46:31 $
 *    $State: Exp $
 *   Purpose: RPC configuration for bit regenerator.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef BRGID
#	define BRGID A
#endif
in  BRG-SELECT	0x015a	s	eq? $1 BRGID Brg active:yes;ne? $1 BRGID Brg active:no
out BRG-STATUS	0x015b  v,[d]	return [$(Brg status) $(Brg powerFwd) $(Brg powerRev) $(Brg powerIn) $(Brg temperature)]
