%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1997
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:44 $
 *    $State: Exp $
 *   Purpose: Main configuration file for bit regenerator.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef ISOPTION
#	include <Version.h>
	up	Rp
	version	Bit Regenerator, vVERSION
#	define PROMPT \'Bit Regenerator, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
	module	Slip
	object	Slip
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
module	Brg
object	Brg
