#!/psw/cpp
#include <Version.h>
#ifndef UP
#	define UP Slip
#endif
up	UP
connected y
module	ObjSh
module	File
module  ram0/Test219
object ObjSh base:Test prompt:\'Bit Regenerator Test, vVERSION> \'
#if #up(Loop)
	module	Slip
#else
	object	LoopTest name:Loop termin:0
#endif
object	Ssn
object	Adc addr:4
object	Rp
object	File path:y
object  Test219
mode	190
ssn	""
rom	x
ram	x
flash	x
e2rom	x
e2pot	x
done	x
