#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2016/08/26 14:30:12 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map	n
#define	LANG_FILE	<10inch/common/LANGUAGE/Options.cfg>
#include LANG_FILE
#ifndef LARGEUI
        item Dict_Color doColor
        item Dict_Chat  doChat
        item Dict_Lock  doLock
        item Dict_Clear doClear
#	define APP_FILE <10inch/APP/Options.cfg>
#	include APP_FILE
#endif
item	Dict_Recall	doOptRecall
item	Dict_Refresh	doRefresh
#ifdef HASVIEWS
	item	Dict_Lock	doLock
#endif
#ifdef REMBKTCTRL
item	Dict_RemBktBeep	setRemBktBeep
#endif
#define OBJECT Options
#include <Cfg/Options.cfg>
item	Dict_ExitMenu	doOptionsExit

/* Eliminated by request from Marketing (TFS 170462) */
/* itemColor	Dict_ExitMenu:Exit */
