/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Prestart2_Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2016/10/27 18:59:13 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

symbol  psLists -1
symbol  lastpage.0 -1
symbol  lastpage.1 -1
symbol  lastpage.2 -1
symbol  lastpage.3 -1
symbol  lastpage.4 -1
symbol  lastpage.5 -1
symbol  lastpage.6 -1
symbol  lastpage.7 -1
symbol  lastpage.8 -1
symbol  lastpage.9 -1
message	PrestartTitle.0	$(PrestartTitle)
symbol  PsItem
symbol  PsPage
symbol  PsList  0
symbol  listSave
symbol  PsComment.0
symbol  PsComment.1
symbol  PsComment.2
symbol  PsComment.3
symbol  PsComment.4
symbol  PsComment.5
symbol  PsComment.6
symbol  PsComment.7
symbol  PsComment.8
symbol  PsComment.9
symbol  PsReset.0 y
symbol  PsReset.1 y
symbol  PsReset.2 y
symbol  PsReset.3 y
symbol  PsReset.4 y
symbol  PsReset.5 y
symbol  PsReset.6 y
symbol  PsReset.7 y
symbol  PsReset.8 y
symbol  PsReset.9 y
symbol  psTemp
symbol  psTemp2
symbol  bitmask
symbol  PsNoConfig
symbol	PsLoading	0
symbol  prevPsPage
symbol	PsValue
symbol  PsValue0        Pass
symbol  PsValue1        Fail
symbol  PsValue2        Neutral
symbol  PsValue3        SafeFail
message PsPassEnum      0
message PsFailEnum      1
message PsNeutEnum      2
message PsNoOperateEnum 3
message PsSafeFailEnum  4
symbol  currItemState
symbol  PassAllRestrict n
symbol  tempItemName
symbol	temp_oper
symbol  PsDoNotOperate
symbol  PsIncomplete
symbol  pageArray
symbol	colorType
symbol  resetList
symbol	resetPage	0
symbol  tempPsStr
symbol  tempPsStr2
symbol	psDebug	n
symbol  arglist8       0 1 2 3 4 5 6 7

in      doPsCheck       INT_RPC d       listSave $1;eq? $(lastpage.$1) -1 ShowNoPS;\
                        ne? $(lastpage.$1) -1 'WinMgr after:2:ShowPsCheck;eq? $(PsReset.$(listSave)) y ResetPsList $(listSave)'

macro   ShowPsCheck     ShowPsBase;checkReset
macro	ShowPsBase	Prestart.Page label:"";RefreshComment $(listSave);PostWindow "Prestart" MENU_LAYER
macro	ShowPsItems0	SetPage 0;PostWindow "PrestartItems-$(PsList)-0" MENU_LAYER
macro   ShowNoPS        PsNoConfig "$(PrestartTitle.$(PsList))\n$(NoConfig)";MessageBox "$(PsNoConfig)" "$(PressOkLbl)"
in      BuildMenuItem   INT_RPC d       tempPsStr "'$(PrestartTitle.$1)' doPsCheck $1";Checklists item:$(tempPsStr)
macro   PostChecklists  foreach $(psLists);do BuildMenuItem \$2;Checklists item:"'$(exitstr)' Checklists unpost";Checklists post
macro   ChecklistMsg    eq? $(psLists) -1 ShowNoPS;ne? $(psLists) -1 ShowlistMsgBox
macro   ShowlistMsgBox  eq? $(nPsLists) 1 doPsCheck $(psLists);\
                        ne? $(nPsLists) 1 MessageBox "$(SelInitCLLbl)" "$(PressOkLbl)" "PostChecklists"
in      kpPrestart      INT_RPC d       listSave 0;ne? "$1" "-1" listSave $1;eq? $(lastpage.$(listSave)) -1 ShowNoPS;\
                        ne? $(lastpage.$(listSave)) -1 WinMgr after:2:kpPSAuto
macro	kpPSAuto	WinMgr after:2:kpPSAuto2;eq? $(PsReset.$(listSave)) y ResetPsList $(listSave)
macro	kpPSAuto2	ShowPsBase;checkReset
#in      InitPS0         INT_RPC d       resetList $1;ne? $(lastpage.$(resetList)) -1 ResetAllPS
in      InitPS0         INT_RPC d       PsReset.$1 y;
macro   InitPS          ne? $(psLists) -1 initPSLists
macro   initPSLists     foreach $(psLists); do InitPS0 \$2
in	ResetPsList	INT_RPC d	resetList $1;ne? $(lastpage.$(resetList)) -1 ResetAllPS;PsReset.$(resetList) n
macro   ResetAllPS      eq? $(psDebug) y echo 'ResetAllPS start';\
                        PsLoading 1;PageCleanup;\
                        ResetComments$(persist_support);RefreshComment $(resetList);\
                        LoopAllPages ResetItem$(persist_support);PsLoading 0;\
                        eq? $(psDebug) y echo 'ResetAllPS end'
macro   InitPersist     WinMgr after:2:InitPersistObj;eq? $(ChecklistItem debug) no persist_support PY
/* to save time, call the ChecklistItem object to get it to pre-load persistent data files */
macro	InitPersistObj	resetList 0;ResetComments$(persist_support)
macro	checkReset	eq? $(psDebug) y echo 'checkReset-resetpage:$(resetPage)';\
                        ne? $(resetPage) 0 endReset;\
                        eq? $(resetPage) 0 WinMgr after:1:checkReset
macro	checkResetOLD	eq? $(psDebug) y echo 'checkReset-resetpage:$(resetPage)';\
                        eq? $(PsLoading) 0 endReset;\
                        eq? $(PsLoading) 1 WinMgr after:1:checkReset
macro   endReset        PsList $(listSave);ShowPsItems0

/* Button Handlers */
in      SetPage         INT_RPC d       SetPage0
macro	SetPage0	PsPage $1;Prestart.Page label:"$(PageLbl): $(+ $(PsPage) 1) / $(+ $(lastpage.$(PsList)) 1)"

macro   doPsCancel      UnpostWindow "PrestartItems-$(PsList)-$(PsPage)";UnpostWindow "Prestart"

macro   PageCleanup     Prestart.CommDisp label:"";Prestart.CommHead label:""
macro	ChangePage	PageCleanup;\
                        UnpostWindow "PrestartItems-$(PsList)-$(PsValue)";\
                        PostWindow "PrestartItems-$(PsList)-$(PsPage)" MENU_LAYER
macro   doPsPrev        PsValue $(PsPage);ne? $(PsValue) 0 SetPage $(- $(PsValue) 1);\
                        eq? $(PsValue) 0 SetPage $(lastpage.$(PsList));ChangePage
macro   doPsNext        PsValue $(PsPage);ne? $(PsValue) $(lastpage.$(PsList)) SetPage $(+ $(PsValue) 1);\
                        eq? $(PsValue) $(lastpage.$(PsList)) SetPage 0;ChangePage

in      doPsToggle      INT_RPC d       PsItem $1;currItemState $(ps.$(PsList).$(PsPage).$1);\
                                        eq? $(currItemState) $(PsNeutEnum) PassItem $(PsPage) $(PsItem);\
                                        eq? $(currItemState) $(PsPassEnum) FailItem $(PsPage) $(PsItem);\
                                        eq? $(currItemState) $(PsFailEnum) PassItem $(PsPage) $(PsItem);\
                                        SetCommentArea
in	FailItem        INT_RPC dd	SetItem $1 $2 1
in	PassItem        INT_RPC dd      SetItem $1 $2 0
in	NeutItem	INT_RPC dd      SetItem $1 $2 2
in	PassItemRestrict	INT_RPC dd      ne? $(ps.$(PsList).$1.$2) $(PsFailEnum) SetItem $1 $2 0
in      SetItem         INT_RPC ddd     ps.$(PsList).$1.$2 $3;DSItemState2$(persist_support) $(PsList) $1 $2;\
                                        colorType $3;eq? $3 $(PsFailEnum) eq? $(PsAction.$(PsList).$1.$2) $(PsSafeFailEnum) colorType 3;\
                                        PrestartItems-$(PsList)-$1.Toggle$2 colors:$(PsValue$(colorType))
in      SetItem2        INT_RPC ddd     ps.$(resetList).$1.$2 $3;DSItemState2$(persist_support) $(resetList) $1 $2;\
                                        colorType $3;eq? $3 $(PsFailEnum) eq? $(PsAction.$(resetList).$1.$2) $(PsSafeFailEnum) colorType 3;\
                                        PrestartItems-$(resetList)-$1.Toggle$2 colors:$(PsValue$(colorType))

macro   doPsPassAll	prevPsPage $(PsPage);doPsNext;\
                        eq? "$(PassAllRestrict)" "n" LoopAllItems $(prevPsPage) PassItem;\
                        ne? "$(PassAllRestrict)" "n" LoopAllItems $(prevPsPage) PassItemRestrict
in      LoopAllItems    INT_RPC ds      foreach $(arglist8);do $2 $1 \$1 $(PsInit.$(resetList))
macro   LoopAllPages0   resetPage $1;\
                        Prestart.Loading label:"$(PrestartLoading)\n$(PrestartTitle.$(resetList)) $(PageLbl): $(+ $1 1) / $(+ $(lastpage.$(resetList)) 1)";\
                        LoopAllItems $1 $(tempPsStr2)
in      LoopAllPages    INT_RPC s       eq? $(psDebug) y echo 'LoopAllPages start';tempPsStr2 $1;\
                                        For $(+ $(lastpage.$(resetList)) 1) LoopAllPages0;\
                                        eq? $(lastpage.$(resetList)) 0 resetPage 1;\
                                        Prestart.Loading label:"$(PrestartLoading)"


/* Comment Handling */
in      doPsComment     INT_RPC d       PsItem $1;SetCommentArea;\
                                        eq? $(PsItem) 99 eq? "$(PsComment.$(PsList))" " " editPsComment;\
                                        ne? $(PsItem) 99 eq? "$(PsItemComment.$(PsList).$(PsPage).$1)" " " editPsComment
symbol  MaxCommLen      140
macro   editPsComment	eq? $(PsItem) 99 PostKeyPad "$(CommentTitle)" SetGenComment $(MaxCommLen) "$(PsComment.$(PsList))";\
                        ne? $(PsItem) 99 PostKeyPad "$(CommentTitle)" "SetItemComment" $(MaxCommLen) "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))"
macro   SetGenComment   PsComment.$(PsList) $(GetPadValue2);RefreshComment $(PsList);DSGenCmt$(persist_support);SetCommentArea
in	RefreshComment	INT_RPC d	 eq? "$(PsComment.$1)" " " Prestart.Comment colors:default;\
                        ne? "$(PsComment.$1)" " " Prestart.Comment colors:$(PsValue0);\
                        eq? $(psDebug) y echo 'RefresheComment end'
macro   SetItemComment  PsItemComment.$(PsList).$(PsPage).$(PsItem) $(GetPadValue2);\
                        RefreshItemCmt $(PsList) $(PsPage) $(PsItem);DSItemCmt$(persist_support);SetCommentArea;\
                        EQ-REQ "psitemcomment" [ $(PsList) $(PsPage) $(PsItem) "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" ]
in      RefreshItemCmt  INT_RPC ddd       psTemp2 default;ne? "$(PsItemComment.$1.$2.$3)" " " psTemp2 $(PsValue0);\
                        PrestartItems-$1-$2.Comment$3 colors:$(psTemp2)
macro   SetCommentArea  RefreshCommHead$(persist_support) $(GetItemName) $(GetCmtDate$(persist_support)) $(GetCmtOper$(persist_support));\
                        RefreshCommDisp
macro   RefreshCommDisp Prestart.CommDisp clear;\
                        eq? $(PsItem) 99 Prestart.CommDisp label:$(PsComment.$(PsList));\
                        ne? $(PsItem) 99 Prestart.CommDisp label:$(PsItemComment.$(PsList).$(PsPage).$(PsItem))
in      GetItemName     INT_RPC ?s,s    eq? $(PsItem) 99 tempItemName $(General);\
                        ne? $(PsItem) 99 tempItemName $(PrestartItems-$(PsList)-$(PsPage).Toggle$(PsItem) label);\
                        return "$(tempItemName)"

/* Send Results */
macro   doPsOk          Prestart.Ok action:"";\                                 /* of doPsOk logic is complete           */
                        doPsCancel;\                                            /* Unpost window at begining of sequence */
                        PsDoNotOperate 0;PsIncomplete 0;\
                        pageArray $(nil);\
                        For $(+ $(lastpage.$(PsList)) 1) BitmaskPage;\
                        n $(PsComment.$(PsList));\
                        eq? "$(n)" " " n $(NoneLbl);\
                        eq? $(PsIncomplete) 0 PRESTART $(pstype) "$(PsList)|$(n)" [ $(pageArray) ];\
                        eq? $(PsIncomplete) 0 eq? $(PsDoNotOperate) 1 PsTellNoOperate;\
                        Prestart.Ok action:doPsOk;\                             /* Add doPsOk action to Prestar.Ok button */
                        ne? $(PsIncomplete) 0 PsTellIncomplete
macro   BitmaskPage     PsValue 0;bitmask 1;LoopAllItems $1 BitmaskItem;pageArray $(pageArray) $(PsValue)
macro   BitmaskItem0    PsValue $(+ $(PsValue) $(bitmask));eq? $(PsAction.$(PsList).$1.$2) $(PsNoOperateEnum) PsDoNotOperate 1
in      BitmaskItem     INT_RPC dd      ne? $(CfgPs.$(PsList).$1.$2) " " eq? $(ps.$(PsList).$1.$2) 2 PsIncomplete 1;\
                        eq? $(ps.$(PsList).$1.$2) 1 BitmaskItem0;bitmask $(* $(bitmask) 2)
macro   PsTellNoOperate MessageBox "$(PsCritFailLbl)" "$(PressOkLbl)";postTrans "$(PsCritFailLbl)\n$(DoNotOperateLbl)"
macro   PsTellIncomplete MessageBox "$(PsIncompleteLbl)" "$(PressOkLbl)";doPsCheck $(PsList)

#ifdef PERSISTSUPPORT
       macro   CheckPS postTrans "Persistence Support via DEMAINT check"
#else
       macro   CheckPS postTrans "Persistence Support using $(persist_support) macros"
#endif
/*
 *              Until we can check DEMAINT version use this to determine if persistence support is available
 */
/*
 * Persistent Support
 */
                symbol  dsobj
                symbol  dstemp
                symbol  dsresult
                macro   SetChecklistItem  eq? $(PsItem) 99 ChecklistItem list:$(PsList) page:0 item:$(PsItem);\
                                          ne? $(PsItem) 99 ChecklistItem list:$(PsList) page:$(PsPage) item:$(PsItem)
                in      SetChecklistItem2  INT_RPC ddd  eq? $3 99 ChecklistItem list:$1 page:0 item:$3;\
                                                        ne? $3 99 ChecklistItem list:$1 page:$2 item:$3
                in      GetItemStatePY    INT_RPC ?s,s  SetChecklistItem;return "$(ChecklistItem state)"
                in      GetCmtDatePY      INT_RPC ?s,s  SetChecklistItem;dstemp $(ChecklistItem date);\
                                                        eq? "$(dstemp)" " " dsresult "?";\
                                                        ne? "$(dstemp)" " " dsresult $(dstemp);\
                                                        return "$(dsresult)"
                in      GetCmtOperPY      INT_RPC ?s,s  SetChecklistItem;dstemp $(ChecklistItem oper);\
                                                        eq? "$(dstemp)" " " dsresult "?";\
                                                        ne? "$(dstemp)" " " dsresult $(dstemp);\
                                                        return "$(dsresult)"
                in      GetCmtTextPY      INT_RPC ?s,s  SetChecklistItem;return "$(ChecklistItem comment)"
                in      RefreshCommHeadPY INT_RPC sss   eq? "$2" "?" Prestart.CommHead label:$(LastComm);\
                                                        eq? "$3" "?" Prestart.CommHead label:$(LastComm);\
                                                        ne? "$2" "?" ne? "$3" "?" Prestart.CommHead label:$(LastCommEnhan)
                macro   ResetCommentsPY   SetChecklistItem2 $(resetList) 0 99;dstemp $(ChecklistItem comment);\
                                          eq? "$(dstemp)" " " PsComment.$(resetList) $(nil);\
                                          ne? "$(dstemp)" " " PsComment.$(resetList) $(dstemp);\
                                          eq? $(psDebug) y echo 'ResetCommentsPY end'
                in      ResetItemPY       INT_RPC ddd   SetChecklistItem2 $(resetList) $1 $2;dstemp $(ChecklistItem state);\
                                          eq? $(dstemp) $(PsFailEnum) SetItem2 $1 $2 $(PsFailEnum);\
                                          ne? $(dstemp) $(PsFailEnum) SetItem2 $1 $2 $3;\
                                          dstemp $(ChecklistItem comment);\
                                          eq? "$(dstemp)" " " PsItemComment.$(resetList).$1.$2 $(nil);\
                                          ne? "$(dstemp)" " " PsItemComment.$(resetList).$1.$2 $(dstemp);\
                                          RefreshItemCmt $(resetList) $1 $2
                macro   DSItemStatePY     SetChecklistItem;ChecklistItem state:$(ps.$(PsList).$(PsPage).$(PsItem));\
                                          eq? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem date:"";\
                                          eq? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem oper:"";\
                                          eq? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem comment:""
                in      DSItemState2PY    INT_RPC ddd SetChecklistItem2 $1 $2 $3;ChecklistItem state:$(ps.$1.$2.$3);\
                                          eq? "$(PsItemComment.$1.$2.$3)" " " ChecklistItem date:"";\
                                          eq? "$(PsItemComment.$1.$2.$3)" " " ChecklistItem oper:"";\
                                          eq? "$(PsItemComment.$1.$2.$3)" " " ChecklistItem comment:""
                macro   DSItemCmtPY       SetChecklistItem;\
                                          eq? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem date:$(nil);\
                                          ne? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem date:$(FormatDate);\
                                          eq? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem oper:$(nil);\
                                          ne? "$(PsItemComment.$(PsList).$(PsPage).$(PsItem))" " " ChecklistItem oper:$(curr_oper);\
                                          ChecklistItem comment:$(PsItemComment.$(PsList).$(PsPage).$(PsItem));\
                                          ChecklistItem state:$(ps.$(PsList).$(PsPage).$(PsItem))
                macro   DSGenCmtPY        SetChecklistItem;\
                                          eq? "$(PsComment.$(PsList))" " " ChecklistItem date:$(nil);\
                                          ne? "$(PsComment.$(PsList))" " " ChecklistItem date:$(FormatDate);\
                                          eq? "$(PsComment.$(PsList))" " " ChecklistItem oper:$(nil);\
                                          ne? "$(PsComment.$(PsList))" " " ChecklistItem oper:$(curr_oper);\
                                          ChecklistItem comment:$(PsComment.$(PsList));\
                                          ChecklistItem state:0
/*
 * Non Persistent Support
 */
                in      GetItemStatePN    INT_RPC ?s,s  return $(nil)
                in      GetCmtDatePN      INT_RPC ?s,s    return "$(Time month)/$(Time day)/$(Time year) ($(Time get))"
                in      GetCmtOperPN      INT_RPC ?s,s    eq? "$(curr_oper)" " " temp_oper "Unknown";ne? "$(curr_oper)" " " temp_oper $(curr_oper);return $(temp_oper)
                in      GetCmtTextPN      INT_RPC ?s,s    return $(nil)
                in      RefreshCommHeadPN INT_RPC sss     Prestart.CommHead label:$(LastComm)
                macro   ResetCommentsPN   PsComment.$(resetList) $(nil)
                in      ResetItemPN       INT_RPC ddd     PsItemComment.$(resetList).$1.$2 $(nil);SetItem2 $1 $2 $3;RefreshItemCmt $(resetList) $1 $2
                macro   DSItemStatePN     nil
                in      DSItemState2PN    INT_RPC ddd   nil
                macro   DSItemCmtPN       nil
                macro   DSGenCmtPN        nil
/*
 * end Persistent dependant code
 */

#ifndef NEXTGEN
        macro   doPsReport      PostWindow "PsReport" MENU_LAYER
        macro   doPsRepUpdate   PsReport.Text clear;PsReport.Text write:"$(RepRequestLbl)";REPT-REQ PsReport.Text gc_ps_rept
        macro   doPsRepExit     UnpostWindow "PsReport"
#endif
