#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Информация		req info;ob1 $(typ);args 2;sendaction
item	Сообщение			req mess;args 3;kplabel 'Сообщение\ к\ $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post

item	Статус\ установить...		args 3;updtselect statupdate;menutype Status;Status action:menuaction post
item	"Ручное\n Назначение\ к..."   req asn;args 2;ManAsn post
item	Прикрепить\ к:		ob2 lock;args 4;Lock post
item	Открепить\ от...	ob2 unlock;args 4;Lock post
item	Запрепить\ от...		ob2 bar;args 4;Bar post
item	Снять\ запрет\ от...		ob2 unbar;args 4;Unbar post
#item	Оператор\ Вход	 	kplabel 'Payroll No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

item	Выход\ из\ меню              Action1 unpost
#if #arch(cgc)
itemColor	Выход\ из\ меню:Exit
#endif
