geom    x:0:y:0:w:640:bw:0
hmin	90
wmin	160
item	ќбновить         	w2.Text clear;w2.Text write:'ќбновить LP маршрута; пожалуйста, подождите...';REPT-REQ w2.Text 2lproute
item	¬ыход		WinMgr window:w0
item	Ёкрана\ 1	WinMgr window:w1
item	Ёкрана\ 3	WinMgr window:w4
itembw  4
#if #arch(cgc)
colors  default
#endif
