#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:28 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	BcnLbl		Majakan tunnus
message	CommErrLbl	Viestintävirhe. Yritä uudelleen 1 minuutin kuluttua.
message NoEmergLbl	EI VIESTINTÄÄ!!!\nHÄTÄPYYNTÖÄ EI\nVASTAANOTETTU!!!\n
message GoodCommsLbl	Viestintä palautettu.
message	BadCommsLbl	Viestintäyhteys katkesi!
message CommsYesLbl	Hyvä\nViestintä
message CommsNoLbl	Huono\nViestintä
message NextLbl		Seuraava:
message PreStrtSpool	Tarkistuslista puhdistettu
message sfyesnolbl	Poista käytöstä viestinnän äänimerkki?
message	setSFBeepBtn	Aseta viestintä\nÄänimerkki
message	sfDumps		Tyhjennykset
message sfExLds		Kuormat
message	NoCommActLbl	Pyyntöä $(rpcReq) ei voi suorittaa, kun viestintä ei toimi
message LocStatSpool	Sijainnin tilan muutos\nPyyntö siirretty jonoon.
message	sfLogOn		Kirjaudu
message sfUnknown	Tuntematon
message	TruckWait	Odota kiviautoa
message PerformWork	Suoritetaan työtä
message DoWork		Suorita työ
message Travelling	Siirtyy...
message Travel		Siirtyy
message sfgoMsg		Siirry kohteeseen
message sfdmpMsg	Purkaa
message sfarvMsg	Saapunut
message sfldMsg		Lastaa
message sfrdyMsg	Valmis
message sfact5		Osoittaa
message sfact6		Saapuminen
message sfact7		Kuorma
message sfact12		Täynnä
