#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.3 $
 *   $Author: zastaury $
 *     $Date: 2017/04/12 19:27:28 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Recall	Командыг\nсанах
#define	Dict_Refresh	Дэлгэцийг\nсэргээх\ хийх
#define	Dict_Lock	Тyгжих\nДэлгэц
#define Dict_Clear      Арилгах\nтекст
#define Dict_Chat       Мессэж\nоруулах
#define Dict_RemBktBeep	Ачих\ шанаганы\nдохиог\nтохируулах
#define Dict_Color      Oнгo
#define	Dict_ExitMenu	Цэснээс\nгарах
