%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2004/01/05 23:04:13 $
 *    $State: Exp $
 *   Purpose: Load script for MEMSRV driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME MEMSRV 
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	object	Slip name:memsnet speed:19200 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
	module	MEMSRVDriver
	object	MEMSRVDriver name:memsrv device:memsnet sendto:MINECARENET
#endif
