%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Gps2.cfg,v $
 * $Revision: 1.5 $
 *   $Author: latum $
 *     $Date: 2007/02/07 18:00:26 $
 *    $State: Exp $
 *   Purpose: Configure the second GPS receiver for dual-receiver
 *	      high precision GPS systems.
 * * * * * * * * * * * * * * * * * * *
 */
port	GSPPORT
flags	8
hdwe	rs232
#if #arg1(GpsGG24)
	commandFile etc/gg24.rover2
	speed	19200
#elif #arg1(GpsNMEA)
	commandFile etc/gps.rover2
	speed	9600
#elif #arg1(GpsTopcon)
	commandFile etc/topcon.rover2
	pollInt	300
	speed	115200
#elif #arg1(GpsNovariant)
	speed	38400
#else
	speed	9600
#endif
