%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2006/04/28 15:28:33 $
 *    $State: Exp $
 *   Purpose: Main configuration file for the GpsRover
 *	      application.
 * * * * * * * * * * * * * * * * * * *
 */
#assert module(GpsApp)
module	GpsTruck
object	BeaconDB base:Gps path:y
module	GpsRover
object	GpsRover base:Gps
#if !#arch(a29k)
	module	GpsStat
	object	GpsStat
#endif
