%!/psw/cpp

symbol	PT_Macro_newui
#define MI_FILE <PersistTest/Macro_mineinfo.cfg>
#include MI_FILE
#if defined UGUI
#define HELPER  <StoreForward/10inch/Newui_helper.cfg>
#include HELPER
#endif

#define EQSTATEINFO	100
#define	SFSTATEINFO	101

message	noval	No Value
message eqi_state	0
message eqi_stat	1
message eqi_rsn		2
message eqi_oper	3
message	eqi_rcode	4
message eqi_loc		5
symbol EQInfoid
symbol eqi_temp
symbol eqi_result
in	GetEqInfoVal0	INT_RPC	?s,s	return "$(EqmtInfo eqinfo0)"
in	GetEqInfoVal1	INT_RPC	?s,s	return "$(EqmtInfo eqinfo1)"
in	GetEqInfoVal2	INT_RPC	?s,s	return "$(EqmtInfo eqinfo2)"
in	GetEqInfoVal3	INT_RPC	?s,s	return "$(EqmtInfo eqinfo3)"
in	GetEqInfoVal4	INT_RPC	?s,s	return "$(EqmtInfo eqinfo4)"
in	GetEqInfoVal5	INT_RPC	?s,s	return "$(EqmtInfo eqinfo5)"
in	GetEqInfoVal6	INT_RPC	?s,s	return "$(EqmtInfo eqinfo6)"
in	GetEqInfoVal7	INT_RPC	?s,s	return "$(EqmtInfo eqinfo7)"
in	GetEqInfoVal8	INT_RPC	?s,s	return "$(EqmtInfo eqinfo8)"
in	GetEqInfoVal9	INT_RPC	?s,s	return "$(EqmtInfo eqinfo9)"
#in	GetEqInfo	INT_RPC	?d,s	eqi_temp $1;SetEqInfo;return $(GetEqInfoVal$1)
#in	GetEqInfo2	INT_RPC	?d,s	eqi_temp $1;return $(GetEqInfoVal$1)
in	GetEqInfo	INT_RPC	?d,s	eqi_temp $(GetEqInfoVal$1);\
                                        eq? "$(eqi_temp)" " " eqi_result $(noval);\
                                        ne? "$(eqi_temp)" " " eqi_result $(eqi_temp);\
                                        return "$(eqi_result)"
in	GetEqInfo2	INT_RPC	?d,s	SetEqInfo;return GetEqInfo $1
macro SetEqInfo	EqmtInfo id:$(EQInfoid)
macro EQInfoon	KMENU2 Options [ 'EqmtInfo\nView btnEQInfo' ]
macro btnEQInfo PostNumPad "EqmtInfo ID" EIView
macro EIView    EQInfoid $(GetPadValue);EIShow
macro EIShow	EqmtInfo id:$(EQInfoid);postTrans "EqmtInfo ID:$(EQInfoid)\neqinfo0:$(GetEqInfo 0)\neqinfo1:$(GetEqInfo 1)\neqinfo2:$(GetEqInfo 2)\neqinfo3:$(GetEqInfo 3)\neqinfo4:$(GetEqInfo 4)\neqinfo5:$(GetEqInfo 5)\neqinfo6:$(GetEqInfo 6)\neqinfo7:$(GetEqInfo 7)\n"
in	EIDisplay	INT_RPC	d	EQInfoid $1;EIShow

symbol tsi_temp
symbol tsi_result
symbol TSchedid
symbol TSchedrow
macro SetTsiResult	eq? "$(tsi_temp)" " " tsi_result $(noval);\
                        ne? "$(tsi_temp)" " " tsi_result $(tsi_temp)
macro SetTSItem TramSchedItem schedid:$(TSchedid) schedrow:$(TSchedrow)
in	GetTSLocid	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem locid);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
in	GetTSDumpid	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem dumpid);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
in	GetTSSchedtot	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem schedtot);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
in	GetTSSchedmatl	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem schedmatl);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
in	GetTSDrawnmatl	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem drawnmatl);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
in	GetTSRemmatl	INT_RPC	?d,s	SetTSItem;\
                                        tsi_temp $(TramSchedItem remmatl);\
                                        SetTsiResult;\
                                        return "$(tsi_result)"
macro TRSchedon	KMENU2 Options [ 'TramSched\nView btnTRSched' ]
macro btnTRSched PostNumPad "TramSched ID" btnTRSched2
macro btnTRSched2 TSchedid $(GetPadValue);PostNumPad "TramSched ROW" TSView
macro TSView	TSchedrow $(GetPadValue);TSShow
macro TSShow	TramSchedItem schedid:$(TSchedid) schedrow:$(TSchedrow);postTrans "TramSched ID:$(TSchedid) ROW:$(TSchedrow)\nschedtot:$(GetTSSchedtot)\nlocid:$(GetTSLocid)\ndumpid:$(GetTSDumpid)\nschedmatl:$(GetTSSchedmatl)\ndrawnmatl:$(GetTSDrawnmatl)\nremmatl:$(GetTSRemmatl)\n"
in	TSDisplay	INT_RPC	dd	TSchedid $1;TSchedrow $2;TSShow

#if defined UGUI
macro	HandleStatInfo	curr_stat $1;curr_rsn $2;Handleks3arg6;Handleks3arg7;SetStat;curr_oper $3;SetOperBtn;curr_rcode $4;curr_loc $5;SetCurrLoc;PersistStatInfo
#else
macro   HandleStatInfo  curr_stat $1;curr_rsn $2;curr_oper $3;curr_rcode $4;curr_loc $5;eq? "$(curr_oper)" "-1" curr_oper $(nil);w0.Status icon:$(stat$(curr_stat)_icon);UpdateStatBar "Operator" "$(curr_oper)";Handleks3arg6;Handleks3arg7;PersistStatInfo
#endif
macro	PersistStatInfo	EqmtInfo id:EQSTATEINFO;\
                        EqmtInfo eqinfo1:$(curr_stat);\
                        EqmtInfo eqinfo2:$(curr_rsn);\
                        EqmtInfo eqinfo3:$(curr_oper);\
                        EqmtInfo eqinfo4:$(curr_rcode);\
                        EqmtInfo eqinfo5:$(curr_loc)

#if #option(StoreForward)
macro   HandleSFInfo    ne? $2 "unknown" last_loadloc $2;\
                        ne? $3 "unknown" last_dumploc $3;\
                        eq? $1 7 setloadloc;\
                        eq? $1 8 setdumploc;\
                        nextactdesc $4;sfnextact $5;setbeans;PersistSFInfo
macro	PersisteSFInfo	EqmtInfo id:EQSTATEINFO;\
                        EqmtInfo eqinfo0:$1;\
                        EqmtInfo eqinfo1:$(last_loadloc);\
                        EqmtInfo eqinfo2:$(last_dumploc);\
                        EqmtInfo eqinfo3:$(nextactdesc);\
                        EqmtInfo eqinfo4:$(sfnextact)
#endif

macro initPT	PT_rpc_extra;RestorePersist
macro PT_rpc_extra	kstate_extra $(kstate_extra) PT
macro PT.kstate_extra	EqmtInfo id:EQSTATEINFO;EqmtInfo eqinfo0:$(state)
#if defined UGUI
macro RestorePersist	ne? $(state) 0 postTrans "Persist Restore Cancelled";eq? $(state) 0 postTrans "Restoring Persist State Info"
#else
macro RestorePersist	ne? $(state) 99 postTrans "Persist Restore Cancelled";eq? $(state) 99 postTrans "Restoring Persist State Info"
#endif
