%!/psw/cpp
#ifdef ARG1
	out	RFID-ARRIVE	0x0601	dd
	out	RFID-DEPART	0x0602	dd
	in	RFID-DEBUG	0x0603	b
	out	RFID-TAGS	0x0604	dd[l]?[d] sendto up
#else
#if #option(StoreForward)
	out	RFID-ARRIVE	0x0605	dd	sendto Goic
	out	RFID-DEPART	0x0606	dd	sendto Goic
#else
	out	RFID-ARRIVE	0x0601	dd	rfArrive.$(rfOpt)
	out	RFID-DEPART	0x0602	dd	rfDepart.$(rfOpt)
	in	RFID-DEBUG	0x0603	b	rfOpt $1
	symbol	rfOpt 0
	macro	rfArrive.0	sendto up
	macro	rfArrive.1	sendto Goic;RfTag tagId:0
	macro	rfDepart.0	sendto up
	macro	rfDepart.1	sendto Goic
#endif
#endif
