%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: RfTag.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2008/12/12 23:30:08 $
 *    $State: Exp $
 *   Purpose: Configuration file for RF tag reader interface, pre-rail version.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GpsPort.h>
#ifndef ARRIVECT
#	define ARRIVECT 1
#endif
#ifndef DEPARTCT
#	define DEPARTCT 20
#endif
port	 GPSPORT
speed	 9600
arriveCt ARRIVECT
departCt DEPARTCT
object	 Pio name:Pio2 addr:2 type:8574 clear:0x1
pollInt	 150
keyup	 150
#ifdef ARG1
readerId ARG1
maxTags	 32
#endif
