%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2004/12/15 16:36:23 $
 *    $State: Exp $
 *   Purpose: Load script for Ivmc driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Ivmc
#include <Alstom/Main.cfg>
#include <Main/UpPort.h>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	Ivmc
	object	IvmcDevice name:ivmcdev speed:19200 hdwe:rs232 port:GSPPORT
	object	IvmcDriver name:Ivmc device:ivmcdev
#endif
