#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SkyCond.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:23 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Clear	Kirkas\ s‰‰
#define	Dict_PartCloudy	Puolipilvist‰
#define	Dict_Cloudy	Pilvinen
#define	Dict_ExitMenu	Poistu\ valikosta
