%!/psw/cpp

/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: PS_Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/06/17 19:12:17 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* Prestart check stuff */

#include <Goic/English/PS_Macro.cfg>

/* CfgPassFail.2 is used for items that are not used */
symbol	CfgPassFail.1	Gagal
symbol	CfgPassFail.0	Lulus

macro	PSRefresh	$(PSVer).Label label:"$(PrestartTitle.$(PsList)) - Halaman $(+ $(pg) 1) dari $(+ $(lastpage.$(PsList)) 1)";foreach $(PsInit.$(PsList).$(pg));do mapbuttons

macro	kpCommentPS kpaction 'showComment';Kp2 label:'Masukkan Komentar' post

/* Pre start labels */
symbol  cfgLbl.pre.1 "Daftar Pemeriksaan Pre-Start"
symbol  cfgLbl.pre.2 "Komentar Umum"
symbol  cfgLbl.pre.3 "Halaman"
symbol  cfgLbl.pre.4 "Halaman Sebelumnya"
symbol  cfgLbl.pre.5 "Halaman Berikutnya"
symbol  cfgLbl.pre.6 "OK"
symbol  cfgLbl.pre.7 "Pass All"
symbol	cfgLbl.pre.8 "Masukkan\nKomentar"
symbol  cfgLbl.pre.9 "Kirim"
symbol  cfgLbl.pre.10 "BATAL"
message	PsCritFailLbl	Critical Pre-Start Items failed
message	DoNotOperateLbl	Do Not Operate Equipment!
symbol	SelInitCLLbl	"Pilih daftar awal Anda"
