#!/psw/cpp
geom	bw:4
hmin	90
wmin	300
map	n
font	Large
cols	2
tile	slash
#if #class(shovel) | #class(truck)
item	Radio\ Test	w0.Text write:"retries:$(CP-PING up)\n";timerfOpt
item	ID\ Panel	w0.Text write:"ID Panel:$(LOCAL-ID 0)\n"
#else
item    Radio\ Test     w0.Text write:"retries:$(CP-PING up)\n";timerfOpt
item    ID\ Panel       w0.Text write:"ID Panel:$(LOCAL-ID 0)\n"
item	Tag\ Cal	kpTagDebug
#endif
item	Keluar\ Menu      TestInstall unpost 
#if #arch(cgc)
itemColor       Keluar\ Menu:Exit
#endif
