#!/psw/cpp
/*
 *
 *
 *
 */

#include <Goic/auxil/Mongolian/Macro.cfg>

#include <Goic/Mongolian/Macro_messages_newui.cfg>
#include <Goic/English/keyboard_KpGen.cfg>
#include <Goic/auxil/w0_config_newui.cfg>
#include <Goic/English/Macro_newui.cfg>
