%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2003/03/29 05:54:11 $
 *    $State: Exp $
 *   Purpose: Load script for Tci driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Liebherr
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	LiebherrDriver
	object	LiebherrDevice name:dev speed:19200 hdwe:rs232 port:GSPPORT
	object	LiebherrDriver name:lie device:dev sendto:MINECARENET
#endif
