#!/psw/cpp
#define LIST 0
#define PAGE 8
#define PSINIT Neutral
#define PSBTN0LBL "DRIVER STATE SENSOR(DSS) (P2)"
#define PSBTN0MAP y
#define PSBTN1LBL "HEATER/AC (P2)"
#define PSBTN1MAP y
#define PSBTN2LBL " "
#define PSBTN2MAP n
#define PSBTN3LBL " "
#define PSBTN3MAP n
#define PSBTN4LBL " "
#define PSBTN4MAP n
#define PSBTN5LBL " "
#define PSBTN5MAP n
#define PSBTN6LBL " "
#define PSBTN6MAP n
#define PSBTN7LBL " "
#define PSBTN7MAP n
#include <10inch/common/PrestartItems_common.cfg>
