#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:48 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LoadLoc	Establecer\ ubicación\nde\ carga...
#define	Dict_TrkLoad	Establecer\ camión\na\ cargar...
#define	Dict_Tram	Cambiar\ modo\nde\ tranvía
#define Dict_LoadSide   Definir\ lado\nde\ Carga...
