%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: imascarenhas $
 *     $Date: 2015/03/27 14:44:49 $
 *    $State: Exp $
 *   Purpose: Load script for Xmec driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Xmec
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  XmecDriver
  object  XmecDevice name:xmecdev port:canb id:12 promiscuous:yes
  object  XmecDriver name:xmec device:xmecdev sendto:MINECARENET
