#!/psw/cpp
/* these are the times that are on(1) and off(0) */
symbol	TimeDelay.1	37
symbol	TimeDelay.0	23
macro VideoOff	Video map:n;Vga ntsc:n
macro VideoOn	Vga ntsc:y;Video map:y
macro createVideo	WinMgr object:Button name:Video geom:x:0:y:0:h:480:w:640:bw:0 action:VideoOff;Video map:n;VideoCre8d 1
symbol	VideoCre8d	0
macro	VideoTimeOut	WinMgr after:$(TimeDelay.$(TimeDelay)):Video.$(TimeDelay)
macro	VideoCancel	WinMgr cancel:Video.$(TimeDelay)
symbol	TimeDelay	0
macro	Video.0	VideoOff;TimeDelay $(% $(+ $(TimeDelay) 1 ) 2 );VideoTimeOut
macro	Video.1	VideoOn;TimeDelay $(% $(+ $(TimeDelay) 1 ) 2 );VideoTimeOut
symbol	VideoEnabled	0
macro	VideoEnabled.0	VideoEnabled $(% $(+ $(VideoEnabled) 1 ) 2 );VideoTimeOut
macro	VideoEnabled.1	VideoEnabled $(% $(+ $(VideoEnabled) 1 ) 2 );VideoCancel
