/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1999
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olson $
 *     $Date: 2002/10/23 19:42:10 $
 *    $State: Exp $
 *   Purpose: Configuration script for embedded object spooler.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef _Spooler_Main_cfg_
#define _Spooler_Main_cfg_
module	Spooler
object	Spooler
#endif
