#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.6 $
 *   $Author: dcitron $
 *     $Date: 2013/05/17 21:54:52 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LogOn	Iniciar\ sesión...
#define	Dict_LogOff	Cerrar\ sesión
#define	Dict_PsCheck	Chequeo\ de\ninicio...
#define	Dict_PsReport	Informe\ de\ chequeo\nde\ inicio...
#define	Dict_EngHours	Horas\ de\ uso\ndel\ motor...
#define	Dict_Arrive	Llegar
#define	Dict_Assign	Asignar
#define	Dict_Load	Cargar
#define	Dict_Fuel	Combustible...
#define	Dict_Full	Lleno
#define	Dict_Yes	Sí
#define	Dict_No		No
#define	Dict_ExitMenu	Salir\ Menú
