#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Connexion			kpLogOn
item	Déconnexion		kpLogOff
item	Liste\ de\ncontrôle...	kpPrestart
item	Informations...		Info post
item	Itinéraire\ LP	        WinMgr window:w1	
item	Image\ GC	        snapshotUnit $(id);WinMgr window:w5	
#item	Reports			Reports post
item	Effacer\ l\\'écran		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item    Message\ au\ndispatcheur                 kpMessage
item	Diffusion...		req bcast;args 2;Bcast post	
item    Quitter              Other unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif
