%!/psw/cpp
geom	bw:4
hmin	80
map	n
cols    3
item    Log\ On         kpLogOn
item    Log\ Off        LOGON -1
item    Recall          RECALL
item    Fuel            kpFuel
item    Message         KeyMessage
item    Yes                     kpYes
item    No                      kpNo
item    Checklist...		kpPrestart
item    Shift\nInformation      DoInfo
item    Other                   kpInformation
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item    Exit\ Menu      Actions unpost
#if #option(Tasks)
item	Tasks		WinMgr window:wtaskmenu
#endif
