#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	120
wmin	120
map	n
cols	4
tile	slash
item	Acceder\nSesion	        kpLogOn
item	Cerrar\nSesion	        kpLogOff
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Llegar			kpArrive
item	Asignar			kpAssign
item	Cargando			kpLoad
#endif
item	Camion\nLleno	                kpFull
#if #class(excav) || #class(shovel) || #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Definir\nUbicacion  kpChngLoc   
item	Definir\nCamion	kpTrkLoad
#endif
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Combust-\nible...	                kpFuel
item	Cambiar\nAuto\nTransporte	kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Cargando\ Dos\nMateriales		WinMgr window:wSplits
#endif
item	Lista\ de\nChequeo...	kpPrestart
item    Informacion\nde\ Turno    WinMgr window:wInfo
item	Si	                kpYes
item	No	                kpNo
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item	Salir\ Menu	        Actions unpost
item	Emergencia	        kpHelp
#if #arch(cgc) || #arch(pe)
itemColor	Si:Yes
itemColor	No:No
itemColor       Emergencia:Down
itemColor	Salir\ Menu:Exit
#endif
