#!/psw/cpp
/*
 *
 *
 *
 */

#include <Goic/excav/Hindi/Macro.cfg>

#include <Goic/Hindi/Macro_messages_newui.cfg>
#include <Goic/Hindi/keyboard_KpGen.cfg>
#include <Goic/excav/w0_config_newui.cfg>
#include <Goic/Hindi/Macro_newui.cfg>
