#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Information	     req info;ob1 $(typ);args 2;sendaction
item	Message		     req mess;args 3;kplabel 'Message to $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    GC\ Snapshot            snapshotUnit $(id);GetSnapshot
item	Exit\ Menu	Action2 unpost
#if #arch(cgc)
itemColor Exit\ Menu:Exit
#endif

