#!/psw/cpp
/*
 *
 *
 *
 */

#include <Goic/auxil/Spanish/Macro.cfg>

#include <Goic/Spanish/Macro_messages_newui.cfg>
#include <Goic/Spanish/keyboard_KpGen.cfg>
#include <Goic/auxil/w0_config_newui.cfg>
#include <Goic/Spanish/Macro_newui.cfg>
