#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.8 $
 *   $Author: gsousa $
 *     $Date: 2016/09/05 13:59:42 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Recall	Recordar\ comando
#define	Dict_Refresh	Actualizar\ pantalla
#define	Dict_Lock	Bloqueo\ de\ pantalla
#define Dict_Chat       Enviar\nMensaje
#define Dict_Clear      Borrar\nPantalla
#define Dict_RemBktBeep	Establecer\ Beep\nPara\ Baldadas\nRemanentes
#define Dict_Color      Colores
#define	Dict_ExitMenu	Salir\ Menú
