#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Ore		ob1 ore;MPrior post
item	Waste		ob1 waste;MPrior post

item    Exit\ Menu              Prior unpost
#if #arch(cgc)
itemColor Exit\ Menu:Exit
#endif
