%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2008/10/14 22:59:56 $
 *    $State: Exp $
 *   Purpose: Load script for Rimex interface
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Centurion 
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	object	Slip name:centurionnet speed:9600 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
	module	CenturionDriver
	object	CenturionDriver name:centurion device:centurionnet sendto:MINECARENET
#endif
