%!/psw/cpp
/*
 * PLM-DIPPER sends the following values, in vehicle specified units
 *  a) Current total tonnage
 *  b) Projected tonnage if another dipper added.
 *  c) vehicle type (0=Lg metric tons,     1=Lg short tons,
 *                   2=Sm metric 0.1 tons, 3=Sm short 0.1tons)
 *  d) vector of four strut pressures (lf,rf,lr,rr)
 */
symbol	peer	none
#ifdef METRIC
	macro	SendTons.0	SendTons $1
	macro	SendTons.1	SendTons $(/ $(* $1 10) 11)
	macro	SendTons.2	SendTons $(/ $1 10)
	macro	SendTons.3	SendTons $(/ $1 11)
#else
	macro	SendTons.0	SendTons $(/ $(* $1 11) 10)
	macro	SendTons.1	SendTons $1
	macro	SendTons.2	SendTons $(/ $(* $1 11) 100)
	macro	SendTons.3	SendTons $(/ $1 10)
#endif
out	SendTons	0x13d	d	ne? $(peer) none sendto Rp.$(peer)
in	PLM-MON		0x13f	d	peer $1;eq? $(peer) -1 peer none
out	PLM-DIPPER	0x230	ddb[d]	sendto Goic;SendTons.$3
out	PLM-TONS	0x231	db[d]	sendto up
out	PLM-DATA	0x232	s[f][b]	sendto up
in	PLM-QUERY	0x233	sd,s	return $(PlmII $1)
in	PLM-XMIT	0x234	dd	PlmII xmitCount:$1 xmitSecs:$2
out	PLM-CYCLE	0x236	[d]	sendto up
