%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:51 $
 *    $State: Exp $
 *   Purpose: Main configuration file for Komatsu Plm interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#ifndef ISOPTION
#	include <Main/UpPort.h>
	version	APPNAME Interface, vVERSION
#	define PROMPT	\'APPNAME Interface, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
#include <Main/GspPort.h>
#if ! #GSPPORT(busy)
#	ifdef ISOPTION
		module	OPT_NAME
		object	OPT_NAME
#	else
	module	APPNAME
		object	APPNAME path:y
#	endif
#endif
#if ! #port(cpu) && !defined(ISOPTION)
#	include <Main/Slip.cfg>
	object	Slip
#endif
