%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2003/02/27 20:11:04 $
 *    $State: Exp $
 *   Purpose: Object instantiation for HpDozer systems
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(goic) || #arch(goiccan) || #arch(cgc)
#	include <HpDozer/Goic/Main.cfg>
#else
#	include <HpCommon/Hub/Main.cfg>
#endif
