%!/psw/cpp
geom	bw:4
hmin	80
map	n
cols    3
item    Системд\nнэвтрэх         kpLogOn
item    Системээс\nгарах        LOGON -1
item    Санах          RECALL
item    Тyлш            kpFuel
item    Мессеж         KeyMessage
item    Тийм                     kpYes
item    Yгyй                      kpNo
item    Эхлэхийн\noмнoх\nшалгалт...     kpPrestart
item    Ээлж\nМэдээлэл      DoInfo
item    Бусад                   kpInformation
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item    Цэснээс\nгарах      Actions unpost
#if #option(Tasks)
item	Ажил		WinMgr window:wtaskmenu
#endif
