#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	95
wmin	120
map	n
cols	4
tile	slash
item	Numero\ de\nOperador    kpLogOn
item	Cambio\ de\nOperador    kpLogOff
#if #class(loader)
item	Llegada			kpArrive
item	Asignar			kpAssign
item	Cargar			kpLoad
#endif
item	Lleno	                kpFull
#if #class(excav) || #class(shovel) || #class(loader)
item	Fijar\ Ubicac.\nde\ Carga  	kpChngLoc   
item	Fijar\ Camion\nCargando		kpTrkLoad
#endif
#if #class(loader)
item	Combustible	                kpFuel
item	Modo\nTraspaleo			kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Trabajando\nen\ Split		WinMgr window:wSplits
#endif
item	Lista\ de\nChequeo	kpPrestart
item	Si	                kpYes
item	No	                kpNo
item    Mensaje       		KeyMessage
item    Shift\nInformation      WinMgr window:wInfo
#if #option(Backhoe)
item    Update\nMaterial\nLayers    EQ-REQ "updtmatlayers"
#endif
#define OBJECT Actions
#include <Cfg/Options.cfg>
item	Salir\ Menu	        Actions unpost
#if #arch(cgc)
itemColor	Si:Yes
itemColor	No:No
itemColor	Salir\ Menu:Exit
#endif
