#!/psw/cpp
geom	bw:4
hmin	100
wmin	150
map	n
cols	3
item	Хyчин\ чадал\ хэтэрсэн	STATUS-LOC 4 800 $(ob2)
item	Агааржуулалт\ байхгyй	STATUS-LOC 4 200 $(ob2)
/*
item	Ус\ цацалт\ байхгyй        STATUS-LOC 4 905 $(ob2)
item    Цахилгаан\ хyчдэл\ байхгyй               STATUS-LOC 4 906 $(ob2)
item    Цэвэрлэх\ шаардлагатай         STATUS-LOC 4 907 $(ob2)
item    Нийлyyлэлт\ шаардлагатай         STATUS-LOC 4 908 $(ob2)
 */
#if #arch(cgc)
colors	Delay
#endif

