%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/10/03 07:03:28 $
 *    $State: Exp $
 *   Purpose: GOIC configuration common to all equipment.
 * * * * * * * * * * * * * * * * * * *
 */

/* Include global overrides */
#include <Goic/Macro.cfg>

/* Include generic Rpcs */
#include <Goic/Rpc.cfg>

/* Pre-Start Check stuff */
#include <Goic/Mongolian/PS_Macro.cfg>

/* Keyboard button configurations and macros */
#include <Goic/Mongolian/keyboard.cfg>

/* Message file */
#include <Goic/Mongolian/Message.cfg>

#if #option(Tasks)
#include <Tasks/Macro.cfg>
#include <Tasks/English/TaskMessage.cfg>
#endif

/* symbols that set max chars for keypads */
symbol KpChars	8
symbol Kp2Chars	45

/* MsgBox */
message	OkLbl		OK
message	CancelLbl	Cancel
message	YesLbl		Yes
message	NoLbl		No

/* Weight Station message, in principle useful for trucks only */
message	ReadyToWeighLbl	When Ready to Weigh, Please Press the OK Button

message	v1.label	Intellimine-Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message	v2.label	Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+ Ω+Ω+
message	v3.label
symbol	wcurrent w0
/* symbol	kplabel	''
symbol	kpaction '' */
symbol	grade	0
symbol	matl.0	0
symbol	matl.2	0
symbol	matl.1	0
/* showOK toggle to show the OK window after each action. src. */
symbol  showOK	n

/* Icons assigned to each state */
symbol	icon.0	logo
symbol	icon.1	down
symbol	icon.2	ready
symbol	icon.3	standby
symbol	icon.4	delay
symbol	icon.5	tiedown
symbol	icon.6	empty
symbol	icon.7	waiting
symbol	icon.8	loading
symbol	icon.9	hauling
symbol	icon.10	dumping
symbol	icon.11	none
symbol	icon.12	none
symbol	icon.13	none
symbol	icon.14	empty
symbol	icon.15	empty
symbol	icon.16	loading
symbol	icon.17	loading

/* RPCs or Macros assigned to each state */
macro	rpc.0	kpLogOn
macro	rpc.1	kpReady
macro	rpc.2	kpAssign
macro	rpc.3	kpReady
macro	rpc.4	kpReady
macro	rpc.5	kpReady
macro	rpc.6	kpArrive
macro	rpc.7	kpLoad
macro	rpc.8	kpFull
macro	rpc.9	kpArrive
macro	rpc.10	kpAssign
macro	rpc.11	KpArrive
macro	rpc.12	kpAssign
macro	rpc.13	kpAssign
macro	rpc.14	kpFull
macro	rpc.15	kpLoad
macro	rpc.16	kpPanFull
macro	rpc.17	kpNoFull

/* Messages assigned to each state -- these appear on w0.v1
   These override the ones in Massage.cfg */
message	msg.0	Intellimine-Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message	msg.1	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+
message msg.2	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message msg.3	$(loc)-Ω+Ω+Ω+Ω+ Ω+yΩ+ Ω+Ω+Ω+Ω+Ω+Ω+
message msg.4	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+
message msg.5	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+
message msg.6	$(loc)-Ω+Ω+Ω+ Ω+Ω+
message msg.7	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message msg.8	$(loc)- Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message msg.9	$(loc)-Ω+Ω+Ω+ Ω+Ω+
message msg.10	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message	msg.14	$(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message msg.17	$(loc)- Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+

/* Messages assigned to each state -- these appear on w0.v2
   These override the ones in Massage.cfg */
message	nmsg.0	Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+ Ω+Ω+
message	nmsg.1	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.2	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.3	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.4	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.5	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.6	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.7	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.8	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.9	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.10	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message	nmsg.14	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+: $(next)
message nmsg.17	Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+yΩ+Ω+Ω+Ω+

#if #class(truck) | #class(ug_truck)
macro	rpc.8	kpTrkFull
#endif

#if #class(excav) | #class(lhd) | #class(loader) | #class(loaderlp) | #class(ug_loader)
symbol unit.1    Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
symbol	icon.7	 ready
symbol	icon.3	 standby
symbol	icon.8	 loading
symbol  icon.9   full
symbol	icon.13  waiting
symbol	icon.16	 tramloading
symbol  icon.21  down
symbol  icon.22  standby
symbol  icon.23  delay
symbol  icon.24  tiedown
symbol  icon.25  ready
macro   rpc.7    kpPanFull
macro   rpc.21   kpShvReady
macro   rpc.22   kpShvReady
macro   rpc.23   kpShvReady
macro   rpc.24   kpShvReady
macro   rpc.25   kpPanFull
message msg.21   $(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+
message msg.22   $(loc)-Ω+Ω+Ω+Ω+ Ω+yΩ+ Ω+Ω+Ω+Ω+Ω+Ω+
message msg.23   $(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+
message msg.24   $(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+
message msg.25   $(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+yΩ+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
message msg.16	 $(unit.$(u1)) $(id1) -Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ 
message msg.7 	 $(loc)-Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+yΩ+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
#else
message	msg.16	$(loc)-Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
#endif

#if #class(dozer) | #class(dozerlp)
symbol	icon.17	 down
symbol	icon.18	 ready
symbol	icon.19	 delay
symbol	icon.20	 standby
symbol	icon.21	 dozing
symbol	icon.22	 ripping
symbol	icon.23	 shiftchange
macro	rpc.18 	kpReady
#endif

#if #class(drill)
symbol	icon.17	 down
symbol	icon.18	 ready
symbol	icon.19	 delay
symbol	icon.20	 standby
symbol	icon.21	 drilling
symbol	icon.22	 moving
symbol	icon.23	 shiftchange
macro	rpc.18 	kpReady
#endif

message pressOk	Ok Ω+Ω+Ω+

/* Macros run by rpc.$(state) */
symbol	dfltReady	-1
symbol	LogonVal
macro	SendLogon	LOGON $(LogonVal)
macro	DoLogon		LogonVal $(Kp.D label);SendLogon
macro	kpLogOn	kplabel 'Ω+Ω+Ω+Ω+Ω+Ω+Ω+ ID';kpaction 'DoLogon';Kp label:$(kplabel) post
macro	kpLogOff	LogonVal -1;SendLogon

macro	kpReady		eq? "$(showOK)" "y" kpOkReady;ne? "$(showOK)" "y" READY $(dfltReady);KBEEP 1
macro	kpOkReady	Ok label:Ω+Ω+Ω+Ω+Ω+ action:READY post
/*macro	kpShvReady	Ready action:READY post*/
macro	kpShvReady	kpReady

macro	kpAssign	eq? "$(showOK)" "y" kpOkAssign;ne? "$(showOK)" "y" ASSIGN
macro	kpOkAssign	Ok label:Ω+Ω+Ω+Ω+Ω+Ω+Ω+ action:ASSIGN post

macro	kpArrive	eq? "$(showOK)" "y" kpOkArrive;ne? "$(showOK)" "y" ARRIVE
macro	kpOkArrive	Ok label:Ω+Ω+Ω+Ω+ action:ARRIVE post

macro	kpFull		FULL "$(matl)" "$(matl.$(matl))"

macro	sendfuel	FUEL $(Kp.D label)
macro	kpFuel		kplabel 'Ω+yΩ+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+';kpaction 'sendfuel';Kp label:$(kplabel) post
/* macro	kpMessage	kplabel 'Message';kpaction 'sendmsg';Kp2 label:$(kplabel) post
macro	SendMessage	id $1;kplabel 'Message to $1';kpaction 'sendmsg2';Kp2 label:$(kplabel) post
macro	postmsg	window:kpMessage */
macro	kpLoad		LOAD
macro   kpTrkLoad       Ok label:Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+ action:LOAD post 
macro   kpTrkFull       Ok label:'Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+ Ω+yyΩ+Ω+Ω+' action:'FULL None' post 
macro 	kpNoFull	Ok label:'Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+yΩ+Ω+Ω+Ω+' action:none post

/* Other Actions */
macro	kpYes		req yes;SendReq0
macro	kpNo		req no;SendReq0

/* Engine Hours macros */
macro   DoEngHrs        req eng_hrs;id $(Kp.D label);SendReq1
macro   kpEngHrs        kplabel 'Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+';kpaction 'DoEngHrs';Kp label:$(kplabel) post

symbol	HelpVal
/* Help2Button 
 * no -> send emergency message immediately
 * yes -> popup Ok button then send emergency
 */
symbol	Help2Button	no	
macro	SendHelp	HELP $(HelpVal)
macro	kpHelp2		Ok label:'Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+Ω+' action:SendHelp post
macro	kpHelp1		SendHelp
macro	kpHelp		HelpVal 911;eq? "$(Help2Button)" "no" kpHelp1;ne? "$(Help2Button)" "no" kpHelp2

macro	kpRecall	RECALL

symbol	typ	0
symbol	eqtype	0
symbol	next	none
symbol	ob1	none
symbol	ob2	none
symbol	ob3	none
symbol	args	0
symbol	action2	none
symbol	action2do	none
symbol	for	stat
symbol	req	none
symbol	id	none
symbol	lastloc	none
symbol	directprior	0

macro	SendReq0 EQ-REQ $(req)
macro	SendReq1 EQ-REQ $(req) [ "$(id)" ]
macro	SendReq2 EQ-REQ $(req) [ "$(id)" "$(ob1)" ]
macro	SendReq3 EQ-REQ $(req) [ "$(id)" "$(ob1)" "$(typ)" ]
macro	SendReq4 EQ-REQ $(req) [ "$(id)" "$(ob1)" "$(typ)" "$(ob2)" ]

/* generic dynamic menu stuff */
in	MENUINIT 0xbbb	ss	$1 item:"$2"
symbol  exitstr		Ω+Ω+Ω+Ω+Ω+Ω+Ω+ Ω+Ω+Ω+Ω+Ω+
symbol	morestr		Ω+Ω+yy Ω+Ω+->
symbol	updtstr		Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+
symbol  menuselect      menuactionid
symbol	updtselect	sendupdate
symbol  menutype                /* dynamic menu type */
symbol  more    1
symbol	statmenuupdt	0
#macro	SetMenus	eq? "$(statmenuupdt)" "0" MENUINIT Status $(updtstr)
macro	SetMenus	eq? "$(statmenuupdt)" "0" Status item:Ω+Ω+Ω+Ω+Ω+Ω+Ω+Ω+
macro   nextmenu        more $(+ $(more) 1);$(menutype)$(more) action:menuaction post
macro   menuaction      eq? "$1" "$(exitstr)" more 1;ne? "$1" "$(exitstr)" menuaction2
macro   menuaction2     eq? "$1" "$(morestr)" nextmenu;ne? "$1" "$(morestr)" menuaction3
macro	menuaction3	eq? "$1" "$(updtstr)" $(updtselect);ne? "$1" "$(updtstr)" $(menuselect)
/* These were change for a bug that was fixed in v3.0 but has since been fixed
macro   menuaction      eq? $1 $(exitstr) more 1;ne? $1 $(exitstr) menuaction2
macro   menuaction2     eq? $1 $(morestr) nextmenu;ne? $1 $(morestr) menuaction3
macro	menuaction3	eq? $1 $(updtstr) $(updtselect);ne? $1 $(updtstr) $(menuselect)
*/
macro   menuactionid    id $1;sendaction
macro   menuactionob1   ob1 $1;sendaction
macro   menuactionob2   ob2 $1;sendaction
macro	statupdate	updtselect sendupdate;eq? "$(statmenuupdt)" "0" sendupdate
symbol listStatusMenus "Ready Down Delay Standby"
symbol pagStatusMenus "2 3 4 5 6"
symbol currStatusMenu
#if #arch(pe)
macro doClearStatusSubMenus foreach $(pagStatusMenus);do '\$(currStatusMenu)\$2 items'
macro doClearStatusMenus Status items;foreach $(listStatusMenus);do '\$2 items;currStatusMenu \$2;doClearStatusSubMenus'
#else
macro doClearStatusSubMenus foreach $(pagStatusMenus);do 'WinMgr focus:\$(currStatusMenu)\$2;\
                            eq? "\$(WinMgr focus)" "\$(currStatusMenu)\$2" \$(currStatusMenu)\$2 clear'
macro doClearStatusMenus Status clear;foreach $(listStatusMenus);do '\$2 clear;currStatusMenu \$2;doClearStatusSubMenus'
#endif
macro   sendupdate      eq? "$(menutype)" "Status" doClearStatusMenus;req update;args 2;ob1 $(id);id $(menutype);sendaction
macro   sendaction      more 1;SendReq$(args)

/* These are now defined in message.cfg file so that they can be 
   changed for client if needed
symbol	u01	Truck
symbol	u02	Shovel
symbol	u03	Dump
symbol	u04	Crusher
symbol	u05	Stockpile
symbol	u06	Blast
symbol	u07	Workshop
symbol	u08	Shiftchange
*/
symbol	loclist	03 04 05 06 07 08
symbol	unum
symbol	temp
symbol	compare
symbol	select
macro menuaction4	id $1;postactmenu
macro menuaction5	id $1;postlocmenu
macro setunum		compare $(u$(temp));eq? "$(compare)" "$(select)" unum $(temp)
macro postlocmenu	select $(id);foreach $(loclist);do 'temp \$2;setunum';postunitmenu
macro postunitmenu	menutype $(typ)Unit$(unum);menuselect menuaction4;$(typ)Unit$(unum) action:menuaction post
macro actlocmenu	select $1;foreach $(loclist);do 'temp \$2;setunum';actunitmenu
macro actunitmenu	menutype LUnit$(unum);menuselect menuactionob1;LUnit$(unum) action:menuaction post
/* end generic dynamic menu stuff */

/* animated icon stuff */
#if #arch(r2k) || #arch(pe)
macro	video	w0.Icon icon:$(icon.$(state));WinMgr after:1:video1
macro	video1	w0.Icon icon:$(icon.$(state))1;WinMgr after:1:video2
#else
macro   video   w0.Icon icon:$(icon.$(state))1;WinMgr after:1:video2
#endif
macro   video2  w0.Icon icon:$(icon.$(state))2;WinMgr after:1:video3
macro   video3  w0.Icon icon:$(icon.$(state))3;WinMgr after:1:video
macro   novideo WinMgr cancel:video;WinMgr cancel:video1;WinMgr cancel:video2;WinMgr cancel:video3

/* Time setting stuff */
symbol	CfgTime
macro	ShowTime CfgTime $(Time format:%l:%M time:now get)
macro	GetTime2 ShowTime;WinMgr after:60:GetTime1
macro	GetTime1 ShowTime;WinMgr after:60:GetTime2
/* end time setting stuff */

/* Color related stuff */
macro	setDefaultBlue	Screen colors:default,blue50:white,green:white,blue25:blue75,black:white;WinMgr refresh
macro	setDefaultGreen	Screen colors:default,green50:yellow50,red50:yellow50,green25:yellow50,black:white;WinMgr refresh
macro	setDefaultGray	Screen colors:default,gray75:black,red50:black,bisque25:bisque50,black:white;WinMgr refresh
macro	setDefaultBrown	Screen colors:default,brown50:gray75,yellow50:gray75,brown25:brown75,black:white;WinMgr refresh
macro	setDefaultYellow	Screen colors:default,yellow50:black,black:yellow50,brown25:brown75,black:white;WinMgr refresh
symbol	userColor	0
symbol	colorCounter	0

macro	setdimsecs Vga dimmerSecs:$(Kp.D label)
/* Flash related stuff */
symbol	flashEnable	0
macro	flashColors.0	eq? $(flashEnable) 1 WinMgr after:1:flashColors.1
macro	flashColors.1	colorCounter $(% $(+ $(colorCounter) 1) 5 );nextColor.$(colorCounter);flashColors.0
macro	nextColor.0	setDefaultBlue
macro	nextColor.1	setDefaultGreen
macro	nextColor.2	setDefaultGray
macro	nextColor.3	setDefaultBrown
macro	nextColor.4	setDefaultYellow
macro	killFlash	WinMgr cancel:flashColors.1;nextColor.$(userColor)

/* Masterlink Diagnostics */
symbol  HubCommand      0
macro	GetRadioInfo	TOHUB TestPrismRadio 'w0.v3 label:'

/* Dispatcherless exception query stuff */
symbol	ExceptResp	na
macro 	SetExQry	Kp.L action:'EXCEPT_REPLY CANCEL;Kp unpost'
macro 	SetNilResp	ExceptResp CANCEL
macro 	CheckExValue 	eq? "$(ExceptResp)" "" SetNilResp
macro	SendExResp	ExceptResp $(Kp.D label);CheckExValue;EXCEPT_REPLY $(ExceptResp);Kp unpost

/* 
 * gcstat 
 * report what values are displayed on the GC
 * SGK 02/06/20
 */
macro	gcstat		echo $(icon.$(state));echo $(w0.v1 label);echo $(w0.v2 label);echo $(w0.v3 label)

/*
 * Lvs Proximity integration 
 */

#if #class(excav) | #class(shovel) | #class(loader) | #class(drill) | #class(truck) | #class(loaderlp)
macro cancelLvsProxBlink KBLINK "w0.LvsProx" 0
macro hideLvsProx w0.LvsProx map:n
macro showLvsProx w0.LvsProx label:$1; w0.LvsProx map:y; KBLINK "w0.LvsProx" 1
in LVS-WARN 0x0155b d   ne? $1 0 showLvsProx;eq? $1 0 hideLvsProx
#endif
