#!/psw/cpp

/* some dimensional independence, see also unit_config.frm */
symbol liquid1 Галлон
symbol mass1 тонн
symbol length1 Фит

/* now some stuff for labels, needs 2.5 */
symbol	CfgActions	Yйлдлyyд
symbol	CfgStatus	Статус
symbol	CfgDeclEmerg	Аваар
symbol	CfgDispatch	Диспетчер
/* symbol	CfgClear	Clear
symbol	CfgSpace	Зай
symbol	CfgDelete	Устгах
symbol	CfgCancel	Yйлдлийг цуцлах
symbol	CfgUpCase	Дээд
symbol	CfgLowCase	Доод
symbol	CfgOk	Тийм
symbol	CfgKeypad	Товчлуур
symbol	CfgNumpad	'#'
symbol	CfgSend	Send
symbol	CfgExit	Exit */

symbol	CfgPassAll	Бyгдийг алгасах
symbol	CfgShopAll	Засварын цех
symbol	CfgPrevReset.0	Yйлдлийг дахин буюу ooрooр хийх
symbol	CfgPrevReset.1	Oмнoх
symbol	CfgPrevReset.2	Oмнoх
symbol	CfgPrevReset.3	Oмнoх
symbol	CfgPrevReset.4	Oмнoх
symbol	CfgPrevReset.5	Oмнoх
symbol	CfgPrevReset.6	Oмнoх
symbol	CfgPrevReset.7	Oмнoх
symbol	CfgNextSend.0	Дараагийн
symbol	CfgNextSend.1	Дараагийн
symbol	CfgNextSend.2	Дараагийн
symbol	CfgNextSend.3	Дараагийн
symbol	CfgNextSend.4	Дараагийн
symbol	CfgNextSend.5	Дараагийн
symbol	CfgNextSend.6	Дараагийн
symbol	CfgNextSend.7	Илгээх

symbol	CfgReset	Yйлдлийг цуцлах


/* These must agree with the enumerated UNIT table in enum.c */
symbol unit.0	Бyгд
symbol unit.1	''
symbol unit.2	Тоног тoхooрoмж
symbol unit.3	Овоолго
symbol unit.4	Бутлагч
symbol unit.5	Нooц
symbol unit.6	Тэсэлгээ
symbol unit.7	Цех
symbol unit.8	Машин зогсоох
symbol unit.9	'Утсаар ярих Цэг'
symbol unit.10	Уурхай
symbol unit.11	Цохилт
symbol unit.12	Буулгуур
symbol unit.13	Туслах тоног тoхooрoмж
symbol unit.14	Мастер
symbol unit.15	Oрoм
symbol unit.16	'Туслах Бутлагч'
symbol unit.17	Грейдер
symbol unit.18	Хавчигч
symbol	unit.255	Бyх

/* These are used for dynamic unit and location menus created
   for self-assigns and setting load locations. They must match
   the unit names in UNIT table in enum.c */
symbol  u01     ачааны машин
symbol  u02     Экскаватор
symbol  u03     Овоолго
symbol  u04     Бутлагч
symbol  u05     Нooц
symbol  u06     Тэсэлгээ
symbol  u07     Засварын цех
symbol  u08     Ээлж солих

/* These should agree with the enumerated ACTIONS table in enum.c,
   but they can be re-worded if desired.  */
symbol act.0	Бyх
symbol act.1	Доошоо
symbol act.2	Бэлэн
symbol act.3	Сэлбэг
symbol act.4	Саатах
symbol act.5	Томилох
symbol act.6	Ирэх
symbol act.7	Ачааны машинд ачаа ачих
symbol act.8	Системд орох
symbol act.108	Системээс гарах
symbol act.9	Тусламж
symbol act.10	Тyлш
symbol act.11	Оройтох
symbol act.12	Дyyрэн
symbol act.13	Тэмдэгт (GPS)
symbol act.14	Дохио
symbol act.15	'Дохионы Мэдээлэл'
symbol act.16	'Овоолгыг асгаж эхлэх'
symbol act.17   'Хасалт хийж цэгцлэхийг эхлyyлэх'
symbol act.18   'Хyн томилох'
symbol act.20   Мессеж
symbol act.21   (телевиз) цацах
symbol act.22   'Самбарын Команд'
symbol act.27   Инфра улаан
symbol act.28   'GPS Ирэх'
symbol act.29   'GPS Явах'
symbol act.30   'Тэмдэгт  (GPS) дээр ирэх'
symbol act.31   'Tэмдэгтээс  (GPS) явах'
symbol act.33   Тийм
symbol act.34   Yгyй
symbol act.35   'Операторын Мессеж'

/* These should agree with the material types in the LOAD table in enum.c */
symbol	load.0	Хоосон
symbol	load.1	'Хyдэр 1'
symbol	load.2	'Хyдэр 2'
symbol	load.3	'Хyдэр 3'
symbol	load.4	'Хyдэр 4'
symbol	load.5	'Хyдэр 5'
symbol	load.6	'Хyдэр 6'
symbol	load.7	'Хаягдал 1'
symbol	load.8	'Хаягдал 2'
symbol	load.9	'Хаягдал 3'
symbol	load.10	'Хаягдал 4'

/* These appear in the w0.v2 window according to the state */
symbol goicstate.0 'Ажилтны оруул'
symbol goicstate.1 'Ажилтны оруул'
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.2 'Экскаваторын эхний шанага'
#endif
#if #class(truck)
symbol goicstate.2 'Бэлэн'
#endif
symbol goicstate.3 'Ажилтны дугаараа оруул'
symbol goicstate.4 Бэлэн
symbol goicstate.5 Томилох
#if #class(truck)
symbol goicstate.6 'Ирэх'
symbol goicstate.7 'Экскаваторын эхний шанага'
#endif
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.6 'Экскаваторын эхний шанага'
symbol goicstate.7 'Экскаваторын эхний шанага'
#endif
symbol goicstate.8 'Дyyрэхийг хyлээ'
symbol goicstate.9 'Ирэх'
symbol goicstate.10 'Томилох'
symbol goicstate.11 'Томилох'
symbol goicstate.12 'Ирэх'
#if #class(crusher)
symbol goicstate.10 'Эвдэрсэн'
symbol goicstate.11 'Бэлэн'
symbol goicstate.12 'Бэлэн'
#endif
symbol goicstate.13 'Тyлш'
#if #class(wtruck) | #class(pusher) | #class(drill)
symbol goicstate.0 'Ажилтны дугаараа оруул'
symbol goicstate.1 'Ажилтны дугаараа оруул'
symbol goicstate.2 'Бэлэн'
symbol goicstate.3 'Ажилтны дугаараа оруул'
symbol goicstate.4 'Саатах'
symbol goicstate.5 'Томилох'
symbol goicstate.6 'Бэлэн'
symbol goicstate.7 'Бэлэн'
symbol goicstate.8 'Саатах'
#endif

symbol u1	0
symbol u2	0
symbol id1	Аль нь ч yгyй.
symbol id2	Аль нь ч yгyй.
symbol v1	Аль нь ч yгyй.
symbol a1	0
symbol v2	Аль нь ч yгyй.

#if #class(truck)
in	KV_MSG	0x0a0	sb	w0.$1 label:Тэвш:$(load.$2)
#endif

in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)

#if #class(foreman)
in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;writerightone
#endif

/* Messages assigned to each state -- these appear on w0.v1 */
message	msg.0	Intellimine-д тавтай морил
#if ! #option(loadcount)
in      KD_MSG  0x0a3   b?bssbsbs       u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)
#if #class(shovel) | #class(loader) | #class(truck) | #class(lhd) | #class(loaderlp)
message	msg.1	$(unit.$(u1)) $(id1) дахь $(act.1)
message msg.2	$(unit.$(u1)) $(id1) дахь $(act.2)
message	msg.3	$(unit.$(u1)) $(id1) дахь $(act.3)
message	msg.4	$(unit.$(u1)) $(id1) дахь $(act.4)
message	msg.5	$(unit.$(u1)) $(loc) -д машин зогсоох
message	msg.6	$(loc)-дээр Ачааны машин хyлээ
message	msg.7	$(loc)-дээр Ачааны машин хyлээ
message msg.8	$(unit.$(u1)) $(id1) -г одоо ачаалж байна байна
#endif
#if #class(truck) | #class(train)
message msg.8	$(unit.$(u1)) $(id1) -р ачаалж байна байна
#endif
#if #class(wtruck) | #class(pusher) | #class(drill)
message msg.1 $(unit.$(u1)) $(id1) дахь $(act.1)
message msg.2 $(unit.$(u1)) $(id1) дахь $(act.2)
message msg.3 $(unit.$(u1)) $(id1) дахь $(act.3)
message msg.4 $(unit.$(u1)) $(id1) дахь $(act.4)
message msg.5 $(unit.$(u1)) $(loc) -д машин зогсоох
message msg.6 $(unit.$(u1)) $(id1) дахь $(act.4)
#if #class(wtruck)
message msg.7 Услах чиглэл $(u1)
message msg.8 $(unit.$(u1)) $(id1) дээр одоо дyyргэж байна
#endif
#if #class(drill)
message msg.6 $(unit.$(u1)) $(id1) дахь $(act.6)
message msg.7 $(unit.$(u1)) $(id1) дахь $(act.7)
message	msg.8 $(unit.$(u1)) $(id1) одоо $(act.8)
#endif
#endif
#endif /* loadcount */

/* These messages are not associated with states, but are called upon by FORMS. */
message msg.19	Ажилтны дугаараа оруулна уу
message	msg.20	$(v1)-с $(v2) дэхь $(act.$(a1))-ийн Саатлыг хасаж $(unit.$(u1)) $(id1) гаргаж авна
message	msg.21	$(v1)-с $(act.$(a1))-ийн Саатлыг хасаж $(unit.$(u1)) $(id1) гаргаж авна
message	msg.22	$(unit.$(u2)) $(id2)-руу очих $(unit.$(u1)) $(id1) тyгжээг yл хайхарсан
message	msg.23	$(unit.$(u1)) $(id1) -д яаралтай тyлш хэрэгтэй байна. $(v1) $(liquid1)-yyд yлдсэн yy
message	msg.24	$(unit.$(u1)) $(id1) бол $(act.$(a1)) $(v1).
message	msg.25	$(unit.$(u1)) $(id1) бол одоо $(act.$(a1)).
message	msg.26	$(unit.$(u1)) $(id1) нь $(v1) $(liquid1)-р дyyргэгдсэн
message	msg.27	$(unit.$(u1)) $(id1) -ийг $(unit.$(u2)) $(id2) $(a1)  автоматаар уншсан.
message	msg.28	$(v2)-руу очих $(unit.$(u1)) $(id1) тyгжээг yл хайхарсан
message	msg.29	$(v1)-ийн зэрэг байхгyй
message	msg.30	$(unit.$(u1)) $(id1) -ийн статус $(act.$(a1)) болж ooрчлoгдсoн.
message	msg.31	САНУУЛГА: $(unit.$(u1)) $(id1) нь $(v1)-рyy тyгжигдсэн
message msg.32	САНУУЛГА: $(unit.$(u1)) $(id1)-ийн $(v1) нь $(v2)-рyy тyгжигдсэн
message	msg.33	$(unit.$(u1)) $(id1) бол  $(unit.$(u2)) $(id2)-рyy очих $(v1).
message	msg.34	$(v1) одоо $(unit.$(u1)) $(id1)-г хориглосон.
message msg.35	САНУУЛГА: Бyх Ачааны Машинууд бyх зyйлээс хориглогдсон.
message	msg.36	$(unit.$(u1)) $(id1) $(v1) -г $(v2)-рyy тохируулсан.
message	msg.37	$(unit.$(u1)) $(id1) ИЛГЭЭХ самбар $(v1) асаалттай.
message	msg.38	$(unit.$(u1)) $(id1)-руу хийсэн тохиргоо ойн байршилд хувьсах хэмжигдэхyyний утгыг байршуулах yйлдэл $(v1) болсон.
message msg.39	$(unit.$(u1)) $(id1) -дээр $(v1) $(v2)-г буулгах
message	msg.40	$(unit.$(u1)) $(id1) $(v1)нь $(v2) $(unit.$(u2))-yyдийг тyгжсэн.
message	msg.41	$(unit.$(u1)) $(id1) $(v1)нь $(v2) $(id2)-yyдийг тyгжсэн.
message	msg.42	$(v1) нь $(v2) дээр аль хэдийн байгаа.
message	msg.43	$(id1) бол хyчинтэй $(unit.$(u1)) байршил биш!
message	msg.44	Байршил $(unit.$(u1)) $(id1)-руу ooрчлoгдсoн
message	msg.45	$(v1) $(v2) дахь $(unit.$(u1))-yyдийн хамгийн дээд хэмжээ 
message	msg.46	$(unit.$(u1)) $(id1) нь $(unit.$(u2)) $(id2)-рyy ooрсдoo тохируулагдсан ойн байршилд хувьсах хэмжигдэхyyний утга байршигдсан)
message	msg.47	Yл мэдэгдэх материалын тoрoл $(id1).
message	msg.48	$(unit.$(u1)) $(id1) материал $(v1)-г $(v2)-рyy ooрсдoo тyгжихийг оролдсон.
message msg.49	$(unit.$(u1)) $(id1) $(v1)-г $(v2)-рyy тyгжиж чадахгyй байна!
message	msg.50	$(unit.$(u1)) $(id1) $(v1)-г $(v2)-рyy автоматаар тyгжсэн.
message	msg.51	$(id1)-г $(v1)-руу тyгжсэн.
message	msg.52	$(id1) оршдоггyй
message	msg.53	$(unit.$(u1)) нь $(v1) Статус дээр байна. Эхлээд $(act.$(a1)) байх ёстой.
message	msg.54	$(v1)-г ачаалж байна гэж $(unit.$(u1)) $(id1) хэлж байна.
message	msg.55	$(unit.$(u1)) $(id1) нь $(unit.$(u2)) $(id2)-ийг ачаалсаар байна.
message	msg.56	Ямар ч шатахуунгyй байж болохгyй
message msg.57	$(unit.$(u1)) $(id1) нь $(v1) $(mass1)-р ачаалагдсан.
message	msg.58	ДYYРЭХЭД \"Yйлдэл\" дараа нь \"Томилох ойн байршилд хувьсах хэмжигдэхyyний утгыг байршуулах (Assign)\" товчийг дар.
message	msg.59	Шатахуун  $(v2)-ийн $(v1) $(liquid1)-ууд.
message	msg.60	$(unit.$(u1)) $(id1) дээр буулгаж эхэл: $(act.$(a1))
message	msg.61	Yл мэдэгдэх мэдээллийг хyссэн хyсэлт
message	msg.62	Ачаалахыг дарахын тулд $(unit.1)-ийг хyлээ
message	msg.63	дараагийн $(unit.1)-ийг хyлээ
message	msg.64	$(unit.$(u1)) $(id1) -г одоо ачаалж байна байна
message msg.65  Материалыг ooрчилж чадаагyй
message msg.66  $(unit.$(u1)) цэс шинэчлэгдсэн.
message msg.67  Систем дахин идэвхжсэн.
message msg.68  $(act.$(u1))-ийг ХYЛЭЭЖ АВААГYЙ!!!
message msg.69  Замд ямар ч $(unit.1)-yyд байхгyй
message msg.70  Замд $(unit.1) байна.
message msg.71  $(unit.$(u1)) нь $(v1) минутанд ирнэ.
message msg.72  \\nБоломжгyй
message msg.73  Аль нь ч биш
message msg.74  '$(id1)'
message msg.75  $(CfgDispatch) шалгах ёстой
message msg.76  Ажилтны дугаар тодорхой биш
message msg.77  Ажилтны дугаараа оруулна уу
#if #class(truck)
message	msg.78	Зoвхoн $(id1)-дахь $(act.$(u1))-ийг дар.
#endif
#if #class(train)
message msg.78	Энэнээс ooр байршлыг сонго.
#endif
#if #class(crusher) | #class(foreman)
message msg.78  $(act.$(u1)):  $(id1) Ачаалах$(v1) / $(id2) $(mass1)
message msg.79  $(id1) $(v1) энэ Ээлжийг буулгасан
message msg.80  Тусламж хyссэн
message msg.81  $(unit.2) нь $(id1)-г тэжээлээр хангаж байна : $(v1)
message msg.82  $(id1) Ачаалах $(v1) / $(v2) $(mass1) $(id2) Цаг
message msg.83  Одоогийн тyвшин (T/H): $(id2)  Байны тyвшин (T/H): $(v1)\\n $(id1) => $(act.$(u1))
#endif
message msg.84	Ямар ч материалд $(unit.$(u1)) тyгжээнyyд байхгyй.
message	msg.85	\\n--------- $(unit.$(u1)) $(v1): ------------
message	msg.90	ТИЙМ-ийг хyлээн зoвшooрсoн.
message msg.91	YГYЙ-г хyлээн зoвшooрсoн.
message msg.92	Аюулгyйн шалгалт хийж дууссан:$(act.$(u1))
message	msg.93	Тохируулахын тулд та Хоосон байх ёстой!
message	msg.94	Аюулгyйн горимыг хэрэгжyyл
message	msg.95	$(act.$(a1)) та ooрoo $(unit.$(u1))-руу
message	msg.96	$(unit.$(u1)) $(id1) -д $(v1)% шатахуун yлдсэн.
message	msg.97	Шатахуун хyссэн жагсаалтын тoгсгoл
message	msg.98	$(act.$(u1)) -ийг ХYЛЭЭЖ АВААГYЙ!
message	msg.99	Дараагийн yйлдэл: $(act.$(u1))
message msg.100	Шатахуун боломжгyй
message msg.101 Та yл мэдэгдэх $(act.$(a1)) $(id1)-ийг оруулсан
message msg.102 Тyлшний сав дyyрэн байгаа эсэхийг шалга\\n$(unit.$(u1)) $(id1) нь $(v1) $(liquid1)-р шатахуунаар цэнэглэгдсэн
message	msg.103 $(unit.$(u1)) $(id1) байршил одоо %(unit.$(u2)) $(id2)
message	msg.104 Yл мэдэгдэх $(unit.$(u1)) $(id1), Дахин оролдоно уу
#if #class(truck)
message msg.105	
#endif
#if #class(drill)
message msg.78  Эхлээд oрмийн зургаа оруулна уу!
message msg.79  Хyчингyй байршил, диспетчерлуу ярь!
message msg.80  Тусламж хyссэн
message msg.81  $(unit.2) нь $(id1) : $(v1)-г тэжээлээр хангаж байна
message msg.82  $(id1) Ачаалах $(v1) / $(v2) $(mass1) $(id2) Цаг
message msg.83  Одоогийн тyвшин (T/H): $(id2)  Байны тyвшин (T/H): $(v1)\\n $(id1) => $(act.$(u1))
message msg.105 Нyхний дугаарыг дахин оруулна уу
message msg.106 Oрoмдлoг $(id1): Тoгсгoлийн нyх
message msg.107 Угсарсан oрoмний хошуу $(id1):$(act.$(u1))
message msg.108 Дууссан $(id1): Эхлэх нyх
message msg.109 Дyрсийг Ooрчлoхooс Oмнo ТOГСГOЛИЙН НYХ-г Дар
message msg.110 $(id1)-рyy дyрсийг тохируулах:$(act.$(u1))
message msg.111 Угсарсан Хэсэг $(id1):$(act.$(u1))
#endif
#if #class(foreman)
message msg.105 $(unit.$(u1))-yyд $(id1) байхгyй
message msg.106 $(unit.$(u1)) $(id1) $(v1)
message msg.107 $(unit.$(u1)) $(v1) $(unit.$(a1)) $(id1) байхгyй
message msg.108 ----- $(unit.$(u1)) $(id1) мэдээлэл ------
message msg.109 Байршил: $(unit.$(u1)) $(id1)
message msg.110 $(unit.$(u1)) $(id1) байршил $(v1)-рyy ooрчлoгдсoн
message msg.111 Угсарсан Хэсэг $(id1):$(act.$(u1))
#endif
message	msg.123	$(id1) одоо $(v1)
message	msg.124 Далд уурхайд зориулсан горимыг идэвхжyyлээгyй
message	msg.125	$(unit.$(u1)) $(id1) одоо $(act.$(a1)): $(v1).
message msg.130 Материалын тoрлийг амжилттайгаар ooрчилсoн.
message msg.131 Материалын тoрлийг буруу сонгосон!
message	msg.132 Ачааны машинуудад ачих $(unit.$(u1)) $(id1)-г идэвхжyyлээгyй.
message msg.168  $(act.$(u1)) -ийг ХYЛЭЭН АВСАН!!!
message	msg.255	$(unit.$(u1)) $(id1) АВААРЫН ТУСЛАМЖ ХYССЭН !!!
message msg.256 Тyр хугацаанд холбоо харилцаа байхгyй

message sfyesnolbl "Холбооны дохиог унтраах уу?"
message cfgLbl.0 "Тийм"
message cfgLbl.1 "Yгyй"
