#!/psw/cpp
#define LIST 0
#define PAGE 5
#define PSINIT Neutral
#define PSBTN0LBL "AIR-INTAKE SYSTEM (P2)"
#define PSBTN0MAP y
#define PSBTN1LBL "LEVEL AIR RADIATOR (P1)"
#define PSBTN1MAP y
#define PSBTN2LBL "OIL COOLER MODULE (P1)"
#define PSBTN2MAP y
#define PSBTN3LBL "GREASE/SISTEM PELUMASAN (P2)"
#define PSBTN3MAP y
#define PSBTN4LBL "HYDRAULIC MAIN CONTROL VALVE\n(P2)"
#define PSBTN4MAP y
#define PSBTN5LBL "LEVEL OLI SWING GEAR BOX (P1)"
#define PSBTN5MAP y
#define PSBTN6LBL "SEMUA LAMPU(LAMPU\n \n "
#define PSBTN6MAP y
#define PSBTN7LBL "KABIN\n \n "
#define PSBTN7MAP y
#include <10inch/common/PrestartItems_common.cfg>
