#!/psw/cpp
#define LIST 0
#define PAGE 6
#define PSINIT Neutral
#define PSBTN0LBL "TEMPAT DUDUK OPERATOR.TEMPAT\nDUDUK TRAINER DAN SABUKNYA\n(P2)"
#define PSBTN0MAP y
#define PSBTN1LBL "SABUK PENGAMAN OPERATOR (P1)"
#define PSBTN1MAP y
#define PSBTN2LBL "KLAKSON (P1)"
#define PSBTN2MAP y
#define PSBTN3LBL "BOARD CONTROL\nSYSTEM(BCS).PANEL\nINDICATORS.ALARM.GAUGES (P1)"
#define PSBTN3MAP y
#define PSBTN4LBL "JOYSTICK CONTROL (P1)"
#define PSBTN4MAP y
#define PSBTN5LBL "PEDAL TRAVEL (P1)"
#define PSBTN5MAP y
#define PSBTN6LBL "ALARM TRAVEL (P1)"
#define PSBTN6MAP y
#define PSBTN7LBL "SUPERSTRUCTURE HOLDING\nBRAKE/PARKING BRAKE (P1)"
#define PSBTN7MAP y
#include <10inch/common/PrestartItems_common.cfg>
