%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: GpsGs.cfg,v $
 * $Revision: 1.3 $
 *   $Author: zambetis $
 *     $Date: 2009/12/16 13:14:49 $
 *    $State: Exp $
 *   Purpose: Configuration file for Ashtech GG24 GPS interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GpsPort.h>
port	GPSPORT
hdwe	rs232
flags	8
pollInt	300
speed	115200
commandFile etc/topcon.base
initOnPowerUp no
