%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/06/17 19:05:34 $
 *    $State: Exp $
 *   Purpose: Load script for Cummins driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME CenseJ1939Quantum
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  SAEJ1939	
  module  CenseJ1939QuantumDriver

  object  SAEJ1939 name:censequantumdev port:canb id:12
  object  CenseJ1939Qua name:censequantum device:censequantumdev sendto:MINECARENET
