#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	119
wmin	120
map	n
cols	3
tile	slash
item	Connexion...	        kpLogOn
item	Déconnexion...	        kpLogOff
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Arrivée			kpArrive
item	Affecter			kpAssign
item	Chargement			kpLoad
#endif
item	Plein	                kpFull
#if #class(excav) || #class(shovel) || #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Définir\nsite\ de\nchargement...  kpChngLoc   
item	Définir\nchargement\nde\ camion...	kpTrkLoad
#endif
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Carburant...	                kpFuel
item	Changer\nle\ mode\nChargeur	kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Excavation\nmulti-matériaux		WinMgr window:wSplits
#endif
item	Liste\ de\ncontrôle	kpPrestart
item    Informations\nPoste  WinMgr window:wInfo
item	Oui	                kpYes
item	Non	                kpNo
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item	Quitter	        Actions unpost
item	Urgence	        kpHelp
#if #arch(cgc) || #arch(pe)
itemColor	Oui:Yes
itemColor	Non:No
itemColor       Urgence:Down
itemColor	Quitter:Exit
#endif
