#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SkyCond.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2013/06/25 18:22:05 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Clear	Ԛ
#define	Dict_PartCloudy	Ԝ
#define	Dict_Cloudy	ԝ
#define	Dict_ExitMenu	½
