#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/05/09 22:26:06 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* this defines a macro that gets substituted into the Goic/French/Macro
     so that same code can be used in foreman and shovel class equipment */
#include <Goic/French/Macro.cfg>
bufsize 2048
symbol	lastloc
symbol	temploc
macro   Init    Macro KSTATE:0
stack	8192
macro   rpc.2   kpAfterReady
macro   kpAfterReady  Ok label:'Vraiment déconnecter?' action: kpLogOff post
/* Define to avoid error when a drill is loaded as auxil  */
in SET-VALUES 0xc7

#	define OBJECT Macro
#	include <Cfg/Options.cfg>

/* include any client overrides */
#include <Goic/auxil/French/Client_Macro.cfg>
