#!/psw/cpp
macro	kbd.1	WinMgr event:pick
macro	kbd.2	WinMgr event:right
macro	kbd.4	WinMgr event:left
macro	kbd.8	WinMgr event:up
macro	kbd.16	WinMgr event:down
symbol delay 5
macro event.1	Actions post;WinMgr after:$(delay):event.2
macro event.2	kpLogOn;WinMgr after:$(delay):event.3
macro event.3	Vga dimmerSecs:0;WinMgr after:$(delay):event.4
macro event.4	Kp.D append:1;WinMgr after:1:event.5
macro event.5	Kp.D append:2;WinMgr after:1:event.6
macro event.6	Kp.D append:3;WinMgr after:1:event.7
macro event.7	Kp.D append:4;WinMgr after:1:event.8
macro event.8	Kp unpost;WinMgr after:$(delay):event.9.$(lang)
macro event.9.0	w0.Text write:Hello Joe Miner\nPlease perform Safety Check\n;WinMgr after:$(delay):event.10
macro event.9.1	w0.Text write:Hola Joe Miner\nPor favor entra su\nRevision de Seguridad\n;WinMgr after:$(delay):event.10
macro event.10	kpPrestart;WinMgr after:$(delay):event.11
macro event.11  TOGGLE ps.$(pg).0 0;WinMgr after:$(delay):event.12
macro event.12  TOGGLE ps.$(pg).1 1;WinMgr after:$(delay):event.13
macro event.13  TOGGLE ps.$(pg).2 2;WinMgr after:$(delay):event.14
macro event.14  TOGGLE ps.$(pg).3 3;WinMgr after:$(delay):event.15
macro event.15  TOGGLE ps.$(pg).4 4;WinMgr after:$(delay):event.16
macro event.16  TOGGLE ps.$(pg).5 5;WinMgr after:$(delay):event.17
macro event.17  TOGGLE ps.$(pg).6 6;WinMgr after:$(delay):event.18
macro event.18  TOGGLE ps.$(pg).7 7;WinMgr after:$(delay):event.19
macro event.19  SendPrestart$(lastpage);WinMgr after:$(delay):event.21.$(lang)
/*
macro event.11	defect.0:0;numnow:1;SCheck.Text clear;AnotherCheck;WinMgr after:$(delay):event.12
macro event.12	defect.1:0;numnow:2;SCheck.Text clear;AnotherCheck;WinMgr after:$(delay):event.13
macro event.13	defect.2:0;numnow:3;SCheck.Text clear;AnotherCheck;WinMgr after:$(delay):event.14
macro event.14	defect.3:0;numnow:4;SCheck.Text clear;AnotherCheck;WinMgr after:$(delay):event.15
macro event.15	defect.4:0;numnow:5;SCheck.Text clear;AnotherCheck;WinMgr after:$(delay):event.16
macro event.16	defect.5:0;numnow:6;SCheck.Text clear;SCheck unpost;WinMgr after:$(delay):event.17
macro event.17	Kpa1.DI label:$(Kpa.DI label);Kpa unpost;Kpa1 post;WinMgr after:$(delay):event.18
macro event.18	Kpa1.DI append:O;WinMgr after:$(delay):event.19
macro event.19	Kpa.DI label:$(Kpa1.DI label);Kpa1 unpost;Kpa post;WinMgr after:$(delay):event.20
macro event.20	Kpa.DI append:K;WinMgr after:$(delay):event.21
macro event.21	Kpa.DI label:$(Kpa.DI label);savelabel:$(Kpa.DI label);$(command);Kpa unpost;WinMgr after:$(delay):event.22.$(lang)
*/
macro event.21.0 w0.Text write:Satisfactory Safety\nCheck Received\n;WinMgr after:$(delay):event.22.$(lang)
macro event.21.1 w0.Text write:Revision de Seguridad\nInformacion recibido por el despacho;WinMgr after:$(delay):event.22.$(lang)
macro event.22.0 KSTATE 2 'Bench A';WinMgr after:$(delay):event.23
macro event.22.1 KSTATE 2 'Bench A';WinMgr after:$(delay):event.23
macro event.23 Material post;WinMgr after:$(delay):event.24
macro event.24 Material unpost;matl.$(matl):'Ore 1';setMatl;WinMgr after:$(delay):event.25.$(lang)
macro event.25.0 KSTATE 8 TK001;WinMgr after:$(delay):event.26.$(lang)
macro event.25.1 KSTATE 8 TK001;WinMgr after:$(delay):event.26.$(lang)
macro event.26.0 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.26a.$(lang)
macro event.26.1 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.26a.$(lang)
macro event.26a.0 KSTATE 8 TK003;WinMgr after:$(delay):event.26b.$(lang)
macro event.26a.1 KSTATE 8 TK003;WinMgr after:$(delay):event.26b.$(lang)
macro event.26b.0 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.27.$(lang)
macro event.26b.1 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.27.$(lang)
macro event.27.0 Status post;WinMgr after:$(delay):event.28
macro event.28 Status unpost;Delay post;WinMgr after:$(delay):event.29
macro event.29 Delay unpost;WinMgr after:$(delay):event.30.$(lang)
macro event.30.0 w0.Text write:Delay--Lunch\n;WinMgr after:0:event.31.$(lang)
macro event.30.1 w0.Text write:Demora--Lunch\n;WinMgr after:0:event.31.$(lang)
macro event.31.0 KSTATE 4 'Bench A';WinMgr after:$(delay):event.34.$(lang)
macro event.31.1 KSTATE 4 'Bench A';WinMgr after:$(delay):event.34.$(lang)
macro event.34.0 w0.Text clear;KSTATE 2 'Bench A';WinMgr after:$(delay):event.35
macro event.34.1 w0.Text clear;KSTATE 2 'Bench A';WinMgr after:$(delay):event.35
macro event.35	Material post;WinMgr after:$(delay):event.36
macro event.36	Material unpost;matl.$(matl):'Waste 1';setMatl;WinMgr after:$(delay):event.38.$(lang)
macro event.38.0 KSTATE 8 TK002;WinMgr after:$(delay):event.39.$(lang)
macro event.38.1 KSTATE 8 TK002;WinMgr after:$(delay):event.39.$(lang)
macro event.39.0 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.40.$(lang)
macro event.39.1 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.40.$(lang)
macro event.40.0 KSTATE 8 TK004;WinMgr after:$(delay):event.41.$(lang)
macro event.40.1 KSTATE 8 TK004;WinMgr after:$(delay):event.41.$(lang)
macro event.41.0 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.42
macro event.41.1 loads:$(+ 1 $(loads));KSTATE 2 'Bench A';WinMgr after:$(delay):event.42
macro event.42	w0.Text clear;WinMgr after:1:event.23
symbol loc	'Bench A'
symbol stat1	'Standby'
symbol stat2	3
symbol next	Next:Ready
symbol mes
symbol nomes	
symbol trk	
symbol	ldmsg	Loading $(trk)
macro doks	KSTATE $(stat2) '$(stat1) at $(loc)' '$(next)' '$(mes)'
symbol lang 0
symbol menuname
symbol num.1 0
symbol num.2 0 1
symbol num.3 0 1 2
symbol num.4 0 1 2 3
symbol num.5 0 1 2 3 4
symbol num.6 0 1 2 3 4 5
symbol num.7 0 1 2 3 4 5 6
symbol num.8 0 1 2 3 4 5 6 7
symbol num.9 0 1 2 3 4 5 6 7 8
symbol num.10 0 1 2 3 4 5 6 7 8 9
symbol menulist
macro	loaditems	$(menuname) item:$($(menuname).$1.$(lang)) $($(menuname).$1);$(menuname) itemColor:$($(menuname).$1.$(lang)):$($(menuname).$1.a)
macro	MENU foreach $(num.$($(menuname).num));do loaditems
macro	loadlist menulist:$(menulist) $($(menuname).$1.$(lang))
macro	makelist foreach $(num.$($(menuname).num));do loadlist
macro	killlist menulist:''
macro	myKMENU $(menuname) geom:x:0:y:0;killlist;makelist;KMENU $(menuname) $(menulist)
macro	menu.w0.mb	menuname:w0.mb;MENU
macro	menu.Options	menuname:Options;MENU
macro	menu.Actions	menuname:Actions;MENU
macro	menu.Status	menuname:Status;MENU
macro	menu.Info	menuname:Info;MENU
macro	menu.Down	menuname:Down;MENU
macro	menu.Delay	menuname:Delay;MENU
macro	menu.Standby	menuname:Standby;MENU
macro	menu.Material	menuname:Material;MENU
macro	menu.Locs	menuname:Locs;MENU
macro	menu.Trucks	menuname:Trucks;MENU
macro	menu.LUnit05	menuname:LUnit05;MENU
macro	menu.LUnit06	menuname:LUnit06;MENU
#macro loadmenus	menu.w0.mb;menu.Options;menu.Actions;menu.Status;menu.Info;menu.Down;menu.Delay;menu.Standby
macro loadmenus	menu.Status;menu.Down;menu.Delay;menu.Standby;menu.Material;menu.Locs;menu.Trucks;menu.LUnit05;menu.LUnit06
symbol lang1 1
macro redomb lang:$(lang1);menuname:w0.mb;myKMENU;w0.mb map:yes
symbol w0.mb.num 3
symbol w0.mb.0	'Options post'
symbol w0.mb.1	'Actions post'
symbol w0.mb.2	'Status post'
symbol w0.mb.0.a default
symbol w0.mb.1.a default
symbol w0.mb.2.a default
symbol w0.mb.0.0 'Panel'
symbol w0.mb.0.1 'Pantella'
symbol w0.mb.1.0 'Actions'
symbol w0.mb.1.1 'Acciones'
symbol w0.mb.2.0 'Status'
symbol w0.mb.2.1 'Estado'
symbol Options.num 9
symbol Options.0	Vga contrast:49 backlt:100
symbol Options.1	"kpRpc:dimTime;Kp label:$(Options.1$(lang)) post"
symbol Options.10	'Set\ Dim\ Time'
symbol Options.11	'Configurar\ Tiempo\ de\ Oscuracion'
symbol Options.2	Vga dimmerSecs:0
symbol Options.3	CScheme post
symbol Options.4	Popsl post
symbol Options.5	WinMgr refresh
symbol Options.6	w0.Text clear
symbol Options.7	eq? "$(lang)" "0" lang1:1;eq? "$(lang)" "1" lang1:0;redomb
symbol Options.8	Options unpost
symbol Options.0.a	default
symbol Options.1.a	default
symbol Options.2.a	default
symbol Options.3.a	default
symbol Options.4.a	default
symbol Options.5.a	default
symbol Options.6.a	default
symbol Options.7.a	default
symbol Options.8.a	BlackButton
symbol Options.0.0	'Reset\ Panel'
symbol Options.0.1	'Reinicializar\nPantella'
symbol Options.1.0	'Set\ Dim\ Time'
symbol Options.1.1	'Configurar\ Tiempo\nde\ Oscuracion'
symbol Options.2.0	'Turn\noff\ Dim'
symbol Options.2.1	'Apagrar\nOscuracio'
symbol Options.3.0	'Change\ Colors'
symbol Options.3.1	'Cambiar\ Colores'
symbol Options.4.0	'Contrast\ &\nBrightness'
symbol Options.4.1	'Contrasto\n&\ Brillo'
symbol Options.5.0	'Refresh\nScreen'
symbol Options.5.1	'Actualizar\nPantella'
symbol Options.6.0	'Clear\nMessages'
symbol Options.6.1	'Borrar\ Pantella\nde\ Mensajes'
symbol Options.7.0	'Espanol'
symbol Options.7.1	'English'
symbol Options.8.0	'Cancel'
symbol Options.8.1	'Salir\ del\ Menu'
symbol Actions.num 4
symbol Actions.0	SCheck post
symbol Actions.1	kpLogOn
symbol Actions.2	Info post
symbol Actions.3	Actions unpost
symbol Actions.0.a default
symbol Actions.1.a default
symbol Actions.2.a default
symbol Actions.3.a BlackButton
symbol Actions.0.0	'Safety\nCheck'
symbol Actions.0.1	'Revision\ de\nSeguridad'
symbol Actions.1.0	'Change\nOperator'
symbol Actions.1.1	'Cambiar\nOperario'
symbol Actions.2.0	'Information'
symbol Actions.2.1	'Informacion'
symbol Actions.3.0	'Cancel'
symbol Actions.3.1	'Salir\ndel\ Menu'
symbol Status.num 5
symbol Status.0	'stat1 Ready;stat2 2;next "Wait for Truck";mes $(nomes);doks'
symbol Status.1	'Delay post'
symbol Status.2	'Down post'
symbol Status.3 'Standby post'
symbol Status.4 'Status unpost'
symbol Status.0.a	Ready
symbol Status.1.a	Delay
symbol Status.2.a	Down
symbol Status.3.a	Standby
symbol Status.4.a	Exit
symbol Status.0.0	'Ready'
symbol Status.0.1	'Operativo'
symbol Status.1.0	'Delay'
symbol Status.1.1	'Demora'
symbol Status.2.0	'Down'
symbol Status.2.1	'Malogrado'
symbol Status.3.0	'Standby'
symbol Status.3.1	'Standby'
symbol Status.4.0	'Exit\ Menu'
symbol Status.4.1	'Salir\ndel\ Menu'
symbol Info.num 6
symbol Info.0	'HELP 2'
symbol Info.1	'HELP 3'
symbol Info.2	'HELP 4'
symbol Info.3	'HELP 5'
symbol Info.4	'HELP 911'
symbol Info.5	'Info unpost'
symbol Info.0.a	default
symbol Info.1.a	default
symbol Info.2.a	default
symbol Info.3.a	default
symbol Info.4.a	default
symbol Info.5.a	BlackButton
symbol Info.0.0	'Current\nLoad'
symbol Info.0.1 'Carga\nActual'
symbol Info.1.0 'Shovel\nlock'
symbol Info.1.1	'Asignacion\nfija\ de\ pala'
symbol Info.2.0 'Dump\nlock'
symbol Info.2.1 'Asignacion\nfija\ de\ descargas'
symbol Info.3.0 'Request\nSupervisor'
symbol Info.3.1 'Pedir\nSupervisor'
symbol Info.4.0 'Emergency'
symbol Info.4.1 'Emergencia'
symbol Info.5.0 'Cancel'
symbol Info.5.1 'Salir\ndel\ Menu'
symbol Down.num 4
symbol Down.0	'stat1 Down;stat2 0;next "Please Log On";mes $1;doks'
symbol Down.1	'stat1 Down;stat2 0;next "Please Log On";mes $1;doks'
symbol Down.2	'stat1 Down;stat2 0;next "Please Log On";mes $1;doks'
symbol Down.3	'Down unpost'
symbol Down.0.a	Down
symbol Down.1.a	Down
symbol Down.2.a	Down
symbol Down.3.a	Exit
symbol Down.0.0	'Electrical'
symbol Down.0.1 'Electrico'
symbol Down.1.0	'Mechanical'
symbol Down.1.1 'Mecanico'
symbol Down.2.0 'Operations'
symbol Down.2.1 'Operaciones'
symbol Down.3.0	'Exit\ Menu'
symbol Down.3.1 'Salir\ndel\ Menu'
symbol Delay.num 5
symbol Delay.0	'stat1 Delay;stat2 4;next "Next:Ready";mes $1;doks'
symbol Delay.1	'stat1 Delay;stat2 4;next "Next:Ready";mes $1;doks'
symbol Delay.2	'stat1 Delay;stat2 4;next "Next:Ready";mes $1;doks'
symbol Delay.3  'stat1 Delay;stat2 4;next "Next:Ready";mes $1;doks'
symbol Delay.4	'Delay unpost'
symbol Delay.0.a Delay
symbol Delay.1.a Delay
symbol Delay.2.a Delay
symbol Delay.3.a Delay
symbol Delay.4.a Exit
symbol Delay.0.0 'Electrical'
symbol Delay.0.1 'Electrico'
symbol Delay.1.0 'Mechanical'
symbol Delay.1.1 'Mecanico'
symbol Delay.2.0 'Operations'
symbol Delay.2.1 'Operaciones'
symbol Delay.3.0 'Lunch'
symbol Delay.3.1 'Lunch'
symbol Delay.4.0 'Exit\ Menu'
symbol Delay.4.1 'Salir\ndel\ Menu'
symbol Standby.num 4
symbol Standby.0 'stat1 Standby;stat2 0;next "Please Log On";mes $1;doks'
symbol Standby.1 'stat1 Standby;stat2 3;next "Next:Ready";mes $1;doks'
symbol Standby.2 'stat1 Standby;stat2 0;next "Please Log On";mes $1;doks'
symbol Standby.3 'Standby unpost'
symbol Standby.0.a Standby
symbol Standby.1.a Standby
symbol Standby.2.a Standby
symbol Standby.3.a Exit
symbol Standby.0.0 'Shiftchange'
symbol Standby.0.1 'Cambio\nde\ Turno'
symbol Standby.1.0 'Blast'
symbol Standby.1.1 'Voladura'
symbol Standby.2.0 'No\ Operator'
symbol Standby.2.1 'Sin\ Operario'
symbol Standby.3.0 'Exit\ Menu'
symbol Standby.3.1 'Salir\ndel\ Menu'
symbol Material.num 5
symbol Material.0	'w0.Matl label:$1;w0.Text write:"Now digging $1\n"'
symbol Material.1	'w0.Matl label:$1;w0.Text write:"Now digging $1\n"'
symbol Material.2	'w0.Matl label:$1;w0.Text write:"Now digging $1\n"'
symbol Material.3  'w0.Matl label:$1'
symbol Material.4	'Material unpost'
symbol Material.0.a default
symbol Material.1.a default
symbol Material.2.a default
symbol Material.3.a default
symbol Material.4.a Exit
symbol Material.0.0 'Ore\ 1'
symbol Material.0.1 'Ore\ 1'
symbol Material.1.0 'Ore\ 2'
symbol Material.1.1 'Ore\ 2'
symbol Material.2.0 'Waste\ 1'
symbol Material.2.1 'Waste\ 1'
symbol Material.3.0 'Waste\ 2'
symbol Material.3.1 'Waste\ 2'
symbol Material.4.0 'Exit\ Menu'
symbol Material.4.1 'Salir\ndel\ Menu'
symbol Locs.num	3
symbol Locs.0	''
symbol Locs.1	''
symbol Locs.2 'Locs unpost'
symbol Locs.0.a default
symbol Locs.1.a default
symbol Locs.2.a Exit
symbol Locs.0.0 'Stockpile'
symbol Locs.0.1 'Stockpile'
symbol Locs.1.0 'Blast'
symbol Locs.1.1 'Blast'
symbol Locs.2.0 'Exit\ Menu'
symbol Locs.2.1 'Salir\ndel\ Menu'
symbol Trucks.num	3
symbol Trucks.0	'stat1 Ready;stat2 8;next "Next:Full";mes "Loading $1";doks'
symbol Trucks.1	'stat1 Ready;stat2 8;next "Next:Full";mes "Loading $1";doks'
symbol Trucks.2 'Trucks unpost'
symbol Trucks.0.a default
symbol Trucks.1.a default
symbol Trucks.2.a Exit
symbol Trucks.0.0 'T100'
symbol Trucks.0.1 'T100'
symbol Trucks.1.0 'T110'
symbol Trucks.1.1 'T110'
symbol Trucks.2.0 'Exit\ Menu'
symbol Trucks.2.1 'Salir\ndel\ Menu'
symbol LUnit05.num	3
symbol LUnit05.0	'loc $1;doks;w0.Text write:"Location changed to $1\n"'
symbol LUnit05.1	'loc $1;doks;w0.Text write:"Location changed to $1\n"'
symbol LUnit05.2 'LUnit05 unpost'
symbol LUnit05.0.a default
symbol LUnit05.1.a default
symbol LUnit05.2.a Exit
symbol LUnit05.0.0 '55SP-W'
symbol LUnit05.0.1 '55SP-W'
symbol LUnit05.1.0 '66SP-N'
symbol LUnit05.1.1 '66SP-N'
symbol LUnit05.2.0 'Exit\ Menu'
symbol LUnit05.2.1 'Salir\ndel\ Menu'
symbol LUnit06.num	4
symbol LUnit06.0	'loc $1;doks;w0.Text write:"Location changed to $1\n"'
symbol LUnit06.1	'loc $1;doks;w0.Text write:"Location changed to $1\n"'
symbol LUnit06.2	'loc $1;doks;w0.Text write:"Location changed to $1\n"'
symbol LUnit06.3 'LUnit06 unpost'
symbol LUnit06.0.a default
symbol LUnit06.1.a default
symbol LUnit06.2.a default
symbol LUnit06.3.a Exit
symbol LUnit06.0.0 '6464-O'
symbol LUnit06.0.1 '6464-O'
symbol LUnit06.1.0 '6455-O'
symbol LUnit06.1.1 '6455-O'
symbol LUnit06.2.0 '6436-O'
symbol LUnit06.2.1 '6436-O'
symbol LUnit06.3.0 'Exit\ Menu'
symbol LUnit06.3.1 'Salir\ndel\ Menu'
symbol exit.0	'Exit Menu'
symbol exit.1	'Salir\ del\ Menu'
/*redefine SetMenus so it won't do anything*/
macro	SetMenus
/*hard coded Prestart stuff*/
symbol pstype 1
symbol ps.0.0 1
symbol Cfg.ps.0.0 Fail
symbol CfgPs0.0 BOOM
symbol PsIcon.0.0
symbol ps.0.1 1
symbol Cfg.ps.0.1 Fail
symbol CfgPs0.1 COMPRESSOR
symbol PsIcon.0.1
symbol ps.0.2 1
symbol Cfg.ps.0.2 Fail
symbol CfgPs0.2 CROWD MOTOR
symbol PsIcon.0.2
symbol ps.0.3 1
symbol Cfg.ps.0.3 Fail
symbol CfgPs0.3 CROWD BLOWER
symbol PsIcon.0.3
symbol ps.0.4 1
symbol Cfg.ps.0.4 Fail
symbol CfgPs0.4 GEAR CASE
symbol PsIcon.0.4
symbol ps.0.5 1
symbol Cfg.ps.0.5 Fail
symbol CfgPs0.5 GEAR PUMP
symbol PsIcon.0.5
symbol ps.0.6 1
symbol Cfg.ps.0.6 Fail
symbol CfgPs0.6 HOIST ROPE
symbol PsIcon.0.6
symbol ps.0.7 1
symbol Cfg.ps.0.7 Fail
symbol CfgPs0.7 TRACK PADS
symbol PsIcon.0.7
symbol PsInit0 1 1 1 1 1 1 1 1
symbol lastpage 0

# can operator change location
symbol chngloc	y
# can operator set truck loading
symbol trkload	y
