#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2018/01/11 20:11:27 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	SpeedMsg01 Hýz\nLimit\nAþýldý. 
