%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2000
 *               All Rights Reserved
 *  $RCSfile: GpsRTCM.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2008/03/20 17:07:13 $
 *    $State: Exp $
 *   Purpose: Configuration file for GpsRTCM object in LPGPS/SKII 
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GpsPort.h>
port	RTCMPORT
speed	4800
