#!/psw/cpp
#define LIST 0
#define PAGE 7
#define PSINIT Neutral
#define PSBTN0LBL "HEATER/AC (P2)"
#define PSBTN0MAP y
#define PSBTN1LBL "RADIO KOMUNIKASI DUA ARAH (P2)"
#define PSBTN1MAP y
#define PSBTN2LBL "MODULAR DISPATCH(GOIC) (P2)"
#define PSBTN2MAP y
#define PSBTN3LBL "PROXIMITY DETECTOR (P1)"
#define PSBTN3MAP y
#define PSBTN4LBL "DRIVE STATE SENSOR(DSS) (P2)"
#define PSBTN4MAP y
#define PSBTN5LBL "KAMERA DAN MONITOR (P2)"
#define PSBTN5MAP y
#define PSBTN6LBL " "
#define PSBTN6MAP n
#define PSBTN7LBL " "
#define PSBTN7MAP n
#include <10inch/common/PrestartItems_common.cfg>
