#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2012/07/20 07:14:51 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Lleno
#define	Dict_Refill	Recargar
#define	Dict_Watering	Irrigación
#define	Dict_Empty	Vacío
#define	Dict_StopWater	Detener\nirrigación
#define	Dict_Weather	Condiciones\nclimáticas...
