#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.3 $
 *   $Author: olivas $
 *     $Date: 2015/03/30 23:15:28 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LogOn	Войти\ в\nсистему...
#define	Dict_LogOff	Выйти\ из\nсистемы
#define	Dict_PsCheck	Предстартовая\nпроверка...
#define	Dict_PsReport	Предстартовый\nотчёт...
#define	Dict_EngHours	Наработка\nдвигателя...
#define	Dict_Arrive	Прибытие
#define	Dict_Assign	Поставить\nзадание
#define	Dict_Load	Погрузка
#define	Dict_Fuel	Топливо...
#define	Dict_Full	Полный
#define	Dict_Yes	Да
#define	Dict_No		Нет
#define	Dict_ExitMenu	Выход\ Меню
