#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WinMenu.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2014/03/21 06:12:05 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_ExitMenu	Выход\ Меню
#define	Dict_EqInfo	Информация\ об\nоборудовании
#define	Dict_OperMsg	Заметки\nоб\ оборудовании
