%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: GpsTruck.cfg,v $
 * $Revision: 1.2 $
 *   $Author: zambetis $
 *     $Date: 2008/07/11 01:22:33 $
 *    $State: Exp $
 *   Purpose: Add proximity specific options to GpsTruck.cfg,
 *            trying to minimize potential impact to existing
 *            site configurations
 * * * * * * * * * * * * * * * * * * *
 */
#include <Gps/GpsTruck.cfg>

sendTo	Can.-1
ppathTo	-1
