%!/psw/cpp
#ifndef PARENT
#	define PARENT	w0
#endif
geom	x:322:y:404:w:300:h:72
label	Contrast
action	Screen contrast:$1;PARENT.Sl2 label:'Contrast:$1'
getter	Screen contrast
#if #arch(cgc)
min	20
max	80
#else
min	0
max	63
#endif
