#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:46 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	LANG_FILE	<10inch/PH2100/LANGUAGE/Actions.cfg>
#include LANG_FILE
item	Dict_Full	doActFull
item	Dict_LoadLoc	doChngLoc
item	Dict_TrkLoad	doTrkLoad
#ifdef CAN_TRAM
item	Dict_Tram	doTrammode
#endif
#ifdef LOADSIDE
item	Dict_LoadSide	'doSelLoadSide;showLoadSide'
#endif
