#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WinMenu.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2011/12/09 09:24:10 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	LANG_FILE	<10inch/excav/LANGUAGE/WinMenu.cfg>
#include LANG_FILE
item	Dict_PrdInfo	doPrdInfoWindow
