%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.9 $
 *   $Author: dcitron $
 *     $Date: 2012/10/05 22:27:03 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for Proximity systems
 * * * * * * * * * * * * * * * * * * *
 */
symbol SFMACRO	yes
#if defined NEWUI || defined UGUI
	echo Loading StoreForward for 10inch UI
#	include <StoreForward/10inch/Macro.cfg>
#else
#	if #arch(goic) || #arch(goiccan) || #arch(cgc)
#		include <StoreForward/Goic/Macro.cfg>
#	else
#       	include <StoreForward/Hub/Macro.cfg>
#	endif
#endif
