#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SF_config.cfg,v $
 * $Revision: 1.5 $
 *   $Author: dcitron $
 *     $Date: 2016/06/14 20:12:56 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
 
 #####################################
 # Switches
 #####################################
 #         SF_DWN_LOGOFF             #
 # - if operator changes status to
 # - down during no comms logoff oper
 symbol SF_DWN_LOGOFF y
 
 #####################################
 #         SF_SPR_LOGOFF
 # - if operator changes status to
 # - spare during no comms logoff oper
 symbol SF_SPR_LOGOFF n
 
 #####################################
 #         SF_LD_CNT
 # - have storeforward track and increment
 # - bean counter. Will ignore bean count
 # - from central if less then SF count
 symbol SF_LD_CNT	n

 #####################################
 #         SF_NOTALK_COMMSTAT_CHECK
 # - When a noTalk is generated should
 # - noTalk handler check commstat state
 # - Default is to check
 symbol SF_NOTALK_COMMSTAT_CHECK y

 #####################################
 #         SF_NOCOMM_RPC_TO_UP
 # - Attempt to send rpc's to up when
 # - in no comms state
 # - Default is to send up
 symbol SF_NOCOMM_RPC_TO_UP y

 #####################################
 #         TWO_BUTTON_TRAM
 # - Does unit operate in 2 button
 # - tramming mode
 symbol TWO_BUTTON_TRAM	n
 # - Always Auto arrive at expected locations
 symbol TWO_BUTTON_AUTO n
