#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2012/07/20 07:14:51 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	SpeedMsg01	Speed\nLimit\nExceed
