%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2014/03/19 20:28:01 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for GpsHpExcav systems
 * * * * * * * * * * * * * * * * * * *
 */

symbol	loc_unit	3
symbol	RLLocList	3 4 5 6 7 8 9	
macro SetLocStat	more 1;req LocStat;args 2;updtselect locstatupdate;menutype RsnLocL$(loc_unit)_;menuselect menuactionid;RsnLocL$(loc_unit)_ action:menuaction post	
macro SetLSMenus	eq? "$(statmenuupdt)" "0" InitLSMenus
macro InitLSMenus	foreach $(RLLocList);do RsnLocL\$2_ item:$(updtstr)
#if #arch(pe.net)
macro ClrLSMenus	foreach $(RLLocList);do RsnLocL\$2_ items
#else
macro ClrLSMenus	foreach $(RLLocList);do RsnLocL\$2_ clear
#endif
macro locstatupdate	updtselect sendupdate;menutype RsnLoc;ClrLSMenus;InitLSMenus;sendupdate
