%!/psw/cpp
#if #language(Spanish)
item	Lista\ de\nTareas  w2.Text clear;w2.Text2 clear;WinMgr window:w2;EQ-REQ "TaskList"
#elif #language(Portuguese)
item	Lista\ de\nTarefas  w2.Text clear;w2.Text2 clear;WinMgr window:w2;EQ-REQ "TaskList"
#else
item	Task\nList	w2.Text clear;w2.Text2 clear;WinMgr window:w2;EQ-REQ "TaskList"
#endif
#if #class(excav) || #class(ug_loader) || #class(lhd) || #class(loaderlp)
wmin	128
#else
wmin	160
#endif
