#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2013/03/28 16:15:50 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Дyyрэн
#define	Dict_Refill	Дахин\ дyyргэх
#define	Dict_Watering	Усалгаа
#define	Dict_Empty	Хоосон
#define	Dict_StopWater	Усалгааг\nзогсоо
#define	Dict_Weather	Цаг\ агаарын\nбайдал
