%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: erufino $
 *     $Date: 2018/03/19 21:18:16 $
 *    $State: Exp $
 *   Purpose: Load script for LiebExcav driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME LiebExcav
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	LiebExcavDriver
	
#if #model(R9800)
	object	LiebExcavDevice name:liebdev speed:19200 hdwe:rs232 port:GSPPORT
#else
	object	LiebExcavDevice name:liebdev speed:9600 hdwe:rs232 port:GSPPORT
#endif
	
	object	LiebExcavDriver name:lieb device:liebdev sendto:MINECARENET
#endif
