#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2013/06/25 18:22:05 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* Actions */
message	TruckFullLbl	ˤ\n˥
/* This is now in common/English/Macro.cfg:
message	EngHoursLbl	Enter Engine Hours
*/
