#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olivas $
 *     $Date: 2015/03/30 23:15:29 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	tskrejMsg	Задание отклонил
message tskacptMsg	Задание Примите.
message	TskNotifyLbl	Задание назначение 
message AcceptLbl	Примите 
message RejectLbl	отклони
