#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2016/12/15 12:26:08 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* this defines a macro that gets substituted into the Goic/English/Macro
     so that same code can be used in foreman and excav class equipment */
#include <Goic/English/Macro.cfg>
bufsize 2048
stack	8192

in	KSTATE2	0x32	b?ssssss	w0.Text write:$5;w0.Text write:\n

macro	eqfuel	id $(Kp2.Disp label);Kp2.Disp label:"";kplabel 'Enter $(fluidName) Amount';kpaction 'sendeqfuel';Kp label:$(kplabel) post
macro	sendeqfuel	ob1 $(fluidName);ob2 $(Kp.D label);SendReq4
macro   ResetString     VarStringAdd 0

symbol	fluidName	''
symbol	fluidPag	1

macro	fsrtFluidPag	fluidPag 1
macro	nextFluidPag	fluidPag $(+ $(fluidPag) 1);Fluid$(fluidPag) post
macro	EnterTkFluid	kplabel 'Enter Truck Id';kpaction 'WinMgr after 1:eqfuel';Ku label:$(kplabel) post
macro	EnterExFluid	kplabel 'Enter Loader Id';kpaction 'WinMgr after 1:eqfuel';Ku label:$(kplabel) post
macro	EnterAxFluid	kplabel 'Enter Aux Eqmt Id';kpaction 'WinMgr after 1:eqfuel';Ku label:$(kplabel) post
macro	CheckFluidEqmt	req fuelbay1;\
			eq? '$(typ)' '1' EnterTkFluid;\
			eq? '$(typ)' '2' EnterExFluid;\
			eq? '$(typ)' '3' EnterAxFluid
macro	CheckFluidMore	ne? '$(fluidName)' '$(morestr)' CheckFluidEqmt;\
			eq? '$(fluidName)' '$(morestr)' nextFluidPag
macro	CheckFluidExit	ne? '$(fluidName)' '$(exitstr)' CheckFluidMore;\
			eq? '$(fluidName)' '$(exitstr)' fsrtFluidPag
macro	UpdateFluidMenu	req update;id Fluid;SendReq1
macro	EnterFluid	fluidName $1;\
			eq? '$(fluidName)' 'Update' UpdateFluidMenu;\
			ne? '$(fluidName)' 'Update' CheckFluidExit

#	define OBJECT Macro
#	include <Cfg/Options.cfg>
