%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Ir.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:51 $
 *    $State: Exp $
 *   Purpose: Configuration file for IR beacon object.
 * * * * * * * * * * * * * * * * * * *
 */
path	y
#if #arg1(truck) || #arg1(active)
mode	active
#elif #arg1(shovel) || #arg1(excav) || #arg1(passive)
mode	passive
#elif #arg1(loader) || #arg1(act/pass)
mode	act/pass
#elif #arg1(tunnel)
mode	tunnel
#elif #arg1(standalone)
mode	standalone
#else
mode	unknown
#endif
#ifdef ARG2
id	ARG2
#else
id	1.0
#endif
