%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2013/09/09 23:15:39 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for Proximity systems
 * * * * * * * * * * * * * * * * * * *
 */
/*
 * SpeedMsg for NEWUI supported in 10inch code base
 */
#if defined NEWUI || defined UGUI
        echo SpeedMsg option ignored!
#else
#	if #arch(goic) || #arch(goiccan) || #arch(cgc)
#		include <SpeedMsg/English/Mesg.cfg>
#		if !#language(English)
#			define MESG_FILE       <SpeedMsg/LANGUAGE/Mesg.cfg>
#			include MESG_FILE
#		endif
#		include <SpeedMsg/Goic/Macro.cfg>
#	else
#		include <SpeedMsg/Hub/Macro.cfg>
#	endif
#endif
