%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Vsms.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2013/09/09 23:15:39 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for GpsSpeed systems
 * * * * * * * * * * * * * * * * * * *
 */
/*
 * SpeedMsg for NEWUI supported in 10inch code base
 */
#if defined NEWUI || defined UGUI
        echo SpeedMsg option ignored!
#else 
#	include <SpeedMsg/Hub/Vsms.cfg>
#endif
