#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2014/02/14 08:10:54 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Cheio
#define	Dict_Refill	Reabast-\necendo
#define	Dict_Watering	Molhando
#define	Dict_Empty	Vazio
#define	Dict_StopWater	Parar de \nMolhar
#define	Dict_Weather	Condições\nClima...
