#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SkyCond.cfg,v $
 * $Revision: 1.3 $
 *   $Author: zambetis $
 *     $Date: 2011/10/05 00:53:17 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Clear	Claro
#define	Dict_PartCloudy	Parcialmente\ Nublado
#define	Dict_Cloudy	Nublado
#define	Dict_ExitMenu	Sair\ Menu
