#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Informations	     req info;ob1 $(typ);args 2;sendaction
item	Message		     req mess;args 3;kplabel 'Message à $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Image\ GC            snapshotUnit $(id);GetSnapshot
item	Quitter	Action2 unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif

