#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Pelleteuse		req asn2shv;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Site	req asn2loc;menutype Locs;menuselect actlocmenu;Locs action:menuaction post

item    Quitter              ManAsn unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif
