#!/psw/cpp
#define LIST 0
#define PAGE 0
#define PSINIT Neutral
#define PSBTN0LBL "MEMILIKI LISENSI PTFI YANG\nVALID (P1)"
#define PSBTN0MAP y
#define PSBTN1LBL "SEHAT UNTUK MENGEMUDI (P1)"
#define PSBTN1MAP y
#define PSBTN2LBL "MELAKUKAN PEMERIKSAAN\nKENDARAAN SEBELUM\nPENGOPERASIAN (P1)"
#define PSBTN2MAP y
#define PSBTN3LBL "MEMASTIKAN TITIK BUTA/BLIND\nSPOT (P1)"
#define PSBTN3MAP y
#define PSBTN4LBL "MENGGUNAKANN SPOTTER SAAT\nBERMANUVER DIAREA BLIND SPOT\n(P1)"
#define PSBTN4MAP y
#define PSBTN5LBL "MEMASTIKAN TIANG\nDUMPING.KEMIRINGAN LANTAI\nDUMP DAN TANGGUL YANG SESUAI"
#define PSBTN5MAP y
#define PSBTN6LBL "MEMERIKSA KONDISI\nJALAN.PENERANGAN DAN CUACA\nAMAN UNTUK BEKERJA (P1)"
#define PSBTN6MAP y
#define PSBTN7LBL "SABUK PENGAMAN DALAM KEADAAN\nBAIK DAN DAPAT DIGUNAKAN\nSECARA BENAR (P1)"
#define PSBTN7MAP y
#include <10inch/common/PrestartItems_common.cfg>
