#!/psw/cpp
#define LIST 0
#define PAGE 4
#define PSINIT Neutral
#define PSBTN0LBL "RANGKA.STRUKTUR DUMP BODI DAN\nTAIL GATE (DUMP TRUCK) (P2)"
#define PSBTN0MAP y
#define PSBTN1LBL "RANGKA.STRUKTUR FLATBED DAN\nTWIST LOCK (FLATBED) (P2)"
#define PSBTN1MAP y
#define PSBTN2LBL "SUSPENSI DEPAN DAN BELAKANG\n(P2)"
#define PSBTN2MAP y
#define PSBTN3LBL "TANGGA AKSES OPERATOR(ANAK\nTANGGA.PLATFORM.SUSURAN\nTANGAN/PAGAR PENGAMAN) (P2)"
#define PSBTN3MAP y
#define PSBTN4LBL "LEVEL AIR RADIATOR (P1)"
#define PSBTN4MAP y
#define PSBTN5LBL "ALAT PEMADAM API RINGAN\n(APAR) (P2)"
#define PSBTN5MAP y
#define PSBTN6LBL "SISTEM KNALPOT (P2)"
#define PSBTN6MAP y
#define PSBTN7LBL "GREASE/SISTEM PELUMASAN (P2)"
#define PSBTN7MAP y
#include <10inch/common/PrestartItems_common.cfg>
