#!/psw/cpp
object	Window	name:w0
object	Window	name:ws
object  Popup   name:yesNo
object	Popup   name:Kp
object	Popup	name:Kp2
object	Popup	name:Ku
object	Popup	name:Ks
object	Popup	name:Kn
object  Popup	name:Ok
object  Window	name:MsgBox
object  Window	name:Prestart
object  Popup	name:ScrnCntrl
object  Menu    name:Actions
object  Menu    name:Manasn
object  Menu    name:Status
object  Menu	name:Help
object  Menu    name:Ready
object  Menu    name:Ready2
object  Menu    name:Ready3
object  Menu    name:Ready4
object  Menu    name:Ready5
object  Menu    name:Ready6
object  Menu    name:Down
object  Menu    name:Down2
object  Menu    name:Down3
object  Menu    name:Down4
object  Menu    name:Down5
object  Menu    name:Down6
object  Menu    name:Delay
object  Menu    name:Delay2
object	Menu	name:Delay3
object  Menu    name:Delay4
object  Menu    name:Delay5
object  Menu    name:Delay6
object  Menu    name:Standby
object  Menu    name:Standby2
object  Menu    name:Standby3
object  Menu    name:Standby4
object  Menu    name:Standby5
object  Menu    name:Standby6
object  Menu    name:Options
object  Menu    name:Info
object  Menu	name:Tasks
object  Menu	name:Tasks2
object  Menu	name:Tasks3
object  Menu	name:Tasks4
object  Menu    name:TestInstall
object  Menu    name:Location
object	Menu	name:Material
object	Menu	name:FlashCntrl
object  Menu    name:Wind
object  Menu    name:Direction
object  Menu    name:Sky
object  Menu    name:Precip
object	Menu	name:Spray
object	Menu	name:Spray2
object	Menu	name:Spray3
object	Menu	name:Spray4
object  Popup   name:KpMinus
object  Window  name:w1
posty   -20
after   0:Init
after   6:PowerUp
after   8:initcomms
after   10:SetMenus
#       define OBJECT WinMgr
#       include <Cfg/Options.cfg>
