#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Fluid.cfg,v $
 * $Revision: 1.2 $
 *   $Author: gsousa $
 *     $Date: 2018/11/01 12:56:15 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map     n
geom    x:0:y:0:bw:0
onpost	InitFluidScreen
#define  LANG_FILE	<10inch/fuelbay/LANGUAGE/Fluid.cfg>
#include LANG_FILE
#ifdef NEWUI
#	ifdef PORTRAIT
#           ifdef LARGEUI  /* NEWUI for 10" PTXB */
                geom    w:600:h:800
                object  Label   name:Fluid.Group0    geom:x:3:y:33:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle0   geom:x:13:y:41:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment0  geom:x:281:y:41:w:110:h:59:bw:4
                object  Label   name:Fluid.Group1    geom:x:3:y:109:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle1   geom:x:13:y:117:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment1  geom:x:281:y:117:w:110:h:59:bw:4
                object  Label   name:Fluid.Group2    geom:x:3:y:185:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle2   geom:x:13:y:193:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment2  geom:x:281:y:193:w:110:h:59:bw:4
                object  Label   name:Fluid.Group3    geom:x:3:y:261:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle3   geom:x:13:y:268:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment3  geom:x:281:y:268:w:110:h:59:bw:4
                object  Label   name:Fluid.Group4    geom:x:3:y:337:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle4   geom:x:13:y:344:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment4  geom:x:281:y:344:w:110:h:59:bw:4
                object  Label   name:Fluid.Group5    geom:x:3:y:413:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle5   geom:x:13:y:420:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment5  geom:x:281:y:420:w:110:h:59:bw:4
                object  Label   name:Fluid.Group6    geom:x:3:y:489:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle6   geom:x:13:y:496:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment6  geom:x:281:y:496:w:110:h:59:bw:4
                object  Label   name:Fluid.Group7    geom:x:3:y:565:w:398:h:74:bw:0
                object  Button  name:Fluid.Toggle7   geom:x:13:y:573:w:265:h:59:bw:1
                object  Button  name:Fluid.Comment7  geom:x:281:y:573:w:110:h:59:bw:4
		object	Label	name:Fluid.Group8    geom:x:3:y:641:w:398:h:74:bw:0
		object	Button	name:Fluid.Toggle8   geom:x:13:y:648:w:265:h:59:bw:1
		object	Button	name:Fluid.Comment8  geom:x:281:y:648:w:110:h:59:bw:4
		object	Label	name:Fluid.Group9    geom:x:3:y:717:w:398:h:74:bw:0
		object	Button	name:Fluid.Toggle9   geom:x:13:y:724:w:265:h:59:bw:1
		object	Button	name:Fluid.Comment9  geom:x:281:y:724:w:110:h:59:bw:4
                object  Label   name:Fluid.Title     geom:x:0:y:0:w:600:h:37:bw:5
                object  Button  name:Fluid.Page      geom:x:403:y:111:w:195:h:80:bw:5
                object  Button  name:Fluid.Prev      geom:x:403:y:275:w:195:h:80:bw:5
                object  Button  name:Fluid.Next      geom:x:403:y:357:w:195:h:80:bw:5
                object  Button  name:Fluid.Send      geom:x:403:y:439:w:195:h:80:bw:5
                object  Button  name:Fluid.Cancel    geom:x:403:y:521:w:195:h:80:bw:5
#            else   /* Portrait mode needs a shorter Fluid menu */
                geom    w:600:h:775
                object  Label   name:Fluid.Group0    geom:x:3:y:32:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle0   geom:x:13:y:41:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment0  geom:x:281:y:41:w:110:h:57:bw:4
                object  Label   name:Fluid.Group1    geom:x:3:y:106:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle1   geom:x:13:y:114:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment1  geom:x:281:y:114:w:110:h:57:bw:4
                object  Label   name:Fluid.Group2    geom:x:3:y:180:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle2   geom:x:13:y:187:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment2  geom:x:281:y:187:w:110:h:57:bw:4
                object  Label   name:Fluid.Group3    geom:x:3:y:254:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle3   geom:x:13:y:262:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment3  geom:x:281:y:262:w:110:h:57:bw:4
                object  Label   name:Fluid.Group4    geom:x:3:y:328:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle4   geom:x:13:y:335:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment4  geom:x:281:y:335:w:110:h:57:bw:4
                object  Label   name:Fluid.Group5    geom:x:3:y:402:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle5   geom:x:13:y:410:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment5  geom:x:281:y:410:w:110:h:57:bw:4
                object  Label   name:Fluid.Group6    geom:x:3:y:476:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle6   geom:x:13:y:484:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment6  geom:x:281:y:484:w:110:h:57:bw:4
                object  Label   name:Fluid.Group7    geom:x:3:y:550:w:398:h:72:bw:0
                object  Button  name:Fluid.Toggle7   geom:x:13:y:557:w:265:h:57:bw:1
                object  Button  name:Fluid.Comment7  geom:x:281:y:557:w:110:h:57:bw:4
		object	Label	name:Fluid.Group8    geom:x:3:y:624:w:398:h:72:bw:0
		object	Button	name:Fluid.Toggle8   geom:x:13:y:632:w:265:h:57:bw:1
		object	Button	name:Fluid.Comment8  geom:x:281:y:632:w:110:h:57:bw:4
		object	Label	name:Fluid.Group9    geom:x:3:y:699:w:398:h:72:bw:0
		object	Button	name:Fluid.Toggle9   geom:x:13:y:706:w:265:h:57:bw:1
		object	Button	name:Fluid.Comment9  geom:x:281:y:706:w:110:h:57:bw:4
                object  Label   name:Fluid.Title     geom:x:0:y:0:w:600:h:37:bw:5
                object  Button  name:Fluid.Page      geom:x:403:y:111:w:195:h:80:bw:5
                object  Button  name:Fluid.Prev      geom:x:403:y:275:w:195:h:80:bw:5
                object  Button  name:Fluid.Next      geom:x:403:y:357:w:195:h:80:bw:5
                object  Button  name:Fluid.Send      geom:x:403:y:439:w:195:h:80:bw:5
                object  Button  name:Fluid.Cancel    geom:x:403:y:521:w:195:h:80:bw:5
#            endif
#	else
		geom	w:800:h:600
		object	Label	name:Fluid.Group0	geom:x:3:y:51:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle0	geom:x:13:y:60:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment0	geom:x:281:y:60:w:110:h:69:bw:5
		object	Label	name:Fluid.Group1	geom:x:3:y:141:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle1	geom:x:13:y:150:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment1	geom:x:281:y:150:w:110:h:69:bw:5
		object	Label	name:Fluid.Group2	geom:x:3:y:231:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle2	geom:x:13:y:240:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment2	geom:x:281:y:240:w:110:h:69:bw:5
		object	Label	name:Fluid.Group3	geom:x:3:y:321:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle3	geom:x:13:y:330:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment3	geom:x:281:y:330:w:110:h:69:bw:5
		object	Label	name:Fluid.Group4	geom:x:3:y:411:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle4	geom:x:13:y:420:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment4	geom:x:281:y:420:w:110:h:69:bw:5
		object	Label	name:Fluid.Group5	geom:x:403:y:51:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle5	geom:x:413:y:60:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment5	geom:x:681:y:60:w:110:h:69:bw:5
		object	Label	name:Fluid.Group6	geom:x:403:y:141:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle6	geom:x:413:y:150:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment6	geom:x:681:y:150:w:110:h:69:bw:5
		object	Label	name:Fluid.Group7	geom:x:403:y:231:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle7	geom:x:413:y:240:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment7	geom:x:681:y:240:w:110:h:69:bw:5
		object	Label	name:Fluid.Group8	geom:x:403:y:321:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle8	geom:x:413:y:330:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment8	geom:x:681:y:330:w:110:h:69:bw:5
		object	Label	name:Fluid.Group9	geom:x:403:y:411:w:398:h:88:bw:3
		object	Button	name:Fluid.Toggle9	geom:x:413:y:420:w:265:h:69:bw:1
		object	Button	name:Fluid.Comment9	geom:x:681:y:420:w:110:h:69:bw:5
		object	Label	name:Fluid.Title	geom:x:0:y:0:w:599:h:46:bw:6
		object	Button	name:Fluid.Page	geom:x:599:y:0:w:201:h:46:bw:6
		object	Button	name:Fluid.Prev	geom:x:3:y:499:w:199:h:88:bw:6
		object	Button	name:Fluid.Next	geom:x:599:y:499:w:199:h:88:bw:6
		object	Button	name:Fluid.Send	geom:x:201:y:499:w:199:h:88:bw:6
		object	Button	name:Fluid.Cancel	geom:x:400:y:499:w:199:h:88:bw:6
#	endif
#endif

#if #language(Hindi)
#	define TOGFONTSIZE TinyEng
#	define COMFONTSIZE Large
#else
#	define TOGFONTSIZE Tiny
#	define COMFONTSIZE Tiny
#endif

message FluidTitle Dict_Fueling
message FluidUpdate Dict_Update
symbol FbComment0 0
symbol FbComment1 0
symbol FbComment2 0
symbol FbComment3 0
symbol FbComment4 0
symbol FbComment5 0
symbol FbComment6 0
symbol FbComment7 0
symbol FbComment8 0
symbol FbComment9 0

symbol FbToggle0 " "
symbol FbToggle1 " "
symbol FbToggle2 " "
symbol FbToggle3 " "
symbol FbToggle4 " "
symbol FbToggle5 " "
symbol FbToggle6 " "
symbol FbToggle7 " "
symbol FbToggle8 " "
symbol FbToggle9 " "

object	Button	name:Fluid.Toggle0	font:TOGFONTSIZE label:"$(FbToggle0)"
object	Button	name:Fluid.Comment0	label:"$(FbComment0)" font:COMFONTSIZE action:'doFbComment 0'
object	Button	name:Fluid.Toggle1	font:TOGFONTSIZE label:"$(FbToggle1)"
object	Button	name:Fluid.Comment1	label:"$(FbComment1)" font:COMFONTSIZE action:'doFbComment 1'
object	Button	name:Fluid.Toggle2	font:TOGFONTSIZE label:"$(FbToggle2)"
object	Button	name:Fluid.Comment2	label:"$(FbComment2)" font:COMFONTSIZE action:'doFbComment 2'
object	Button	name:Fluid.Toggle3	font:TOGFONTSIZE label:"$(FbToggle3)"
object	Button	name:Fluid.Comment3	label:"$(FbComment3)" font:COMFONTSIZE action:'doFbComment 3'
object	Button	name:Fluid.Toggle4	font:TOGFONTSIZE label:"$(FbToggle4)"
object	Button	name:Fluid.Comment4	label:"$(FbComment4)" font:COMFONTSIZE action:'doFbComment 4'
object	Button	name:Fluid.Toggle5	font:TOGFONTSIZE label:"$(FbToggle5)"
object	Button	name:Fluid.Comment5	label:"$(FbComment5)" font:COMFONTSIZE action:'doFbComment 5'
object	Button	name:Fluid.Toggle6	font:TOGFONTSIZE label:"$(FbToggle6)"
object	Button	name:Fluid.Comment6	label:"$(FbComment6)" font:COMFONTSIZE action:'doFbComment 6'
object	Button	name:Fluid.Toggle7	font:TOGFONTSIZE label:"$(FbToggle7)"
object	Button	name:Fluid.Comment7	label:"$(FbComment7)" font:COMFONTSIZE action:'doFbComment 7'
object	Button	name:Fluid.Toggle8	font:TOGFONTSIZE label:"$(FbToggle8)"
object	Button	name:Fluid.Comment8	label:"$(FbComment8)" font:COMFONTSIZE action:'doFbComment 8'
object	Button	name:Fluid.Toggle9	font:TOGFONTSIZE label:"$(FbToggle9)"
object	Button	name:Fluid.Comment9	label:"$(FbComment9)" font:COMFONTSIZE action:'doFbComment 9'
object	Label	name:Fluid.Title	label:"$(FluidTitle) $(selectedFbEqmt)  -  $(PageLbl):$(+ 1 $(fluidScPage))/$(+ 1 $(fluidScPages))"
object	Button	name:Fluid.Page	label:"$(FluidUpdate)" action:reqFluidMenuUpdate
object	Button	name:Fluid.Prev	label:"$(PrevPageLbl)" action:doFbPrev
object	Button	name:Fluid.Next	label:"$(NextPageLbl)" action:doFbNext
object	Button	name:Fluid.Send	label:"$(SendLbl)" action:doFbSend
object	Button	name:Fluid.Cancel	label:"$(CancelLbl)" action:doFbCancel
