#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: FuelEqmtTypes.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2018/07/23 21:24:36 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map	n
cols    2
geom:x:100
#define  LANG_FILE	<10inch/fuelbay/LANGUAGE/FuelEqmtTypes.cfg>
#include LANG_FILE
item	Dict_Trucks	doFuelTrucks
item	Dict_Loaders	doFuelLoaders
item	Dict_AuxEqmt	doFuelAuxEqmt
item	Dict_ExitMenu	FuelEqmtTypes unpost
