#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.15 $
 *   $Author: gsousa $
 *     $Date: 2018/11/05 13:41:49 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

symbol	bTk0	""
symbol	bTk1	""
symbol	bTk2	""
symbol	bTk3	""
symbol	bTk4	""
symbol	bTk5	""
symbol	bTk6	""
symbol	bTk7	""
symbol	bTk8	""
symbol	bTk9	""
symbol	bTk10	""
symbol	bTk11	""
symbol	bTk12	""
symbol	bTk13	""
symbol	bTk14	""
symbol	bTk15	""
symbol	bTk16	""
symbol	bTk17	""
symbol	bTk18	""
symbol	bTk19	""
symbol	bSh0	""
symbol	bSh1	""
symbol	bSh2	""
symbol	bSh3	""
symbol	bSh4	""
symbol	bSh5	""
symbol	bSh6	""
symbol	bSh7	""
symbol	bSh8	""
symbol	bSh9	""
symbol	bSh10	""
symbol	bSh11	""
symbol	bSh12	""
symbol	bSh13	""
symbol	bSh14	""
symbol	bSh15	""
symbol	bSh16	""
symbol	bSh17	""
symbol	bSh18	""
symbol	bSh19	""
symbol	bAx0	""
symbol	bAx1	""
symbol	bAx2	""
symbol	bAx3	""
symbol	bAx4	""
symbol	bAx5	""
symbol	bAx6	""
symbol	bAx7	""
symbol	bAx8	""
symbol	bAx9	""
symbol	bAx10	""
symbol	bAx11	""
symbol	bAx12	""
symbol	bAx13	""
symbol	bAx14	""
symbol	bAx15	""
symbol	bAx16	""
symbol	bAx17	""
symbol	bAx18	""
symbol	bAx19	""

symbol  fbFluid0 " "
symbol  fbFluid1 " "
symbol  fbFluid2 " "
symbol  fbFluid3 " "
symbol  fbFluid4 " "
symbol  fbFluid5 " "
symbol  fbFluid6 " "
symbol  fbFluid7 " "
symbol  fbFluid8 " "
symbol  fbFluid9 " "
symbol  fbFluid10 " "
symbol  fbFluid11 " "
symbol  fbFluid12 " "
symbol  fbFluid13 " "
symbol  fbFluid14 " "
symbol  fbFluid15 " "
symbol  fbFluid16 " "
symbol  fbFluid17 " "
symbol  fbFluid18 " "
symbol  fbFluid19 " "
symbol  fbFluid20 " "
symbol  fbFluid21 " "
symbol  fbFluid22 " "
symbol  fbFluid23 " "
symbol  fbFluid24 " "
symbol  fbFluid25 " "
symbol  fbFluid26 " "
symbol  fbFluid27 " "
symbol  fbFluid28 " "
symbol  fbFluid29 " "

symbol  fbFluidCmt0 0
symbol  fbFluidCmt1 0
symbol  fbFluidCmt2 0
symbol  fbFluidCmt3 0
symbol  fbFluidCmt4 0
symbol  fbFluidCmt5 0
symbol  fbFluidCmt6 0
symbol  fbFluidCmt7 0
symbol  fbFluidCmt8 0
symbol  fbFluidCmt9 0
symbol  fbFluidCmt10 0
symbol  fbFluidCmt11 0
symbol  fbFluidCmt12 0
symbol  fbFluidCmt13 0
symbol  fbFluidCmt14 0
symbol  fbFluidCmt15 0
symbol  fbFluidCmt16 0
symbol  fbFluidCmt17 0
symbol  fbFluidCmt18 0
symbol  fbFluidCmt19 0
symbol  fbFluidCmt20 0
symbol  fbFluidCmt21 0
symbol  fbFluidCmt22 0
symbol  fbFluidCmt23 0
symbol  fbFluidCmt24 0
symbol  fbFluidCmt25 0
symbol  fbFluidCmt26 0
symbol  fbFluidCmt27 0
symbol  fbFluidCmt28 0
symbol  fbFluidCmt29 0

/* KSTATE stuff */
macro	doActFuel eq? $(state) 2 FuelEqmtTypes post;\
		  ne? $(state) 2 ReadyFuelBay
macro	rpc.2	doActFuel
message ReadyFbMessage	Dict_ReadyEqmt
macro ReadyFuelBay KDISP "$(fbReadyFuelBay)";KBEEP 1

#define LANG_FILE	<10inch/fuelbay/LANGUAGE/Macro.cfg>
#include LANG_FILE

symbol	eqmtSelectType	FUELEQMTMENU
symbol	eqmtTypeFuel	1
symbol	eqmtTypeMenuCnt	0
symbol	fbFluidmessage ""
symbol	fbEntityIDmsg ""
symbol	selectedFbEqmt ""
symbol	selectedFbFleet ""
symbol	selectedFbFleet0 ""
symbol	selectedFbFleet2 ""
symbol	selectedFbFleet3 ""
symbol	selectedFbFleetMenu ""

macro doFuelTrucks eqmtTypeFuel 1;checkFuelEqmt
macro doFuelLoaders eqmtTypeFuel 2;checkFuelEqmt
macro doFuelAuxEqmt eqmtTypeFuel 3;checkFuelEqmt

macro getEntityID eq? $(eqmtTypeFuel) 1 fbEntityIDmsg $(fbFuelLblTrucks);\
		  eq? $(eqmtTypeFuel) 2 fbEntityIDmsg $(fbFuelLblLoaders);\
		  eq? $(eqmtTypeFuel) 3 fbEntityIDmsg $(fbFuelLblAuxEqmt)
macro getFuelLbl getEntityID;\
		 fbFluidmessage "$(fbFuelLbl) $(fbEntityIDmsg)"

macro checkFuelEqmt eq? $(eqmtSelectType) 0 postFuelEqmtKp;\
		    eq? $(eqmtSelectType) 1 postEqmtFbMenu;\
		    eq? $(eqmtSelectType) 2 postFleetFbMenu

macro postFuelEqmtKp getFuelLbl;\
		     PostKeyPad $(fbFluidmessage) doPostFluidList0

macro postEqmtFbMenu eq? $(eqmtTypeFuel) 1 postTkFbMenu;\
		     eq? $(eqmtTypeFuel) 2 postShFbMenu;\
		     eq? $(eqmtTypeFuel) 3 postAxFbMenu
macro postTkFbMenu PostDynamicMenu "Trucks" "doPostFluidList1"
macro postShFbMenu PostDynamicMenu "Shovels" "doPostFluidList1"
macro postAxFbMenu PostDynamicMenu "AuxEqmt" "doPostFluidList1"

macro postFleetFbMenu eq? $(eqmtTypeFuel) 1 postTkFbMenuFleet;\
		      eq? $(eqmtTypeFuel) 2 postShFbMenuFleet;\
		      eq? $(eqmtTypeFuel) 3 postAxFbMenuFleet
macro postTkFbMenuFleet PostDynamicMenu "TkFleets" "SelectFbTruck"
macro postShFbMenuFleet PostDynamicMenu "ShFleets" "SelectFbShovel"
macro postAxFbMenuFleet PostDynamicMenu "AxFleets" "SelectFbAuxEqmt"
message eqlist  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
in	updateEqTypeList  INT_RPC s      selectedFbFleet3 $1;updateEqTypeList0
symbol goodToUpdateList 0
symbol goodToUpdateListOf ""
macro updateEqTypeListEq foreach $2;do updateEqTypeList "\$2"
macro updateEqTypeListTk goodToUpdateList 0;goodToUpdateListOf bTk;\
			 eq? "$(tmpMenuName)" "TkFleets" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "TkFleets2" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "TkFleets3" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "TkFleets4" goodToUpdateList 1;\
			 eq? $(goodToUpdateList) 1 updateEqTypeListEq
macro updateEqTypeListSh goodToUpdateList 0;goodToUpdateListOf bSh;\
			 eq? "$(tmpMenuName)" "ShFleets" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "ShFleets2" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "ShFleets3" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "ShFleets4" goodToUpdateList 1;\
			 eq? $(goodToUpdateList) 1 updateEqTypeListEq
macro updateEqTypeListAx goodToUpdateList 0;goodToUpdateListOf bAx;\
			 eq? "$(tmpMenuName)" "AxFleets" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "AxFleets2" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "AxFleets3" goodToUpdateList 1;\
			 eq? "$(tmpMenuName)" "AxFleets4" goodToUpdateList 1;\
			 eq? $(goodToUpdateList) 1 updateEqTypeListEq
macro updateEqTypeList0 ne? $(selectedFbFleet3) "$(exitstr)" updateEqTypeList1
macro updateEqTypeList1 ne? $(selectedFbFleet3) $(morestr) updateEqTypeList2
macro updateEqTypeList2 ne? $(selectedFbFleet3) $(updtstr) updateEqTypeList3
macro updateEqTypeList3 $(goodToUpdateListOf)$(eqmtTypeMenuCnt) $(selectedFbFleet3);\
			eqmtTypeMenuCnt $(+ $(eqmtTypeMenuCnt) 1)
in    CompareEqmtType	INT_RPC s      selectedFbFleetMenu $1;PostEqmtListType
macro PostEqmtListType eq? $($(selectedFbFleetMenu)) "$(selectedFbFleet)" doPostFluidList2;\
		       eq? $($(selectedFbFleetMenu)) $(selectedFbFleet) doPostFluidList2
macro SelectFbTruck selectedFbFleet $1;foreach $(eqlist);do CompareEqmtType "bTk\$2"
macro SelectFbShovel selectedFbFleet $1;foreach $(eqlist);do CompareEqmtType "bSh\$2"
macro SelectFbAuxEqmt selectedFbFleet $1;foreach $(eqlist);do CompareEqmtType "bAx\$2"

symbol tmpMenuName ""
macro doFbFleetMenu $1 items:$2;tmpMenuName $1;\
		    eq? $(eqmtTypeFuel) 1 updateEqTypeListTk;\
		    eq? $(eqmtTypeFuel) 2 updateEqTypeListSh;\
		    eq? $(eqmtTypeFuel) 3 updateEqTypeListAx
macro doKmenu  eq? "$1" "FluidItems" doFbFluidMenu;\
	       ne? "$1" "FluidItems" doKmenuFb2
macro doKmenuFb2 eq? "$1" "FluidItems2" doFbFluidMenu2;\
	       ne? "$1" "FluidItems2" doKmenuFb3
macro doKmenuFb3 eq? "$1" "FluidItems3" doFbFluidMenu3;\
	       ne? "$1" "FluidItems3" doFbFleetMenu
macro doFbFluidMenu fluidScPages $(max $(fluidScPages) 0);foreach $2;do updateFluidList "\$2" "\$1"
macro doFbFluidMenu2 fluidScPages $(max $(fluidScPages) 1);foreach $2;do updateFluidList2 "\$2" "\$1"
macro doFbFluidMenu3 fluidScPages $(max $(fluidScPages) 2);foreach $2;do updateFluidList3 "\$2" "\$1"

macro   doMenuUpdate    eqmtTypeMenuCnt 0;\
			eq? "$(menuType)" "Status" doClearStatusMenus;\
                        eq? $(altUpdtExpr) 1 $(altUpdtName);\
                        ne? $(altUpdtExpr) 1 StdMenuUpdate;altUpdtExpr 0

macro doPostFluidList0 selectedFbEqmt $(GetPadValue);postFluidList
macro doPostFluidList1 selectedFbEqmt $1;postFluidList
macro doPostFluidList2 PostDynamicMenu "f$(selectedFbFleetMenu)" "doPostFluidList1"

macro postFluidList Fluid post

in CleanUpVariables INT_RPC s fbFluidCmt$1 0;UpdateFluidObjs
macro fdDataCleanUp foreach $(eqlist);do CleanUpVariables "\$2"
macro doFbCancel fluidScPage 0;UnpostWindow Fluid;fdDataCleanUp
in CleanUpItems INT_RPC s fbFluid$1 " "
macro fdItemsCleanUp foreach $(eqlist);do CleanUpItems "\$2"
macro doFluidUpdate fluidScPage 0;fluidScPages 0;fdItemsCleanUp;doFbCancel

symbol	fluidScPages 0
symbol	fluidScPage 0
in	updateFluidList   INT_RPC ss	fbFluid$2 $1
in	updateFluidList2  INT_RPC ss	fbFluid$(+ 10 $2) $1
in	updateFluidList3  INT_RPC ss	fbFluid$(+ 20 $2) $1

symbol tmpFluidPos ""
symbol tmpFluidPos2 ""
message fluidlist 0 1 2 3 4 5 6 7 8 9
#ifdef PORTRAIT
macro updateFbToggles6 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)))
macro updateFbToggles5 eq? $(max $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 4) 4 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)));\
		       ne? $(max $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 4) 4 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 2))
macro updateFbToggles4 eq? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 1 FbToggle$(tmpFluidPos) $(fbFluid5);\
                       ne? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 1 updateFbToggles5
macro updateFbToggles3 eq? $(eqmtTypeFuel) 2 FbToggle$(tmpFluidPos) "$(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2))) 1";\
		       ne? $(eqmtTypeFuel) 2 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)))
macro updateFbToggles2 eq? $(fbFluid5) " " FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)));\
		       ne? $(fbFluid5) " " updateFbToggles3
macro updateFbToggles eq? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 0 updateFbToggles2;\
		      ne? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 0 updateFbToggles4
macro ShowFluidItem Fluid.Toggle$(tmpFluidPos) map:yes;\
		    Fluid.Comment$(tmpFluidPos) map:yes;\
		    Fluid.Group$(tmpFluidPos) map:yes
macro HideFluidItem Fluid.Toggle$(tmpFluidPos) map:no;\
		    Fluid.Comment$(tmpFluidPos) map:no;\
		    Fluid.Group$(tmpFluidPos) map:no
macro CheckFluidAval4 eq? $(FbToggle$(tmpFluidPos)) " " HideFluidItem;\
		      ne? $(FbToggle$(tmpFluidPos)) " " ShowFluidItem
macro CheckFluidAval2 eq? "$(FbToggle$(tmpFluidPos))" " " HideFluidItem;\
		      ne? "$(FbToggle$(tmpFluidPos))" " " ShowFluidItem
macro CheckFluidAval3 eq? $(eqmtTypeFuel) 2 CheckFluidAval4;\
		      ne? $(eqmtTypeFuel) 2 HideFluidItem
macro CheckFluidAval eq? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 1 CheckFluidAval3;\
		     ne? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 1 CheckFluidAval2
in	UpdateFluidMap	INT_RPC ss tmpFluidPos $1;tmpFluidPos2 $2;\
			updateFbToggles;\
			FbComment$(tmpFluidPos) $(fbFluidCmt$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)));\
			CheckFluidAval
#else
macro updateFbToggles3 eq? $(eqmtTypeFuel) 2 FbToggle$(tmpFluidPos) "$(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2))) 1";\
		       ne? $(eqmtTypeFuel) 2 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)))
macro updateFbToggles2 eq? $(fbFluid5) " " FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)));\
		       ne? $(fbFluid5) " " updateFbToggles3
macro updateFbToggles eq? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 0 updateFbToggles2;\
		      ne? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 0 FbToggle$(tmpFluidPos) $(fbFluid$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)))
macro ShowFluidItem Fluid.Toggle$(tmpFluidPos) map:yes;\
		    Fluid.Comment$(tmpFluidPos) map:yes;\
		    Fluid.Group$(tmpFluidPos) map:yes
macro HideFluidItem Fluid.Toggle$(tmpFluidPos) map:no;\
		    Fluid.Comment$(tmpFluidPos) map:no;\
		    Fluid.Group$(tmpFluidPos) map:no
macro CheckFluidAval2 eq? "$(FbToggle$(tmpFluidPos))" " " HideFluidItem;\
		      ne? "$(FbToggle$(tmpFluidPos))" " " ShowFluidItem
macro CheckFluidAval3 eq? $(eqmtTypeFuel) 2 CheckFluidAval2;\
		      ne? $(eqmtTypeFuel) 2 HideFluidItem
macro CheckFluidAval eq? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 5 CheckFluidAval3;\
		     ne? $(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)) 5 CheckFluidAval2
in	UpdateFluidMap	INT_RPC ss tmpFluidPos $1;tmpFluidPos2 $2;\
			updateFbToggles;\
			FbComment$(tmpFluidPos) $(fbFluidCmt$(+ $(* $(fluidScPage) 10) $(tmpFluidPos2)));\
			CheckFluidAval
#endif
macro InitFluidScreen fluidScPage 0;UpdateFluidObjs
macro UpdateFluidObjs foreach $(fluidlist);do UpdateFluidMap "\$2" "\$1"

macro doFbPrev ne? $(max $(fluidScPage) 0) 0 UpdatePreviousFbPage
macro UpdatePreviousFbPage fluidScPage $(- $(fluidScPage) 1);UpdateFluidObjs

macro doFbNext ne? $(min $(fluidScPage) $(fluidScPages)) $(fluidScPages) UpdateNextFbPage
macro UpdateNextFbPage fluidScPage $(+ $(fluidScPage) 1);UpdateFluidObjs

macro reqFluidMenuUpdate KDISP $(fdFluidRequestLbl);doFluidUpdate;EQ-REQ "fbFluidUpdate"

symbol tmpFluidCmtPos 0
in	doFbComment	INT_RPC d tmpFluidCmtPos $1;\
			PostNumPad "$(FbToggle$(tmpFluidCmtPos))" UpdateFluidValue
macro	UpdateFluidClnValue FbComment$(tmpFluidCmtPos) 0;\
							fbFluidCmt$(+ $(tmpFluidCmtPos) $(* $(fluidScPage) 10)) 0
macro	UpdateFluidSaveValue FbComment$(tmpFluidCmtPos) $(GetPadValue);\
							fbFluidCmt$(+ $(tmpFluidCmtPos) $(* $(fluidScPage) 10)) $(GetPadValue)
macro	UpdateFluidValue2 eq? "$(GetPadValue)" "  " UpdateFluidClnValue;\
			 ne? "$(GetPadValue)" "  " UpdateFluidSaveValue
macro	UpdateFluidValue eq? "$(GetPadValue)" " " UpdateFluidClnValue;\
			 ne? "$(GetPadValue)" " " UpdateFluidValue2

#ifdef PORTRAIT
macro doFbSend EQ-REQ "fuelbay1" [ FbNewUI $(eqmtTypeFuel) $(selectedFbEqmt) $(fbFluidCmt0) $(fbFluidCmt1) $(fbFluidCmt2) $(fbFluidCmt3) $(fbFluidCmt4) $(fbFluidCmt5) $(fbFluidCmt6) $(fbFluidCmt7) $(fbFluidCmt8) $(fbFluidCmt9) $(fbFluidCmt10) $(fbFluidCmt11) $(fbFluidCmt12) $(fbFluidCmt13) $(fbFluidCmt14) $(fbFluidCmt15) $(fbFluidCmt16) $(fbFluidCmt17) $(fbFluidCmt18) $(fbFluidCmt19) $(fbFluidCmt20) ];doFbCancel
#else
macro doFbSend EQ-REQ "fuelbay1" [ FbNewUI $(eqmtTypeFuel) $(selectedFbEqmt) $(fbFluidCmt0) $(fbFluidCmt5) $(fbFluidCmt2) $(fbFluidCmt3) $(fbFluidCmt4) $(fbFluidCmt7) $(fbFluidCmt8) $(fbFluidCmt9) $(fbFluidCmt10) $(fbFluidCmt11) $(fbFluidCmt12) $(fbFluidCmt13) $(fbFluidCmt14) $(fbFluidCmt15) $(fbFluidCmt16) $(fbFluidCmt17) $(fbFluidCmt18) $(fbFluidCmt19) $(fbFluidCmt20) $(fbFluidCmt21) $(fbFluidCmt22) ];doFbCancel
#endif
