%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.6 $
 *   $Author: latum $
 *     $Date: 2004/01/05 23:04:12 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for HP systems
 * * * * * * * * * * * * * * * * * * *
 */

/*
 * GpsRover specific macros
 */
#include <GpsRover/Macro.cfg>
