#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Vsms.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2014/12/03 21:56:44 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for GpsSpeed systems
 * * * * * * * * * * * * * * * * * * *
 */
every   1000:NewCycle
