#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Information		req info;ob1 $(typ);args 2;sendaction
item	Message			req mess;args 3;kplabel 'Message to $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    GC\ Snapshot            snapshotUnit $(id);GetSnapshot
item    Exit\ Menu              Action1 unpost
#if #arch(cgc)
itemColor Exit\ Menu:Exit
#endif
