%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *	DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *		 All Rights Reserved
 *	$RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *	 $Author: gsousa $
 *	   $Date: 2017/06/06 13:55:40 $
 *	  $State: Exp $
 *	 Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
#include_next <Goic/Rpc.cfg>
#include_next <Goic/Macro.cfg>

out	CHANNEL		0x127	d	sendto up

#	change window request from LH.
#in	CHG_DISP			0x8002	d	w0.Text clear;w0.Text write:$(ini.$1)
in	CHG_DISP			0x8002	d	chgwin;w$1.Text clear;w$1.Text write:$(ini.$1)
#in	CHG_DISP			0x8002	d	w0.Text clear;w0.Text write:$(ini.$1)

#	send request to change mode 'MAINTAINANCE MODE'
out	A_MAINTAINANCE_REQ	0x8046	b	sendto Can_5.100
out	A_MAINTAINANCE_CMD	0x8047	b	sendto Can_5.100
out	A_MAINTAINANCE_SEND	0x8049	bd	sendto Can_5.100


in MAINTAINANCE 0x804f b Kp label:$0$1 action:' A_MAINTAINANCE_SEND $1 \$(Kp.D label)' post

#	for maintainance page
in	DISP_U_MSG			0x8003	s	w2.U_Text write:$1
in	DISP_V_MSG			0x8004	s	w2.V_Text write:$1
in	DISP_W_MSG			0x8005	s	w2.W_Text write:$1
in	DISP_X_MSG			0x8006	s	w2.X_Text write:$1

in	KDISP_ERR			0x8001	s	w0.Text write:\n '$1'
in	ERR_SEND			0x1990	s	ERR_SEND_BASE '$1';ERR_SEND_GOIC <<T1>>\n$1
out	ERR_SEND_GOIC		0x1991	s	sendto up
out	ERR_SEND_BASE		0x1078	s	sendto up


#
out	A_IGNITION_EG	 0x8638 v	sendto up



out	A_FILE_WRITE_REQ 0x83a5	s	sendto up
out	A_FILE_REQ	 0x83ac s	sendto Can_5.100;w8.Text clear;w8.Text write:$1\n
out	A_MODE_ORDER	 0x8043 b	sendto Can_5.100
out	A_DISP_RET_REQ	 0x8042 v	sendto Can_5.100
out	A_BEHAVIOR	 0x8041 b	sendto up
out	A_GO_AUTO	 0x83a6 v	sendto up
out	N_MODE_ORDER	 0x83a7 b	sendto up
in	S_IGNITION_EG_OK 0x863f v	w3.Text write:Engine start OK!
in	S_STOP_OK	 0x8640 v	w3.Text write:Engine stop OK!
in	N_MODE		 0x8602a b	w3.TES clear;w3.TES write:$1
out	A_MODE_ASK	 0x8021 v	sendto up
out	A_RADIO_CONTROL	 0x861c ddb	sendto up
out	A_LOW_SPEED	 0x861d dl	sendto up
out	A_EMERGENCY_CANCEL 0x861f v	sendto up
in	S_ERR		 0x863b bdbb	serr
in	S_WARNING	 0x863c bdbb	serr
in	S_LOW_SPEED_OK	 0x863e v	w3.TES clear;w3.TES write:Low order received..
out	N_HORN_ORDER	 0x83ab b	sendto up
in	LOCOUT_Goic	 0x83ad XXXXXXXX disp1;disp2;disp3;disp4;disp5




#	used in w3, w4, w5, w6
out	OBJSH		 0x0113 s	sendto up

out	GAINSHOW0	 0x8300 v	sendto Can_5.100
out	GAINSHOW1	 0x8301 v	sendto Can_5.100
out	GAINSHOW2	 0x8302 v	sendto Can_5.100
out	GAINSHOW3	 0x8303 v	sendto Can_5.100
out	GAINSHOW4	 0x8304 v	sendto Can_5.100
out	GAINSHOW5	 0x8305 v	sendto Can_5.100
out	GAINSEND0	 0x8307 d	sendto Can_5.100
out	GAINSEND1	 0x8308 d	sendto Can_5.100
out	GAINSEND2	 0x8309 d	sendto Can_5.100
out	GAINSEND3	 0x830a d	sendto Can_5.100
out	GAINSEND4	 0x830b d	sendto Can_5.100
out	GAINSEND5	 0x830c d	sendto Can_5.100
out	GAINSEND6	 0x830d d	sendto Can_5.100
out	GAINSEND7	 0x830e d	sendto Can_5.100
out	GAINSEND8	 0x830f d	sendto Can_5.100
out	GAINSEND9	 0x8310 d	sendto Can_5.100
out	GAINSENDa	 0x8311 d	sendto Can_5.100
out	GAINSENDb	 0x8312 d	sendto Can_5.100
out	GAINSENDc	 0x8313 d	sendto Can_5.100
out	GAINSENDd	 0x8314 d	sendto Can_5.100
out	GAINSENDe	 0x8315 d	sendto Can_5.100
out	GAINSENDf	 0x8316 d	sendto Can_5.100
in	GAINDISP	 0x8306 d	w4.Text write:$1\n

out	SAFETYSHOW0	 0x8670 v	sendto Can_5.200
out	SAFETYSHOW1	 0x8671 v	sendto Can_5.200
out	SAFETYSHOW3	 0x8673 v	sendto Can_5.200
out	SAFETYSHOW4	 0x8674 v	sendto Can_5.200
out	DATA_SEND	 0x8675 d	sendto Can_5.0
out	SAFETYSHOW6	 0x8676 v	sendto Can_5.200
out	CHG_FLAG	 0x8677 b	sendto Can_5.0
out	SAFETYSEND0	 0x8680 d	sendto Can_5.200
out	SAFETYSEND1	 0x8681 d	sendto Can_5.200
out	SAFETYSEND2	 0x8682 d	sendto Can_5.200
out	SAFETYSEND3	 0x8683 d	sendto Can_5.200
out	SAFETYSEND4	 0x8684 d	sendto Can_5.200
out	SAFETYSEND5	 0x8685 d	sendto Can_5.200
out	SAFETYSEND6	 0x8686 d	sendto Can_5.200
out	SAFETYSEND7	 0x8687 d	sendto Can_5.200
out	SAFETYSEND8	 0x8688 d	sendto Can_5.200
out	SAFETYSEND9	 0x8689 d	sendto Can_5.200
out	SAFETYSENDa	 0x868a d	sendto Can_5.200
out	SAFETYSENDb	 0x868b d	sendto Can_5.200
out	SAFETYSENDc	 0x868c d	sendto Can_5.200
out	SAFETYSENDd	 0x868d d	sendto Can_5.200
out	SAFETYSENDe	 0x868e d	sendto Can_5.200
out	SAFETYSENDf	 0x868f d	sendto Can_5.200
in	SAFETYDISP	 0x867e s	w3.Text write:$1\n
in	DISP_DISTANCE	 0x867b bbdddddd w3.T2 clear;w3.T2 write: Truck No. $1 is\n status $2\n x		 $4\n y		 $5\n yaw	  $6\n speed	 $7\n distance $8 m\n time stamp $3\n
in	DISP_SNSR	 0x867c	bbbbbb	w5.T2 clear;w5.T2 write: SENSOR \n milli R: $1\n milli M: $2\n milli L: $3\n laser R: $4\n laser M: $5\n laser L: $6\n
in	DISP_STRING	 0x867d s	w5.T2 clear;w5.T2 write: $1
in	MESS_TEXT	 0x87b1 s	w6.Text write: $1\n



message ini.0	<message>
message ini.1	Error happen...
message ini.2	Maintainance
message ini.3	This page for Test.
message ini.4	This page for Gain Test.
message ini.5	This page for Another Safety Test.
message ini.6	unknown

message	msg.0	Welcome to DISPATCH
message	msg.1	Down at $(loc)
message	msg.2	Ready at $(loc)
message	msg.3	Standby at $(loc)
message	msg.4	Delayed at $(loc)
message	msg.5	Parkup at $(loc)
message	msg.6	Go to Shovel $(loc)
message	msg.7	Arrived at $(loc)
message	msg.8	Loading at $(loc)
message	msg.9	Go to $(loc)
message	msg.10	Dumping at $(loc)
message	pressOk	Press OK

macro	chgwin  WinMgr window:w$1

macro	kpLogOn Kp label:'Payroll ID' action:'LOGON \$(Kp.D label)' post
macro	kpReady Ok label:Ready action:READY post
macro	kpAssign Ok label:Assign action:ASSIGN post
macro	kpArrive Ok label:Arrive action:ARRIVE post
macro	kpLoad	Ok label:Load action:LOAD post
macro	kpFull	Ok label:'Wait for $(loc) FULL' action:none post

macro	disp1	w3.T2 clear;w3.T2 write:ID&v:$1\n
macro	disp2	w3.T2 write:	x:$2\n
macro	disp3	w3.T2 write:	y:$3\n
macro	disp4	w3.T2 write:	z:$4\n
macro	disp5	w3.T2 write:h1h2:$5\n

macro	chkauto	eq? $1 9 LOC_LOAD_GPS ok_AUTO
out	LOC_LOAD_GPS	0x1106 s sendto Can_5.1

out	A_MODE_ASK	 0x83aa v	sendto Can_5.100
out	N_BEHAVIOR	 0x83a2 b	sendto up

out	A_EMERGENCY_TEST_REQ	 0x8500 v	sendto up

out	SWITCHAUTO	 0x8642 v	sendto Can_4.-2; sendto Can_5.-2
out	SWITCHSTOP	 0x8641	v	sendto Can_4.-2; sendto Can_5.-2
out	A_ENGINE_STOP	 0x8643 v	sendto Can_4.-2; sendto Can_5.-2

macro	switchLHAuto	SWITCHAUTO	
macro	switchLHStop	SWITCHSTOP
macro	engineOff	A_ENGINE_STOP
