#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Информация	     req info;ob1 $(typ);args 2;sendaction
item	Сообщение		     req mess;args 3;kplabel 'Message to $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post

item	Выставить\ Статус	     args 3;updtselect statupdate;menutype Status;Status action:menuaction post
item	Выбрать\ Приоритет	     req pri;args 4;eq? "$(directprior)" "1" DPrior post;ne? "$(directprior)" "1" Prior post
item	Выбрать\ Коэффициент\nИспользования     req util;args 2;kplabel 'Utilization';kpaction 'sendKp';Kp label:$(kplabel) post
item	Выбрать\ Материал  	     req lmat;args 2;menuselect menuactionob1;menutype Material;Material action:menuaction post
item	Прикрепить\ к\nОтвалу...	req dlck;ob2 lock;args 4;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	Открепить\ от\nОтвала   req dlck;ob2 unlock;args 4;sendaction
item	Выбрать\ Место\nПогрузки...	     req ldloc;menutype Locs;args 2;menuselect actlocmenu;Locs action:menuaction post
item	Отключить	             req dis;args 1;menuselect menuactionid;Ok label:'Disable $(id)' action:sendaction post
item	Включить	             req ena;args 1;menuselect menuactionid;Ok label:'Enable $(id)' action:sendaction post
item	Открепить\ Самосвал       req utrks;args 1;menuselect menuactionid;Ok label:'Unlock $(id)\\'s Trucks?' action:sendaction post
#item    Оператор\ Вход          kplabel 'Payroll No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

#define OBJECT Action2
#include <Cfg/Options.cfg>
item	Выход\ из\ меню	Action2 unpost
#if #arch(cgc)
itemColor	Выход\ из\ меню:Exit
#endif

