#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Информация		req info;ob1 $(typ);args 2;sendaction
item	Сообщение			req mess;args 3;kplabel 'Сообщение\ к\ $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Выставить\ Статус		args 3;updtselect statupdate;menutype Status;Status action:menuaction post
#item    Оператор\ Вход             kplabel 'Заработная плата No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

item    Выход\ из\ меню
#if #arch(cgc)
itemColor Выход\ из\ меню:Exit
#endif
