#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Вход\ в\ систему			kpLogOn
item	Выход		kpLogOff
item	Предварительная\ проверка:		kpPrestart
item	Информация...		Info post
item	ЛП\ Маршрут	        WinMgr window:w1	

item	Прикрепить\ Все\ Самосвалы	req lckall;args 0;sendaction
item	Открепить\ Все\ Самосвалы\ nот\ Отвалов	req ulalldmp;args 0;sendaction
item	Открепить\ Все\ Самосвалы\ nот\ Экскаваторов	req ulallshv;args 0;sendaction
item	Разрешить\ Все\ Самосвалы\ nна\ Экскаваторы	req uballshv;args 0;sendaction
item	Разрешить\ Все\ Самосвалы\ nна\ Отвалов		req uballdmp;args 0;sendaction

#item	Reports			Reports post
item	Очистить\ Экран		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item    Сообщить\nДиспетчеру                 kpMessage
item	Передать:		req bcast;args 2;Bcast post	

#item    Blending...                WinMgr window:w2

item    Выход\ из\ меню              Other unpost
#if #arch(cgc)
itemColor Выход\ из\ меню:Exit
#endif
