#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Вход\ в\ систему			kpLogOn
item	Выход		kpLogOff
item	Предварительная\ проверка:		kpPrestart
item	Информация...		Info post
item	ЛП\ Маршрут	        WinMgr window:w1	
item	Снимок\ GC	        snapshotUnit $(id);WinMgr window:w5	
#item	Reports			Reports post
item	Очистить\ Экран		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item	Сообщить\nДиспетчеру                 kpMessage
item	Передать:		req bcast;args 2;Bcast post	
item	Выход\ из\ меню              Other unpost
#if #arch(cgc)
itemColor	Выход\ из\ меню:Exit
#endif
