#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	экскаватора:		req shvbar;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Разгрузка:			req dmpbar;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	материал:			req matbar;menutype Load;menuselect menuactionob1;Load action:menuaction post
item	Все\ Экскаваторы	req shvbar;ob2 ubarall;sendaction
item	Все\ Отвалы			req dmpbar;ob2 ubarall;sendaction
item	Все\ Материалы		req matbar;ob2 ubarall;sendaction

item	Выход\ из\ меню              Bar unpost
#if #arch(cgc)
itemColor	Выход\ из\ меню:Exit
#endif
