#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    2
item    Acceder\nSesion         kpLogOn
item    Cerrar\nSesion        Ok label:$0 action:'LOGON -1' post
item    Mensaje         kpMessage
item    Emergencia	HELP 911 post
item    Si             kpYes
item    No              kpNo
item 	Eliminar\nTexto   w0.Text clear
#define OBJECT Actions
#include <Cfg/Options.cfg>
item 	Salir\ Menu      Actions unpost

#if #arch(cgc)
itemColor	Si:Yes
itemColor	No:No
itemColor	Salir\ Menu:Exit
itemColor       Emergencia:Down
#endif
