#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	1	ob1 direct;ob2 0;sendaction
item	2	ob1 direct;ob2 1;sendaction
item	3	ob1 direct;ob2 2;sendaction
item	4	ob1 direct;ob2 3;sendaction
item	5	ob1 direct;ob2 4;sendaction
item	6	ob1 direct;ob2 5;sendaction
item	7	ob1 direct;ob2 6;sendaction
item	8	ob1 direct;ob2 7;sendaction
item	9	ob1 direct;ob2 8;sendaction
item	10	ob1 direct;ob2 9;sendaction

item    Quitter              Prior unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif
