#!/psw/cpp   
/*
 * * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Kp2.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/05/09 22:26:06 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * * *
 */
#include <Goic/English/GeomMaster.cfg>
geom	x:0:y:0:w:640:h:VGAVERT:bw:2
map	n
relief	flat
tile	slash
titleHt	TITLEHT
font	Tiny
onpost kplabel:$(Kp2 label);Kp2.Disp font:Tiny
onunpost	eq? $(VarStringAdd) 0 ResetString;ne? $(VarStringAdd) 0 VarStringAdd $(- $(VarStringAdd) 1 );Kplabel:$(Kp2 label)
object	Label	name:Kp2.Disp	geom:x:0:y:0:w:630:h:35:bw:2	font:Tiny	relief:flat  maxchars:60 
object	Button	name:Kp2.b01	geom:x:0:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb01)'	font:Large	label:$(Cfgb01)
object	Button	name:Kp2.b02	geom:x:90:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb02)'	font:Large	label:$(Cfgb02)
object	Button	name:Kp2.b03	geom:x:180:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb03)'	font:Large	label:$(Cfgb03)
object	Button	name:Kp2.b04	geom:x:270:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb04)'	font:Large	label:$(Cfgb04)
object	Button	name:Kp2.b05	geom:x:360:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb05)'	font:Large	label:$(Cfgb05)
object	Button	name:Kp2.b06	geom:x:450:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb06)'	font:Large	label:$(Cfgb06)
object	Button	name:Kp2.b07	geom:x:540:y:ROWONEY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb07)'	font:Large	label:$(Cfgb07)
object	Button	name:Kp2.b08	geom:x:0:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb08)'	font:Large	label:$(Cfgb08)
object	Button	name:Kp2.b09	geom:x:90:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb09)'	font:Large	label:$(Cfgb09)
object	Button	name:Kp2.b10	geom:x:180:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb10)'	font:Large	label:$(Cfgb10)
object	Button	name:Kp2.b11	geom:x:270:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb11)'	font:Large	label:$(Cfgb11)
object	Button	name:Kp2.b12	geom:x:360:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb12)'	font:Large	label:$(Cfgb12)
object	Button	name:Kp2.b13	geom:x:450:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb13)'	font:Large	label:$(Cfgb13)
object	Button	name:Kp2.b14	geom:x:540:y:ROWTWOY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb14)'	font:Large	label:$(Cfgb14)
object	Button	name:Kp2.b15	geom:x:0:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb15)'	font:Large	label:$(Cfgb15)
object	Button	name:Kp2.b16	geom:x:90:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb16)'	font:Large	label:$(Cfgb16)
object	Button	name:Kp2.b17	geom:x:180:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb17)'	font:Large	label:$(Cfgb17)
object	Button	name:Kp2.b18	geom:x:270:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb18)'	font:Large	label:$(Cfgb18)
object	Button	name:Kp2.b19	geom:x:360:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb19)'	font:Large	label:$(Cfgb19)
object	Button	name:Kp2.b20	geom:x:450:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb20)'	font:Large	label:$(Cfgb20)
object	Button	name:Kp2.b21	geom:x:540:y:ROWTHRY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb21)'	font:Large	label:$(Cfgb21)
object	Button	name:Kp2.CLR	geom:x:0:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp label:""' label:$(CfgClear) font:Small
object	Button	name:Kp2.b22	geom:x:90:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb22)'	font:Large	label:$(Cfgb22)
object	Button	name:Kp2.b23	geom:x:180:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb23)'	font:Large	label:$(Cfgb23)
object	Button	name:Kp2.b24	geom:x:270:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb24)'	font:Large	label:$(Cfgb24)
object	Button	name:Kp2.b25	geom:x:360:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb25)'	font:Large	label:$(Cfgb25)
object	Button	name:Kp2.b26	geom:x:450:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb26)'	font:Large	label:$(Cfgb26)
object	Button	name:Kp2.Del	geom:x:540:y:ROWFOUY:w:90:h:BTNVERT	action:'Kp2.Disp delete' label:$(CfgDelete)	font:Small
object	Button	name:Kp2.Num	geom:x:90:y:ROWFIVY:w:90:h:69	action:'VarStringAdd $(+ $(VarStringAdd) 1 );Kn label:$(kplabel) action:$(Kp2 action) post'	label:$(CfgNumpad)	font:Large
object	Button	name:Kp2.Uc	geom:x:180:y:ROWFIVY:w:90:h:69	action:'VarStringAdd $(+ $(VarStringAdd) 1 );Ku label:$(kplabel) action:$(Kp2 action) post'	label:$(CfgUpCase)	font:Small
object	Button	name:Kp2.SPACE	geom:x:270:y:ROWFIVY:w:180:h:69	action:'Kp2.Disp append:_' label:$(CfgSpace)	font:Small
#if #arch(cgc)
#object	Button	name:Kp2.OK	geom:x:540:y:ROWFIVY:w:90:h:69	action:'$(kpaction);Kp2 unpost'	label:$(CfgOk)	font:Large
object	Button	name:Kp2.Send	geom:x:450:y:ROWFIVY:w:180:h:69	action:'$(kpaction);Kp2 unpost'	label:$(CfgSend)	font:Small
object	Button	name:Kp2.Can	geom:x:0:y:ROWFIVY:w:90:h:69	action:'ResetString;Kp2 unpost'	label:$(CfgCancel)	font:Small
#else
#object	Button	name:Kp2.OK	geom:x:540:y:ROWFIVY:w:90:h:69	action:'$(kpaction);Kp2 unpost'	label:$(CfgOk)	font:Large
object	Button	name:Kp2.Send	geom:x:450:y:ROWFIVY:w:180:h:69	action:'$(kpaction);Kp2 unpost'	label:$(CfgSend)	font:Small
object	Button	name:Kp2.Can	geom:x:0:y:ROWFIVY:w:90:h:69	action:'ResetString;Kp2 unpost'	label:$(CfgCancel)	font:Small
#endif
#undef VGAVERT
#undef TITLEHT
#undef BTNVERT
#undef ROWONEY
#undef ROWTWOY
#undef ROWTHRY
#undef ROWFOUY
#undef ROWFIVY
#undef ROWSIXY
