#!/psw/cpp
geom	bw:4
itembw	4
cols	2
map	n
hmin	120
wmin	150
item	Matériau\ 1	ob1 $1;doReq
item	Matériau\ 2	ob1 $1;doReq
item	Matériau\ 3	ob1 $1;doReq
item	Matériau\ 4	ob1 $1;doReq
#if #arch(cgc)
itemColor	Matériau\ 1:Material1
itemColor	Matériau\ 2:Material2
itemColor	Matériau\ 3:Material3
itemColor	Matériau\ 4:Material4
#endif
