#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Macro_fatg_warn.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2008/03/27 19:32:10 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file
 *            Operator Fatigue Management Utility
 * * * * * * * * * * * * * * * * * * *
 */

symbol   abortTest      60

/* If operator fails to respond we send in EQ-REQ with abort seconds     */
/* we have to multiply abortSecs by 10.1 since we are using milliseconds */

symbol   actAbort      0
macro    kpActAbort    actAbort $(* $(abortTest) 10.1)
macro    kpNoFatgResp   'kpActAbort;EQ-REQ "fatg-resp" [ "$(actAbort)" "999" ]'


macro   gotResp   WinMgr beep:0 cancel:beepOn: cancel:noResp:
macro   noResp    WinMgr beep:0;FatgTest unpost;kpNoFatgResp

/* Fatigue Warning/Test Message Code - the response time to this message is recorded on the Hub */
in      FATG-MSG    0x776    dssss     abortTest $1; setupFatgTest; postFatgTest; fatgTestOptns

macro    setupFatgTest  FatgTest.l1 label:'$2'; FatgTest.b1 label:'$3'; FatgTest.b2 label:'$4'; FatgTest.b3 label:'$5'
macro    postFatgTest   TOHUB startCounting "nil"; FatgTest action:'TOHUB sendFatgRespSecs "nil"' post
macro    fatgTestOptns  WinMgr after:$(abortTest):noResp: after:$(abortTest):'TOHUB stopCounting "nil"':


/*** DEPRECATED ************************************************************************/
# macro   beepOn    WinMgr beep:-1
# macro   beepOff   WinMgr beep:0
# macro   gotOk     WinMgr beep:0 cancel:beepOn: cancel:noOk:
# macro   noOk      WinMgr beep:0;Ok unpost;Macro NOOK:0

#out     TOHUB      0x778    s?s       sendto up
