#!/psw/cpp
#include <Version.h>
#include <Main/GspPort.h>
up	UP
connected y
module	ObjSh
module	File
object	ObjSh base:Test prompt:\'205 Board Test, vVERSION> \'
#if #up(Loop)
	module	Slip
	object	Slip
#else
	object	LoopTest name:Loop
#endif
object	Slip port:GSPPORT name:Gsp speed:9600
object	File path:y
mode	205
ssn	""
rom	x
ram	x
flash	x
e2rom	x
#if #up(Loop)
	ping	Slip
#else
	ping	Loop
#endif
ping	Gsp:rs232
ping	Gsp:rs485
ping	Gsp:20ma
done	x
