%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.12 $
 *   $Author: imascarenhas $
 *     $Date: 2015/12/17 22:24:16 $
 *    $State: Exp $
 *   Purpose: Load script for MineCare applications
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#if !defined(ISOPTION) && defined(DRIVERNAME)
#	if #arch(mlink)
#		define	CLASS	MineCare/DRIVERNAME
#		include <Hub/Main.cfg>
#	else
#		include <Main/UpPort.h>
		version	DRIVERNAME Interface, vVERSION
#		define PROMPT	\'DRIVERNAME Interface, vVERSION> \'
#		include <Main/ObjSh.h>
#		include <Main/Adc.h>
#		include <Main/OMS.h>
#	endif
#	if !#up(slip)
#		include <Main/Slip.cfg>
		object	Slip
#	endif
#endif
#if #arch(mlink) || #arch(cgc) || #arch(pe)
#	if !#done(MineCare) && !#nodo(MineCare)
		module	MineCare
		object	LCR name:lcr
		object	CEX name:cex
		object	Adapter name:adap
		object	NDP name:ndp
		object	EVP name:evp
		object	SSP name:ssp
		object	ADP name:adp
		object	DispatchProxy	name:disp
		object	Meter name:meter
		object	CST name:cst
		module	ConvMgr
		object	ConvMgr
#		if !#arch(pe)
			object	EqmtInfo  /* found within MineCare module */
#		endif
#		assert done(MineCare)
#	endif
#endif
/*
 * define the location of the adapter for the variety of devices that the
 * minecare interfaces can be running on
 */
#define	MINECARENET	default
#if #arch(mlink)
#	define	MINECARENET	192.168.201.0 /* local loopback */
#endif
#if #arch(cgc)
#	define	MINECARENET	192.168.201.0 /* local loopback */
#endif
#if #arch(hub)
#	define	MINECARENET	Master.-1
#endif
#if #arch(gsp)
#	define	MINECARENET	Loop.0
#endif
#if #arch(gspcan)
#	define	MINECARENET	Can.0
#endif
#if #do(GenericDriver) && !#done(GenericDriver) && !#arch(pe)
        module	GenericDriver
#       assert done(GenericDriver)
#endif

