%!/psw/cpp

/* Include net.cfg from Boot to inherit architecture string */

#include <Boot/net.cfg>

/* if this GC is connect via Loop, it means that the hub is not
 * masterlink but revD. We limit the size of messages going
 * out in this case
 */

#if #module(Loop)
	bufsize	128
#endif
