#define LANG_FILE       <CCClist/LANGUAGE/Actions.cfg>
#include LANG_FILE
#ifdef NEWUI
#	ifdef PORTRAIT
	item	Dict_CCC3line	doCCClist
#	else
	item	Dict_CCC2line	doCCClist
#	endif
#else
item	Dict_CCC3line	doCCClist
#endif
