/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCCItem_defaults.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2016/09/02 06:00:59 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define CCCTITLE        ""
#define CCCINIT         Neutral
#define CCCNXTMAP	n
#define CCCOBJ          0
#define CCCITM0		0
#define CCCITM1		1
#define CCCITM2		2
#define CCCITM3		3
#define	CCCITM4		4
#define CCCBTN0MAP      n
#define CCCBTN1MAP      n
#define CCCBTN2MAP      n
#define CCCBTN3MAP      n
#define CCCBTN4MAP      n

#define CCCBTN0LBL      ""
#define CCCBTN1LBL      ""
#define CCCBTN2LBL      ""
#define CCCBTN3LBL      ""
#define CCCBTN4LBL      ""

#define CCCBTN0PORT      ""
#define CCCBTN1PORT      ""
#define CCCBTN2PORT      ""
#define CCCBTN3PORT      ""
#define CCCBTN4PORT      ""

#define CCCBTN0CL      ""
#define CCCBTN1CL      ""
#define CCCBTN2CL      ""
#define CCCBTN3CL      ""
#define CCCBTN4CL      ""

#define CCCBTN0ML      ""
#define CCCBTN1ML      ""
#define CCCBTN2ML      ""
#define CCCBTN3ML      ""
#define CCCBTN4ML      ""

#define CCCBTN0FONT	default
#define CCCBTN1FONT	default
#define CCCBTN2FONT	default
#define CCCBTN3FONT	default
#define CCCBTN4FONT	default

#define CCCBTN0FONTLRG	default
#define CCCBTN1FONTLRG	default
#define CCCBTN2FONTLRG	default
#define CCCBTN3FONTLRG	default
#define CCCBTN4FONTLRG	default

#define CCCBTN0FONTCL	default
#define CCCBTN1FONTCL	default
#define CCCBTN2FONTCL	default
#define CCCBTN3FONTCL	default
#define CCCBTN4FONTCL	default

#define CCCBTN0FONTML	default
#define CCCBTN1FONTML	default
#define CCCBTN2FONTML	default
#define CCCBTN3FONTML	default
#define CCCBTN4FONTML	default
