/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCCItem_common.cfg,v $
 * $Revision: 1.6 $
 *   $Author: dcitron $
 *     $Date: 2016/09/09 04:54:19 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

#if #arch(pe.net)
#	ifdef NEWUI
#       	        ifdef PORTRAIT
                	        geom    w:600:h:800
                        	object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:550:h:50:bw:0
	                        object  Button  name:CCClist-CCCOBJ.Close      geom:x:550:y:0:w:50:h:50:bw:2
        	                object  Button  name:CCClist-CCCOBJ.Other      geom:x:0:y:734:w:200:h:66:bw:2
                	        object  Button  name:CCClist-CCCOBJ.Done       geom:x:200:y:734:w:200:h:66:bw:2
	                        object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:400:y:734:w:200:h:66:bw:2
        	                object  Button  name:CCClist-CCCOBJ.0    geom:x:0:y:50:w:600:h:136:bw:4
                	        object  Button  name:CCClist-CCCOBJ.1    geom:x:0:y:186:w:600:h:136:bw:4
	                        object  Button  name:CCClist-CCCOBJ.2    geom:x:0:y:322:w:600:h:136:bw:4
        	                object  Button  name:CCClist-CCCOBJ.3    geom:x:0:y:458:w:600:h:136:bw:4
                	        object  Button  name:CCClist-CCCOBJ.4    geom:x:0:y:594:w:600:h:136:bw:4
#    		        else
	                        geom    w:800:h:600
        	                object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:750:h:50:bw:3
                	        object  Button  name:CCClist-CCCOBJ.Close      geom:x:750:y:0:w:50:h:50:bw:2
                        	object  Button  name:CCClist-CCCOBJ.Other      geom:x:0:y:530:w:266:h:70:bw:2
   	                        object  Button  name:CCClist-CCCOBJ.Done       geom:x:266:y:530:w:266:h:70:bw:2
        	                object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:533:y:530:w:266:h:70:bw:2
                	        object  Button  name:CCClist-CCCOBJ.0    geom:x:0:y:50:w:800:h:96:bw:1
                        	object  Button  name:CCClist-CCCOBJ.1    geom:x:0:y:146:w:800:h:96:bw:1
 	                        object  Button  name:CCClist-CCCOBJ.2    geom:x:0:y:242:w:800:h:96:bw:1
        	                object  Button  name:CCClist-CCCOBJ.3    geom:x:0:y:338:w:800:h:96:bw:1
                	        object  Button  name:CCClist-CCCOBJ.4    geom:x:0:y:434:w:800:h:96:bw:1
#	               endif
	object  Button  name:CCClist-CCCOBJ.Close      label:X font:Large colors:Down action:doListClose

#	ifdef PORTRAIT
	object  Label   name:CCClist-CCCOBJ.Title      label:CCCTITLE font:Tiny
	object  Button  name:CCClist-CCCOBJ.Other      label:$(msgCCCnext) font:Tiny action:doItemNext map:CCCNXTMAP
	object  Button  name:CCClist-CCCOBJ.Done       label:$(msgCCCdone) font:Tiny action:doItemDone
	object  Button  name:CCClist-CCCOBJ.Cancel     label:$(msgCCCcancel) font:Tiny action:doItemClose
	object  Button  name:CCClist-CCCOBJ.0       label:CCCBTN0PORT font:default map:CCCBTN0MAP colors:CCCINIT action:'doCCClistItem 0'
	object  Button  name:CCClist-CCCOBJ.1       label:CCCBTN1PORT font:default map:CCCBTN1MAP colors:CCCINIT action:'doCCClistItem 1'
	object  Button  name:CCClist-CCCOBJ.2       label:CCCBTN2PORT font:default map:CCCBTN2MAP colors:CCCINIT action:'doCCClistItem 2'
	object  Button  name:CCClist-CCCOBJ.3       label:CCCBTN3PORT font:default map:CCCBTN3MAP colors:CCCINIT action:'doCCClistItem 3'
	object  Button  name:CCClist-CCCOBJ.4       label:CCCBTN4PORT font:default map:CCCBTN4MAP colors:CCCINIT action:'doCCClistItem 4'
#	else
	object  Label   name:CCClist-CCCOBJ.Title      label:CCCTITLE
	object  Button  name:CCClist-CCCOBJ.Other      label:$(msgCCCnext) font:Large action:doItemNext map:CCCNXTMAP
	object  Button  name:CCClist-CCCOBJ.Done       label:$(msgCCCdone) font:Large action:doItemDone
	object  Button  name:CCClist-CCCOBJ.Cancel     label:$(msgCCCcancel) font:Large action:doItemClose
#	if defined LARGEUI
		object  Button  name:CCClist-CCCOBJ.0       label:CCCBTN0LBL font:CCCBTN0FONTLRG map:CCCBTN0MAP colors:CCCINIT action:'doCCClistItem 0'
		object  Button  name:CCClist-CCCOBJ.1       label:CCCBTN1LBL font:CCCBTN1FONTLRG map:CCCBTN1MAP colors:CCCINIT action:'doCCClistItem 1'
		object  Button  name:CCClist-CCCOBJ.2       label:CCCBTN2LBL font:CCCBTN2FONTLRG map:CCCBTN2MAP colors:CCCINIT action:'doCCClistItem 2'
		object  Button  name:CCClist-CCCOBJ.3       label:CCCBTN3LBL font:CCCBTN3FONTLRG map:CCCBTN3MAP colors:CCCINIT action:'doCCClistItem 3'
		object  Button  name:CCClist-CCCOBJ.4       label:CCCBTN4LBL font:CCCBTN4FONTLRG map:CCCBTN4MAP colors:CCCINIT action:'doCCClistItem 4'
#	else
		object  Button  name:CCClist-CCCOBJ.0       label:CCCBTN0LBL font:CCCBTN0FONT map:CCCBTN0MAP colors:CCCINIT action:'doCCClistItem 0'
		object  Button  name:CCClist-CCCOBJ.1       label:CCCBTN1LBL font:CCCBTN1FONT map:CCCBTN1MAP colors:CCCINIT action:'doCCClistItem 1'
		object  Button  name:CCClist-CCCOBJ.2       label:CCCBTN2LBL font:CCCBTN2FONT map:CCCBTN2MAP colors:CCCINIT action:'doCCClistItem 2'
		object  Button  name:CCClist-CCCOBJ.3       label:CCCBTN3LBL font:CCCBTN3FONT map:CCCBTN3MAP colors:CCCINIT action:'doCCClistItem 3'
		object  Button  name:CCClist-CCCOBJ.4       label:CCCBTN4LBL font:CCCBTN4FONT map:CCCBTN4MAP colors:CCCINIT action:'doCCClistItem 4'
#	endif
#	endif
#	else
                geom    w:640:h:480
                object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:590:h:50:bw:3 label:CCCTITLE font:Tiny
               	object  Button  name:CCClist-CCCOBJ.Close      geom:x:590:y:0:w:50:h:50:bw:2 label:X font:Large colors:Down action:doListClose
	        object  Button  name:CCClist-CCCOBJ.Other      geom:x:0:y:415:w:213:h:65:bw:2 label:$(msgCCCnext) action:doItemNext map:CCCNXTMAP
                object  Button  name:CCClist-CCCOBJ.Done       geom:x:213:y:415:w:213:h:65:bw:2 label:$(msgCCCdone) action:doItemDone
                object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:426:y:415:w:213:h:65:bw:2 label:$(msgCCCcancel) action:doItemClose
  	       	object  Button  name:CCClist-CCCOBJ.0    geom:x:0:y:50:w:640:h:73:bw:5 label:CCCBTN0CL font:CCCBTN0FONTCL map:CCCBTN0MAP colors:CCCINIT action:'doCCClistItem 0'
                object  Button  name:CCClist-CCCOBJ.1    geom:x:0:y:123:w:640:h:73:bw:5 label:CCCBTN1CL font:CCCBTN1FONTCL map:CCCBTN1MAP colors:CCCINIT action:'doCCClistItem 1'
                object  Button  name:CCClist-CCCOBJ.2    geom:x:0:y:196:w:640:h:73:bw:5 label:CCCBTN2CL font:CCCBTN2FONTCL map:CCCBTN2MAP colors:CCCINIT action:'doCCClistItem 2'
   	        object  Button  name:CCClist-CCCOBJ.3    geom:x:0:y:269:w:640:h:73:bw:5 label:CCCBTN3CL font:CCCBTN3FONTCL map:CCCBTN3MAP colors:CCCINIT action:'doCCClistItem 3'
                object  Button  name:CCClist-CCCOBJ.4    geom:x:0:y:342:w:640:h:73:bw:5 label:CCCBTN4CL font:CCCBTN4FONTCL map:CCCBTN4MAP colors:CCCINIT action:'doCCClistItem 4'
#	endif
#else
geom    w:640:h:480
object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:590:h:40:bw:3 label:CCCTITLE font:Tiny
object  Button  name:CCClist-CCCOBJ.Close      geom:x:590:y:0:w:50:h:40:bw:2 label:X font:Large colors:Down action:doListClose
object  Button  name:CCClist-CCCOBJ.Other      geom:x:0:y:425:w:213:h:55:bw:5 label:$(msgCCCnext) action:doItemNext map:CCCNXTMAP
object  Button  name:CCClist-CCCOBJ.Done       geom:x:213:y:425:w:213:h:55:bw:5 label:$(msgCCCdone) action:doItemDone
object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:426:y:425:w:213:h:55:bw:5 label:$(msgCCCcancel) action:doItemClose
object  Button  name:CCClist-CCCOBJ.0    geom:x:0:y:40:w:640:h:77:bw:3 label:CCCBTN0ML font:CCCBTN0FONTML map:CCCBTN0MAP colors:CCCINIT action:'doCCClistItem 0'
object  Button  name:CCClist-CCCOBJ.1    geom:x:0:y:117:w:640:h:77:bw:3 label:CCCBTN1ML font:CCCBTN1FONTML map:CCCBTN1MAP colors:CCCINIT action:'doCCClistItem 1'
object  Button  name:CCClist-CCCOBJ.2    geom:x:0:y:194:w:640:h:77:bw:3 label:CCCBTN2ML font:CCCBTN2FONTML map:CCCBTN2MAP colors:CCCINIT action:'doCCClistItem 2'
object  Button  name:CCClist-CCCOBJ.3    geom:x:0:y:271:w:640:h:77:bw:3 label:CCCBTN3ML font:CCCBTN3FONTML map:CCCBTN3MAP colors:CCCINIT action:'doCCClistItem 3'
object  Button  name:CCClist-CCCOBJ.4    geom:x:0:y:348:w:640:h:77:bw:3 label:CCCBTN4ML font:CCCBTN4FONTML map:CCCBTN4MAP colors:CCCINIT action:'doCCClistItem 4'
#endif
