/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCClist_defaults.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2016/09/02 06:00:59 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define CCCTITLE        ""
#define CCCNAVMAP       n
#define CCCSENDMAP	n
#define CCCOBJ          0
#define CCCBTN0MAP      n
#define CCCBTN1MAP      n
#define CCCBTN2MAP      n
#define CCCBTN3MAP      n
#define CCCBTN4MAP      n
#define CCCBTN5MAP      n
#define CCCBTN6MAP      n
#define CCCBTN7MAP      n
#define CCCBTN8MAP      n
#define CCCBTN9MAP      n

#define CCCBTN0LBL      ""
#define CCCBTN1LBL      ""
#define CCCBTN2LBL      ""
#define CCCBTN3LBL      ""
#define CCCBTN4LBL      ""
#define CCCBTN5LBL      ""
#define CCCBTN6LBL      ""
#define CCCBTN7LBL      ""
#define CCCBTN8LBL      ""
#define CCCBTN9LBL      ""

#define CCCBTN0CL      ""
#define CCCBTN1CL      ""
#define CCCBTN2CL      ""
#define CCCBTN3CL      ""
#define CCCBTN4CL      ""
#define CCCBTN5CL      ""
#define CCCBTN6CL      ""
#define CCCBTN7CL      ""
#define CCCBTN8CL      ""
#define CCCBTN9CL      ""

#define CCCBTN0ML      ""
#define CCCBTN1ML      ""
#define CCCBTN2ML      ""
#define CCCBTN3ML      ""
#define CCCBTN4ML      ""
#define CCCBTN5ML      ""
#define CCCBTN6ML      ""
#define CCCBTN7ML      ""
#define CCCBTN8ML      ""
#define CCCBTN9ML      ""

#define BTN0FONT	default
#define BTN1FONT	default
#define BTN2FONT	default
#define BTN3FONT	default
#define BTN4FONT	default
#define BTN5FONT	default
#define BTN6FONT	default
#define BTN7FONT	default
#define BTN8FONT	default
#define BTN9FONT	default

#define BTN0FONTLRG	default
#define BTN1FONTLRG	default
#define BTN2FONTLRG	default
#define BTN3FONTLRG	default
#define BTN4FONTLRG	default
#define BTN5FONTLRG	default
#define BTN6FONTLRG	default
#define BTN7FONTLRG	default
#define BTN8FONTLRG	default
#define BTN9FONTLRG	default

#define BTN0FONTCL	default
#define BTN1FONTCL	default
#define BTN2FONTCL	default
#define BTN3FONTCL	default
#define BTN4FONTCL	default
#define BTN5FONTCL	default
#define BTN6FONTCL	default
#define BTN7FONTCL	default
#define BTN8FONTCL	default
#define BTN9FONTCL	default

#define BTN0FONTML	default
#define BTN1FONTML	default
#define BTN2FONTML	default
#define BTN3FONTML	default
#define BTN4FONTML	default
#define BTN5FONTML	default
#define BTN6FONTML	default
#define BTN7FONTML	default
#define BTN8FONTML	default
#define BTN9FONTML	default
