/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCClist_common.cfg,v $
 * $Revision: 1.5 $
 *   $Author: dcitron $
 *     $Date: 2016/09/02 21:03:57 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

#if #arch(pe.net)
#	ifdef NEWUI
#			define  BTNFONT	Large
#               	ifdef PORTRAIT
#				define	BTNFONT2 Tiny
#				define	BTNFONTTITLE Tiny
 	                       geom    w:600:h:800
        	                object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:550:h:50:bw:0
                	        object  Button  name:CCClist-CCCOBJ.Close      geom:x:550:y:0:w:50:h:50:bw:2
                        	object  Button  name:CCClist-CCCOBJ.Prev       geom:x:0:y:734:w:150:h:66:bw:2
	                        object  Button  name:CCClist-CCCOBJ.Send       geom:x:150:y:734:w:150:h:66:bw:2
        	                object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:300:y:734:w:150:h:66:bw:2
               		        object  Button  name:CCClist-CCCOBJ.Home       geom:x:450:y:734:w:150:h:66:bw:2
	                       	object  Button  name:CCClist-CCCOBJ.0       geom:x:0:y:50:w:600:h:68:bw:5
        	                object  Button  name:CCClist-CCCOBJ.1       geom:x:0:y:118:w:600:h:68:bw:5
                        	object  Button  name:CCClist-CCCOBJ.2       geom:x:0:y:186:w:600:h:68:bw:5
	                        object  Button  name:CCClist-CCCOBJ.3       geom:x:0:y:254:w:600:h:68:bw:5
        	                object  Button  name:CCClist-CCCOBJ.4       geom:x:0:y:322:w:600:h:68:bw:5
                	        object  Button  name:CCClist-CCCOBJ.5       geom:x:0:y:390:w:600:h:68:bw:5
                        	object  Button  name:CCClist-CCCOBJ.6       geom:x:0:y:458:w:600:h:68:bw:5
	                        object  Button  name:CCClist-CCCOBJ.7       geom:x:0:y:526:w:600:h:68:bw:5
        	                object  Button  name:CCClist-CCCOBJ.8       geom:x:0:y:594:w:600:h:68:bw:5
                	        object  Button  name:CCClist-CCCOBJ.9       geom:x:0:y:662:w:600:h:68:bw:5
#          	        else
#				define	BTNFONT2 Large
#				define	BTNFONTTITLE default
                   	        geom    w:800:h:600
	                        object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:750:h:50:bw:3
        	                object  Button  name:CCClist-CCCOBJ.Close      geom:x:750:y:0:w:50:h:50:bw:2
                	        object  Button  name:CCClist-CCCOBJ.Prev       geom:x:0:y:530:w:200:h:70:bw:2
                        	object  Button  name:CCClist-CCCOBJ.Send       geom:x:200:y:530:w:200:h:70:bw:2
	                        object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:400:y:530:w:200:h:70:bw:2
        	                object  Button  name:CCClist-CCCOBJ.Home       geom:x:600:y:530:w:200:h:70:bw:2
                	        object  Button  name:CCClist-CCCOBJ.0       geom:x:0:y:50:w:400:h:96:bw:5
                        	object  Button  name:CCClist-CCCOBJ.1       geom:x:400:y:50:w:400:h:96:bw:5
	                        object  Button  name:CCClist-CCCOBJ.2       geom:x:0:y:146:w:400:h:96:bw:5
        	                object  Button  name:CCClist-CCCOBJ.3       geom:x:400:y:146:w:400:h:96:bw:5
                	        object  Button  name:CCClist-CCCOBJ.4       geom:x:0:y:242:w:400:h:96:bw:5
                        	object  Button  name:CCClist-CCCOBJ.5       geom:x:400:y:242:w:400:h:96:bw:5
	                        object  Button  name:CCClist-CCCOBJ.6       geom:x:0:y:338:w:400:h:96:bw:5
        	                object  Button  name:CCClist-CCCOBJ.7       geom:x:400:y:338:w:400:h:96:bw:5
                	        object  Button  name:CCClist-CCCOBJ.8       geom:x:0:y:434:w:400:h:96:bw:5
	                        object  Button  name:CCClist-CCCOBJ.9       geom:x:400:y:434:w:400:h:96:bw:5
#       	        endif
	object  Label   name:CCClist-CCCOBJ.Title      label:CCCTITLE font:BTNFONTTITLE
	object  Button  name:CCClist-CCCOBJ.Close      label:X font:Large colors:Down action:doListClose
	object  Button  name:CCClist-CCCOBJ.Prev       label:$(msgCCCprev) font:BTNFONT2 action:doListPrev map:CCCNAVMAP
	object  Button  name:CCClist-CCCOBJ.Home       label:$(msgCCChome) font:BTNFONT2 action:doListHome map:CCCNAVMAP
	object  Button  name:CCClist-CCCOBJ.Cancel     label:$(msgCCCcancel) font:BTNFONT2 action:doListClose
	object  Button  name:CCClist-CCCOBJ.Send       label:$(msgCCCsend) font:BTNFONT2 action:doListSend map:CCCSENDMAP

#	if defined SMALLUI
		object  Button  name:CCClist-CCCOBJ.0       label:CCCBTN0LBL font:BTN0FONT map:CCCBTN0MAP action:'doCCClistSub 0'
		object  Button  name:CCClist-CCCOBJ.1       label:CCCBTN1LBL font:BTN1FONT map:CCCBTN1MAP action:'doCCClistSub 1'
		object  Button  name:CCClist-CCCOBJ.2       label:CCCBTN2LBL font:BTN2FONT map:CCCBTN2MAP action:'doCCClistSub 2'
		object  Button  name:CCClist-CCCOBJ.3       label:CCCBTN3LBL font:BTN3FONT map:CCCBTN3MAP action:'doCCClistSub 3'
		object  Button  name:CCClist-CCCOBJ.4       label:CCCBTN4LBL font:BTN4FONT map:CCCBTN4MAP action:'doCCClistSub 4'
		object  Button  name:CCClist-CCCOBJ.5       label:CCCBTN5LBL font:BTN5FONT map:CCCBTN5MAP action:'doCCClistSub 5'
		object  Button  name:CCClist-CCCOBJ.6       label:CCCBTN6LBL font:BTN6FONT map:CCCBTN6MAP action:'doCCClistSub 6'
		object  Button  name:CCClist-CCCOBJ.7       label:CCCBTN7LBL font:BTN7FONT map:CCCBTN7MAP action:'doCCClistSub 7'
		object  Button  name:CCClist-CCCOBJ.8       label:CCCBTN8LBL font:BTN8FONT map:CCCBTN8MAP action:'doCCClistSub 8'
		object  Button  name:CCClist-CCCOBJ.9       label:CCCBTN9LBL font:BTN9FONT map:CCCBTN9MAP action:'doCCClistSub 9'
#	else
		object  Button  name:CCClist-CCCOBJ.0       label:CCCBTN0LBL font:BTN0FONTLRG map:CCCBTN0MAP action:'doCCClistSub 0'
		object  Button  name:CCClist-CCCOBJ.1       label:CCCBTN1LBL font:BTN1FONTLRG map:CCCBTN1MAP action:'doCCClistSub 1'
		object  Button  name:CCClist-CCCOBJ.2       label:CCCBTN2LBL font:BTN2FONTLRG map:CCCBTN2MAP action:'doCCClistSub 2'
		object  Button  name:CCClist-CCCOBJ.3       label:CCCBTN3LBL font:BTN3FONTLRG map:CCCBTN3MAP action:'doCCClistSub 3'
		object  Button  name:CCClist-CCCOBJ.4       label:CCCBTN4LBL font:BTN4FONTLRG map:CCCBTN4MAP action:'doCCClistSub 4'
		object  Button  name:CCClist-CCCOBJ.5       label:CCCBTN5LBL font:BTN5FONTLRG map:CCCBTN5MAP action:'doCCClistSub 5'
		object  Button  name:CCClist-CCCOBJ.6       label:CCCBTN6LBL font:BTN6FONTLRG map:CCCBTN6MAP action:'doCCClistSub 6'
		object  Button  name:CCClist-CCCOBJ.7       label:CCCBTN7LBL font:BTN7FONTLRG map:CCCBTN7MAP action:'doCCClistSub 7'
		object  Button  name:CCClist-CCCOBJ.8       label:CCCBTN8LBL font:BTN8FONTLRG map:CCCBTN8MAP action:'doCCClistSub 8'
		object  Button  name:CCClist-CCCOBJ.9       label:CCCBTN9LBL font:BTN9FONTLRG map:CCCBTN9MAP action:'doCCClistSub 9'
#	endif
#	else
#		define  BTNFONT	default
#		define	BTNFONT2 default
#		define	BTNFONTTITLE Tiny
               	geom    w:640:h:480
                object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:590:h:50:bw:3 label:CCCTITLE font:BTNFONTTITLE
       	        object  Button  name:CCClist-CCCOBJ.Close      geom:x:590:y:0:w:50:h:50:bw:2 label:X font:Large colors:Down action:doListClose
               	object  Button  name:CCClist-CCCOBJ.Prev       geom:x:0:y:415:w:160:h:65:bw:2 label:$(msgCCCprev) font:BTNFONT2 action:doListPrev map:CCCNAVMAP
                object  Button  name:CCClist-CCCOBJ.Send       geom:x:160:y:415:w:160:h:65:bw:2 label:$(msgCCCsend) font:BTNFONT2 action:doListSend map:CCCSENDMAP
       	        object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:320:y:415:w:160:h:65:bw:2 label:$(msgCCCcancel) font:BTNFONT2 action:doListClose
                object  Button  name:CCClist-CCCOBJ.Home       geom:x:480:y:415:w:160:h:65:bw:2 label:$(msgCCChome) font:BTNFONT2 action:doListHome map:CCCNAVMAP
       	        object  Button  name:CCClist-CCCOBJ.0       geom:x:0:y:50:w:320:h:73:bw:5 label:CCCBTN0CL font:BTN0FONTCL map:CCCBTN0MAP action:'doCCClistSub 0'
               	object  Button  name:CCClist-CCCOBJ.1       geom:x:320:y:50:w:320:h:73:bw:5 label:CCCBTN1CL font:BTN1FONTCL map:CCCBTN1MAP action:'doCCClistSub 1'
                object  Button  name:CCClist-CCCOBJ.2       geom:x:0:y:123:w:320:h:73:bw:5 label:CCCBTN2CL font:BTN2FONTCL map:CCCBTN2MAP action:'doCCClistSub 2'
       	        object  Button  name:CCClist-CCCOBJ.3       geom:x:320:y:123:w:320:h:73:bw:5 label:CCCBTN3CL font:BTN3FONTCL map:CCCBTN3MAP action:'doCCClistSub 3'
               	object  Button  name:CCClist-CCCOBJ.4       geom:x:0:y:196:w:320:h:73:bw:5 label:CCCBTN4CL font:BTN4FONTCL map:CCCBTN4MAP action:'doCCClistSub 4'
                object  Button  name:CCClist-CCCOBJ.5       geom:x:320:y:196:w:320:h:73:bw:5 label:CCCBTN5CL font:BTN5FONTCL map:CCCBTN5MAP action:'doCCClistSub 5'
       	        object  Button  name:CCClist-CCCOBJ.6       geom:x:0:y:269:w:320:h:73:bw:5 label:CCCBTN6CL font:BTN6FONTCL map:CCCBTN6MAP action:'doCCClistSub 6'
               	object  Button  name:CCClist-CCCOBJ.7       geom:x:320:y:269:w:320:h:73:bw:5 label:CCCBTN7CL font:BTN7FONTCL map:CCCBTN7MAP action:'doCCClistSub 7'
                object  Button  name:CCClist-CCCOBJ.8       geom:x:0:y:342:w:320:h:73:bw:5 label:CCCBTN8CL font:BTN8FONTCL map:CCCBTN8MAP action:'doCCClistSub 8'
       	        object  Button  name:CCClist-CCCOBJ.9       geom:x:320:y:342:w:320:h:73:bw:5 label:CCCBTN9CL font:BTN9FONTCL map:CCCBTN9MAP action:'doCCClistSub 9'

#	endif
#else
geom    w:640:h:480
object  Label   name:CCClist-CCCOBJ.Title      geom:x:0:y:0:w:590:h:40:bw:3 label:CCCTITLE font:Tiny
object  Button  name:CCClist-CCCOBJ.Close      geom:x:590:y:0:w:50:h:40:bw:2 label:X font:Large colors:Down action:doListClose
object  Button  name:CCClist-CCCOBJ.Prev       geom:x:0:y:425:w:160:h:55:bw:5 label:$(msgCCCprev) action:doListPrev map:CCCNAVMAP
object  Button  name:CCClist-CCCOBJ.Home       geom:x:480:y:425:w:160:h:55:bw:5 label:$(msgCCChome) action:doListHome map:CCCNAVMAP
object  Button  name:CCClist-CCCOBJ.Cancel     geom:x:320:y:425:w:160:h:55:bw:5 label:$(msgCCCcancel) action:doListClose
object  Button  name:CCClist-CCCOBJ.Send       geom:x:160:y:425:w:160:h:55:bw:5 label:$(msgCCCsend) action:doListSend map:CCCSENDMAP

object  Button  name:CCClist-CCCOBJ.0       geom:x:0:y:40:w:320:h:77:bw:3 label:CCCBTN0ML font:BTN0FONTML map:CCCBTN0MAP action:'doCCClistSub 0'
object  Button  name:CCClist-CCCOBJ.1       geom:x:320:y:40:w:320:h:77:bw:3 label:CCCBTN1ML font:BTN1FONTML map:CCCBTN1MAP action:'doCCClistSub 1'
object  Button  name:CCClist-CCCOBJ.2       geom:x:0:y:117:w:320:h:77:bw:3 label:CCCBTN2ML font:BTN2FONTML map:CCCBTN2MAP action:'doCCClistSub 2'
object  Button  name:CCClist-CCCOBJ.3       geom:x:320:y:117:w:320:h:77:bw:3 label:CCCBTN3ML font:BTN3FONTML map:CCCBTN3MAP action:'doCCClistSub 3'
object  Button  name:CCClist-CCCOBJ.4       geom:x:0:y:194:w:320:h:77:bw:3 label:CCCBTN4ML font:BTN4FONTML map:CCCBTN4MAP action:'doCCClistSub 4'
object  Button  name:CCClist-CCCOBJ.5       geom:x:320:y:194:w:320:h:77:bw:3 label:CCCBTN5ML font:BTN5FONTML map:CCCBTN5MAP action:'doCCClistSub 5'
object  Button  name:CCClist-CCCOBJ.6       geom:x:0:y:271:w:320:h:77:bw:3 label:CCCBTN6ML font:BTN6FONTML map:CCCBTN6MAP action:'doCCClistSub 6'
object  Button  name:CCClist-CCCOBJ.7       geom:x:320:y:271:w:320:h:77:bw:3 label:CCCBTN7ML font:BTN7FONTML map:CCCBTN7MAP action:'doCCClistSub 7'
object  Button  name:CCClist-CCCOBJ.8       geom:x:0:y:348:w:320:h:77:bw:3 label:CCCBTN8ML font:BTN8FONTML map:CCCBTN8MAP action:'doCCClistSub 8'
object  Button  name:CCClist-CCCOBJ.9       geom:x:320:y:348:w:320:h:77:bw:3 label:CCCBTN9ML font:BTN9FONTML map:CCCBTN9MAP action:'doCCClistSub 9'
#endif
