#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.8 $
 *   $Author: dcitron $
 *     $Date: 2016/11/18 05:27:46 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

#ifdef NEWUI && #ifndef UGUI
symbol	cccNewUi y
macro	showResultErr	MessageBox "$(CCCIncompleteLbl)" "$(PressOkLbl)"
macro	showNoOperErr	MessageBox "$(msgCCCoper)" "$(PressOkLbl)"
#else
#include <CCClist/Newui_helper.cfg>
symbol	cccNewUi n
#macro	showResultErr	Ok action:'' label:$(CCCIncompleteLbl) post
macro	showResultErr	MsgBox.Label label:"$(CCCIncompleteLbl)";MsgBoxOk;MsgBox.Title label:"";MsgBox.Ok action:doCCCMsgBoxOk;MsgBox map:y
macro	showNoOperErr	MsgBox.Label label:"$(msgCCCoper)";MsgBoxOk;MsgBox.Title label:"";MsgBox.Ok action:doCCCMsgBoxOk;MsgBox map:y
macro	doCCCMsgBoxOk	MsgBox map:n;MsgBox.Ok action:doMsgBoxOk
#endif
in      CCCWindowStart     INT_RPC s?d     WinMgr window:$1
in      PostCCCWindow      INT_RPC s?d     $1 map:y
in      UnpostCCCWindow    INT_RPC s       $1 map:n
macro	CCCWindowClose	WinMgr window:w0

#macro   doCCClist	doCCCStart;PostCCCWindow "CCClist-0" MENU_LAYER
macro   doCCClist	doCCCStart;CCCWindowStart "CCClist-0" MENU_LAYER
macro	doCCCStart	sendCCCStart;curCCCobj 0;itemOffset 0;curItemPg 1;pgCCCobj 0
macro	sendCCCStart	EQ-REQ "CCCStart" [ $(CCClistUnit) ]
macro	doCCCEnd	EQ-REQ "CCCEnd" [ $(CCClistUnit) ]
macro	doListPrev	PostCCCWindow "CCClist-$(prevCCCobj)";doPrevClose
macro	doListHome	prevCCCobj 0;doListPrev
macro	doPrevClose	UnpostCCCWindow "CCClist-$(curCCCobj)";setNavItems
#macro	doListClose	UnpostCCCWindow "CCClist-$(prevCCCobj)";UnpostCCCWindow "CCClist-$(curCCCobj)";doCCCEnd
macro	doListClose	CCCWindowClose;doCCCEnd
macro	doListSend	eq? $(CCCPartialOk) 1 listSendDone;ne? $(CCCPartialOk) 1 listSendAll;
macro	listSendDone	doListClose;foreach $(CCCitemlists);do checkListResult2 \$2;WinMgr after:5:sendPartialDone
macro	listSendAll	checkAllResults;eq? $(CCCsendOK) y doCCCResults;eq? $(CCCsendOK) n showResultErr
macro	doItemNext	showItemPg $(curItemPg)
macro	doItemDone	buildResult;eq? $(CCCresultOK.$(curCCCobj)) n showResultErr;eq? $(CCCresultOK.$(curCCCobj)) y doItemDone2
macro	doItemDone2	doItemClose;eq? $(isPriItemList) y doListSend
in      doCCClistSub    INT_RPC d	itemOffset 0;curItemPg 1;closeCCCobj $(prevCCCobj);prevCCCobj $(curCCCobj);curCCCobj $(curCCCobj)-$1;pgCCCobj $(curCCCobj);PostCCCWindow "CCClist-$(curCCCobj)" MENU_LAYER;doCloseObj
macro	doCloseObj	ne? $(prevCCCobj) 0 UnpostCCCWindow "CCClist-$(closeCCCobj)"
in	doCCClistItem	INT_RPC d	curItem $(+ $(itemOffset) $1);curBtn $1;setCCCItem 
in	showItemPg	INT_RPC d	eq? $1 1 showItemPg2;ne? $1 1 showItemPg1
macro	showItemPg1	pgCCCobj $(curCCCobj);itemOffset 0;curItemPg 1;PostCCCWindow "CCClist-$(curCCCobj)" MENU_LAYER;UnpostCCCWindow "CCClist-$(curCCCobj)_2"
macro	showItemPg2	pgCCCobj $(curCCCobj)_2;itemOffset 5;curItemPg 2;PostCCCWindow "CCClist-$(curCCCobj)_2" MENU_LAYER;UnpostCCCWindow "CCClist-$(curCCCobj)"
macro	doItemClose	ne? $(isPriItemList) y doItemClose2;eq? $(isPriItemList) y doListClose
macro	doItemClose2	eq? $(curItemPg) 1 UnpostCCCWindow "CCClist-$(curCCCobj)";ne? $(curItemPg) 1 UnpostCCCWindow "CCClist-$(curCCCobj)_2";setNavItems
macro	setNavItems	curCCCobj $(prevCCCobj);prevCCCobj $(CCClist.$(curCCCobj).parent);itemOffset 0;curItemPg 1;pgCCCobj 0

macro	setCCCItem	tempState $(CCCitem.$(curCCCobj).$(curItem));\
                        eq? $(tempState) $(CCCNeutEnum) passCCCItem;\
                        eq? $(tempState) $(CCCPassEnum) failCCCItem;\
                        eq? $(tempState) $(CCCFailEnum) passCCCItem
macro	passCCCItem	CCCitem.$(curCCCobj).$(curItem) $(CCCPassEnum);CCClist-$(pgCCCobj).$(curBtn) colors:Pass
macro	failCCCItem	CCCitem.$(curCCCobj).$(curItem) $(CCCFailEnum);CCClist-$(pgCCCobj).$(curBtn) colors:Fail
macro	neutCCCItem	CCCitem.$(curCCCobj).$(curItem) $(CCCNeutEnum);CCClist-$(pgCCCobj).$(curBtn) colors:Neutral

macro	buildResult	CCCresult.$(curCCCobj) $(nil);CCCresultOK.$(curCCCobj) y;foreach $(arglist10);do checkItemResult \$1
in	checkItemResult	INT_RPC d	CCCresult.$(curCCCobj) $(CCCresult.$(curCCCobj)) $(CCCitem.$(curCCCobj).$1);\
                                        eq? $(CCCitem.$(curCCCobj).$1) $(CCCNeutEnum) CCCresultOK.$(curCCCobj) n
macro	checkAllResults	CCCsendOK y;foreach $(CCCitemlists);do checkListResult \$2
in	checkListResult	INT_RPC s	eq? $(CCCresultOK.$1) n CCCsendOK n
macro	doCCCResults	doListClose;foreach $(CCCitemlists);do getCCCResults \$2;doCCCReset
in	getCCCResults	INT_RPC s	resultCCCobj $1;listResult $(CCCresult.$1);sendCCCResult
macro	sendCCCResult	EQ-REQ "CCCResult" [ $(CCClistUnit) $(resultCCCobj) $(listResult) ]
in	checkListResult2	INT_RPC	s	eq? $(CCCresultOK.$1) y sendDoneResult $1
in	sendDoneResult	INT_RPC s	getCCCResults $1;resetItemList $1
macro	sendPartialDone	EQ-REQ "CCCResult" [ $(CCClistUnit) $(resultCCCobj) "partialDone" ] 	

macro	doCCCReset	foreach $(CCCitemlists);do resetItemList \$2
in	resetItemList	INT_RPC s	curCCCobj $1;pgCCCobj $1;CCCresultOK.$1 n;foreach $(arglist10);do resetItem \$1
in	resetItem	INT_RPC d	curItem $1;curBtn $1;eq? $(min $1 5) 5 resetPgBtn;ne? $(CCCitem.$(curCCCobj).$1) -1 resetItem2
macro	resetPgBtn	pgCCCobj $(curCCCobj)_2;curBtn $(- $(curItem) 5)
macro	resetItem2	eq? $(CCClistInit) $(CCCNeutEnum) neutCCCItem;\
                        eq? $(CCClistInit) $(CCCPassEnum) passCCCItem;\
                        eq? $(CCClistInit) $(CCCFailEnum) failCCCItem
macro	CCCNoOper	WinMgr after:1:doCCCNoOper
macro	doCCCNoOper	doCCCClose;showNoOperErr
#macro	doCCCClose	doListClose;doItemClose
macro	doCCCClose	doListClose

symbol  arglist10       0 1 2 3 4 5 6 7 8 9
symbol curCCCobj	0
symbol prevCCCobj	0
symbol closeCCCobj	0
symbol pgCCCobj		0
symbol curItemPg	1
symbol itemOffset	0
symbol curItem		0
symbol curBtn		0
symbol tempState	
symbol resultCCCobj
symbol listResult
symbol resetCCCobj
symbol isPriItemList	n
symbol  CCCsendOK n

message CCCFailEnum      0
message CCCPassEnum      1
message CCCNeutEnum      2

#ifndef LANGUAGE
#       define LANGUAGE English
#endif
#define LANG_FILE       <CCClist/LANGUAGE/Macro.cfg>
#include LANG_FILE
