#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Мэдээлэл	     req info;ob1 $(typ);args 2;sendaction
item	Мессеж		     req mess;args 3;kplabel '$(id)-руу илгээж буй мессеж';kpaction 'frmnmess';Kp2 label:$(kplabel) post

item	Статусыг\ тохируулах	     args 3;updtselect statupdate;menutype Status;Status action:menuaction post
item	Чухлын\ зэргээр\ нь\ тохируулах	     req pri;args 4;eq? "$(directprior)" "1" DPrior post;ne? "$(directprior)" "1" Prior post
item    Ашиглалтыг\ тохируулах     req util;args 2;kplabel 'Utilization';kpaction 'sendKp';Kp label:$(kplabel) post
item	Материалыг\ тааруулах  	     req lmat;args 2;menuselect menuactionob1;menutype Material;Material action:menuaction post
item	...овоолгоруу\nтyгжих	req dlck;ob2 lock;args 4;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	овоолгоос\ тyгжээг\nтайлах   req dlck;ob2 unlock;args 4;sendaction
item	Ачилтын\ байршлыг\nтохируулах	     req ldloc;menutype Locs;args 2;menuselect actlocmenu;Locs action:menuaction post
item	Ажиллагааг\ салгах	             req dis;args 1;menuselect menuactionid;Ok label:'$(id)-н ажиллагааг салгах' action:sendaction post
item	Ажиллагааг\ идэвхжyyлэх	             req ena;args 1;menuselect menuactionid;Ok label:'$(id)-н ажиллагааг идэвхжyyлэх' action:sendaction post
item	Ачааны\ машинуудыг\ тyгжээг\ тайлах       req utrks;args 1;menuselect menuactionid;Ok label:'$(id) машиныг нээх yy?' action:sendaction post
#item    Oper\ Login          kplabel 'Payroll No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

#define OBJECT Action2
#include <Cfg/Options.cfg>
item	Цэснээс\nгарах	Action2 unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif

