#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Мэдээлэл	     req info;ob1 $(typ);args 2;sendaction
item	Мессеж		     req mess;args 3;kplabel '$(id)-руу илгээж буй мессеж';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    GC\ кадр\ "агуулах"            snapshotUnit $(id);GetSnapshot
item	Цэснээс\nгарах	Action2 unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif

