#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Экскаватор		req asn2shv;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Байршил	req asn2loc;menutype Locs;menuselect actlocmenu;Locs action:menuaction post

item    Цэснээс\nгарах              ManAsn unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif
