#!/psw/cpp
/*
 * Client specific Hub configuration file.
 * SGK 02/06/15
 */

out     TOGC    0x26    s      	sendto Goic
in      TOHUB   0x27    ss      HubCommand $1;DisplayOnGc $2;$(HubCommand)

/* General symbols */
symbol	ReturnVal	na
symbol	HubCommand	na
symbol	DisplayOnGc 	w0.v3 label:

/* Masterlink Diagnostics symbols and macros */
symbol  UseMLDiag       yes
symbol	DefaultNone	"None Found"
symbol  RadioQuality    "wan0 quality"
symbol  AccessPointDesc "wan0 description"

macro   TestPrismRadio  eq? "$(UseMLDiag)" "yes" GetRadioQuality
macro	SetNoneFound	ReturnVal $(DefaultNone)
macro   GetRadioQuality ReturnVal $($(RadioQuality));ne? "$(ReturnVal)" "Scanning" GetAPDesc;eq? "$(ReturnVal)" "Scanning" SetNoneFound;SendAPDesc
macro   GetAPDesc       ReturnVal $($(AccessPointDesc))
macro   SendAPDesc      TOGC $(DisplayOnGc)"$(ReturnVal)"
