#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.12 $
 *   $Author: smartins $
 *     $Date: 2020/04/28 23:22:25 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* w0  */
message	MatlLbl		Materiais

/* Production Information (wInfo) View */
message	ProdInfoHeader	' "Tons Total       " "Total Cargas     " "ÚltimaHr Tons     " "ÚltimaHr Cargas  " "Caminhões em Rota " '

/* Load Side */
message LoadSideLbl	"Seleccionar O Lado Para Carregar"
message LoadSide0	"Nenhum"
message LoadSide1	"Esquerdo"
message LoadSide2	"Direito"
message LoadSide3	"Ambos"
message LoadSideLock	"Permanente"

/* Remaining Buckets Beep */
message RemBktBeepON	"Beep para caçambadas restantes LIGADO"
message RemBktBeepOFF	"Beep para caçambadas restantes DESLIGADO"

/* Mobile Api text display */
message LoadingLbl Carregando
message RemainingLbl Caçambadas
message OverTargetLbl carga excedida
message HasMsg	tem
message BucketTransactionMsg	tons após a caçambada