#!/psw/cpp
#include <Version.h>
up	Loop
connected y
module	Slip
object	ObjSh base:Test prompt:\'181 Test, vVERSION> \'
object	Adc
object	Slip port:scc0a name:Gsp speed:4800
mode	181
ssn	""
rom	x
e2rom	x
adc	x
chan	x
ping	Gsp:rs232
ping	Gsp:rs485
ping	Gsp:20ma
done	x
