%!/psw/cpp

#if #option(StoreForward)
out	ASSIGN	0x01	d	noTalkRpc ASSIGN;checkComms;sendto up spooled
out	ARRIVE	0x02	d	noTalkRpc ARRIVE;checkComms;sendto up spooled
out	LOAD	0x03	d	noTalkRpc LOAD;checkComms;sendto up spooled
out	DELAY	0x07	d	noTalkRpc DELAY;checkComms;more 1;sendto up spooled
out	DOWN	0x08	d	noTalkRpc DOWN;checkComms;more 1;sendto up spooled
out	READY	0x09	d	noTalkRpc READY;checkComms;more 1;sendto up spooled
out	STANDBY	0x0a	d	noTalkRpc STANDBY;checkComms;more 1;sendto up spooled
out	FULL	0x10	s?s	noTalkRpc FULL;checkComms;sendto up spooled
#else
out     ASSIGN  0x01    d       checkComms;sendto up
out     ARRIVE  0x02    d       checkComms;sendto up
out     LOAD    0x03    d       checkComms;sendto up
out     DELAY   0x07    d       checkComms;more 1;sendto up
out     DOWN    0x08    d       checkComms;more 1;sendto up
out     READY   0x09    d       checkComms;more 1;sendto up
out     STANDBY 0x0a    d       checkComms;more 1;sendto up
out     FULL    0x10    s?s     checkComms;sendto up
#endif
