#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2018/01/11 20:11:22 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full Dolu 
#define	Dict_Refill Dolum 
#define	Dict_Watering Sulama 
#define	Dict_Empty Boþ 
#define	Dict_StopWater Sulamayý\nDurdur 
#define	Dict_Weather Hava\nDurumu 
