/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2018/01/11 20:11:23 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_CCC2line Kritik\ Kontrol\nListesi 
#define Dict_CCC3line Kritik\nKontrol\nListesi 
