%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: GpsGs.cfg,v $
 * $Revision: 1.5 $
 *   $Author: latum $
 *     $Date: 2008/03/20 19:44:19 $
 *    $State: Exp $
 *   Purpose: Configuration file for Ashtech GG24 GPS interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GpsPort.h>
port	GPSPORT
hdwe	rs232
flags	8
#if #arg1(GpsGG24) || #arg1(GpsG12) || #arg1(GpsMicroZ)
	pollInt	500
	speed	38400
#else
	pollInt	1000
	speed	9600
#endif
#if #arg1(GpsGG24)
	commandFile etc/gg24.base
#endif
#if #arg1(GpsNMEA)
	commandFile etc/gps.base
#endif
/*
 * Include the optional ground station location antenna file
 * passed in as second argument.
 */
#ifdef ARG2
#	include ARG2
#endif

/*
 * Unfortunately, the GpsMoto interface requires different methods
 * to setup the base station coordinates.
 */
#if #arg1(GpsGG24) || #arg1(GpsMoto) || #arg1(GpsMicroZ)
#	if defined(BASELAT)
#		define GPSLAT(D,M,S,MS,NS) D:M:S.MS/**/NS
#		define GPSLON(D,M,S,MS,EW) D:M:S.MS/**/EW
#		define GPSELEV(M,CM) M/**/CM
#		if #arg1(GpsMoto)
			gps:initLat=BASELAT,initLong=BASELON,initElev=BASEELEV,initElevMSL=1
#		else
			baseLat	BASELAT
			baseLon	BASELON
			baseElev BASEELEV
#		endif
#	endif
	module	GpsGround
	object	GpsGround base:GpsGs
#endif
