/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1999
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:51 $
 *    $State: Exp $
 *   Purpose: Configuration script for Replicator and ReplicatorController
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/OMS.cfg>
#if #appname(Mpr)
	module	ReplicatorController
	object	ReplicatorController name:RC
#elif #appname(Hub)
	module	ReplicatorProxy
	object	ReplicatorProxy
#else
	module	Replicator
	object	Replicator
#endif
