#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.21 $
 *   $Author: gsousa $
 *     $Date: 2019/08/07 12:40:35 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* Shovels */
macro	asn2shv		EQ-REQ "asn2shv" [ "" "$1" ]
macro	doShovels	PostDynamicMenu "Shovels" "asn2shv"
macro	doManAsnExit	SelfAssign unpost

/* Actions */
symbol	trkfull		n
symbol	mnasnok		n
#if DEMAJOR >= 6 && ((DEMINOR >= 6 && DEMAINT >= 8) || DEMINOR >= 7)
macro	SendTrkFull	FULL "None" "None" [\"$(Time epoch)\"] [ $(GpsTruck x) $(GpsTruck y) $(GpsTruck z) $(GpsTruck velocity) $(GpsTruck status) ]
#elif DEMAJOR >= 6 && DEMINOR >= 6 && DEMAINT >= 3
macro	SendTrkFull	FULL "None" "None" [\"$(Time epoch)\"]
#else
macro	SendTrkFull	FULL "None" "None"
#endif

/* trkfullpopup is overridden in 10inch/Central.cfg */
symbol trkfullpopup         y

/* These two macros are now in common/Macro.cfg, loaded conditionally if CAN_ENGHR=yes
macro	SendEngHours	EQ-REQ "eng_hrs" [ "$(GetPadValue)" ]
macro	doEngHours	PostNumPad "$(EngHoursLbl)" SendEngHours
*/
macro   doTrkFullCheck  eq? "$(trkfullpopup)" "n" SendTrkFull;\
                        ne? "$(trkfullpopup)" "n" doTrkFull
macro	doTrkFull	eq? "$(trkfull)" "n" NotAvailable;\
                        ne? "$(trkfull)" "n" MessageBox "$(TruckFullLbl)" "$(ConfirmActLbl)" SendTrkFull "YesNo"
macro	doSelfAssign	eq? "$(mnasnok)" "n" NotAvailable;ne? "$(mnasnok)" "n" SelfAssign post
macro	doActInpit	Inpit post
macro	asn2loc		EQ-REQ "asn2loc" [ "" "$1" ]
macro	doTruckLocs	PostLocs "asn2loc"

/* Production Cycle Icon Control */
macro	rpc.8	doTrkFullCheck

/* StoreForward information */
symbol	disp_lds
macro	UpdateBeans	""
macro	UpdateMatl       last_matl $(temp_gcdoarg)
macro	UpdateLastShvLoc last_shvloc $(temp_gcdoarg)

macro InitFonts	w0.CurAct font:CurActFont; w0.InfAct font:CurActFont
	
in	WriteInfAct	INT_RPC	s w0.InfAct label:$1; \
			temp_gcdoarg $1

macro	UpdateExpTime	eq? $(min $(expTime) 0) 0 UpdatePosTime;\
			ne? $(min $(expTime) 0) 0 UpdateNegTime;\
			w0.ExpTime label:"";\
			w0.ExpTime label:"$(expTimeLbl): $(/ $(tempTime) 60).$(/ $(% $(tempTime) 60) 6) $(MinutesLbl)";\
			ne? $(expTimeActive) 1 ne? $(max $(expTime) 0) 0 CountExpTime

macro	ClearExpTime	stopExpTime 1;w0.ExpTime label:"";w0.ExpTime colors:default

#define	LANG_FILE	<10inch/truck/LANGUAGE/Macro.cfg>
#include LANG_FILE
