#!/psw/cpp

#include <Goic/truck/w0_config_newui.cfg>

/*
 * PORTRAIT Mode definition
 */
#ifdef PORTRAIT
geom x:0:y:0:w:480:h:800
tile	root
relief	flat
map	y
# transactions view and common items
object  Label	name:w0.InfoBar geom:x:0:y:720:w:480:h:80 map:y colors:Black
object	MenuBar	name:w0.mb
object	Text	name:w0.Text
object	Button	name:w0.v1
object	Button	name:w0.v2
object	Button	name:w0.v3
object	Button	name:w0.Icon
object	Button	name:w0.Clock

#ifdef DESKTOP_ICON
object	Label	name:w0.DeskLbl	geom:x:320:y:240:w:160:h:120:bw:4 relief:raised
object	Button	name:w0.Desktop geom:x:324:y:244:w:152:h:80:bw:0 relief:transparent colors:default icon:DESKTOP_ICON action:'ToggleFullScreen'
object	Button	name:w0.DeskText	geom:x:324:y:324:w:152:h:32:bw:0 relief:transparent colors:default label:$(msg.FullDsk) action:'ToggleFullScreen'
#else
object	Button	name:w0.Desktop geom:x:320:y:240:w:160:h:120:bw:4 label:$(msg.FullDsk) action:'ToggleFullScreen'
#endif

#ifdef ACTIONS_ICON
object	Label	name:w0.Actlbl	geom:x:160:y:0:w:160:h:120:bw:4 relief:raised
object	Button	name:w0.Actions geom:x:164:y:4:w:152:h:80:bw:0 relief:transparent colors:default icon:ACTIONS_ICON action:'Actions post'
object	Button	name:w0.Acttxt	geom:x:164:y:84:w:152:h:32:bw:0 relief:transparent colors:default label:$(msg.actions) action:'Actions post'
#else
object	Button	name:w0.Actions	geom:x:160:y:0:w:160:h:120:bw:4 label:$(msg.actions) action:'Actions post'
#endif

#ifdef STATUS_ICON
object	Label	name:w0.Statlbl	geom:x:320:y:0:w:160:h:120:bw:4 relief:raised
object	Button	name:w0.Status	geom:x:324:y:4:w:152:h:80:bw:0 relief:transparent colors:default icon:STATUS_ICON action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
object	Button	name:w0.Stattxt	geom:x:324:y:84:w:152:h:32:bw:0 relief:transparent colors:default label:$(msg.status) action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
#else
object	Button	name:w0.Status	geom:x:320:y:0:w:160:h:120:bw:4 label:$(msg.status) action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
#endif

#ifdef MESG_ICON
object	Label	name:w0.Mesglbl	geom:x:320:y:120:w:160:h:120:bw:4 relief:raised
object	Button	name:w0.Mesg	geom:x:324:y:124:w:152:h:80:bw:0 relief:transparent colors:default icon:MESG_ICON action:kpMessage
object	Button	name:w0.Mesgtxt	geom:x:324:y:204:w:152:h:32:bw:0 relief:transparent colors:default label:$(msg.mesg) action:kpMessage
#else
object	Button	name:w0.Mesg	geom:x:320:y:120:w:160:h:120:bw:4 label:$(msg.mesg) action:kpMessage
#endif

#ifdef RESRC_ICON
object	Button	name:w0.RBtnlbl	geom:x:0:y:0:w:160:h:120:bw:4 relief:raised
object	Button	name:w0.RBtn	geom:x:4:y:4:w:152:h:56:bw:0	relief:transparent colors:default icon:RESRC_ICON action:'Switch2RView2'
object	Button	name:w0.RBtntxt	geom:x:4:y:60:w:152:h:56:bw:0	relief:transparent colors:default label:$(msg.rview) action:'Switch2RView2'
#else
object	Button	name:w0.RBtn	geom:x:0:y:0:w:160:h:120:bw:4	label:$(msg.rview) action:'Switch2RView'
#endif

#ifdef TRANS_ICON
object	Button	name:w0.TBtnlbl	geom:x:0:y:0:w:160:h:120:bw:4 relief:raised map:n
object	Button	name:w0.TBtn	geom:x:4:y:4:w:152:h:56:bw:0	map:n relief:transparent colors:default icon:TRANS_ICON action:'Switch2TView2'
object	Button	name:w0.TBtntxt	geom:x:4:y:60:w:152:h:56:bw:0	map:n relief:transparent colors:default label:$(msg.trans) action:'Switch2TView2'
#else
object	Button	name:w0.TBtn	geom:x:0:y:0:w:160:h:120:bw:4	map:n label:$(msg.trans) action:'Switch2TView'
#endif

object	Button	name:w0.Clear	geom:x:0:y:360:w:240:h:80:bw:4 label:$(msg.clrtext) action:'w0.Text clear'
object	Button	name:w0.Recall	geom:x:240:y:360:w:240:h:80:bw:4 label:$(msg.recall) action:kpRecall
object	Button	name:w0.v7	geom:x:280:y:720:w:120:h:80:bw:1 colors:StatBar font:Tiny2 label:'' action:StatBarRollR
object	Label	name:w0.v6	geom:x:320:y:720:w:80:h:80:bw:1 colors:StatBar font:Tiny2 map:n
object	Button	name:w0.wifi	geom:x:80:y:720:w:80:h:40:bw:1 colors:StatBar font:Tiny2 map:n label:'<<' action:StatBarRollL
object	Button	name:w0.gps	geom:x:80:y:760:w:80:h:40:bw:1 colors:StatBar font:Tiny2 map:n label:'' action:StatBarRollL
object	Button	name:w0.Emerg	geom:x:400:y:720:w:80:h:80:bw:1 colors:StatBar icon:Emerg action:kpHelp
object  Button  name:w0.Comm geom:x:0:y:720:w:80:h:80:bw:0 relief:sunken colors:StatBar icon:wifi_off action:'yesNo label:$(sfyesnolbl) post'
# resource view items
object	Label	name:w0.v4
object	Text	name:w0.RView

# full desktop items
#ifdef TRANS_ICON
object	Button	name:w0.Tranlbl	geom:x:0:y:480:w:160:h:120:bw:4 relief:raised map:n
object	Button	name:w0.Trans	geom:x:4:y:484:w:152:h:56:bw:0 relief:transparent colors:default icon:TRANS_ICON map:n action:'Switch2TView2'
object	Button	name:w0.Trantxt	geom:x:4:y:540:w:152:h:56:bw:0 relief:transparent colors:default label:$(msg.trans) map:n action:'Switch2TView2'
#else
object	Button	name:w0.Trans	geom:x:0:y:480:w:160:h:120:bw:4 label:$(msg.trans) map:n action:'Switch2TView'
#endif

#ifdef RESRC_ICON
object	Button	name:w0.Rsrclbl	geom:x:160:y:480:w:160:h:120:bw:4 relief:raised map:n
object	Button	name:w0.Resrc	geom:x:164:y:484:w:152:h:56:bw:0 relief:transparent colors:default icon:RESRC_ICON  map:n action:'Switch2RView2'
object	Button	name:w0.Rsrctxt	geom:x:164:y:540:w:152:h:56:bw:0 relief:transparent colors:default label:$(msg.rview) map:n action:'Switch2RView2'
#else
object	Button	name:w0.Resrc	geom:x:160:y:480:w:160:h:120:bw:4 label:$(msg.rview) map:n action:'Switch2RView'
#endif

#ifdef DESKBTN_ICON
object	Button	name:w0.DBtnlbl	geom:x:320:y:480:w:160:h:120:bw:4 relief:raised map:n
object	Button	name:w0.DeskBtn1	geom:x:324:y:484:w:152:h:80:bw:0 relief:transparent colors:default icon:DESKBTN_ICON map:n
object	Button	name:w0.DBtntxt	geom:x:324:y:564:w:152:h:32:bw:0 relief:transparent colors:default label:'' map:n
#else
object	Button	name:w0.DeskBtn1	geom:x:320:y:480:w:160:h:120:bw:4 label:'' map:n
#endif

object	Button	name:w0.ScrnCntrl
object	MenuBar name:Options
#define OBJECT w0_newui
#include <Cfg/Options.cfg>
/* proximity detection button put at end so it will be in front of speed alert */
object  Button  name:w0.LvsProx geom:x:0:y:720:w:80:h:80 action:'cancelLvsProxBlink' map:n colors:redLabel

/*
 * LANDSCAPE Mode definition
 */
#else
geom x:0:y:0:w:800:h:480
tile	root
relief	flat
map	y
object  Label	name:w0.InfoBar geom:x:0:y:400:w:800:h:80 map:y colors:Black
object	MenuBar	name:w0.mb
object	Text	name:w0.Text
object	Label	name:w0.v1
object	Label	name:w0.v2
object	Label	name:w0.v3
object	Button	name:w0.Icon
object	Label	name:w0.Clock

#ifdef DESKTOP_ICON
object	Label	name:w0.DeskLbl	geom:x:400:y:0:w:133:h:133:bw:4 relief:raised
object	Button	name:w0.Desktop geom:x:404:y:4:w:125:h:85:bw:0 relief:transparent colors:default icon:DESKTOP_ICON action:'ToggleFullScreen'
object	Button	name:w0.DeskText	geom:x:404:y:89:w:125:h:40:bw:0 relief:transparent colors:default label:$(msg.FullDsk) action:'ToggleFullScreen'
#else
object	Button	name:w0.Desktop geom:x:400:y:0:w:133:h:133:bw:4 label:$(msg.FullDsk) action:'ToggleFullScreen'
#endif

#ifdef ACTIONS_ICON
object	Label	name:w0.Actlbl	geom:x:533:y:0:w:133:h:133:bw:4 relief:raised
object	Button	name:w0.Actions geom:x:537:y:4:w:125:h:85:bw:0 relief:transparent colors:default icon:ACTIONS_ICON action:'Actions post'
object	Button	name:w0.Acttxt	geom:x:537:y:89:w:125:h:40:bw:0 relief:transparent colors:default label:$(msg.actions) action:'Actions post'
#else
object	Button	name:w0.Actions	geom:x:533:y:0:w:133:h:133:bw:4 label:$(msg.actions) action:'Actions post'
#endif

#ifdef STATUS_ICON
object	Label	name:w0.Statlbl	geom:x:667:y:0:w:133:h:133:bw:4 relief:raised
object	Button	name:w0.Status	geom:x:671:y:4:w:125:h:85:bw:0 relief:transparent colors:default icon:STATUS_ICON action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
object	Button	name:w0.Stattxt	geom:x:671:y:89:w:125:h:40:bw:0 relief:transparent colors:default label:$(msg.status) action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
#else
object	Button	name:w0.Status	geom:x:667:y:0:w:133:h:133:bw:4 label:$(msg.status) action:'for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post'
#endif

#ifdef MESG_ICON
object	Label	name:w0.Mesglbl	geom:x:667:y:133:w:133:h:133:bw:4 relief:raised
object	Button	name:w0.Mesg	geom:x:671:y:137:w:125:h:85:bw:0 relief:transparent colors:default icon:MESG_ICON action:kpMessage
object	Button	name:w0.Mesgtxt	geom:x:671:y:222:w:125:h:40:bw:0 relief:transparent colors:default label:$(msg.mesg) action:kpMessage
#else
object	Button	name:w0.Mesg	geom:x:667:y:133:w:133:h:133:bw:4 label:$(msg.mesg) action:kpMessage
#endif

object	Button	name:w0.Clear	geom:x:0:y:0:w:200:h:70:bw:4 label:$(msg.clrtext) action:'w0.Text clear'
object	Button	name:w0.Recall	geom:x:201:y:0:w:199:h:70:bw:4 label:$(msg.recall) action:kpRecall
object  Button  name:w0.LvsProx geom:x:0:y:400:w:80:h:80 action:'cancelLvsProxBlink' map:n colors:redLabel
object	Label	name:w0.v7	geom:x:160:y:400:w:80:h:80:bw:1 colors:StatBar font:Tiny2
object	Label	name:w0.v6	geom:x:448:y:400:w:80:h:80:bw:1 colors:StatBar font:Tiny2
object	Label	name:w0.wifi	geom:x:608:y:400:w:32:h:40:bw:1 colors:StatBar font:Tiny2
object	Label	name:w0.gps	geom:x:608:y:440:w:32:h:40:bw:1 colors:StatBar font:Tiny2
object	Button	name:w0.Emerg	geom:x:720:y:400:w:80:h:80:bw:1 colors:StatBar icon:Emerg action:kpHelp
object  Button  name:w0.Comm geom:x:80:y:400:w:80:h:80:bw:0 relief:sunken colors:StatBar icon:wifi_off action:'yesNo label:$(sfyesnolbl) post'
# resource view items
object	Label	name:w0.v4
object	Text	name:w0.RView

# full desktop items
#ifdef TRANS_ICON
object	Button	name:w0.Tranlbl	geom:x:0:y:133:w:133:h:133:bw:4 relief:raised map:n
object	Button	name:w0.Trans	geom:x:4:y:137:w:125:h:65:bw:0 relief:transparent colors:default icon:TRANS_ICON map:n action:'ShowTransView'
object	Button	name:w0.Trantxt	geom:x:4:y:202:w:125:h:60:bw:0 relief:transparent colors:default label:$(msg.trans) map:n action:'ShowTransView'
#else
object	Button	name:w0.Trans	geom:x:0:y:133:w:133:h:133:bw:4 label:$(msg.trans) map:n action:'ShowTransView'
#endif

#ifdef RESRC_ICON
object	Button	name:w0.Rsrclbl	geom:x:133:y:133:w:133:h:133:bw:4 relief:raised map:n
object	Button	name:w0.Resrc	geom:x:137:y:137:w:125:h:65:bw:0 relief:transparent colors:default icon:RESRC_ICON  map:n action:'ShowResrcView'
object	Button	name:w0.Rsrctxt	geom:x:137:y:202:w:125:h:60:bw:0 relief:transparent colors:default label:$(msg.rview) map:n action:'ShowResrcView'
#else
object	Button	name:w0.Resrc	geom:x:133:y:133:w:133:h:133:bw:4 label:$(msg.rview) map:n action:'ShowResrcView'
#endif

#ifdef DESKBTN_ICON
object	Button	name:w0.DBtnlbl	geom:x:266:y:133:w:133:h:133:bw:4 relief:raised map:n
object	Button	name:w0.DeskBtn1	geom:x:270:y:137:w:125:h:85:bw:0 relief:transparent colors:default icon:DESKBTN_ICON map:n
object	Button	name:w0.DBtntxt	geom:x:270:y:222:w:125:h:40:bw:0 relief:transparent colors:default label:'' map:n
#else
object	Button	name:w0.DeskBtn1	geom:x:266:y:133:w:133:h:133:bw:4 label:'' map:n
#endif

object	Button	name:w0.ScrnCntrl
object	MenuBar name:Options
#define OBJECT w0_newui
#include <Cfg/Options.cfg>
#endif
