%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.4 $
 *   $Author: zambetis $
 *     $Date: 2009/05/01 16:01:53 $
 *    $State: Exp $
 *   Purpose: Instantiate the GpsTruck application IFF
 *            a GPS receiver option is specified and no other
 *            GPS application option exists.
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(pe)
	module	GpsTruck
	object	Gps
	object	BeaconDB path:y
	object	GpsTruck
#elif #module(GpsDev) && !#module(GpsApp)
#	assert module(GpsApp)
	module	GpsTruck
	object	BeaconDB base:Gps path:y
#	if #option(Proximity)
		module GpsRover
		object GpsRover name:GpsTruck base:Gps
#	else
		object	GpsTruck base:Gps
#	endif
#endif
