/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro_English_fix.cfg,v $
 * $Revision: 1.6 $
 *   $Author: gsousa $
 *     $Date: 2017/06/08 18:56:24 $
 *    $State: Exp $
 *   Purpose: GOIC configuration common to all equipment.
 * * * * * * * * * * * * * * * * * * *
 */

/* Pre-Start Check stuff */
#include <Goic/Indonesian/PS_Macro.cfg>

message	v1.label	Selamat Datang di Intellimine
message	v2.label	Please Log On
message	v3.label
symbol	wcurrent w0
/* symbol	kplabel	''
symbol	kpaction '' */
symbol	grade	0
symbol	matl.0	0
symbol	matl.2	0
symbol	matl.1	0
/* showOK toggle to show the OK window after each action. src. */
symbol  showOK	n

/* Icons assigned to each state */
symbol	icon.0	logo
symbol	icon.1	down
symbol	icon.2	ready
symbol	icon.3	standby
symbol	icon.4	delay
symbol	icon.5	tiedown
symbol	icon.6	empty
symbol	icon.7	waiting
symbol	icon.8	loading
symbol	icon.9	hauling
symbol	icon.10	dumping
symbol	icon.11	none
symbol	icon.12	none
symbol	icon.13	none
symbol	icon.14	empty
symbol	icon.15	empty
symbol	icon.16	loading
symbol	icon.17	loading

/* RPCs or Macros assigned to each state */
macro	rpc.0	kpLogOn
macro	rpc.1	kpReady
macro	rpc.2	kpAssign
macro	rpc.3	kpReady
macro	rpc.4	kpReady
macro	rpc.5	kpReady
macro	rpc.6	kpArrive
macro	rpc.7	kpLoad
macro	rpc.8	kpFull
macro	rpc.9	kpArrive
macro	rpc.10	kpAssign
macro	rpc.11	KpArrive
macro	rpc.12	kpAssign
macro	rpc.13	kpAssign
macro	rpc.14	kpFull
macro	rpc.15	kpLoad
macro	rpc.16	kpPanFull
macro	rpc.17	kpNoFull

   These override the ones in Massage.cfg */
message	msg.0	Selamat Datang di Intellimine
message	msg.1	Down at $(loc)
message msg.2	Ready at $(loc)
message msg.3	Standby at $(loc)
message msg.4	Delayed at $(loc)
message msg.5	Parked at $(loc)
message msg.6	Pergi ke $(loc)
message msg.7	Toiba di $(loc)
message msg.8	Loading di $(loc)
message msg.9	Pergi ke $(loc)
message msg.10	Dumping di $(loc)
message	msg.14	Toiba di $(loc)
message msg.17	Loading di $(loc)

/* Messages assigned to each state -- these appear on w0.v2
   These override the ones in Massage.cfg */
message	nmsg.0	Please Log On
message	nmsg.1	Berikutnya: $(next)
message nmsg.2	Berikutnya: $(next)
message nmsg.3	Berikutnya: $(next)
message nmsg.4	Berikutnya: $(next)
message nmsg.5	Berikutnya: $(next)
message nmsg.6	Berikutnya: $(next)
message nmsg.7	Berikutnya: $(next)
message nmsg.8	Berikutnya: $(next)
message nmsg.9	Berikutnya: $(next)
message nmsg.10	Berikutnya: $(next)
message	nmsg.14	Berikutnya: $(next)
message nmsg.17	Tunggu Shovel

#if #class(truck)
macro	rpc.8	kpTrkFull
#endif

#if #class(excav) | #class(lhd) | #class(loader)
symbol unit.1    Truk
symbol	icon.7	 ready
symbol	icon.3	 standby
symbol	icon.8	 loading
symbol  icon.9   full
symbol	icon.13  waiting
symbol	icon.16	 tramloading
symbol  icon.21  down
symbol  icon.22  standby
symbol  icon.23  delay
symbol  icon.24  tiedown
symbol  icon.25  ready
macro   rpc.7    kpPanFull
macro   rpc.21   kpShvReady
macro   rpc.22   kpShvReady
macro   rpc.23   kpShvReady
macro   rpc.24   kpShvReady
macro   rpc.25   kpPanFull
message msg.21   Down at $(loc) 
message msg.22   Standby at $(loc) 
message msg.23   Delayed at $(loc) 
message msg.24   Parkup di $(loc) 
message msg.25   Tunggu Truk di $(loc) 
message msg.16	 Loading $(unit.$(u1)) $(id1) 
message msg.7 	 Tunggu Truk di $(loc)
#else
message	msg.16	Loading oleh $(loc)
#endif

#if #class(dozer)
symbol	icon.17	 down
symbol	icon.18	 ready
symbol	icon.19	 delay
symbol	icon.20	 standby
symbol	icon.21	 dozing
symbol	icon.22	 ripping
symbol	icon.23	 shiftchange
macro	rpc.18 	kpReady
#endif

#if #class(grader)
symbol	icon.17	down
symbol	icon.18	ready
symbol	icon.19	delay
symbol	icon.20	standby
symbol	icon.21	grading
symbol	icon.22	grading
symbol	icon.23	shiftchange
macro	rpc.18	kpReady
#endif

#if #class(drill)
symbol	icon.17	 down
symbol	icon.18	 ready
symbol	icon.19	 delay
symbol	icon.20	 standby
symbol	icon.21	 drilling
symbol	icon.22	 moving
symbol	icon.23	 shiftchange
macro	rpc.18 	kpReady
#endif

message pressOk	Tekan OK

/* Macros run by rpc.$(state) */
symbol	dfltReady	-1
symbol	LogonVal
macro	SendLogon	LOGON $(LogonVal)
macro	DoLogon		LogonVal $(Kp.D label);SendLogon
macro	kpLogOn	kplabel 'No. Payroll';kpaction 'DoLogon';Kp label:$(kplabel) post
macro	kpLogOff	LogonVal -1;SendLogon

macro	kpReady		eq? "$(showOK)" "y" kpOkReady;ne? "$(showOK)" "y" READY $(dfltReady);KBEEP 1
macro	kpOkReady	Ok label:Ready action:READY post
/*macro	kpShvReady	Ready action:READY post*/
macro	kpShvReady	kpReady

macro	kpAssign	eq? "$(showOK)" "y" kpOkAssign;ne? "$(showOK)" "y" ASSIGN
macro	kpOkAssign	Ok label:Tugas action:ASSIGN post

macro	kpArrive	eq? "$(showOK)" "y" kpOkArrive;ne? "$(showOK)" "y" ARRIVE
macro	kpOkArrive	Ok label:Tiba action:ARRIVE post

macro	kpFull		FULL "$(matl)" "$(matl.$(matl))"

macro	sendfuel	FUEL $(Kp.D label)
macro	kpFuel		kplabel 'Jumlah Bahan Bakar';kpaction 'sendfuel';Kp label:$(kplabel) post
/* macro	kpMessage	kplabel 'Message';kpaction 'sendmsg';Kp2 label:$(kplabel) post
macro	SendMessage	id $1;kplabel 'Message to $1';kpaction 'sendmsg2';Kp2 label:$(kplabel) post
macro	postmsg	window:kpMessage */
macro	kpLoad		LOAD
macro   kpTrkLoad       Ok label:Load action:LOAD post 
macro   kpTrkFull       Ok label:'Truck Full' action:'FULL None' post 
macro 	kpNoFull	Ok label:'Wait for Shovel FULL' action:none post

/* Other Actions */
macro	kpYes		req yes;SendReq0
macro	kpNo		req no;SendReq0

/* Engine Hours macros */
macro   DoEngHrs        req eng_hrs;id $(Kp.D label);SendReq1
macro   kpEngHrs        kplabel 'Engine Hours';kpaction 'DoEngHrs';Kp label:$(kplabel) post

/* Options */
macro   sendinformation HELP $(Kp.D label)
macro   kpInformation   kplabel 'Informasi';kpaction 'sendinformation';Kp label:$(kplabel) post

symbol	HelpVal
macro	SendHelp	HELP $(HelpVal)
macro	kpHelp		HelpVal 911;SendHelp

macro	kpRecall	RECALL

symbol	typ	0
symbol	eqtype	0
symbol	next	none
symbol	ob1	none
symbol	ob2	none
symbol	ob3	none
symbol	args	0
symbol	action2	none
symbol	action2do	none
symbol	for	stat
symbol	req	none
symbol	id	none
symbol	lastloc	none
symbol	directprior	0

macro	SendReq0 EQ-REQ $(req)
macro	SendReq1 EQ-REQ $(req) [ "$(id)" ]
macro	SendReq2 EQ-REQ $(req) [ "$(id)" "$(ob1)" ]
macro	SendReq3 EQ-REQ $(req) [ "$(id)" "$(ob1)" "$(typ)" ]
macro	SendReq4 EQ-REQ $(req) [ "$(id)" "$(ob1)" "$(typ)" "$(ob2)" ]

/* generic dynamic menu stuff */
in	MENUINIT 0xbbb	ss	$1 item:"$2"
symbol  exitstr		Keluar Menu
symbol	morestr		Lagi->
symbol	updtstr		Update
symbol  menuselect      menuactionid
symbol	updtselect	sendupdate
symbol  menutype                /* dynamic menu type */
symbol  more    1
symbol	statmenuupdt	0
#macro	SetMenus	eq? "$(statmenuupdt)" "0" MENUINIT Status $(updtstr)
macro	SetMenus	eq? "$(statmenuupdt)" "0" Status item:Update
macro   nextmenu        more $(+ $(more) 1);$(menutype)$(more) action:menuaction post
macro   menuaction      eq? "$1" "$(exitstr)" more 1;ne? "$1" "$(exitstr)" menuaction2
macro   menuaction2     eq? "$1" "$(morestr)" nextmenu;ne? "$1" "$(morestr)" menuaction3
macro	menuaction3	eq? "$1" "$(updtstr)" $(updtselect);ne? "$1" "$(updtstr)" $(menuselect)
/* These were change for a bug that was fixed in v3.0 but has since been fixed
macro   menuaction      eq? $1 $(exitstr) more 1;ne? $1 $(exitstr) menuaction2
macro   menuaction2     eq? $1 $(morestr) nextmenu;ne? $1 $(morestr) menuaction3
macro	menuaction3	eq? $1 $(updtstr) $(updtselect);ne? $1 $(updtstr) $(menuselect)
*/
macro   menuactionid    id $1;sendaction
macro   menuactionob1   ob1 $1;sendaction
macro   menuactionob2   ob2 $1;sendaction
macro	statupdate	updtselect sendupdate;eq? "$(statmenuupdt)" "0" sendupdate
symbol listStatusMenus "Ready Down Delay Standby"
symbol pagStatusMenus "2 3 4 5 6"
symbol currStatusMenu
#if #arch(pe)
macro doClearStatusSubMenus foreach $(pagStatusMenus);do '\$(currStatusMenu)\$2 items'
macro doClearStatusMenus Status items;foreach $(listStatusMenus);do '\$2 items;currStatusMenu \$2;doClearStatusSubMenus'
#else
macro doClearStatusSubMenus foreach $(pagStatusMenus);do 'WinMgr focus:\$(currStatusMenu)\$2;\
                            eq? "\$(WinMgr focus)" "\$(currStatusMenu)\$2" \$(currStatusMenu)\$2 clear'
macro doClearStatusMenus Status clear;foreach $(listStatusMenus);do '\$2 clear;currStatusMenu \$2;doClearStatusSubMenus'
#endif
macro   sendupdate      eq? "$(menutype)" "Status" doClearStatusMenus;req update;args 2;ob1 $(id);id $(menutype);sendaction
macro   sendaction      more 1;SendReq$(args)

symbol	u01	Truck
symbol	u02	Shovel
symbol	u03	Dump
symbol	u04	Crusher
symbol	u05	Stockpile
symbol	u06	Blast
symbol	u07	Workshop
symbol	u08	Shiftchange
symbol	loclist	03 04 05 06 07 08
symbol	unum
symbol	temp
symbol	compare
symbol	select
macro menuaction4	id $1;postactmenu
macro menuaction5	id $1;postlocmenu
macro setunum		compare $(u$(temp));eq? "$(compare)" "$(select)" unum $(temp)
macro postlocmenu	select $(id);foreach $(loclist);do 'temp \$2;setunum';postunitmenu
macro postunitmenu	menutype $(typ)Unit$(unum);menuselect menuaction4;$(typ)Unit$(unum) action:menuaction post
macro actlocmenu	select $1;foreach $(loclist);do 'temp \$2;setunum';actunitmenu
macro actunitmenu	menutype LUnit$(unum);menuselect menuactionob1;LUnit$(unum) action:menuaction post
/* end generic dynamic menu stuff */

/* animated icon stuff */
#if #arch(r2k)
macro	video	w0.Icon icon:$(icon.$(state));WinMgr after:1:video1
macro	video1	w0.Icon icon:$(icon.$(state))1;WinMgr after:1:video2
#else
macro	video	w0.Icon icon:$(icon.$(state))1;WinMgr after:1:video2
#endif
macro	video	w0.Icon icon:$(icon.$(state))1;WinMgr after:1:video2
macro	video2	w0.Icon icon:$(icon.$(state))2;WinMgr after:1:video3
macro	video3	w0.Icon icon:$(icon.$(state))3;WinMgr after:1:video
macro	novideo	WinMgr cancel:video;WinMgr cancel:video1;WinMgr cancel:video2;WinMgr cancel:video3

/* Time setting stuff */
symbol	CfgTime
macro	ShowTime CfgTime $(Time format:%l:%M time:now get)
macro	GetTime2 ShowTime;WinMgr after:60:GetTime1
macro	GetTime1 ShowTime;WinMgr after:60:GetTime2
/* end time setting stuff */

/* Color related stuff */
macro	setDefaultBlue	Screen colors:default,blue50:white,green:white,blue25:blue75,black:white;WinMgr refresh
macro	setDefaultGreen	Screen colors:default,green50:yellow50,red50:yellow50,green25:yellow50,black:white;WinMgr refresh
macro	setDefaultGray	Screen colors:default,gray75:black,red50:black,bisque25:bisque50,black:white;WinMgr refresh
macro	setDefaultBrown	Screen colors:default,brown50:gray75,yellow50:gray75,brown25:brown75,black:white;WinMgr refresh
macro	setDefaultYellow	Screen colors:default,yellow50:black,black:yellow50,brown25:brown75,black:white;WinMgr refresh
symbol	userColor	0
symbol	colorCounter	0

macro	setdimsecs Vga dimmerSecs:$(Kp.D label)
/* Flash related stuff */
symbol	flashEnable	0
macro	flashColors.0	eq? $(flashEnable) 1 WinMgr after:1:flashColors.1
macro	flashColors.1	colorCounter $(% $(+ $(colorCounter) 1) 5 );nextColor.$(colorCounter);flashColors.0
macro	nextColor.0	setDefaultBlue
macro	nextColor.1	setDefaultGreen
macro	nextColor.2	setDefaultGray
macro	nextColor.3	setDefaultBrown
macro	nextColor.4	setDefaultYellow
macro	killFlash	WinMgr cancel:flashColors.1;nextColor.$(userColor)

/* SAP Data stuff */
symbol	cost	""
symbol	lrate	""
symbol	acode	""
macro	kpSAP	req sapdat;WinMgr window:ws
macro	kpCost	kplabel 'Masukkan Cost Center';kpaction 'getcost';Kp label:$(kplabel) post
macro	getcost cost $(Kp.D label)
macro	kpLact	kplabel 'Masukkan Kegiatan Tenaga Kerja';nextAction getLact;kpaction 'getLact';Kp2 label:$(kplabel) post
macro	getLact lrate $(Kp2.Disp label);Kp2.Disp label:''
macro	kpAttn	kplabel 'Masukkan Kode Kehadiran';nextAction getattn;kpaction 'getattn';Kp2 label:$(kplabel) post
macro	getattn	acode $(Kp2.Disp label);Kp2.Disp label:''
macro	SendSapdat	req sapdat;EQ-REQ $(req) [ "$(cost)" "$(lrate)" "$(acode)" ];WinMgr window:w0
