/*
 * Symbols for language-independent display
 */
symbol	cfgLbl.0 "Ya"
symbol	cfgLbl.1 "Tidak"
symbol	cfgLbl.2 "Tidak ada balasan dari pusat.\nCoba lagi?"
symbol	cfgLbl.3 "None"
#if #class(shovel) || #class(loader)
symbol	cfgLbl.4 "Tinngi"
symbol	cfgLbl.5 "Rendah"
#else
symbol	cfgLbl.4 "Cut"
symbol	cfgLbl.5 "Fill"
#endif
symbol	cfgLbl.6 "Kiri"
symbol	cfgLbl.7 "Kanan"
symbol	cfgLbl.8 "Depan"
symbol	cfgLbl.9 "Pesan"
symbol	cfgLbl.10 "Dari"
symbol	cfgLbl.11 "Dari"
symbol	cfgLbl.12 "Kirim Ke"
symbol	cfgLbl.13 ' "Pitch" "Roll" "Truk" "Tons" '
symbol	cfgLbl.14 ""
symbol	cfgLbl.15 '"Yakin menyatakan\ndarurat?"'
symbol	cfgLbl.16 "Masukkan pesan dan tekan OK"
symbol	cfgLbl.17 "Dispatch"
symbol	cfgLbl.18 "Fitur ini tidak diaktifkan"
symbol	cfgLbl.19 ' "Pembatalan\\nPemisahan"'
symbol	cfgLbl.20 "Hari yang\nCerah"
symbol	cfgLbl.21 "Mendung"
symbol	cfgLbl.22 "Malam"
symbol	cfgLbl.23 "Dimmer\nControl"
symbol	cfgLbl.Bright "Kecerahan"
symbol	cfgLbl.Clear "CLEAR"
symbol	cfgLbl.Cancel "BATAL"
/* Pre start labels */
symbol	cfgLbl.pre.1 "Daftar Pemeriksaan Pre-Start"
symbol	cfgLbl.pre.2 "Komentar"
symbol  cfgLbl.pre.3 "Halaman"
symbol  cfgLbl.pre.4 "Halaman Sebelumnya"
symbol  cfgLbl.pre.5 "Halaman Berikutnya"
symbol  cfgLbl.pre.6 "OK"
symbol  cfgLbl.pre.7 "Pass All"
/* Pre gauge window labels */
symbol  cfgLbl.gau.1 "RPM"
symbol  cfgLbl.gau.2 "Tekanan Udara"
symbol  cfgLbl.gau.3 "Torque"
symbol  cfgLbl.gau.4 "Pull Down"
symbol  cfgLbl.gau.5 "Penetr.Rate"

/* Project/Surface creation labels */
symbol	cfgLbl.24 "StartX StartY StartZ Heading Length Width Grade"
symbol	cfgLbl.25 "StartX StartY StartZ EndX EndY EndZ Width"
symbol	cfgLbl.26 "TargetZ"
symbol	cfgLbl.27 "Enter Start Point X"
symbol	cfgLbl.28 "Enter Start Point Y"
symbol	cfgLbl.29 "Enter Start Point Z"
symbol	cfgLbl.30 "Enter Heading"
symbol	cfgLbl.31 "Masukkan Panjang"
symbol	cfgLbl.32 "Masukkan Lebar"
symbol	cfgLbl.33 "Masukkan Gradien (pct)"
symbol	cfgLbl.34 "Ok"
symbol	cfgLbl.35 "desain tidak dapat di download"
symbol	cfgLbl.36 ""
symbol	cfgLbl.37 "Pindah ke titik awal dan tekan OK"
symbol	cfgLbl.38 "Pindah ke titik akhir dan tekan OK"
symbol	cfgLbl.39 "Masukkan Lebar"
symbol	cfgLbl.40 "Kedua titik sama! Coba lagi"
symbol	cfgLbl.41 "Buat"
symbol	cfgLbl.42 "Lengkapi semua field input"
symbol	cfgLbl.43 "Masukkan target elevasi"
symbol	cfgLbl.44 "Update data"
symbol	cfgLbl.45 "Enter Start Point X"
symbol	cfgLbl.46 "Enter Start Point Y"
symbol	cfgLbl.47 "Enter Start Point Z"
symbol	cfgLbl.48 "Masukkan Titik Akhir X"
symbol	cfgLbl.49 "Masukkan Titik Akhir Y"
symbol	cfgLbl.50 "Masukkan Titik Akhir Z"
symbol	cfgLbl.51 "Masukkan Lebar"
symbol	cfgLbl.52 "Updating relief map"
symbol	cfgLbl.53 "Loading project data"
symbol	cfgLbl.54 "Loading digline data"
symbol	cfgLbl.55 "Loading material data"

#if #class(shovel) || #class(loader) || #class(excav) || #class(dozer) || #class(grader)
symbol	cfgLbl.60 "1-Point Ramp"
symbol	cfgLbl.61 "2-Point Ramp"
symbol	cfgLbl.62 "2-Pt Keyed Ramp"
symbol	cfgLbl.63 "Flat Surface"
symbol	cfgLbl.64 "Keyed Surface"
symbol	cfgLbl.65 "Download Design"
symbol	cfgLbl.66 "Hapus Proyek"
symbol	cfgLbl.200 "Lebar"
symbol	cfgLbl.201 "Masukkan Lebar"
symbol	cfgLbl.210 "Pindah ke titik awal dan tekan tombol ini"
symbol	cfgLbl.211 "Pindah ke titik akhir dan tekan tombol ini"

#else
symbol	cfgLbl.60  "Referensi 1-Pt"
symbol	cfgLbl.61  "Tidak Terpakai"
symbol	cfgLbl.62  "Referensi 2-Pt"
symbol	cfgLbl.63  "1-Pt Reference Off"
symbol	cfgLbl.64  "2-Pt Reference Off"
symbol	cfgLbl.65  "Download Pola"
symbol	cfgLbl.66  "Hapus Pola"
symbol	cfgLbl.200 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.201 "Masukkan BOH"
symbol	cfgLbl.202 "Masukkan Panjang Delta"
symbol	cfgLbl.203 "Masukkan Panjang"
symbol	cfgLbl.204 "Masukkan Lebar Delta"
symbol	cfgLbl.205 "Masukkan Lebar"
symbol	cfgLbl.206 "Masukkan Kiri(1) atau Tengah(2) atau Kanan(3)"
symbol	cfgLbl.207 ""
symbol	cfgLbl.208 ""
symbol	cfgLbl.209 ""
symbol	cfgLbl.210 "Pindah ke titik awal dan tekan tombol ini"
symbol	cfgLbl.211 "Pindah ke titik akhir dan tekan tombol ini"
symbol	cfgLbl.212 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.213 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.214 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.215 "Extra holes at reference line"
symbol	cfgLbl.216 "Current"
#endif

#if #class(shovel) || #class(loader) || #class(excav)
symbol	cfgLbl.67 '"Blast" "Desain" "BCM" "Loads" "Rate" "Last" "Payld"'
#else
symbol	cfgLbl.67 '"Pola" "ID Lubang" "Status" "Lubang" "Meter" "Rate" "Waktu"'
#endif

symbol	cfgLbl.68 "Masukkan ID Payroll"
symbol	cfgLbl.69 "BAHAN BAKAR"

/* Drill-specific labels */

#if #class(drill)
symbol	cfgLbl.70	"ID Lubang"
symbol	cfgLbl.71	"Pilih Lubang"
symbol	cfgLbl.72	' "Lubang Baru" "Ganti Lubang" "Setel Pola" "Sudut Mast" "Tambah Rod"'

symbol	cfgLbl.73	"ID Komponen:"
symbol	cfgLbl.74	"Setel Pola Terlebih Dahulu"
symbol	cfgLbl.75	' "Komponen" "Konfigurasi" "Informasi dari Pusat"'

/* hp window data display labels */
symbol	cfgLbl.76	' "Pola" "ID Lubang" "Dist" "Sudut" "Head" "Sudut" "Head"'

/* Component-related labels (should conform to the order of component
 * tracking set on central computer) */
symbol	cfgLbl.77	' "Bit" "Rod" "Hammer" "Top Sub" "Bottom Sub" "Stabilizer" "Coupling"'

/* Initialisation string for mounted components display on wDrilling */
symbol	cfgLbl.78	' "None" "None" "None" "None" "None" "None" "None"'

/* Drilling-related labels on wDrilling */
symbol	cfgLbl.79	' "Pola" "ID Lubang" "Mast" "Tambahan Rod" "Material" "Lubang Baru" "Restore\\nAuto"'

/* Initialisation string for hole/pattern data display on wDrilling */
symbol	cfgLbl.80	' "None" "None" "0" "None"'

symbol	cfgLbl.81	' "Changing:" "Dismount Reason:" "ID Part Baru:" "Pilih Jenis Komponen"'
symbol	cfgLbl.82	' Change Change'

/* Status light labels on w0 and hp windows */
symbol	cfgLbl.83	' "Pesan" "GPS" "Deck"'

/* Target and Actual display fields on hp window */
symbol	cfgLbl.84	' "Target" "Sebenarnya"'

/* w0 Output box display labels */
symbol	cfgLbl.85	' "Kedalaman" "Bottom" "Target"'

/* Pattern data entry text label */
symbol	cfgLbl.86	"ID Pola:"

symbol	cfgLbl.87	"Masukkan Kedalaman Lubang"

symbol	cfgLbl.88	"Pola, Lubang & Target diperlukan"

symbol	cfgLbl.89	' "." "Clear" "Ok" "BATAL"'

symbol	cfgLbl.90	' "Keluar" "/" "Clr" "Hapus" "-" "Space" "Ok"'

symbol	cfgLbl.91	"Selesaikan lubang yang sekarang terlebih dahulu!"

symbol	cfgLbl.92	"Enter Mast Angle:"

symbol	cfgLbl.93	"Informasi dari Pusat"

symbol	cfgLbl.94	"Sekarang GPS dipakai untuk identifikasi lubang"

symbol	cfgLbl.95	"Mast angle detection override removed"

symbol	cfgLbl.96	"Overriding automatic mast angle detection"

symbol	cfgLbl.97	"Extend\\nJacks"

symbol	cfgLbl.98	"Mulai\\nPengeboran"

symbol	cfgLbl.99	"More Components"

symbol	cfgLbl.100	"Tambah\\nRod"

symbol	cfgLbl.101	"Mulai\\nBor"

/* w0 Output box display labels */
symbol	cfgLbl.102	' "Kedalaman" "Rate" "Target"'

symbol	cfgLbl.103	"Kualitas GPS Jelek"

symbol	cfgLbl.104	' "Lubang yang terbor" "Total Kedalaman" "Avg. Pen. Rate" "Avg. Mins\/Hole" "Waktu Pengeboran"'

symbol	cfgLbl.105	"Kualitas GPS Jelek"

symbol	cfgLbl.106	"Update"

symbol	cfgLbl.107	"Mohon mulai lubang dari layar peta"

symbol	cfgLbl.108	"Confirm redrilling"

/* 111 and 112 tied to cfgLbl.104 *** if you chang this, make change in 
 ** Macro_utils.cfg .. search for UpdateW0 
 */
symbol	cfgLbl.111	"Lubang yang terbor"

#if #arch(pe)
symbol	cfgLbl.112	"Min. per Hole (avg.)"
#else
symbol	cfgLbl.112	"Min. per Hole\n(avg.)"
#endif

symbol 	cfgLbl.113	"Yakin Reset?"

/*********************** End of Drill-Specific labels ***************************/

#else

/*********************** Not Drill-Related **************************************/

#	if #class(shovel) || #class(loader)

	symbol	cfgLbl.83	' "Msg" "GPS" "Matl"'
/* wInfo labels  */

/* symbol	cfgLbl.104	' "Total  Tons        " "Total Loads        " "Last Hour Tons     " "Last Hour Loads    " \
 *				  "Avg. Loading Time  " "Avg. Waiting Time  " "Working Time       " "Excav Rate         " \
 *				  "Excav Productivity " "Trucks Coming      " '
 */
 	symbol	cfgLbl.104	' "Total Tons         " "Total Loads         " "Last Hour Tons      " "Last Hour Loads     " "Trucks Coming       " '

	symbol	cfgLbl.106	"Update"

/* Info Labels */
	symbol	cfgLbl.114	"Loads"

	symbol	cfgLbl.115	' "Tons\/Hour" "Tons" "Min. per Load\\n      (Avg.)" '

/* Switch Button Labels */

	symbol	cfgLbl.116	"Inclinom."

#	endif

#	if #class(dozer) || #class(grader)

	symbol	cfgLbl.76	' "Project" "Pitch" "Roll"'

	symbol	cfgLbl.83	' "Msg" "GPS"'

	symbol	cfgLbl.84	"Current Project"

#	endif

	/* Single-antenna HP unit direction change button labels */
	symbol	cfgLbl.99	"Change\\nDirection"

#endif

        symbol  cfgLbl.150      "The equipment can not rotate because there is not Gps"

/* 
 * Configuration switches for turning
 * stuff on and off 
 */
symbol	cfg.0 1 /* Emergency button */
symbol	cfg.1 1 /* Ask operator to confirm emergency */
symbol	cfg.2 1 /* Operator can send keyed messages ... still used with basic keypad */
symbol	cfg.3 0 /* Operator can send messages to other equipment */
symbol	cfg.4 0 /* UNUSED Drill parts entered from keypad (0) or menu selection */

/*
 * Automatically switch to the message window when a new
 * message comes in. 0 = no switch. Any other number will
 * switch to the Message window for that many seconds
 */
symbol	cfg.5 5

#if #class(drill)
/*
 * Set the minimum auto-zoom-in-to-hole distance for a drill
 * This will vary for metric and non-metric mines and is in
 * meters or feet accordingly
 */
symbol	cfg.6	8

/*
 * set the following to determine the behaviour with material:
 * '0' : operator does not specify material type
 * '1' : operator specifies material type at least once
 * '2' : operator specifies material type for every hole
 */

symbol	cfg.7	0

#else
symbol	cfg.6
symbol	cfg.7
#endif

symbol	cfg.8

/* Split digging enabled? */
symbol	cfg.9 1

/* 
 * How many split materials 
 * '0'   = No split digging
 * '0 1' = Left and Right
 * '0 1 2' = Left, Front and Right
 */
symbol	cfg.10 '0 1'

symbol	matlCol.0	material1
symbol	matlCol.1	material2
symbol	matlCol.2	material3

/*
 * Icons for menu screens
 */
symbol	cfgIcon.0	none
symbol	cfgIcon.1	truck
symbol	cfgIcon.2	shovel
symbol	cfgIcon.3	dump
symbol	cfgIcon.4	crusher
symbol	cfgIcon.5	blast
symbol	cfgIcon.6	workshop
symbol	cfgIcon.11	region
symbol	cfgIcon.12	drill
symbol	cfgIcon.13	dozer
symbol	cfgIcon.14	grader
symbol	cfgIcon.15	rtdozer
symbol	cfgIcon.17	foreman
symbol	cfgIcon.18	wtruck
symbol	cfgIcon.19	general
