#!/psw/cpp
object  Time
font    Small
#if #class(excav) || #class(loaderlp) || #class(ug_loader) || #class(ug_train)
geom    x:110:y:390:w:204:h:90:bw:4
#else
geom    x:364:y:390:w:204:h:90:bw:4
#endif
#if #arch(cgc) || #arch(pe)
colors  w0.v2
#endif
label	'Waktu: $(CfgTime)'
action	GetTime1
