%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2007
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2007/10/03 00:50:32 $
 *    $State: Exp $
 *   Purpose: Load script for BE 39 HR driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Be39hr
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	Be39hrDriver
	object	Be39hrDevice name:be39dev
	object	Be39hrDriver name:be39hr device:be39dev sendto:MINECARENET
#endif
