#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    2
item	Camion\nNiveles	             HELP 1
item	Fecha\ y\nHora	             HELP 2
item    Estatus\nEquipo              WinMgr window:w3
item    Asig.\ Fija\nCamiones		HELP 10
item    Salir\ Menu                   Info unpost
#if #arch(cgc)
colors	default
itemColor Salir\ Menu:Exit
#endif
