#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Acceder\nSesion			kpLogOn
item	Cerrar\nSesion		kpLogOff
item	Lista\ de\nChequeo...	kpPrestart
item	Informacion		Info post
item	LP\ Ruta	        WinMgr window:w1	
item    GC\ Snapshot            snapshotUnit $(id);WinMgr window:w5
item	Fijar\ Todos\nlos\ Camiones	req lckall;args 0;sendaction
item	Elim\ Todos\ Camiones\nFijos\ a\ Botaderos	req ulalldmp;args 0;sendaction
item	Elim\ Todos\ Camiones\nFijos\ a\ Palas	 req ulallshv;args 0;sendaction
item	Elim\ Restricciones:\nCamiones\ a\ Palas	req uballshv;args 0;sendaction
item	Elim\ Restricciones:\nCamiones\ a\ Botaderos		req uballdmp;args 0;sendaction

#item	Reports			Reports post
item	Borrar\ la\nPantalla		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item    Mensage\ a\nDispatcher                 kpMessage
item	Emision...		req bcast;args 2;Bcast post	

#item    Mezcla...                WinMgr window:w2

item    Salir\ Menu              Other unpost
#if #arch(cgc)
itemColor Salir\ Menu:Exit
#endif
