%!/psw/cpp
/*
 * Define SLIP gateway to CANGSP if we're loading the Hub-1.  Otherwise,
 * we can talk directly to the CAN bus.
 */
#if #arch(hub)
#	include <Main/GspPort.h>
	object	Slip name:Gsp port:GSPPORT hdwe:rs232
#endif
#include <Hub/Main.cfg>
