%!/psw/cpp
geom	bw:4
hmin	50
map	n
item	Actualiser\ l\\'écran		WinMgr refresh
#if #arch(goic)
item	Vidéo\ inversée		Screen reverse:1
item	Vidéo\ normale		Screen reverse:0
#endif
item	Tester\nla\ radio		w0.Text write:"retries:$(CP-PING up)\n"
item	ID\ panneau		w0.Text write:"id:$(LOCAL-ID 0)\n"
#ifdef OPT1
#	define OBJECT Options
#	include <Cfg/Options.cfg>
#endif
