%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro_low.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2013/06/21 21:36:52 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Goic/Rpc.cfg>
#include <Goic/Spanish/keyboard.cfg>
#include <Goic/Spanish/Message.cfg>
#include <Goic/Spanish/PS_Macro.cfg>
#include <Goic/common/Macro.cfg>
#include <Goic/Spanish/Macro_English_fix.cfg>
#include <Goic/common/Macro_hp.cfg>
#include <Goic/common/Macro_screen.cfg>
#include <Goic/Spanish/Macro_cfg.cfg>
#include <Goic/common/Macro_msg.cfg>
#include <Goic/common/Macro_emerg.cfg>
#include <Goic/common/Macro_utils.cfg>
#include <Goic/common/Macro_project.cfg>
#include <Goic/common/Macro_client.cfg>
/*
 * This file originally had English/Macro_drill.cfg lines
 * copied here. Those lines were removed and replaced by
 * the following include statement. The Portuguese Macro.cfg
 * already does this.
 */
#include <Goic/drill/English/Macro_drill_low.cfg>
