%!/psw/cpp
geom		x:0:y:0:w:640:h:480
relief		flat
map		y
onpost		'actwin w0;Initw0Window;CheckScreenUpdate'
onunpost	lastwin w0

/* b5 not mapped. some geom:x changed. b6 moved up to top of CGC */
object	Button	name:w0.b0	geom:x:10:y:10:w:80:h:80:bw:2	icon:actions	action:'Actions post'
object	Button	name:w0.b1	geom:x:100:y:10:w:80:h:80:bw:2	icon:status	action:UpdateStatus
object	Button	name:w0.b2	geom:x:190:y:10:w:80:h:80:bw:2	icon:gps	action:showHP
object	Button	name:w0.b3	geom:x:280:y:10:w:80:h:80:bw:2	icon:info	action:'WinMgr window:wInfo'
object	Button	name:w0.b4	geom:x:550:y:10:w:80:h:80:bw:2	icon:emergency	action:DoEmergency
object	Button	name:w0.b5	geom:x:10:y:292:w:80:h:80:bw:2	icon:messages	action:DoMessages map:n
object	Button	name:w0.b6	geom:x:460:y:10:w:80:h:80:bw:2	icon:conbrite	action:showScrCfg
object	Button	name:w0.b7	geom:x:198:y:386:w:80:h:80:bw:2	label:Presets	action:'Presets post'	font:Tiny	map:n
object	Button	name:w0.Icon	geom:x:10:y:104:w:174:h:174:bw:2	icon:logo	action:'rpc.$(state)'
object	Text	name:w0.Text	geom:x:198:y:104:w:360:h:174:bw:2	colors:TextTerm	relief:sunken	font:Tiny	action:'w0.Text clear'

object	PctBar			name:w0.ht
/*
 * Info boxes under w0.Icon
 */
object	Label	name:w0.infoOutline0	geom:x:10:y:288:w:174:h:90:bw:1
object	Label	name:w0.info0		geom:x:108:y:292:w:72:h:36:bw:2	colors:TextTerm	relief:sunken font:Tiny map:y
object	Label	name:w0.info1		geom:x:108:y:334:w:72:h:36:bw:2 colors:TextTerm relief:sunken font:Tiny map:y
object	Label	name:w0.infoLbl0	geom:x:13:y:293:w:91:h:36:bw:0	map:y label:$(cfgLbl.111) font:Tiny
object	Label	name:w0.infoLbl1	geom:x:13:y:338:w:90:h:34:bw:0	map:y label:$(cfgLbl.112) font:Tiny

/*
 * Information output boxes - the information displayed
 * will eventually be customised from the workstation so that
 * customers can request the display of specific information
 */
object	Label	name:w0.info2	geom:x:292:y:192:w:174:h:36:bw:2	colors:TextTerm	relief:sunken	map:n
object	Label	name:w0.info3	geom:x:292:y:236:w:58:h:36:bw:2		colors:TextTerm	relief:sunken	map:n
object	Label	name:w0.info4	geom:x:292:y:280:w:58:h:36:bw:2		colors:TextTerm	relief:sunken	map:n
object	Label	name:w0.info5	geom:x:474:y:236:w:58:h:36:bw:2		colors:TextTerm	relief:sunken	map:n
object	Label	name:w0.info6	geom:x:474:y:280:w:58:h:36:bw:2		colors:TextTerm	relief:sunken	map:n
object	Label	name:w0.info7	geom:x:198:y:324:w:334:h:48:bw:2	colors:TextTerm	relief:sunken	map:n

object	Label	name:w0.v1	geom:x:198:y:332:w:360:h:40:bw:2	colors:TextTerm	relief:sunken	font:Small
object	Label	name:w0.v2	geom:x:198:y:292:w:138:h:36:bw:2	colors:TextTerm	relief:sunken	font:Tiny
object	Label	name:w0.v3	geom:x:420:y:292:w:138:h:36:bw:2	colors:TextTerm	relief:sunken	font:Tiny
object	Label	name:w0.v4	map:n
object	Label	name:w0.v5	map:n

/*
 * Labels for the information boxes above. These will also
 * be customisable to indicate the type of information
 * being displayed
 */
object	Text	name:w0.infoLbl2	geom:x:198:y:196:w:82:h:40:bw:0	map:n
object	Text	name:w0.infoLbl3	geom:x:198:y:240:w:82:h:40:bw:0	map:n
object	Text	name:w0.infoLbl4	geom:x:198:y:284:w:82:h:40:bw:0	map:n
object	Text	name:w0.infoLbl5	geom:x:380:y:240:w:82:h:40:bw:0	map:n
object	Text	name:w0.infoLbl6	geom:x:380:y:284:w:82:h:40:bw:0	map:n

/*
 * Objects associated with the blinking indicator
 * for message waiting
 */
/*
object	Label	name:w0.statusOutline0	geom:x:474:y:104:w:58:h:36:bw:1
object	Label	name:w0.statusLbl0	geom:x:480:y:114:w:50:h:24:bw:0	font:USAscx18
*/
object	Label	name:w0.statusLight0	geom:x:18:y:300:w:14:h:8:bw:1	relief:raised	colors:statusNone map:n

/*
 * Objects associated with the blinking indicator
 * for GPS quality
 */
object	Label	name:w0.statusLight1	geom:x:205:y:17:w:14:h:8:bw:1	relief:raised   colors:statusBad map:n
object	Label	name:w0.statusLight2	map:n

/*
 * objects associated with the clock indicator
 */
object	Label	name:w0.Clock	geom:x:344:y:292:w:68:h:36:bw:2 font:Small colors:TextTerm label:$(CfgTime) relief:sunken
object	Time

object	Label	name:w0.Outline3	geom:x:10:y:386:w:620:h:82:bw:1

/* Actual Depth Display */
object	Label	name:w0.data0		geom:x:86:y:396:w:92:h:60:bw:2 colors:TextTerm label:$(dispDepth) font:Large relief:sunken
object	Label	name:w0.dataLbl0	geom:x:14:y:396:w:70:h:60:bw:0 font:Tiny

/* Distance to Bottom of Hole Display */
object	Label	name:w0.data1		geom:x:260:y:396:w:92:h:60:bw:2	colors:TextTerm label:$(bottomRate)	font:Large relief:sunken
object	Label	name:w0.dataLbl1	geom:x:184:y:396:w:70:h:60:bw:0 font:Tiny

/* Target Depth Display */
object	Label	name:w0.data2		geom:x:430:y:396:w:92:h:60:bw:2	colors:TextTerm	label:$(target) font:Small relief:sunken
object	Label	name:w0.dataLbl2	geom:x:358:y:396:w:70:h:60:bw:0 font:Tiny

/* button to add steel or other custom functionality for use during drilling */
object	Button	name:w0.action	geom:x:540:y:396:w:83:h:60:bw:2 font:Tiny action:w0action.$(w0act) map:no

object  Button  name:w0.LvsProx geom:x:570:y:270:w:70:h:70 action:'cancelLvsProxBlink' map:n colors:redLabel

object  Menu	name:Checklists	hmin:80	font:Small	map:n	cols:2	geom:x:0:y:0:bw:4	itembw:2

#define OBJECT w0
#include <Cfg/Options.cfg>
