%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/01/12 21:30:59 $
 *    $State: Exp $
 *   Purpose: object instantiation script for BCSSim without interface
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	BCSSim
	object	BCSSim	name:bcssim speed:9600 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
#else
	echo Unable to assign port GSPPORT to BCSSim
#endif
