%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2010/09/03 19:37:27 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for Immobility Detection
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(goic) || #arch(goiccan) || #arch(cgc) 
#else
#	include <GpsImmobil/Hub/Macro.cfg>
#endif
