%!/psw/cpp
geom		x:0:y:0:h:480:w:640
map		n
onpost		'actwin hp;InitHpWindow'
onunpost	lastwin hp

object Label name:hp.disp0 geom:x:10:y:104:w:524:h:316:bw:1 label:"$(cfgLbl.103)"

object	Button	name:hp.b0	geom:x:10:y:10:h:80:w:80:bw:2	icon:main	action:showMain
object	Button	name:hp.b1	geom:x:90:y:10:h:80:w:80:bw:2	icon:config	action:showDrilling
object	Button	name:hp.b2	geom:x:170:y:10:h:80:w:80:bw:2	icon:pattern	action:'WinMgr window:wProject'
object	Button	name:hp.b3	geom:x:250:y:10:h:80:w:80:bw:2	icon:zoom	action:DoZoom
object	Button	name:hp.b4	geom:x:330:y:10:h:80:w:80:bw:2	icon:rotate	action:RotateViewGps
object  Button  name:hp.b5      geom:x:410:y:10:h:80:w:80:bw:2  icon:gpsstatus   action:GpsStatusPost font:Tiny

object	Button	name:hp.b6	geom:x:546:y:10:h:80:w:80:bw:2	icon:emergency	action:DoEmergency

object	Label	name:hp.lbl0	geom:x:484:y:424:h:52:w:52:bw:0	icon:north
/*
 * GPS and Operator material bounding box
 */

object	Label	name:hp.outline0	geom:x:492:y:10:w:52:h:36:bw:1
object	Label	name:hp.statusLbl0	geom:x:0:y:0:w:0:h:0:bw:0	font:USAscx18 map:n
object	Label	name:hp.statusLight0	geom:x:0:y:0:w:0:h:0:bw:1	relief:raised	colors:statusNone map:n
object	Label	name:hp.statusLbl1	geom:x:496:y:20:w:45:h:24:bw:0	font:USAscx18 label:"GPS"
object	Label	name:hp.statusLight1	geom:x:494:y:12:w:14:h:8:bw:1	relief:raised	colors:statusNone

/*
 * Deck level indicator light 
 */

object  Label   name:hp.outline2        geom:x:492:y:54:h:36:w:52:bw:1
object	Label	name:hp.statusLbl2	geom:x:496:y:64:w:45:h:24:bw:0	font:USAscx18
object	Label	name:hp.statusLight2	geom:x:494:y:56:w:14:h:8:bw:1	relief:raised	colors:statusNone

/*
 * Bounding box for Target and Actual
 */

object	Label	name:hp.outline3	geom:x:10:y:428:h:45:w:464:bw:1
object	Label	name:hp.outline4	geom:x:540:y:104:w:96:h:100:bw:1	
object	Label	name:hp.outline5	geom:x:540:y:210:w:96:h:100:bw:1


/*
 * Graphical window
 */
object	HpGpsCADCanvas	name:hp.CADCanvas	geom:x:10:y:104:h:316:w:526:bw:2	relief:sunken	graphicsBoxSize:256	font:Tiny	colors:Canvas	zoom:100	scale:1

object	Text	name:hp.Text	geom:x:10:y:424:w:468:h:52:bw:2	relief:sunken	colors:TextTerm	font:Tiny map:n
object	Button	name:hp.First	geom:x:10:y:424:w:468:h:52:bw:2	relief:sunken	colors:statusBad font:Tiny map:n label:"$(cfgLbl.210)" action:SetStartPointPattern
object	Button	name:hp.Second	geom:x:10:y:424:w:468:h:52:bw:2	relief:sunken	colors:statusBad font:Tiny map:n label:"$(cfgLbl.211)" action:SetEndPointPattern

/*
 * Data labels updated by UpdateMacroComponents
 */

/* Pattern Display Label */
object	Label	name:hp.dataLbl0	geom:x:14:y:432:w:60:h:38:bw:0	font:Tiny

/* Hole Display Label */
object	Label	name:hp.dataLbl1	geom:x:192:y:432:w:60:h:38:bw:0	font:Tiny

/* Distance to next label */
object	Label	name:hp.dataLbl2	geom:x:336:y:432:w:60:h:38:bw:0	font:Tiny

/* Target angle label */
object	Label	name:hp.dataLbl3	geom:x:542:y:136:w:40:h:32:bw:0	font:Tiny

/* Target heading label */
object	Label	name:hp.dataLbl4	geom:x:542:y:170:w:40:h:32:bw:0	font:Tiny

/* Actual angle label */
object	Label	name:hp.dataLbl5	geom:x:542:y:240:w:40:h:32:bw:0	font:Tiny

/* Actual heading label */
object	Label	name:hp.dataLbl6	geom:x:542:y:274:w:40:h:32:bw:0	font:Tiny

/* "Target" box label */
object	Label	name:hp.dispLbl0	geom:x:542:y:106:w:80:h:26:bw:0	font:Tiny

/* "Actual" box label */
object	Label	name:hp.dispLbl1	geom:x:542:y:214:w:80:h:26:bw:0	font:Tiny

/* "Extending Jacks" button, is only actived when the drill state is tramming */
object	Button	name:hp.cb0	geom:x:540:y:424:w:96:h:52:bw:2	font:Tiny map:no

object	Label	name:hp.data0	geom:x:86:y:432:w:100:h:36:bw:2	relief:sunken	colors:TextTerm	font:Tiny label:$(patID)
object	Label	name:hp.data1	geom:x:258:y:432:w:70:h:36:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(holeID)
object	Label	name:hp.data2	geom:x:398:y:432:w:70:h:36:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(dist)
object	Label	name:hp.data3	geom:x:584:y:136:w:46:h:28:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(tgtAngle)
object	Label	name:hp.data4	geom:x:584:y:170:w:46:h:28:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(tgtBrg)
object	Label	name:hp.data5	geom:x:584:y:242:w:46:h:28:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(actAngle)
object	Label	name:hp.data6	geom:x:584:y:276:w:46:h:28:bw:2 relief:sunken	colors:TextTerm	font:Tiny label:$(actBrg)

#if #option(Proximity)

object  Label   name:hp.pxProximity     geom:x:540:y:317:w:96:h:44:bw:1  label:$(pxMsgProximity) font:Tiny action:'onOff label:$(pxMsgSound) post'

#endif
