%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.5 $
 *   $Author: zambetis $
 *     $Date: 2009/05/07 18:35:44 $
 *    $State: Exp $
 *   Purpose: Configuration file for GpsHpDrill application.
 * * * * * * * * * * * * * * * * * * *
 */
#if !#arch(pe)
module ConvMgr
object ConvMgr
module HpGpsUtilities
module QuadTree
module HpGpsCADCanvas
module HpGpsCoordinator
module HpGpsDrillCoordinator
object Window name:hp
object HpGpsDrillCoordinator name:ComMgr
object Label name:projectdownloadwindow
object Label name:topodownloadwindow
object Label name:updatingrelief
#endif
