%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2010/09/23 17:34:08 $
 *    $State: Exp $
 *   Purpose: Load script for Sandvik DR460 driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME DR460
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
	module  Canopen
	module	GenericDrill
	module	DR460Driver
        object  Canopen name:dr460dev port:canb speed:500k id:12 promiscuous:yes
	object	DR460Driver name:dr460 device:dr460dev sendto:MINECARENET
