%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olson $
 *     $Date: 2002/10/26 05:26:11 $
 *    $State: Exp $
 *   Purpose: Load script for Dispatch - MineCare interface
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME DispatchIntf
#assert nodo(MineCare)
#include <MineCare/Main.cfg>
module  MineCare
object  Adapter name:adap
object  DispatchProxy name:disp
