#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.14 $
 *   $Author: dcitron $
 *     $Date: 2013/08/26 08:01:12 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */

/* this defines a macro that gets substituted into the Goic/English/Macro
 *    so that same code can be used in foreman and excav class equipment
 */

#define dEQREQ	SHOVEL-REQ
#include <Goic/common/Macro_utils.cfg>

#include <Goic/English/Macro.cfg>
bufsize 2048

in	KMATL	0x44	sb	matl.$2 $1;setMatl
#in	KMATL	0x44	sb	matl.$2 $1;Split.M$2 label:$1;setMatl

/* Messages */
message	msg.notavail	This Action Not Available
/* End Messages */

# for tramming loaders
symbol	icon.9	full

symbol	lastloc
symbol	temploc
macro   Init    Macro KSTATE:0

# can operator change location
symbol chngloc	n
# can operator set truck loading
symbol trkload	n

/* Set maxsplit to the number of splits 
 * defined for MAXSPLITS in the clients
 * config.prv
 */
symbol	maxsplit 5

/* if sendsplit is 1 then when operator
 * selects a material for a split it will
 * send it up to Dispatch
 */
symbol	sendsplit n

/* MATERIAL SPLIT CODE */

symbol  loc
symbol  matlstate 1
symbol  matl    0
symbol	matl.0	None
symbol	matl.1	None
symbol	matl.2	None
symbol	matl.3	None
symbol	matl.4	None
symbol	matl.5	None
symbol	matl.6	None
symbol	matl.7	None
symbol	matl.8	None
symbol	matl.9	None
symbol  matl.10  None

symbol	mNext.0 1
symbol  mNext.1 0
symbol  mNext.2 1
symbol  matrpc.0 0
symbol  matrpc.1
symbol  matrpc.2
symbol  matrpc.3
symbol  matrpc.4
symbol  matrpc.5
symbol  matrpc.6
symbol  matrpc.7
symbol  matrpc.8
symbol  matrpc.9
symbol  matrpc.10

symbol	msplit3 0 1 2 
symbol	msplit4 0 1 2 3 
symbol	msplit5	0 1 2 3 4 
symbol	msplit6	0 1 2 3 4 5
symbol	msplit7	0 1 2 3 4 5 6
symbol	msplit8	0 1 2 3 4 5 6 7
symbol	msplit9	0 1 2 3 4 5 6 7 8
symbol	msplit10	1 2 3 4 5 6 7 8 9

/*
#define SPLITGEOM1 x:40:y:200:w:600:h:80:bw:4
#define SPLITGEOM2 x:40:y:200:w:600:h:160:bw:4
#define SPLITGEOM3 x:40:y:200:w:600:h:240:bw:4
*/
symbol	SPLITGEOM1 x:40:y:200:w:600:h:80:bw:4
symbol	SPLITGEOM2 x:40:y:200:w:600:h:160:bw:4
symbol	SPLITGEOM3 x:40:y:200:w:600:h:240:bw:4

symbol	SPLITM0GEOM x:0:y:0:w:200:h:80:bw:4
symbol	SPLITM1GEOM x:200:y:0:w:200:h:80:bw:4
symbol	SPLITM2GEOM x:400:y:0:w:200:h:80:bw:4
symbol	SPLITM3GEOM x:0:y:80:w:200:h:80:bw:4
symbol	SPLITM4GEOM x:200:y:80:w:200:h:80:bw:4
symbol	SPLITM5GEOM x:400:y:80:w:200:h:80:bw:4
symbol	SPLITM6GEOM x:0:y:160:w:200:h:80:bw:4
symbol	SPLITM7GEOM x:200:y:160:w:200:h:80:bw:4
symbol	SPLITM8GEOM x:400:y:160:w:200:h:80:bw:4
symbol	stemp
macro	SetSplits	eq? $(min $(maxsplit) 9) $(maxsplit) Split geom:$(SPLITGEOM3);eq? $(min $(maxsplit) 6) $(maxsplit) Split geom:$(SPLITGEOM2);eq? $(min $(maxsplit) 3) $(maxsplit) Split geom:$(SPLITGEOM1);foreach $(msplit9);do 'stemp \$2;mapSplit'
#macro	SetSplits	foreach $(msplit9);do 'stemp \$2'
macro	mapSplit	eq? $(max $(maxsplit) $(stemp)) $(maxsplit) SetButton
macro	SetButton	Split.M$(stemp) geom:$(SPLITM$(stemp)GEOM)

symbol	ToggleExpr	NoSplit
macro	ToggleMatl	ToggleExpr MultiSplit;eq? "$(maxsplit)" "0" ToggleExpr NoSplit;eq? "$(maxsplit)" "1" ToggleExpr NoSplit;eq? "$(maxsplit)" "2" ToggleExpr TwoSplit;$(ToggleExpr)
macro	NoSplit		ToggleSplit
macro	TwoSplit	matl $(mNext.$(matl));ToggleSplit
macro	MultiSplit	Split post

macro	setCurSplit matl.0 $(matl.$(matl));setMatl
macro   setMatl		w0.Icon icon:$(icon.$(state));w0.Matl label:$(matl.$(matl))
macro	ToggleSplit	w0.Icon icon:$(icon.$(state));w0.Matl label:$(matl.$(matl));ne? "$(sendsplit)" "n" SendSplit
macro	SendSplit	req matl;ob1 $(matl);args 2;id $(matl.$(matl));sendaction

/* END MATERIAL SPLIT CODE */

macro	SetMaterial	req matl;ob1 $(matl);menutype Material;args 2;menuselect matmenuact;menuaction
macro	matmenuact	id $1;preMatl
#macro 	preMatl 	matl.$(matl):$1;setMatl;sendaction
macro	preMatl		eq? "$(sendsplit)" "n" preMatlLocal;ne? "$(sendsplit)" "n" sendaction
macro	preMatlLocal	more 1;KMATL "$1" $(matl)
macro	getMatmenu 	sendupdate
macro 	kpPanFull	kpFull
macro	kpTrammode	args 0;req trammode;sendaction

macro kpChngLoc	eq? "$(chngloc)" "n" notavail;ne? "$(chngloc)" "n" doChngloc
macro kpTrkLoad eq? "$(trkload)" "n" notavail;ne? "$(trkload)" "n" doTrkload
macro notavail	Ok label:$(msg.notavail) post
macro doChngloc	args 1;req setloc;typ L;menutype Locs;menuselect menuaction5;Locs action:menuaction post
macro doTrkload menuselect menuactionid;args 1;req strkld;menutype Trucks;Trucks action:menuaction post
macro postunitmenu	menutype $(typ)Unit$(unum);menuselect menuactionid;$(typ)Unit$(unum) action:menuaction post

macro  InitInfoWindow  SET-VALUES wInfo.lbl 0 0 [ $(cfgLbl.104) ];\
                       wInfo.update label:$(cfgLbl.106);\
                       wInfo.exit   label:$(cfgLbl.exit)

symbol  cfgLbl.104      ' "Total Tons       " "Total Loads      " "Last Hour Tons   " "Last Hour Loads  " "Trucks Coming    " '
symbol  cfgLbl.106      "Update"
symbol  cfgLbl.exit     "Exit"

/* Shift Information Window Var */
/* Flag to tell whether or not wInfo is being displayed */
symbol  winfoexited     0      
/* Defines the number of seconds till wInfo automatically updates */ 
symbol  winfoupdateint  180   

macro DynamicUpdatewInfo1 EQ-REQ infoUpdate;eq? $(winfoexited) 0 WinMgr after:$(winfoupdateint):DynamicUpdatewInfo2
macro DynamicUpdatewInfo2 EQ-REQ infoUpdate;eq? $(winfoexited) 0 WinMgr after:$(winfoupdateint):DynamicUpdatewInfo1

/* include any client overrides */
#include <Goic/excav/English/Client_Macro.cfg>

stack	8192

#	define OBJECT Macro
#	include <Cfg/Options.cfg>
