#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2019/08/07 12:40:36 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_SelfAssign	Autoasignar...
#define	Dict_Inpit	Inpit...
/* This is now in common/Spanish/Actions.cfg:
#define	Dict_EngHours	Horas\ de\ uso\ndel\ motor...
*/
