#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Colors.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:22 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Blue	Sininen
#define	Dict_Green	Vihreä
#define	Dict_Gray	harmaa
#define	Dict_Brown	Ruskea
#define	Dict_Yellow	Keltainen
#define	Dict_ExitMenu	Poistu\ valikosta