#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WinMenu.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:22 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_ExitMenu	Poistu\ valikosta
#define	Dict_EqInfo	Laitteistotiedot
#define	Dict_OperMsg	Laitteistohuomautukset
