#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2013/03/28 16:15:52 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	BcnLbl		Байрлалын ID
message	CommErrLbl	Харилцаа холбооны алдаа. 1 минутын дараа дахин оролдоно уу.
message NoEmergLbl	Холбоо байхгyй!!!\nОСЛЫН МЭДЭЭЛЭЛ \n ХYЛЭЭЖ АВААГYЙ!!!\n
message GoodCommsLbl	Холбоо сэргэсэн
message	BadCommsLbl	Холбоо тасарсан!
message CommsYesLbl	Сайн\nХолбоо
message CommsNoLbl	Муу\nХолбоо
message NextLbl		Дараагийн:
message PreStrtSpool	Эхлэхийн oмнoх yзлэг бичгдсэн
message sfyesnolbl	Анхааруулах дохиог унтраах уу?
message	setSFBeepBtn	Холбоог сэргээх\nАнхааруулах дохио
message	sfDumps		Овоолго
message sfExLds		Ачаа
message	NoCommActLbl	Холбоо тасарсан yед $(rpcReq) -ж болохгyй
message LocStatSpool	Байрлал ooрчлoх\nХyсэлт бичигдсэн.
message	sfLogOn		Системд орох
message sfUnknown	Мэдэгдэхгyй
message	TruckWait	Ачааны машин хyлээ
message PerformWork	Ажлаа гyйцэтгэх
message DoWork		Ажлаа хийх
message Travelling	Нyyж байна...
message Travel		Нyyх
message sfgoMsg		Явах
message sfdmpMsg	Ачаагаа буулгах
message sfarvMsg	руу ирсэн
message sfldMsg		аас ачилт хийлгyyлж байна
message sfrdyMsg	бэлэн байна
message sfact5		Томилох
message sfact6		Ирэх
message sfact7		Ачааны\nмашинд\nачаа\ ачих
message sfact12		Дyyрэн
