%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Rpc.cfg,v $
 * $Revision: 1.2 $
 *   $Author: zambetis $
 *     $Date: 2008/08/14 22:33:56 $
 *    $State: Exp $
 *   Purpose: Generic RPC definitions for GOIC.  Each client will
 *            probably want to override some or all of these.
 * * * * * * * * * * * * * * * * * * *
 */
out	ASSIGN	0x01	d	sendto up
out	ARRIVE	0x02	d	sendto up
out	LOAD	0x03	d	sendto up
out	LOGON	0x04	s	sendto up
out	FUEL	0x05	d?d	sendto up
out	HELP	0x06	d	sendto up
out	DELAY	0x07	d	sendto up
out	DOWN	0x08	d	sendto up
out	READY	0x09	d	sendto up
out	STANDBY	0x0a	d	sendto up
out	RECALL	0x0b	v	sendto up
in	GCDO	0x0c	s	$1
out	DEFECT	0x0e	d	sendto up
out	SELFASN	0x0f	s	sendto up
out	FULL	0x10	s?s	sendto up
out	MESSAGE 0x19	s?s	sendto up
out	EQ-REQ  0x30    s?[s]   sendto up
out	PRESTART 0x31   ds[b]	sendto up
in	KBCST   0x4a    bss     eq? $2 CLASS getBcst;eq? $2 "all" getBcst
in	KACK	0x46	b?s	Ok label:$(pressOk);Ok label:'$2' action:'' post;WinMgr after:$1:beepOn: after:30:noOk:
in	KASK	0x43	s?sss	eq? "$3" "EXQRY" SetExQry;kpaction:$4;$2 label:$1 post
out	EXCEPT_REPLY	0x39	s	Kp.L action:'Kp unpost';sendto up
in	KAUDIO	0x60	s	WinMgr audio:$1
in	KMENU2	0x61	s[s]	foreach $2;do $1 item:\$2
in	KMENCLR 0x62	ss[s]	foreach $3;do $1 itemColor:\$3:$2
in	MESSAGE-IN	0x63	s?s	DoMessageIn
in	KCOLOR	0x01f	sss	$1 itemColor:$2:$3
in      KSTATE  0x41    b?ssssss   state $1;loc $2;next $3;w0.Icon icon:$(icon.$1);w0.v1 label:$2;w0.v2 label:$3;w0.v3 label:$4;w0.Text write:$5\n;WinMgr audio:$7
in      KSTATE2  0x32    b?ssssss   state $1;loc $2;next $3;w0.Icon icon:$(icon.$1);w0.v1 label:$2;w0.v2 label:$3;w0.v3 label:$4;w0.Text write:$5;w0.Text write:\n;WinMgr audio:$7
#if #class(excav) || #class(loader) || #class(drill)
in      KSTATE  0x41    b?ssssss   state $1;loc $2;next $3;w0.Icon icon:$(icon.$1);w0.v1 label:$2;w0.v2 label:$3;w0.v3 label:$4;w0.Text write:$5\n;w0.v4 label:$6;WinMgr audio:$7
in      KSTATE2  0x32    b?ssssss   state $1;loc $2;next $3;w0.Icon icon:$(icon.$1);w0.v1 label:$2;w0.v2 label:$3;w0.v3 label:$4;w0.Text write:$5;w0.Text write:\n;w0.v4 label:$6;WinMgr audio:$7
#endif


#if #class(drill)
out	BIT	0x20	s	sendto up
out	STARTHOLE 0x21	s	sendto up
out	ENDHOLE 0x22	s	sendto up
out	ZERO	0x23	s	sendto up
out	SHOT	0x24	s	sendto up
in	KDRILL	0x5d	sss	getKdrill
out	VRATES	0x92	d	sendto up
out	VSHAFT	0x94	d	sendto up
#endif


out	NOOK	0xfa	v	sendto up
out	PWRUP	0xf1	s	sendto up
out	REQ-MENU	0xc0	d	sendto up

/* Rpcs passed between Hub and GC */
in      TOGC    0x26    s       $1
out	TOHUB	0x27	ss	sendto Can.0

/* Rpcs for payload system */

in	VIMS-DIPPER2	0x28	d	w0.v3 label:'$1 Tons'

/* High-precision related RPCs */
#if #option(HpShovel) || #option(HpLoader) || #option(HpDozer) || #option(HpDrill)
out	GPS-INFO-CGC	0x1e8	[s]		sendto up
out	NEW-PROJECT	0x1e9	b?sssssss	sendto up
out	REQ-PROJECT	0xa19	s		sendto up
#endif
