#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/05/17 21:54:51 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LogOn	Log\ On...
#define	Dict_LogOff	Log\ Off
#define	Dict_PsCheck	Pre-Start\nCheck...
#define	Dict_PsReport	Pre-Start\nReport...
#define	Dict_EngHours	Engine\nHours...
#define	Dict_Arrive	Arrive
#define	Dict_Assign	Assign
#define	Dict_Load	Load
#define	Dict_Fuel	Fuel...
#define	Dict_Full	Full
#define	Dict_Yes	Yes
#define	Dict_No		No
#define	Dict_ExitMenu	Exit\ Menu
