#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: PrestartItems_common.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2016/10/07 19:39:20 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map     n
geom    x:3:y:49:bw:0
#ifdef NEWUI
#	ifdef PORTRAIT
                geom    w:329:h:718
                object  Label   name:PrestartItems-LIST-PAGE.Group0    geom:x:0:y:0:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle0   geom:x:5:y:9:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment0  geom:x:255:y:9:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group1    geom:x:0:y:90:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle1   geom:x:5:y:99:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment1  geom:x:255:y:99:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group2    geom:x:0:y:180:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle2   geom:x:5:y:189:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment2  geom:x:255:y:189:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group3    geom:x:0:y:270:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle3   geom:x:5:y:279:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment3  geom:x:255:y:279:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group4    geom:x:0:y:360:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle4   geom:x:5:y:369:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment4  geom:x:255:y:369:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group5    geom:x:0:y:450:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle5   geom:x:5:y:459:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment5  geom:x:255:y:459:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group6    geom:x:0:y:540:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle6   geom:x:5:y:549:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment6  geom:x:255:y:549:w:69:h:69:bw:1
                object  Label   name:PrestartItems-LIST-PAGE.Group7    geom:x:0:y:630:w:332:h:88:bw:3
                object  Button  name:PrestartItems-LIST-PAGE.Toggle7   geom:x:5:y:639:w:250:h:69:bw:1
                object  Button  name:PrestartItems-LIST-PAGE.Comment7  geom:x:255:y:639:w:69:h:69:bw:1
#	else
		geom	w:666:h:358
		object	Label	name:PrestartItems-LIST-PAGE.Group0	geom:x:0:y:0:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle0	geom:x:5:y:9:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment0	geom:x:255:y:9:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group1	geom:x:0:y:90:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle1	geom:x:5:y:99:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment1	geom:x:255:y:99:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group2	geom:x:0:y:180:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle2	geom:x:5:y:189:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment2	geom:x:255:y:189:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group3	geom:x:0:y:270:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle3	geom:x:5:y:279:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment3	geom:x:255:y:279:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group4	geom:x:334:y:0:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle4	geom:x:342:y:9:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment4	geom:x:592:y:9:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group5	geom:x:334:y:90:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle5	geom:x:342:y:99:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment5	geom:x:592:y:99:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group6	geom:x:334:y:180:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle6	geom:x:342:y:189:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment6	geom:x:592:y:189:w:69:h:69:bw:1
		object	Label	name:PrestartItems-LIST-PAGE.Group7	geom:x:334:y:270:w:332:h:88:bw:3
		object	Button	name:PrestartItems-LIST-PAGE.Toggle7	geom:x:342:y:279:w:250:h:69:bw:1
		object	Button	name:PrestartItems-LIST-PAGE.Comment7	geom:x:592:y:279:w:69:h:69:bw:1
#	endif
#endif

#if #language(Hindi)
#	define TOGFONTSIZE TinyEng
#	define COMFONTSIZE Large
#else
#	define TOGFONTSIZE Tiny
#	define COMFONTSIZE Tiny
#endif

#if #language(Russian)
#	define COMMENTBTNSIZE Tiny2
#	define CONTROLBTNSIZE Tiny
#elif #language(French)
#	define COMMENTBTNSIZE Tiny
#	define CONTROLBTNSIZE default
#else
#	define COMMENTBTNSIZE default
#	define CONTROLBTNSIZE default
#endif

object	Button	name:PrestartItems-LIST-PAGE.Toggle0	label:PSBTN0LBL font:TOGFONTSIZE map:PSBTN0MAP colors:PSINIT action:'doPsToggle 0'
object	Button	name:PrestartItems-LIST-PAGE.Comment0	icon:checklist_comment map:PSBTN0MAP action:'doPsComment 0'
object	Button	name:PrestartItems-LIST-PAGE.Toggle1	label:PSBTN1LBL font:TOGFONTSIZE map:PSBTN1MAP colors:PSINIT action:'doPsToggle 1'
object	Button	name:PrestartItems-LIST-PAGE.Comment1	icon:checklist_comment map:PSBTN1MAP action:'doPsComment 1'
object	Button	name:PrestartItems-LIST-PAGE.Toggle2	label:PSBTN2LBL font:TOGFONTSIZE map:PSBTN2MAP colors:PSINIT action:'doPsToggle 2'
object	Button	name:PrestartItems-LIST-PAGE.Comment2	icon:checklist_comment map:PSBTN2MAP action:'doPsComment 2'
object	Button	name:PrestartItems-LIST-PAGE.Toggle3	label:PSBTN3LBL font:TOGFONTSIZE map:PSBTN3MAP colors:PSINIT action:'doPsToggle 3'
object	Button	name:PrestartItems-LIST-PAGE.Comment3	icon:checklist_comment map:PSBTN3MAP action:'doPsComment 3'
object	Button	name:PrestartItems-LIST-PAGE.Toggle4	label:PSBTN4LBL font:TOGFONTSIZE map:PSBTN4MAP colors:PSINIT action:'doPsToggle 4'
object	Button	name:PrestartItems-LIST-PAGE.Comment4	icon:checklist_comment map:PSBTN4MAP action:'doPsComment 4'
object	Button	name:PrestartItems-LIST-PAGE.Toggle5	label:PSBTN5LBL font:TOGFONTSIZE map:PSBTN5MAP colors:PSINIT action:'doPsToggle 5'
object	Button	name:PrestartItems-LIST-PAGE.Comment5	icon:checklist_comment map:PSBTN5MAP action:'doPsComment 5'
object	Button	name:PrestartItems-LIST-PAGE.Toggle6	label:PSBTN6LBL font:TOGFONTSIZE map:PSBTN6MAP colors:PSINIT action:'doPsToggle 6'
object	Button	name:PrestartItems-LIST-PAGE.Comment6	icon:checklist_comment map:PSBTN6MAP action:'doPsComment 6'
object	Button	name:PrestartItems-LIST-PAGE.Toggle7	label:PSBTN7LBL font:TOGFONTSIZE map:PSBTN7MAP colors:PSINIT action:'doPsToggle 7'
object	Button	name:PrestartItems-LIST-PAGE.Comment7	icon:checklist_comment map:PSBTN7MAP action:'doPsComment 7'
