#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: TwoEng.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/06/05 20:33:14 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map	n
geom	x:0:bw:0
#ifdef LARGEUI
#	ifdef PORTRAIT
		geom	y:100:w:600:h:295
		object	Label	name:TwoEng.Label	geom:x:-1:y:-1:w:602:h:85:bw:0
		object	Button	name:TwoEng.Eng0	geom:x:10:y:97:w:350:h:85:bw:2	font:Large
		object	Button	name:TwoEng.Eng1	geom:x:10:y:198:w:350:h:85:bw:2	font:Large
		object	Button	name:TwoEng.Req		geom:x:370:y:93:w:220:h:95:bw:2
		object	Button	name:TwoEng.Cancel	geom:x:370:y:193:w:220:h:95:bw:2
#	else
		geom	y:100:w:533:h:390
		object	Label	name:TwoEng.Label	geom:x:-1:y:-1:w:535:h:85:bw:0
		object	Button	name:TwoEng.Eng0	geom:x:7:y:95:w:521:h:90:bw:2	font:Large
		object	Button	name:TwoEng.Eng1	geom:x:7:y:190:w:521:h:90:bw:2	font:Large
		object	Button	name:TwoEng.Req		geom:x:40:y:284:w:220:h:106:bw:2
		object	Button	name:TwoEng.Cancel	geom:x:280:y:284:w:220:h:106:bw:2
#	endif
#else
#	ifdef PORTRAIT
		geom	y:450:w:600:h:224
		object	Label	name:TwoEng.Label	geom:x:-1:y:-1:w:602:h:60:bw:0
		object	Button	name:TwoEng.Eng0	geom:x:7:y:62:w:380:h:80:bw:2
		object	Button	name:TwoEng.Eng1	geom:x:7:y:144:w:380:h:80:bw:2
		object	Button	name:TwoEng.Req		geom:x:394:y:62:w:205:h:80:bw:2
		object	Button	name:TwoEng.Cancel	geom:x:394:y:144:w:205:h:80:bw:2
#	else
		geom	y:150:w:533:h:311
		object	Label	name:TwoEng.Label	geom:x:-1:y:-1:w:535:h:85:bw:0
		object	Button	name:TwoEng.Eng0	geom:x:7:y:97:w:350:h:100:bw:2	font:Large
		object	Button	name:TwoEng.Eng1	geom:x:7:y:208:w:352:h:100:bw:2	font:Large
		object	Button	name:TwoEng.Req		geom:x:366:y:92:w:160:h:108:bw:2
		object	Button	name:TwoEng.Cancel	geom:x:366:y:204:w:160:h:110:bw:2
#	endif
#endif
object	Label	name:TwoEng.Label	relief:flat	label:"$(EngHoursLbl)"	font:Large
object	Button	name:TwoEng.Eng0	relief:sunken	label:"$(TwoEngine0): $(enghour0)"	action:PostEngHr0
object	Button	name:TwoEng.Eng1	relief:sunken	label:"$(TwoEngine1): $(enghour1)"	action:PostEngHr1
object	Button	name:TwoEng.Req		relief:raised	label:"$(SendNowLbl)"	action:Send2EngHours	font:Large
object	Button	name:TwoEng.Cancel	relief:raised	label:"$(CancelLbl)"	action:CleanEngHrVal	font:Large
