#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WinMenu.cfg,v $
 * $Revision: 1.7 $
 *   $Author: mlins $
 *     $Date: 2019/04/03 19:22:43 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map	n
#define LANG_FILE	<10inch/common/LANGUAGE/WinMenu.cfg>
#include LANG_FILE
#ifdef EQINFOVIEW
item	Dict_EqInfo	doEqInfoWindow
#endif
#ifdef EQMTNOTES
item	Dict_OperMsg	doOperMsgWindow
#endif
#define	APP_FILE	<10inch/APP/WinMenu.cfg>
#include APP_FILE
#define OBJECT WinMenu
#include <Cfg/Options.cfg>
item	Dict_ExitMenu	doWinMenuExit
/* Eliminated by request from Marketing (TFS 170462) */
/* itemColor	Dict_ExitMenu:Exit */
