#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/04/29 18:51:19 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	spillRepMsg	Derramamento relatado
message dustRepMsg      Poeira em área relataram
