%!/psw/cpp

# define PANTOPORT 0

fall PANTOPORT:VS-EVENT 16908288 $(GpsTruck velocity) $(GpsTruck x) $(GpsTruck y) $(GpsTruck velocity)
rise PANTOPORT:VS-EVENT 16908289 $(GpsTruck velocity) $(GpsTruck x) $(GpsTruck y) $(GpsTruck velocity)
dfilter PANTOPORT:1:250
