#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.6 $
 *   $Author: mlins $
 *     $Date: 2019/04/23 23:29:30 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* common */
message GoodCommsLbl Baðlantý Saðlandý. 
message BadCommsLbl Baðlantý Kesildi. 
message CommsBeepLbl Baðlantý Uyarý Sesini Kapat 
message	CommsBeepBtn Baðlantý Uyarý\nSesini Ayarla 
message	OkLbl Tamam 
message	CancelLbl Ýptal 
message	YesLbl Evet 
message	NoLbl Hayýr 
message	CommsErrorLbl Baðlantý Hatasý 
message	CantSendLbl $2, $1'e gönderilemiyor. 
message	UpdatePanelLbl Sonraki Adým: Panel'i Güncelle 
message	ExitLbl Çýkýþ 
message	NoneLbl Yok 
message ConfirmActLbl Ýþ'i Onaylayýn. 
message ShvlWaitLbl Ekskavatörün Yüklemesini Bekleyin 
message QuickMessageLbl Hýzlý Mesaj 
message FavoritesTitle Sýk Kullanýlanlar 
/* The following are default values which should be overridden in Central.cfg */
message	stat1 Arýzalý 
message	stat2 Hazýr 
message	stat3 Bekleme 
message	stat4 Gecikme 
message	stat5 Vardiya Deðiþimi 

/* Dynamic Menus */
/* The following are default values which get overridden by Central on PWRUP */
message morestr Daha Fazlasý 
message exitstr Çýkýþ 
message updtstr Güncelle 

/* w0 */
message	ActionLbl Ýþlemler 
message	StatusLbl Durum 
message	OptionsLbl Ayarlar 
message	ChatLbl Mesaj\nGönder 
message	ClearTextLbl Metni Temizle 
message	ViewBtnLbl Görünüm 
message	HomeLbl Ana Sayfa 
message LockBtnLbl Ekraný Kilitle 
message	ColorLbl Renk 
message	EnterMsgLbl Mesaj Girin 
message WelcomeLbl IntelliMine'a Hoþ Geldiniz 
message	ExpectedLbl Tahmini Varýþ 
message	LateLbl Gecikme 
message	MinutesLbl Dakika 
message SpeedMsgLbl Hareket Halinde Mesaj Yazamazsýnýz! 
message	AlertViewLbl Görünüm $(msg.$1)'da $2 Okunmamýþ Mesajýnýz Var. 

/* StatBar */
message	EmergOkLbl Acil Durum Ýlettiniz\n(Talebiniz $(EmergCnt) saniye\niçerisinde iletilecektir.) 
message	SendNowLbl Gönder 
message	BcastMsg $(OMS host)'dan Mesaj:\n
message	EmergBcastMsg ACÝL DURUM!!! 

/* Actions */
message	ErrorLbl Hata 
message	PressOkLbl Tamam'a Basýnýz. 
message	PayrollLbl Sicil No 
message	NotAvailableLbl Bu Ýþ Mevcut Deðil 
message	FuelLbl Yakýt Miktarýný Giriniz 
message	EngHoursLbl Motor Saatini Giriniz 

/* Prestart */
message	PrestartTitle	Ýþ Baþý Kontrol Listesi
message	PrestartLoading Liste Yükleniyor 
message	PageLbl Sayfa 
message SendLbl Gönder 
message	GenCommentLbl Genel Açýklama 
message	GenComm2Lbl Genel\nAçýklama 
message	General		Genel
message	EditCommLbl Açýklamayý\nDeðiþtir 
message LastComm $1 Ýçin Son Açýklama 
message LastCommEnhan $1:$2 Ýçin Son Açýklama $3 Tarafýndan Yapýldý. 
message	PassAllLbl Tümü Saðlam 
message	EnterCommentLbl Açýklama\nGiriniz 
message	PrevPageLbl Önceki Sayfa 
message	NextPageLbl Sonraki Sayfa 
message	CommentTitle Açýklama Giriniz 
message	RepRequestLbl Rapor Ýsteniyor, Lütfen Bekleyiniz... 
message	PsCritFailLbl Kritik Maddeler Baþarýsýz 
message PsIncompleteLbl $(PrestartTitle.$(PsList)) Tamamlanmadý!\n Tüm Maddeleri Doldurunuz. 
message	DoNotOperateLbl Ekipmaný Çalýþtýrmayýnýz! 
message NoConfig Ayarlanmadý 

message SelInitCLLbl Lütfen Ýlk kontrol Listesini Seçiniz. 
/* The following must match the defintions in central:
These messages are now created by the Prestart Item Utility from the enum DEFAULT
message	FailLbl Uygun Deðil 
message	PassLbl Uygun 
*/
/* EqInfo View */
message msg.bcmunit BCM 
message msg.tonunit Ton 
message msg.bcm0 Kova: 
message msg.bcm1 Kantar Yük: 
message msg.bcm2 DISPATCH Yük: 
message msg.bcmshift0
message msg.bcmshift1 Vardiya Üretimi: 
message msg.bcmshift2 Vardiya Üretimi: 

/* Operator Messages View */
message	OperMsgCreatebt Not\nYazýn 
message	OperMsgCreate Yeni Makine Notu Yazýn 
message	msg.opmsgreq Notlar Ýsteniyor, Lütfen Bekleyiniz... 
message	msg.OperMsg Makine Notlarý 

/* Resource View (future devel)*/
message	msg.rview1 Yer Bilgisi 
message	msg.rview2 Ýsim: 
message	msg.rview3 Tür: 
message	msg.rview4 Durum: 
message	msg.rview5 Oto-Varýþ: Evet 
message	msg.rview6 Oto-Varýþ: Hayýr 

/* Weight Station Module */
message ReadyToWeighLbl Tartýma Hazýr Olunca Basýnýz 

/* Two Engine Hours */
message	TwoEngine0 Motor 1 
message	TwoEngine1 Motor 2 

/* Non-truck tiedown */
message	tiedownrejMsg Parkup Reddedildi. 
message tiedownacptMsg Parkup Kabul Edildi. 
message	TiedownNotifyLbl Parkup Görevlendirmesi. 
message AcceptLbl Kabul 
message RejectLbl Ret 

/* SpeedUnit Display */
message UnitMph mph 
message UnitKph km/h

/* Trucks en Route */
message	TrkRoutesLblLine Yolda Olan Kamyonlar 
message	TrkRoutesLbl Yolda Olan\nKamyonlar 
message	msg.trkrt Yolda Olan Kamyonlar 
