#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WinMenu.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2018/08/10 03:03:38 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_ExitMenu Çýkýþ 
#define	Dict_EqInfo Makine\nBilgisi 
#define	Dict_OperMsg Makine\nNotlarý 
