%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.7 $
 *   $Author: dcitron $
 *     $Date: 2014/11/07 21:23:36 $
 *    $State: Exp $
 *   Purpose: Load script for VHMS driver
 * * * * * * * * * * * * * * * * * * *
 */
 
#define DRIVERNAME VHMS 
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>

    module VHMSConfig

#if defined(MODEL) 

#if #model(D475)
    object VHMSD475Config name:vhmsconfig
#endif
#if #model(D375)
    object VHMSD375Config name:vhmsconfig
#endif
#if #model(830E)
    object VHMS830EConfig name:vhmsconfig
#endif
#if #model(930E)
    object VHMS930EConfig name:vhmsconfig
#endif
#if #model(WA1200)
    object VHMSWA1200Config name:vhmsconfig
#endif
#if #model(PC4000)
    object VHMSPC4000Config name:vhmsconfig
#endif
#if #model(730E)
    object VHMS730EConfig name:vhmsconfig
#endif
#if #model(HD7857)
    object VHMS7857Config name:vhmsconfig
#endif
#if #model(HD15007)
    object VHMS15007Config name:vhmsconfig
#endif
#if #model(WA800900)
    object VHMS800900Config name:vhmsconfig
#endif
#if #model(PC12508)
    object VHMSPC12508Config name:vhmsconfig
#endif
#if #model(960E)
    object VHMS960EConfig name:vhmsconfig
#endif
#if #model(HD4656057)
    object VHMS4656057Config name:vhmsconfig
#endif
#if #model(PC20008)
    object VHMSPC20008Config name:vhmsconfig
#endif
#if #model(PC3000)
    object VHMSPC3000Config name:vhmsconfig
#endif
#if #model(PC55006D)
    object VHMSPC55006DConfig name:vhmsconfig
#endif
#if #model(PC5500E6)
    object VHMSPC5500E6Config name:vhmsconfig
#endif
#if #model(PC80006)
    object VHMSPC80006Config name:vhmsconfig
#endif
#if #model(WA6006)
    object VHMSWA6006Config name:vhmsconfig
#endif
#if #model(WD6006)
    object VHMSWD6006Config name:vhmsconfig
#endif
#if #model(960E1K)
    object VHMS960E1KConfig name:vhmsconfig
#endif
#if #model(730E15000100100)
    object VHMS730E_15 name:vhmsconfig
#endif
#if #model(730E815010100100)
    object VHMS730E_8_15 name:vhmsconfig
#endif
#if #model(830E12010100200)
	object VHMS830E_12 name:vhmsconfig
#endif
#if #model(830E1LE12020200300)
	object VHMS830E_1LE name:vhmsconfig
#endif
#if #model(830E1TB12030100100)
	object VHMS830E_1TB_100 name:vhmsconfig
#endif
#if #model(830E1TB12030100300)
	object VHMS830E_1TB_300 name:vhmsconfig
#endif
#if #model(830EAC11070100100)
	object VHMS830E_AC_11 name:vhmsconfig
#endif
#if #model(830EAC12010100200)
	object VHMS830E_AC_1201 name:vhmsconfig
#endif
#if #model(830EAC12040100110)
	object VHMS830E_AC_1204 name:vhmsconfig
#endif
#if #model(930E3SEAC11060100100)
	object VHMS930E3SEAC100 name:vhmsconfig
#endif
#if #model(930E3SEAC11060100110)
	object VHMS930E3SEAC110 name:vhmsconfig
#endif
#if #model(930E4SEAC11060100100)
	object VHMS930E4SEAC100 name:vhmsconfig
#endif
#if #model(930E4SEAC11060100110)
	object VHMS930E4SEAC110 name:vhmsconfig
#endif
#if #model(930E3AC11070100100)
	object VHMS930E3AC100 name:vhmsconfig
#endif
#if #model(930E3AC11070100110)
	object VHMS930E3AC110 name:vhmsconfig
#endif
#if #model(930E4AC11070100100)
	object VHMS930E4AC100 name:vhmsconfig
#endif
#if #model(930E4AC11070100110)
	object VHMS930E4AC110 name:vhmsconfig
#endif
#if #model(930E4TB11090100100)
	object VHMS930E4TB100 name:vhmsconfig
#endif
#if #model(930E4TB11090100110)
	object VHMS930E4TB110 name:vhmsconfig
#endif

#if #model(WA1200341000100200)
	object WA1200300100200 name:vhmsconfig
#endif
#if #model(WA1200341000200300)
	object WA1200300200300 name:vhmsconfig
#endif
#if #model(WA1200641010100100)
	object WA1200610100100 name:vhmsconfig
#endif
#if #model(WA1200641010200200)
	object WA1200610200200 name:vhmsconfig
#endif
#if #model(WA1200641010300310)
	object WA1200610300310 name:vhmsconfig
#endif

#endif

#if defined(GSPPORT) && !#GSPPORT(busy)
    module	Can
	object	Can name:CanB id:68 ipaddr:192.168.204.68
	module	VHMSDriver
	object	VHMSDriver name:vhms device:CanB.121 sendto:MINECARENET
#endif
