%!/psw/cpp
geom	x:22:y:404:w:300:h:72
label	Brightness
action	Screen backlt:$1
getter	Screen backlt
#if #arch(cgc)
min	40
max	100
#else
min	0
max	63
#endif
#ifdef OPT1
#	define OBJECT w0.Sl1
#	include <Cfg/Options.cfg>
#endif
