%!/psw/cpp

#include <Goic/emv/hosts>

class	com/mmsi/ats/message/PoliciesReqMsg					0x8893
class	com/mmsi/ats/message/WGSOriginReqMsg					0x8890
class	com/mmsi/ats/message/WGSOriginMsg					0x8891
class	com/mmsi/ats/message/Policies					0x8892
class	com/mmsi/ats/message/vehiclecontrol/MaxVelocityMsg			0x2028
class	com/mmsi/ats/message/vehiclecontrol/BehaviorResetMsg			0x2008
class	com/mmsi/ats/message/vehiclecontrol/BehaviorStatusMsg		0x2009
class	com/mmsi/ats/message/vehiclecontrol/BehaviorDataMsg			0x2006
class	com/mmsi/ats/message/vehiclecontrol/DriveSpeedProfileMsg		0x2005
class	com/mmsi/ats/message/vehiclecontrol/SafetySpeedProfileMsg		0x200F
class	com/mmsi/ats/message/vehiclecontrol/DriveTrajectoryResetMsg		0x2007
class	com/mmsi/ats/message/vehiclecontrol/SafetyTrajectoryResetMsg		0x2010
class	com/mmsi/ats/message/vehiclecontrol/DriveTrajectoryStatusMsg		0x200C
class	com/mmsi/ats/message/vehiclecontrol/SafetyTrajectoryStatusMsg	0x2011
class	com/mmsi/ats/message/vehiclecontrol/DriveTrajectoryDataMsg		0x2004
class	com/mmsi/ats/message/vehiclecontrol/SafetyTrajectoryDataMsg		0x2012
class	com/mmsi/ats/message/vehiclecontrol/RequestVersionMsg		0x2000
class	com/mmsi/ats/message/vehiclecontrol/VersionInfoMsg			0x2001
class	com/mmsi/ats/message/vehiclecontrol/DriveInfoMsg			0x2003
class   com/mmsi/ats/message/vehiclecontrol/ErrorCodeMsg                     0x8007
class   com/mmsi/ats/message/vehiclecontrol/WarnningMsg                      0x8009
class   com/mmsi/ats/message/vehiclecontrol/ClearWarnningMsg                 0x800a
class	com/mmsi/ats/message/vehiclecontrol/SafetyInfoMsg			0x2013
class	com/mmsi/ats/message/vehiclecontrol/EmergencyCancelMsg		0x8042
class	com/mmsi/ats/message/vehiclecontrol/SafetyEmergencyCancelMsg		0x8673
class	com/mmsi/ats/message/vehiclecontrol/RequestEmergencyStopMsg		0x8044
class   com/mmsi/ats/message/vehiclecontrol/AdjustedGpsPositionReportTimingMsg 0x200a
class	com/mmsi/ats/message/vehiclecontrol/AdjustedGpsPositionMsg		0x200B
class	com/mmsi/ats/message/vehiclecontrol/SimulTruckInitMsg		0x2020
class	com/mmsi/ats/message/vehiclecontrol/SimulTruckReadyMsg		0x2021
class	com/mmsi/ats/message/vehiclecontrol/GpsPositionMsg			0x1042
class	com/mmsi/ats/message/vehiclecontrol/LocalGridDefinitionMsg		0x2022
class	com/mmsi/ats/message/vehiclecontrol/DriveStatusMsg			0x200D
class	com/mmsi/ats/message/vehiclecontrol/SafetyStatusMsg			0x200E
class	com/mmsi/ats/message/vehiclecontrol/BasicSafetyObstacleDataMsg	0x2014
class	com/mmsi/ats/message/vehiclecontrol/SafetyErrorDataMsg		0x2015
class	com/mmsi/ats/message/vehiclecontrol/SafetyResetDataMsg		0x2016
class	com/mmsi/ats/message/vehiclecontrol/SafetyDataAckMsg			0x2017
class	com/mmsi/ats/message/vehiclecontrol/TrajConditionObstacleBlockMsg	0x2018
class	com/mmsi/ats/message/vehiclecontrol/PolygonTimeConditionObstacleBlockMsg 0x2023
class	com/mmsi/ats/message/vehiclecontrol/SafetyAuxEqmtCommand		0x6670
class	com/mmsi/ats/message/vehiclecontrol/SafetyResetCommandMsg		0x2019
class	com/mmsi/ats/message/vehiclecontrol/SafetyCommandAckMsg		0x2024
class	com/mmsi/ats/message/vehiclecontrol/SafetyCancelObstacleBlockMsg	0x2025
class	com/mmsi/ats/message/vehiclecontrol/NotifyEmergency			0x2027
class	com/mmsi/ats/message/vehiclecontrol/PassGpsPosition			0x6666
class	com/mmsi/ats/message/vehiclecontrol/CancelSpeedOrderMsg	    	0x8500
class	com/mmsi/ats/message/vehiclecontrol/SpeedOrderMsg	    	0x8501
class	com/mmsi/ats/message/vehiclecontrol/PassingTruckStateMsg	    	0x8502
class	com/mmsi/ats/message/vehiclecontrol/SpeedOrderReplyMsg	    	0x8504
class	com/mmsi/ats/message/vehiclecontrol/PassingTruckStateReplyMsg    	0x8505
class	com/mmsi/ats/vehiclecontrol/VehicleControlError			0x6671
class	com/mmsi/ats/action/ActionError					0x6673
class	com/mmsi/ats/action/message/RegularActionCmdMsg			0x8886
class	com/mmsi/ats/action/message/InterruptActionCmdMsg			0x8887
class	com/mmsi/ats/action/message/SpecialActionCmdMsg			0x8888
class	com/mmsi/ats/action/message/StatusReporter				0x6981
class	com/mmsi/ats/action/message/ActionReplyMsg				0x8889
class	com/mmsi/ats/course/multiseg/LinearDataBlock				0x8880
class	com/mmsi/ats/course/multiseg/ArcLineDataBlock			0x8881
class	com/mmsi/ats/course/multiseg/ArrayPosition				0x6660
class	com/mmsi/ats/course/multiseg/ArcLinePosition				0x6661
class	com/mmsi/ats/interact/autonomous/OperationConditionInfo		0x6674
class	com/mmsi/ats/interact/autonomous/AutoPermission			0x6663
class	com/mmsi/ats/interact/autonomous/AutoPermissionContainer		0x6664
class	com/mmsi/ats/interact/autonomous/MoveDistanceInfo			0x6667
class	com/mmsi/ats/interact/autonomous/CourseIDInfo			0x6668
class	com/mmsi/ats/interact/autonomous/PermissionError			0x6672
class	com/mmsi/ats/auxservice/obstacle/adt/SafetyObstacleData		0x6665
class	com/mmsi/ats/course/multiseg/sender/SenderCourseRef			0x8882
class	com/mmsi/ats/course/multiseg/sender/CourseDataRequestMsg		0x8883
class	com/mmsi/ats/message/GPSPosition					0x8885
class	com/mmsi/net/ReplicaRequest						0x0154
class	com/mmsi/net/ReplicaResponse						0x0155
class	com/mmsi/net/Event						0x0218
class 	com/mmsi/ats/eventlogger/MonitorEventLog                             0x6669
class	com/mmsi/ats/emergency/message/Emergency				0x0214
class	com/mmsi/ats/emergency/message/EmergencySwitch			0x0215
class	com/mmsi/ats/emergency/message/EmergencyLEDS				0x0216
class	com/mmsi/ats/emergency/message/EmergencyOK				0x0217
class	com/mmsi/ats/emergency/message/EmergencyPos				0x7850
class	com/mmsi/ats/emergency/message/EmergencyTest				0x7851
class	com/mmsi/ats/emergency/message/EmergencyTestAck			0x7852
class	com/mmsi/ats/emergency/message/EmergencyAck				0x7853
class	com/mmsi/ats/emergency/message/EmergencyStop				0x8044
class	com/mmsi/ats/interact/manual/message/ActivateSB			0x7800
class	com/mmsi/ats/interact/manual/message/CancelSB			0x7801
class	com/mmsi/ats/interact/manual/message/ManualPermission		0x7808
class	com/mmsi/ats/interact/manual/message/InterTime			0x7809
class	com/mmsi/ats/opmode/message/ConfirmRcvPin	 			0x7802
class	com/mmsi/ats/opmode/message/EnterAT					0x7803
class	com/mmsi/ats/opmode/message/EnterATAck				0x7804
class	com/mmsi/ats/opmode/message/LeaveAT 					0x7805	
class	com/mmsi/ats/opmode/message/LogIn					0x7806
class	com/mmsi/ats/opmode/message/LogInAck					0x7807
class	com/mmsi/ats/opmode/message/ReleaseTruck				0x7810
class	com/mmsi/ats/opmode/message/ReleaseTruckAck				0x7811
class	com/mmsi/ats/opmode/message/RestartTruck				0x7812
class	com/mmsi/ats/opmode/message/RestartTruckAck				0x7813
class	com/mmsi/ats/opmode/message/StartAuto				0x7814
class	com/mmsi/ats/opmode/message/StartAutoAck				0x7815
class	com/mmsi/ats/opmode/message/StartTruck				0x7816
class	com/mmsi/ats/opmode/message/StartTruckAck				0x7817
class	com/mmsi/ats/opmode/message/StopTruck				0x7818
class	com/mmsi/ats/opmode/message/StopTruckAck				0x7819
class	com/mmsi/ats/opmode/message/PinTimeout				0x7820
class	com/mmsi/ats/opmode/message/TurnoffEngineMsg				0x8643
class	com/mmsi/ats/opmode/message/SwitchLHToAuto				0x8642
class	com/mmsi/ats/opmode/message/SwitchLHToStop				0x8641
class	com/mmsi/ats/infoprovider/message/CentralModeMsg			0x7831
class	com/mmsi/ats/infoprovider/message/EmbeddedModeMsg			0x7832
class	com/mmsi/ats/infoprovider/message/ErrorMsg				0x7833
class	com/mmsi/ats/infoprovider/message/GPSPositionMsg			0x7834
class	com/mmsi/ats/infoprovider/message/LoadMsg				0x7835
class	com/mmsi/ats/infoprovider/message/TruckStatusMsg			0x7836
class	com/mmsi/ats/infoprovider/message/VCStatusMsg			0x7837
class	com/mmsi/ats/infoprovider/message/EMVGPSPositionMsg			0x7838
class	com/mmsi/ats/infoprovider/message/WarnMsg				0x7839
class	com/mmsi/ats/opmode/message/RebootCGC				0x7860
class	com/mmsi/ats/updater/adt/ADTPeriodicInfo				0x6662
class 	com/mmsi/ats/interact/manual/message/InspectionAck			0x804c
class 	com/mmsi/ats/interact/manual/message/InspectionItemBrake             0x804b
class 	com/mmsi/ats/interact/manual/message/InspectionItemSensor            0x8694
class 	com/mmsi/ats/interact/manual/message/InspectionOrder                 0x804a
class 	com/mmsi/ats/interact/manual/message/InspectionResultBrake           0x804d
class 	com/mmsi/ats/interact/manual/message/InspectionResultSensor          0x8696
class 	com/mmsi/ats/interact/manual/message/InspectionSensorInfo            0x8697  
#include <TestLogicalId/Goic/OMS.cfg>
