symbol	maxsplit
/*
 * Work out how many material splits are configured and set 
 * up to switch between them correctly
 */
macro	SetupMatlToggle	foreach $(cfg.10);do Macro symbol mNext.\$1;\
			mNext.0 1;\
			eq? "$(cfg.10)" "0 1" mNext.1 0;\
			ne? "$(cfg.10)" "0 1" mNext.1 2;\
			ne? "$(cfg.10)" "0 1" mNext.2 0
/*
 * Adjust screen to show 2 or 3
 * material splits depending upon
 * site configuration
 */
macro	SetSplitsGeometry	foreach $(cfg.10);do $(actwin).ab\$1 geom:x:\$(+ 20 \$(* \$1 154)):y:114:h:120:w:140:bw:2\
				map:y	label:'\$(cfgLbl.\$(+ \$1 6)):\n\$(matl.\$1)' action:'matl \$1;Material post'

/*
 * Turn off splits and restore the centre/right material
 * labels to "None" or language equivalent
 */
macro	CancelSplits		foreach $(cfg.10);do ne? \$1 0 matl.\$1 $(cfgLbl.3);\
				foreach $(cfg.10);do $(actwin).ab\$1 label:'\$(cfgLbl.\$(+ \$1 6)):\n\$(matl.\$1)';\
				foreach $(cfg.10);do ne? \$1 0 $(actwin).ab\$1 colors:default;\
				matl 0;\
				w0.Icon icon:left;\
				SetMatl

/*
 * Called from w0.Matl. Check to see if center or
 * right materials are "None". If they aren't then
 * switch between set materials. If they are then post
 * the Material menu
 */
symbol	postFlag
macro	CheckSplits		holder 0;\
				postFlag 0;\
				foreach $(cfg.10);do ne? "\$(matl.\$1)" "\$(cfgLbl.3)" holder \$(+ \$(holder) 1);\
				eq? $(holder) 0 postFlag 1;\
				eq? $(holder) 1 postFlag 1;\
				eq? $(postFlag) 1 Material post;\
				ne? $(postFlag) 1 SwitchMaterial

				
/*
 * Switch to the next material that's set
 * If it's equal to the "None" (cfgLbl.3) value
 * then jump over it to the next one
 */
macro   SwitchMaterial		matl $(mNext.$(matl));\
				eq? $(matl.$(matl)) $(cfgLbl.3) matl $(mNext.$(matl));\
				eq? $(w0.Icon icon) left holder 0;\
				eq? $(w0.Icon icon) right holder 1;\
				eq? $(holder) 0 w0.Icon icon:right;\
				eq? $(holder) 1 w0.Icon icon:left;\
				SetMatl

#if #class(shovel) || #class(loader)
macro	SetMatl	w0.Matl label:$(matl.$(matl));\
		hp.matl label:$(matl.$(matl));\
		wSplits.ab$(matl) label:"$(cfgLbl.$(+ $(matl) 6)):\n$(matl.$(matl))"
#endif

macro	InitSplitWindow	SET-VALUES wSplits.ab 0 3 [ $(cfgLbl.19) ]
