#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Informations		req info;ob1 $(typ);args 2;sendaction
item	Message			req mess;args 3;kplabel 'Message à $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post

item	Définir\ le\ statut...		args 3;updtselect statupdate;menutype Status;Status action:menuaction post
item    "Affectation\nmanuelle\ à..."   req asn;args 2;ManAsn post
item	Bloquer\ sur...		ob2 lock;args 4;Lock post
item	Débloquer\ de...	ob2 unlock;args 4;Lock post
item	Exclure\ de...		ob2 bar;args 4;Bar post
item	Désexclure\ de...		ob2 unbar;args 4;Unbar post
#item	Oper\ Login	 	kplabel 'Payroll No.';kpaction 'DoOperLogin';Kp label:$(kplabel) post

item    Quitter              Action1 unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif
