#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Pelleteuse...	req shvbar;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Benne...		req dmpbar;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	Matériau...	req matbar;menutype Load;menuselect menuactionob1;Load action:menuaction post

item    Quitter              Bar unpost
#if #arch(cgc)
itemColor Quitter:Exit
#endif
