/*
 * Symbols for language-independent display
 */
symbol	cfgLbl.0 "Тийм"
symbol	cfgLbl.1 "Yгyй"
symbol	cfgLbl.2 "Тoвooс хариу oгoхгyй байна.\nДахиад хийх yy?"
symbol	cfgLbl.3 "Аль нь ч yгyй."
#if #class(shovel) || #class(loader)
symbol	cfgLbl.4 "Oндoр"
symbol	cfgLbl.5 "Нам"
#else
symbol	cfgLbl.4 "Зyсэх"
symbol	cfgLbl.5 "дyyргэх"
#endif
symbol	cfgLbl.6 "Зyyн"
symbol	cfgLbl.7 "Баруун"
symbol	cfgLbl.8 "Урд тал"
symbol	cfgLbl.9 "Мессеж"
symbol	cfgLbl.10 "ийн"
symbol	cfgLbl.11 "аас4"
symbol	cfgLbl.12 "...-руу илгээх"
symbol	cfgLbl.13 ' "Налуугийн oнцoг" "Эргэлт" "ачааны машин" "тонн" '
symbol	cfgLbl.14 ""
symbol	cfgLbl.15 '"Yнэхээр аваар\nзарлахуу?"'
symbol	cfgLbl.16 "Мэдээлэл оруулж Ok товчийг дар"
symbol	cfgLbl.17 "Dispatch"
symbol	cfgLbl.18 "Энэ хэрэгслийн ажиллагааг идэвхжyyлээгyй байна."
symbol	cfgLbl.19 ' "Хуваах yйлдлийг\\nцуцлах"'
symbol	cfgLbl.20 "Хурц нартай\noдoр"
symbol	cfgLbl.21 "Бyрхэг"
symbol	cfgLbl.22 "Шoнo"
symbol	cfgLbl.23 "Гэрэл шилжyyлэгчийн\nудирдлага"
symbol	cfgLbl.Bright "Гэрлийн тод байдал"
symbol	cfgLbl.Clear "Арилгах"
symbol	cfgLbl.Cancel "Yйлдлийг цуцлах"
/* Pre start labels */
symbol	cfgLbl.pre.1 "Эхлэхийн oмнo шалгах жагсаалт"
symbol	cfgLbl.pre.2 "Тайлбар"
symbol  cfgLbl.pre.3 "Хуудас"
symbol  cfgLbl.pre.4 "Oмнoх хуудас"
symbol  cfgLbl.pre.5 "Дараагийн хуудас"
symbol  cfgLbl.pre.6 "Тийм"
symbol  cfgLbl.pre.7 "Бyгдийг алгасах"
/* Pre gauge window labels */
symbol  cfgLbl.gau.1 "1 минут дахь эргэлт"
symbol  cfgLbl.gau.2 "Агаарын даралт"
symbol  cfgLbl.gau.3 "эргэлтийн yе хyч"
symbol  cfgLbl.gau.4 "Доош нь тат"
symbol  cfgLbl.gau.5 "нэвтрэлтийн хурд"

/* Project/Surface creation labels */
symbol	cfgLbl.24 "X-ийг асаах Y-ийг асаах Z-ийг асаах Чиглэл Урт Oргoн Тyвшин"
symbol	cfgLbl.25 "X-ийг асаах Y-ийг асаах Z-ийг асаах X-ийг зогсоох Y-ийг зогсоох Z-ийг зогсоох Oргoн"
symbol	cfgLbl.26 "Даалгавар Z-г онилох"
symbol	cfgLbl.27 "Эхлэх цэг X-ийг оруул"
symbol	cfgLbl.28 "Эхлэх цэг Y-ийг оруул"
symbol	cfgLbl.29 "Эхлэх цэг Z-ийг оруул"
symbol	cfgLbl.30 "Чиглэл-ийг оруул"
symbol	cfgLbl.31 "Уртыг оруул"
symbol	cfgLbl.32 "Oргoнийг оруул"
symbol	cfgLbl.33 "Налуугийн oнцгийг оруул (pct)"
symbol	cfgLbl.34 "Тийм"
symbol	cfgLbl.35 "Схем зургийг татаж авах боломжгyй"
symbol	cfgLbl.36 ""
symbol	cfgLbl.37 "Эхлэл цэгрyy шилжиж Ok дар"
symbol	cfgLbl.38 "Тoгсгoлийн цэгрyy шилжиж Ok дар"
symbol	cfgLbl.39 "Oргoнийг оруул"
symbol	cfgLbl.40 "Хоёр цэгyyд хоёулаа ижил! Дахин оролд"
symbol	cfgLbl.41 "Yyсгэх болгох"
symbol	cfgLbl.42 "Бyх оролтын хэсгyyдийг гyйцээх"
symbol	cfgLbl.43 "Байны oндрийг оруул"
symbol	cfgLbl.44 "Мэдээлэлийг шинэчилж байна"
symbol	cfgLbl.45 "Эхлэх цэг X-ийг оруул"
symbol	cfgLbl.46 "Эхлэх цэг Y-ийг оруул"
symbol	cfgLbl.47 "Эхлэх цэг Z-ийг оруул"
symbol	cfgLbl.48 "Тoгсгoлийн цэг X-ийг оруул"
symbol	cfgLbl.49 "Тoгсгoлийн цэг Y-ийг оруул"
symbol	cfgLbl.50 "Тoгсгoлийн цэг Z-ийг оруул"
symbol	cfgLbl.51 "Oргoнийг оруул"
symbol	cfgLbl.52 "Гадаргын зургийг шинэчилж байна"
symbol	cfgLbl.53 "Тoслийн мэдээллийг ачаалж байна"
symbol	cfgLbl.54 "Малтах шугамын мэдээллийг ачаалж байна"
symbol	cfgLbl.55 "Материалын мэдээллийг ачаалж байна"

#if #class(shovel) || #class(loader) || #class(excav) || #class(dozer) || #class(grader)
symbol	cfgLbl.60 "1 Цэгт Налуу зам"
symbol	cfgLbl.61 "2 Цэгт Налуу зам"
symbol	cfgLbl.62 "2 Цэгт тааруулсан налуу зам"
symbol	cfgLbl.63 "Тэгш гадаргуу"
symbol	cfgLbl.64 "Тааруулсан гадаргуу"
symbol	cfgLbl.65 "Схем зургийг татаж ав"
symbol	cfgLbl.66 "Тoслийг устгах"
symbol	cfgLbl.200 "Oргoн"
symbol	cfgLbl.201 "Oргoнийг оруул"
symbol	cfgLbl.210 "Эхлэл цэгрyy шилжиж энэ товчийг дар"
symbol	cfgLbl.211 "Тoгсгoл цэгрyy шилжиж энэ товчийг дар"

#else
symbol	cfgLbl.60  "1-Цэгт reference (тодорхой мэдээллийг шууд авах боломжийг комьютерт олгодог утга)"
symbol	cfgLbl.61  "Ашиглагдаагyй"
symbol	cfgLbl.62  "2-Цэгт reference"
symbol	cfgLbl.63  "1-Цэгт reference унтраалттай"
symbol	cfgLbl.64  "2-Цэгт reference унтраалттай"
symbol	cfgLbl.65  "Схем зургийг татаж ав"
symbol	cfgLbl.66  "Схем зургийг устга"
symbol	cfgLbl.200 "Цооногийн ёроол Дельта_Урт Урт Дельта_Oргoн Oргoн Тал"
symbol	cfgLbl.201 "Цооногийн ёроолыг оруул"
symbol	cfgLbl.202 "Дельта Уртыг оруул"
symbol	cfgLbl.203 "Уртыг оруул"
symbol	cfgLbl.204 "Дельта Oргoнийг оруул"
symbol	cfgLbl.205 "Oргoнийг оруул"
symbol	cfgLbl.206 "Зyyн (1) эсвэл Тoв (2) эсвэл Баруун (3)-ийг оруул"
symbol	cfgLbl.207 ""
symbol	cfgLbl.208 ""
symbol	cfgLbl.209 ""
symbol	cfgLbl.210 "Эхлэл цэгрyy шилжиж энэ товчийг дар"
symbol	cfgLbl.211 "Тoгсгoлийн цэгрyy шилжиж энэ товчийг дарна уу"
symbol	cfgLbl.212 "Цооногийн ёроо Дельта_Урт Урт Дельта_Oргoн Oргoн Тал"
symbol	cfgLbl.213 "Цооногийн ёроо Дельта_Урт Урт Дельта_Oргoн Oргoн Тал"
symbol	cfgLbl.214 "Цооногийн ёроо Дельта_Урт Урт Дельта_Oргoн Oргoн Тал"
symbol	cfgLbl.215 "Шугам дахь илyy нyхнyyд"
symbol	cfgLbl.216 "Одоогийн"
#endif

#if #class(shovel) || #class(loader) || #class(excav)
symbol	cfgLbl.67 '"Тэсэлгээ" "Схем зураг" "BCMs" "Ачаа" "Хурд" "Сyyлчийн" "Ачаа"'
#else
symbol	cfgLbl.67 '"Схем зураг" "Нyхний ID" "Статус" "Нyхнyyд" "Метр" "Хурд" "Хугацаа"'
#endif

symbol	cfgLbl.68 "Ажилтны дугаараа оруулна уу"
symbol	cfgLbl.69 "ДYYРЭН"

/* Drill-specific labels */

#if #class(drill)
symbol	cfgLbl.70	"Нyхний ID"
symbol	cfgLbl.71	"Нyх сонго"
symbol	cfgLbl.72	' "Шинэ нyх" "Нyхийг ooрчил" "Дyрсийг тохируул" "Радио антенны oнцoг" "Саваа мод нэмэх"'

symbol	cfgLbl.73	"Бyрдлийн ID"
symbol	cfgLbl.74	"Эхлээд Дyрсгийг Тааруул"
symbol	cfgLbl.75	' "Бyрдлyyд" "Бyтэц" "Тoвooс ирж буй мэдээлэл"'

/* hp window data display labels */
symbol	cfgLbl.76	' "Схем зураг" "Нyхний ID" "Зай" "Oнцoг" "Толгой" "Oнцoг" "Толгой"'

/* Component-related labels (should conform to the order of component
 * tracking set on central computer) */
symbol	cfgLbl.77	' "Oрмийн хошуу oрoм" "Саваа мод" "Алх" "Дэд Орой" "Дэд Доод тал" "Тогтворжуулагч" "Холбоо машин"'

/* Initialisation string for mounted components display on wDrilling */
symbol	cfgLbl.78	' "Аль нь ч yгyй." "Аль нь ч yгyй." "Аль нь ч yгyй." "Аль нь ч yгyй." "Аль нь ч yгyй." "Аль нь ч yгyй." "Аль нь ч yгyй."'

/* Drilling-related labels on wDrilling */
symbol	cfgLbl.79	' "Схем зураг" "Нyхний ID" "Радио антенн" "Саваа мод нэмсэн" "Материал" "Шинэ нyх" "Автомат ажиллагааг\\nсэргээх"'

/* Initialisation string for hole/pattern data display on wDrilling */
symbol	cfgLbl.80	' "Аль нь ч yгyй." "Аль нь ч yгyй." "0" "Аль нь ч yгyй."'

symbol	cfgLbl.81	' "Ooрчилж байна:" "Тохиргоог хyчингyй болгох шалтгаан" "Шинэ Хэсгийн ID" "Бyрдлийн тoрлийг сонго"'
symbol	cfgLbl.82	' Ooрчил Ooрчил'

/* Status light labels on w0 and hp windows */
symbol	cfgLbl.83	' "Мессеж" "GPS" "Тавцан"'

/* Target and Actual display fields on hp window */
symbol	cfgLbl.84	' "Зорилго" "Бодит"'

/* w0 Output box display labels */
symbol	cfgLbl.85	' "Гyн" "Доод\nтал" "Зорилго"'

/* Pattern data entry text label */
symbol	cfgLbl.86	"Дyрсний ID:"

symbol	cfgLbl.87	"Нyхний гyнийг оруул"

symbol	cfgLbl.88	"Дyрс, нyх болн байны гyн шаардлагатай"

symbol	cfgLbl.89	' "." "Арилгах" "Тийм" "Yйлдлийг цуцлах"'

symbol	cfgLbl.90	' "Гарах" "/" "Арилгах" "Устгах" "-" "Зай" "Тийм"'

symbol	cfgLbl.91	"Эхлээд одоогийн нyхээ дуусга"

symbol	cfgLbl.92	"Радио антенны oнцгийг оруул"

symbol	cfgLbl.93	"Тoвooс ирж буй мэдээлэл"

symbol	cfgLbl.94	"Нyхийг илрyyлэхэд GPS-ийг одоо ашиглаж байна"

symbol	cfgLbl.95	"Радио антеннын oнцoг илрyyлэх автомат удирдлагын системийг хориглох тoхooрoмжийг салгаж авсан"

symbol	cfgLbl.96	"Автомат радио антенны oнцoг илрyyлэлтийг хориглож байна"

symbol	cfgLbl.97	"Oргoх\\nхэрэгсэл"

symbol	cfgLbl.98	"Oрoмдлoгийг\\nэхэл"

symbol	cfgLbl.99	"Илyy их бyрдлyyд"

symbol	cfgLbl.100	"Саваа\\nмод"

symbol	cfgLbl.101	"Oрoмдлoгийг\\nэхэл"

/* w0 Output box display labels */
symbol	cfgLbl.102	' "Гyн" "Хурд" "Зорилго"'

symbol	cfgLbl.103	"Муу GPS-ийн чанар"

symbol	cfgLbl.104	' "Oрoмдсoн нyхнyyд" "Нийт Гyн" "Нэвтрэлтийн дундаж хурд" "Нyх тус бyр дэхь дундаж минут" "OРoмдлoгийн хугацаа"'

symbol	cfgLbl.105	"Муу GPS-ийн чанар"

symbol	cfgLbl.106	"Шинэчлэх"

symbol	cfgLbl.107	"Газрын зурагтай цонхноос нyхийг эхлyyл"

symbol	cfgLbl.108	"Дахин oрoмдoх ажлыг баталгаажуул"

/* 111 and 112 tied to cfgLbl.104 *** if you chang this, make change in 
 ** Macro_utils.cfg .. search for UpdateW0 
 */
symbol	cfgLbl.111	"Oрoмдсoн нyхнyyд"

#if #arch(pe)
symbol	cfgLbl.112	"Нyх тутмын минут (дундаж)"
#else
symbol	cfgLbl.112	"Нyх тутмын минут\n(дундаж)"
#endif

symbol 	cfgLbl.113	"Yнэхээр ooрooр тохируулах уу?"

/*********************** End of Drill-Specific labels ***************************/

#else

/*********************** Not Drill-Related **************************************/

#	if #class(shovel) || #class(loader)

	symbol	cfgLbl.83	' "Мессеж" "GPS" "Матл"'
/* wInfo labels  */

/* symbol	cfgLbl.104	' "Total  Tons        " "Total Loads        " "Last Hour Tons     " "Last Hour Loads    " \
 *				  "Avg. Loading Time  " "Avg. Waiting Time  " "Working Time       " "Excav Rate         " \
 *				  "Excav Productivity " "Trucks Coming      " '
 */
 	symbol	cfgLbl.104	' "Нийт тонн         " "Нийт ачилт         " "Сyyлийн цаг дахь тонн      " "Сyyлийн цаг дахь ачилт     " "Ачааны машин ойртож байна       " '

	symbol	cfgLbl.106	"Шинэчлэх"

/* Info Labels */
	symbol	cfgLbl.114	"Ачаа"

	symbol	cfgLbl.115	' "Тонн\/Цаг" тонн "Ачилт тутам дахь минут\\n    (дундаж)" '

/* Switch Button Labels */

	symbol	cfgLbl.116	"Хазайлт"

#	endif

#	if #class(dozer) || #class(grader)

	symbol	cfgLbl.76	' "Project" "Pitch" "Roll"'

	symbol	cfgLbl.83	' "Msg" "GPS"'

	symbol	cfgLbl.84	"Current Project"

#	endif

	/* Single-antenna HP unit direction change button labels */
	symbol	cfgLbl.99	"Change\\nDirection"

#endif

        symbol  cfgLbl.150      "The equipment can not rotate because there is not Gps"

/* 
 * Configuration switches for turning
 * stuff on and off 
 */
symbol	cfg.0 1 /* Emergency button */
symbol	cfg.1 1 /* Ask operator to confirm emergency */
symbol	cfg.2 1 /* Operator can send keyed messages ... still used with basic keypad */
symbol	cfg.3 0 /* Operator can send messages to other equipment */
symbol	cfg.4 0 /* UNUSED Drill parts entered from keypad (0) or menu selection */

/*
 * Automatically switch to the message window when a new
 * message comes in. 0 = no switch. Any other number will
 * switch to the Message window for that many seconds
 */
symbol	cfg.5 5

#if #class(drill)
/*
 * Set the minimum auto-zoom-in-to-hole distance for a drill
 * This will vary for metric and non-metric mines and is in
 * meters or feet accordingly
 */
symbol	cfg.6	8

/*
 * set the following to determine the behaviour with material:
 * '0' : operator does not specify material type
 * '1' : operator specifies material type at least once
 * '2' : operator specifies material type for every hole
 */

symbol	cfg.7	0

#else
symbol	cfg.6
symbol	cfg.7
#endif

symbol	cfg.8

/* Split digging enabled? */
symbol	cfg.9 1

/* 
 * How many split materials 
 * '0'   = No split digging
 * '0 1' = Left and Right
 * '0 1 2' = Left, Front and Right
 */
symbol	cfg.10 '0 1'

symbol	matlCol.0	material1
symbol	matlCol.1	material2
symbol	matlCol.2	material3

/*
 * Icons for menu screens
 */
symbol	cfgIcon.0	none
symbol	cfgIcon.1	truck
symbol	cfgIcon.2	shovel
symbol	cfgIcon.3	dump
symbol	cfgIcon.4	crusher
symbol	cfgIcon.5	blast
symbol	cfgIcon.6	workshop
symbol	cfgIcon.11	region
symbol	cfgIcon.12	drill
symbol	cfgIcon.13	dozer
symbol	cfgIcon.14	grader
symbol	cfgIcon.15	rtdozer
symbol	cfgIcon.17	foreman
symbol	cfgIcon.18	wtruck
symbol	cfgIcon.19	general
