#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:24 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	tskrejMsg	Teht‰v‰ hyl‰tty.
message tskacptMsg	Teht‰v‰ hyv‰ksytty.
message	TskNotifyLbl	Teht‰v‰n osoitus
message AcceptLbl	Hyv‰ksy
message RejectLbl	Hylk‰‰
