#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.5 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:47 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LoadLoc	Setel\ Lokasi\nBeban...
#define	Dict_TrkLoad	Setel\ Memuat\nTruk...
#define	Dict_Tram	Ubah\nModus\nTramming
#define Dict_LoadSide	Setel\ Sisi\nBeban...
