%!/psw/cpp

#include <HpDozer/Goic/DozerComMgr.cfg>

elevationOutUnits 3
mineUnitsAreInFeet 1

veryHiValue	3.0
hiValue		1.0
lowValue	-1.0
veryLowValue	-3.0

eqmtDimension 32.0000
footprintWidth 20.0000
footprintLength 12.0000
internalReceiverAntLocalXPos 5
internalReceiverAntLocalYPos 10
internalReceiverAntLocalZPos 100
centerLocalXPos 0
centerLocalYPos 0
centerLocalZPos 0
bladeLocalXPos 0
bladeLocalYPos 488
bladeLocalZPos 0

object HpGpsAuto
