%!/psw/cpp
#if #arch(a29k)
#	define FOOTSWITCH 4
#else
#	define FOOTSWITCH 0
#	define DIPPERSWITCH 1
#endif
#if #class(shovel)
rise	FOOTSWITCH:CP-SWITCH 1
rise	DIPPERSWITCH:CP-SWITCH 2
dfilter	FOOTSWITCH:1:250
dfilter	DIPPERSWITCH:1:250
#else
none	x
#endif
#define OBJECT Vsms
#include <Cfg/Options.cfg>
