#!/psw/cpp

message GoodCommsLbl  Kom dibangun kembali!\n
message BadCommsLbl   Kom hilang!\n

/* some dimensional independence, see also unit_config.frm */
symbol liquid1 gallons
symbol mass1 tons
symbol length1 feet

/* now some stuff for labels, needs 2.5 */
symbol	CfgActions	Tindakan
symbol	CfgStatus	Status
symbol	CfgDeclEmerg	Darurat
symbol	CfgDispatch	Dispatcher
/* symbol	CfgClear	Clear
symbol	CfgSpace	Space
symbol	CfgDelete	Hapus
symbol	CfgCancel	BATAL
symbol	CfgUpCase	Upper
symbol	CfgLowCase	Lower
symbol	CfgOk	Ok
symbol	CfgKeypad	Keypad
symbol	CfgNumpad	'#'
symbol	CfgSend	Send
symbol	CfgExit	Exit */

symbol	CfgPassAll	Pass All
symbol	CfgShopAll	Shop All
symbol	CfgPrevReset.0	Reset
symbol	CfgPrevReset.1	Sebelumnya
symbol	CfgPrevReset.2	Sebelumnya
symbol	CfgPrevReset.3	Sebelumnya
symbol	CfgPrevReset.4	Sebelumnya
symbol	CfgPrevReset.5	Sebelumnya
symbol	CfgPrevReset.6	Sebelumnya
symbol	CfgPrevReset.7	Sebelumnya
symbol	CfgNextSend.0	Berikutnya
symbol	CfgNextSend.1	Berikutnya
symbol	CfgNextSend.2	Berikutnya
symbol	CfgNextSend.3	Berikutnya
symbol	CfgNextSend.4	Berikutnya
symbol	CfgNextSend.5	Berikutnya
symbol	CfgNextSend.6	Berikutnya
symbol	CfgNextSend.7	Kirim

symbol	CfgReset	BATAL


/* These must agree with the enumerated UNIT table in enum.c */
symbol unit.0	Semua
symbol unit.1	''
symbol unit.2	Equipment
symbol unit.3	Dump
symbol unit.4	Crusher
symbol unit.5	Stockpile
symbol unit.6	Blast
symbol unit.7	Shop
symbol unit.8	Parkup
symbol unit.9	'Call Point'
symbol unit.10	Pit
symbol unit.11	Beat
symbol unit.12	Chute
symbol unit.13	Development
symbol unit.14	Mandor
symbol unit.15	Drill
symbol unit.16	'Aux Crusher'
symbol unit.17	Grader
symbol unit.18	Nipper
symbol	unit.255	Semua

/* These are used for dynamic unit and location menus created
   for self-assigns and setting load locations. They must match
   the unit names in UNIT table in enum.c */
symbol  u01     Truk
symbol  u02     Shovel
symbol  u03     Dump
symbol  u04     Crusher
symbol  u05     Stockpile
symbol  u06     Blast
symbol  u07     Workshop
symbol  u08     Shiftchange

/* These should agree with the enumerated ACTIONS table in enum.c,
   but they can be re-worded if desired.  */
symbol act.0	Semua
symbol act.1	Down
symbol act.2	Siap
symbol act.3	Cadangan
symbol act.4	Delay
symbol act.5	Tugas
symbol act.6	Tiba
symbol act.7	Load
symbol act.8	LOGON
symbol act.108	Logoff
symbol act.9	Bantuan
symbol act.10	Bahan Bakar
symbol act.11	Terlambat
symbol act.12	Penuh
symbol act.13	Tag
symbol act.14	Alarm
symbol act.15	'Alarm Data'
symbol act.16	'Start Dump'
symbol act.17   'End Digest'
symbol act.18   'Man Assign'
symbol act.20   Pesan
symbol act.21   Broadcast
symbol act.22   'Panel Command'
symbol act.27   IR
symbol act.28   'GPS Arrive'
symbol act.29   'GPS Depart'
symbol act.30   'Tag Arrive'
symbol act.31   'Tag Depart'
symbol act.33   Ya
symbol act.34   Tidak
symbol act.35   'Pesan Operator'

/* These should agree with the material types in the LOAD table in enum.c */
symbol	load.0	Kosong
symbol	load.1	'Ore 1'
symbol	load.2	'Ore 2'
symbol	load.3	'Ore 3'
symbol	load.4	'Ore 4'
symbol	load.5	'Ore 5'
symbol	load.6	'Ore 6'
symbol	load.7	'Waste 1'
symbol	load.8	'Waste 2'
symbol	load.9	'Waste 3'
symbol	load.10	'Waste 4'

/* These appear in the w0.v2 window according to the state */
symbol goicstate.0 'Enter Payroll'
symbol goicstate.1 'Enter Payroll'
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.2 'Bucket Pertama'
#endif
#if #class(truck)
symbol goicstate.2 'Siap'
#endif
symbol goicstate.3 'Enter Payroll #'
symbol goicstate.4 Siap
symbol goicstate.5 Tugas
#if #class(truck)
symbol goicstate.6 'Tiba'
symbol goicstate.7 'Bucket Pertama'
#endif
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.6 'Bucket Pertama'
symbol goicstate.7 'Bucket Pertama'
#endif
symbol goicstate.8 'Tunggu Penuh'
symbol goicstate.9 'Tiba'
symbol goicstate.10 'Tugas'
symbol goicstate.11 'Tugas'
symbol goicstate.12 'Tiba'
#if #class(crusher)
symbol goicstate.10 'Rusak'
symbol goicstate.11 'Siap'
symbol goicstate.12 'Siap'
#endif
symbol goicstate.13 'Bahan Bakar'
#if #class(wtruck) | #class(pusher) | #class(drill)
symbol goicstate.0 'Enter Payroll #'
symbol goicstate.1 'Enter Payroll #'
symbol goicstate.2 'Siap'
symbol goicstate.3 'Enter Payroll #'
symbol goicstate.4 'Delay'
symbol goicstate.5 'Tugas'
symbol goicstate.6 'Siap'
symbol goicstate.7 'Siap'
symbol goicstate.8 'Delay'
#endif

symbol u1	0
symbol u2	0
symbol id1	None
symbol id2	None
symbol v1	None
symbol a1	0
symbol v2	None

#if #class(truck)
in	KV_MSG	0x0a0	sb	w0.$1 label:Tray:$(load.$2)
#endif

in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)

#if #class(foreman)
in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;writerightone
#endif

/* Messages assigned to each state -- these appear on w0.v1 */
message	msg.0	Selamat Datang di Intellimine
#if ! #option(loadcount)
in      KD_MSG  0x0a3   b?bssbsbs       u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)
#if #class(shovel) | #class(loader) | #class(truck) | #class(lhd) | #class(loaderlp)
message	msg.1	$(act.1) at $(unit.$(u1)) $(id1)
message msg.2	$(act.2) at $(unit.$(u1)) $(id1)
message	msg.3	$(act.3) at $(unit.$(u1)) $(id1)
message	msg.4	$(act.4) at $(unit.$(u1)) $(id1)
message	msg.5	Parkup di $(unit.$(u1)) $(loc)
message	msg.6	Tunggu Truk di $(loc)
message	msg.7	Tunggu Truk di $(loc)
message msg.8	Now Loading $(unit.$(u1)) $(id1)
#endif
#if #class(truck) | #class(train)
message msg.8	Loading by $(unit.$(u1)) $(id1)
#endif
#if #class(wtruck) | #class(pusher) | #class(drill)
message msg.1 $(act.1) at $(unit.$(u1)) $(id1)
message msg.2 $(act.2) at $(unit.$(u1)) $(id1)
message msg.3 $(act.3) at $(unit.$(u1)) $(id1)
message msg.4 $(act.4) at $(unit.$(u1)) $(id1)
message msg.5 Parkup di $(unit.$(u1)) $(loc)
message msg.6 $(act.4) at $(unit.$(u1)) $(id1)
#if #class(wtruck)
message msg.7 Watering Route $(u1)
message msg.8 Sekarang Melakukan Pengisian Ulang di $(unit.$(u1)) $(id1)
#endif
#if #class(drill)
message msg.6 $(act.6) at $(unit.$(u1)) $(id1)
message msg.7 $(act.7) at $(unit.$(u1)) $(id1)
message	msg.8 $(unit.$(u1)) $(id1) now $(act.8)
#endif
#endif
#endif /* loadcount */

/* These messages are not associated with states, but are called upon by FORMS. */
message msg.19	Mohon Masukkan No. Payroll
message	msg.20	$(unit.$(u1)) $(id1) is $(v1) Mins Late for $(act.$(a1)) at $(v2)
message	msg.21	$(unit.$(u1)) $(id1) is $(v1) Mins Late for $(act.$(a1))
message	msg.22	$(unit.$(u1)) $(id1) Lock to $(unit.$(u2)) $(id2) Ignored.
message	msg.23	$(unit.$(u1)) $(id1) Membutuhkan Bahan Bakar Secepatnya, tersisa $(v1) $(liquid1).
message	msg.24	$(unit.$(u1)) $(id1) is $(act.$(a1)) $(v1).
message	msg.25	$(unit.$(u1)) $(id1) is now $(act.$(a1)).
message	msg.26	$(unit.$(u1)) $(id1) has fueled with $(v1) $(liquid1)s.
message	msg.27	$(unit.$(u1)) $(id1) was auto-readied by $(unit.$(u2)) $(id2) $(a1).
message	msg.28	$(unit.$(u1)) $(id1) Lock to $(v2) was Ignored.
message	msg.29	Tidak Ada Grade untuk $(v1)
message	msg.30	$(unit.$(u1)) $(id1) status changed to $(act.$(a1)).
message	msg.31	PERINGATAN: $(unit.$u1)) $(id1) dilock ke $(v1)!!!
message msg.32	WARNING: $(unit.$(u1)) $(id1)\\'s $(v1) locked to $(v2)!!!
message	msg.33	$(unit.$(u1)) $(id1) is $(v1) to $(unit.$(u2)) $(id2).
message	msg.34	$(unit.$(u1)) $(id1) is now barred from $(v1).
message msg.35	WARNING: All Trucks unbarred from everything.
message	msg.36	$(unit.$(u1)) $(id1) $(v1) set to $(v2).
message	msg.37	$(unit.$(u1)) $(id1) DISPATCH panel is turned $(v1).
message	msg.38	Assignments to $(unit.$(u1)) $(id1) have been $(v1).
message msg.39	$(v1) $(v2) be dumped at $(unit.$(u1)) $(id1).
message	msg.40	$(unit.$(u1)) $(id1) $(v1)locked $(v2) $(unit.$(u2))s.
message	msg.41	$(unit.$(u1)) $(id1) $(v1)locked $(v2) $(id2).
message	msg.42	Already $(v1) at $(v2).
message	msg.43	$(id1) is not a valid $(unit.$(u1)) location!
message	msg.44	Lokasi berubah menjadi $(unit.$(u1)) $(id1)
message	msg.45	Max Number of $(unit.$(u1))s at $(v1) $(v2) 
message	msg.46	$(unit.$(u1)) $(id1) self-assiged to $(unit.$(u2)) $(id2))
message	msg.47	Tidak Diketahui Jenis Material $(id1).
message	msg.48	$(unit.$(u1)) $(id1) tried to self-lock material $(v1) to $(v2).
message msg.49	Tidak dapat lock $(unit.$(u1)) $(id1) $(v1) ke $(v2)!
message	msg.50	$(unit.$(u1)) $(id1) self-locked $(v1) to $(v2).
message	msg.51	Lock $(id1) ke $(v1).
message	msg.52	$(id1) tidak ada!
message	msg.53	$(unit.$(u1)) berstatus $(v1). Harus $(act.$(a1)) terlebih dahulu.
message	msg.54	$(unit.$(u1)) $(id1) says $(v1) is loading.
message	msg.55	$(unit.$(u1)) $(id1) masih loading $(unit.$(u2)) $(id2).
message	msg.56	Jumlah bahan bakar 0 tidak diperbolehkan.
message msg.57	$(unit.$(u1)) $(id1) loaded with $(v1) $(mass1).
message	msg.58	Tekan \"Actions\", kemudia tekan \"Assign\" ketika PENUH.
message	msg.59	$(v1) $(liquid1)s of Fuel $(v2).
message	msg.60	Mulai dump di $(unit.$(u1)) $(id1):$(act.$(a1))
message	msg.61	Permintaan Informasi yang Tidak Diketahui
message	msg.62	Tunggu $(unit.1) untuk menekan load
message	msg.63	Tunggu $(unit.1) berikutnya
message	msg.64	Now Loading $(unit.$(u1)) $(id1)
message msg.65  Tidak dapat mengubah Material.
message msg.66  Menu $(unit.$(u1)) telah terupdate.
message msg.67  Sistim telah diaktifkan kembali.
message msg.68  $(act.$(u1)) DITOLAK!!!
message msg.69  Tidak ada $(unit.1) dalam perjalanan.
message msg.70  $(unit.1) dalam perjalanan.
message msg.71  $(unit.$(u1)) tiba dalam $(v1) menit.
message msg.72  \\nTidak tersedia
message msg.73  None.
message msg.74  '$(id1)'
message msg.75  $(CfgDispatch) harus verifikasi.
message msg.76  No. Payroll tidak diketahui
message msg.77  Masukkan No. Payroll
#if #class(truck)
message	msg.78	Hanya Tekan $(act.$(u1)) di $(id1).
#endif
#if #class(train)
message msg.78	Pilih Lokasi selain yang ini.
#endif
#if #class(crusher) | #class(foreman)
message msg.78  $(act.$(u1)):  $(id1) Load$(v1) / $(id2) $(mass1)
message msg.79  $(id1) $(v1) Dumped This Shift
message msg.80  Permintaan Bantuan
message msg.81  $(unit.2) Feeding $(id1) : $(v1)
message msg.82  $(id1) Load$(v1) / $(v2) $(mass1) $(id2) Hour
message msg.83  Rate Saat Ini (T/J): $(id2) Target Rate (T/J): $(v1)\\n $(id1) => $(act.$(u1))
#endif
message msg.84	No $(unit.$(u1)) locks for any material.
message	msg.85	\\n--------- $(unit.$(u1)) $(v1): ------------
message	msg.90	YES was acknowleged.
message msg.91	NO was acknowleged.
message msg.92	Pemeriksaan Safety Selesai:$(act.$(u1))
message	msg.93	You must be Empty to Assign!
message	msg.94	Perform Safety Procedure
message	msg.95	$(act.$(a1)) yourself to $(unit.$(u1))
message	msg.96	Bahan Bakar $(unit.$(u1)) $(id1) sisa $(v1)%.
message	msg.97	End of fuel required list.
message	msg.98	$(act.$(u1)) DITOLAK!
message	msg.99	Tindakan Berikutnya: $(act.$(u1))
message msg.100	Bahan bakar tidak tersedia
message msg.101 You have entered unknown $(act.$(a1)) $(id1)
message msg.102 Check if tank is full\\n$(unit.$(u1)) $(id1) is fueled with $(v1) $(liquid1)
message	msg.103 Lokasi $(unit.$(u1)) $(id1) sekarang %(unit.$(u2)) $(id2)
message	msg.104 $(unit.$(u1)) $(id1) Tidak Diketahui, Coba Lagi
#if #class(truck)
message msg.105	
#endif
#if #class(drill)
message msg.78  Mohon masukkan pola terlebih dahulu
message msg.79  Salah lokasi, panggil dispatcher!
message msg.80  Permintaan Bantuan
message msg.81  $(unit.2) Feeding $(id1) : $(v1)
message msg.82  $(id1) Load$(v1) / $(v2) $(mass1) $(id2) Hour
message msg.83  Rate Saat Ini (T/J): $(id2) Target Rate (T/J): $(v1)\\n $(id1) => $(act.$(u1))
message msg.105 Mohon Masukkan Kembali Nomor Lubang
message msg.106 Drilling $(id1):Endhole
message msg.107 Mounted Bit $(id1):$(act.$(u1))
message msg.108 $(id1) Selesai:Starthole
message msg.109 Tekan ENDHOLE Sebelum Mengganti Pola
message msg.110 Pola disetel ke $(id1):$(act.$(u1))
message msg.111 Mounted Part $(id1):$(act.$(u1))
#endif
#if #class(foreman)
message msg.105 No $(unit.$(u1))s $(id1)
message msg.106 $(unit.$(u1)) $(id1) $(v1)
message msg.107 Tidak ada $(unit.$(u1)) $(v1) $(unit.$(a1)) $(id1)
message msg.108 ----- Informasi $(unit.$(u1)) $(id1) -----
message msg.109 Lokasi:$(unit.$(u1)) $(id1)
message msg.110 Lokasi $(unit.$(u1)) $(id1) diubah ke $(v1)
message msg.111 Mounted Part $(id1):$(act.$(u1))
#endif
message	msg.123	$(id1) sekarang $(v1)
message	msg.124 Not enabled for Underground
message	msg.125	$(unit.$(u1)) $(id1) sekarang $(act.$(a1)): $(v1).
message msg.130 Berhasil merubah jenis material.
message msg.131 Incorrect Material type selected!
message	msg.132 $(unit.$(u1)) %(id1) is no enabled to load trucks.
message msg.168  $(act.$(u1)) telah DITERIMA!!!
message	msg.255	$(unit.$(u1)) $(id1) MEMINTA BANTUAN DARURAT !!!
message msg.256 Sementara tidak ada komunikasi

message sfyesnolbl "Matikan Bip kom?"
message cfgLbl.0 "Ya"
message cfgLbl.1 "Tidak"
