#!/psw/cpp
geom	x:4:y:4:w:480:h:104:bw:0
wmin	96	
hmin	104
itembw	4
item	Biru	userColor 0;nextColor.0;ScrnCntrl unpost
item	Hijau	userColor 1;nextColor.1;ScrnCntrl unpost
item	Abu-Abu	userColor 2;nextColor.2;ScrnCntrl unpost
item	Coklat	userColor 3;nextColor.3;ScrnCntrl unpost
item	Kuning	userColor 4;nextColor.4;ScrnCntrl unpost
itemColor	Biru:BlueScheme
itemColor	Hijau:GreenScheme
itemColor	Abu-Abu:GrayScheme
itemColor	Coklat:BrownScheme
itemColor	Kuning:YellowSchem
