%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.3 $
 *   $Author: latum $
 *     $Date: 2004/08/19 19:48:53 $
 *    $State: Exp $
 *   Purpose: object instantiation script for Inlcinometer
 * * * * * * * * * * * * * * * * * * *
 */

#if !#inclinometer(none)
	module	Inclinometer
	object	Inclinometer
#	if #inclinometer(rieker)
		object	RDIDevice
#	endif
#endif
