%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2009/03/03 20:50:02 $
 *    $State: Exp $
 *   Purpose: Main configuration file for MP Router.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
up	Loop
version	MicroCell Radio, vVERSION
#define	PROMPT	\'MicroCell Radio, vVERSION> \'
#include <Main/ObjSh.h>
#include <Main/Adc.h>
#include <Main/OMS.h>
module	Slip
module	Router
module	Ucell
object	Slip
object	Ucell name:Rp stack:512
object	Router
