%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2012/07/08 07:50:23 $
 *    $State: Exp $
 *   Purpose: Generic GSP configuration file for dumb ASCII
 *            interfaces.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#if defined(ARG1) && defined(ARG2)
#	assert up(none)
#	define MAIN	ARG1
#	define PORT1	ARG2
#	if #arg2(Tty)
#		assert port1(Tty)
#	endif
#endif
#ifndef ISOPTION
#	include <Main/UpPort.h>
	version	APPNAME Interface, vVERSION
#	define PROMPT	\'APPNAME Interface, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
#include <Main/GspPort.h>
#if ! #GSPPORT(busy)
#	include <Main/Tty.cfg>
#	if defined(ISOPTION)
		object	Tty	name:OPT_NAME
#	elif defined(PORT1)
#		if #port1(Tty)
		object	PORT1	name:Port1
		object	ObjSh	name:Port1Sh base:Port1 prompt:PROMPT
#		else
#		include <Main/Slip.cfg>
		object	PORT1	name:Port1
#		endif
		object	Tty	name:Port2
		object	ObjSh	name:Port2Sh base:Port2 prompt:''
#		if #port1(Slip)
		module	Nfs
		object	Rpc	base:Port1
#		endif
#	else
#		include <Main/Slip.cfg>
		object	Slip
		object	Tty	name:APPNAME
#	endif
#endif
