%!/psw/cpp
geom	bw:4
hmin	50
map	n
item	Дэлгэцийг\nсэргээх\ хийх		WinMgr refresh
#if #arch(goic)
item	Видеог\ буцааж\ гyйлгэх		Screen reverse:1
item	Хэвийн\ Видео		Screen reverse:0
#endif
item	Радиог\ шалга		w0.Text write:"оролдлого:$(CP-PING up)\n"
item	Дэлгэцийн\ ID		w0.Text write:"ID:$(LOCAL-ID 0)\n"
#ifdef OPT1
#	define OBJECT Options
#	include <Cfg/Options.cfg>
#endif
