#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Kp2_newui.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2009/12/11 17:11:04 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * * *
 */
#include <Goic/English/GeomMasterKp2.cfg>
geom    x:0:y:0:w:VGAHORZ:h:VGAVERT:bw:2
map     n
relief  flat
tile    slash
titleHt TITLEHT
#font   Small
onpost	kptype Kp2;kplabel:$(Kp2 label);Kp2.Disp font:Tiny
onunpost        eq? $(VarStringAdd) 0 ResetString;ne? $(VarStringAdd) 0 VarStringAdd $(- $(VarStringAdd) 1 );Kplabel:$(Kp2 label)
object  Label   name:Kp2.Disp   geom:x:DISPX:y:DISPY:w:DISPW:h:DISPH:bw:2    font:Tiny       relief:flat  maxchars:60
object  Button  name:Kp2.CLR    geom:x:CLRX:y:CLRY:w:CLRW:h:CLRH	action:'Kp2.Disp label:""' label:$(CfgClear) font:Small
object  Button  name:Kp2.DEL    geom:x:DELX:y:DELY:w:DELW:h:DELH	action:'Kp2.Disp delete' label:$(CfgDelete)     font:Small
object  Button  name:Kp2.SPACE  geom:x:SPCX:y:SPCY:w:SPCW:h:SPCH	action:'Kp2.Disp append:_' label:$(CfgSpace)    font:Small

object  Button  name:Kp2.b01    geom:x:B01X:y:B01Y:w:B01W:h:B01H       action:'curr_btn 01;Kp2btnact'      font:Large      label:$(Kp2l01)
object  Button  name:Kp2.b02    geom:x:B02X:y:B02Y:w:B02W:h:B02H       action:'curr_btn 02;Kp2btnact'      font:Large      label:$(Kp2l02)
object  Button  name:Kp2.b03    geom:x:B03X:y:B03Y:w:B03W:h:B03H       action:'curr_btn 03;Kp2btnact'      font:Large      label:$(Kp2l03)
object  Button  name:Kp2.b04    geom:x:B04X:y:B04Y:w:B04W:h:B04H       action:'curr_btn 04;Kp2btnact'      font:Large      label:$(Kp2l04)
object  Button  name:Kp2.b05    geom:x:B05X:y:B05Y:w:B05W:h:B05H       action:'curr_btn 05;Kp2btnact'      font:Large      label:$(Kp2l05)
object  Button  name:Kp2.b06    geom:x:B06X:y:B06Y:w:B06W:h:B06H       action:'curr_btn 06;Kp2btnact'      font:Large      label:$(Kp2l06)
object  Button  name:Kp2.b07    geom:x:B07X:y:B07Y:w:B07W:h:B07H       action:'curr_btn 07;Kp2btnact'      font:Large      label:$(Kp2l07)
object  Button  name:Kp2.b08    geom:x:B08X:y:B08Y:w:B08W:h:B08H       action:'curr_btn 08;Kp2btnact'      font:Large      label:$(Kp2l08)
object  Button  name:Kp2.b09    geom:x:B09X:y:B09Y:w:B09W:h:B09H       action:'curr_btn 09;Kp2btnact'      font:Large      label:$(Kp2l09)
object  Button  name:Kp2.b10    geom:x:B10X:y:B10Y:w:B10W:h:B10H       action:'curr_btn 10;Kp2btnact'      font:Large      label:$(Kp2l10)
object  Button  name:Kp2.b11    geom:x:B11X:y:B11Y:w:B11W:h:B11H       action:'curr_btn 11;Kp2btnact'      font:Large      label:$(Kp2l11)
object  Button  name:Kp2.b12    geom:x:B12X:y:B12Y:w:B12W:h:B12H       action:'curr_btn 12;Kp2btnact'      font:Large      label:$(Kp2l12)
object  Button  name:Kp2.b13    geom:x:B13X:y:B13Y:w:B13W:h:B13H       action:'curr_btn 13;Kp2btnact'      font:Large      label:$(Kp2l13)
object  Button  name:Kp2.b14    geom:x:B14X:y:B14Y:w:B14W:h:B14H       action:'curr_btn 14;Kp2btnact'      font:Large      label:$(Kp2l14)
object  Button  name:Kp2.b15    geom:x:B15X:y:B15Y:w:B15W:h:B15H       action:'curr_btn 15;Kp2btnact'      font:Large      label:$(Kp2l15)
object  Button  name:Kp2.b16    geom:x:B16X:y:B16Y:w:B16W:h:B16H       action:'curr_btn 16;Kp2btnact'      font:Large      label:$(Kp2l16)
object  Button  name:Kp2.b17    geom:x:B17X:y:B17Y:w:B17W:h:B17H       action:'curr_btn 17;Kp2btnact'      font:Large      label:$(Kp2l17)
object  Button  name:Kp2.b18    geom:x:B18X:y:B18Y:w:B18W:h:B18H       action:'curr_btn 18;Kp2btnact'      font:Large      label:$(Kp2l18)
object  Button  name:Kp2.b19    geom:x:B19X:y:B19Y:w:B19W:h:B19H       action:'curr_btn 19;Kp2btnact'      font:Large      label:$(Kp2l19)
object  Button  name:Kp2.b20    geom:x:B20X:y:B20Y:w:B20W:h:B20H       action:'curr_btn 20;Kp2btnact'      font:Large      label:$(Kp2l20)
object  Button  name:Kp2.b21    geom:x:B21X:y:B21Y:w:B21W:h:B21H       action:'curr_btn 21;Kp2btnact'      font:Large      label:$(Kp2l21)
object  Button  name:Kp2.b22    geom:x:B22X:y:B22Y:w:B22W:h:B22H       action:'curr_btn 22;Kp2btnact'      font:Large      label:$(Kp2l22)
object  Button  name:Kp2.b23    geom:x:B23X:y:B23Y:w:B23W:h:B23H       action:'curr_btn 23;Kp2btnact'      font:Large      label:$(Kp2l23)
object  Button  name:Kp2.b24    geom:x:B24X:y:B24Y:w:B24W:h:B24H       action:'curr_btn 24;Kp2btnact'      font:Large      label:$(Kp2l24)
object  Button  name:Kp2.b25    geom:x:B25X:y:B25Y:w:B25W:h:B25H       action:'curr_btn 25;Kp2btnact'      font:Large      label:$(Kp2l25)
object  Button  name:Kp2.b26    geom:x:B26X:y:B26Y:w:B26W:h:B26H       action:'curr_btn 26;Kp2btnact'      font:Large      label:$(Kp2l26)
object  Button  name:Kp2.b27    geom:x:B27X:y:B27Y:w:B27W:h:B27H       action:'curr_btn 27;Kp2btnact'      font:Large      label:$(Kp2l27)
object  Button  name:Kp2.b28    geom:x:B28X:y:B28Y:w:B28W:h:B28H       action:'curr_btn 28;Kp2btnact'      font:Large      label:$(Kp2l28)
object  Button  name:Kp2.b29    geom:x:B29X:y:B29Y:w:B29W:h:B29H       action:'curr_btn 29;Kp2btnact'      font:Large      label:$(Kp2l29)
object  Button  name:Kp2.b30    geom:x:B30X:y:B30Y:w:B30W:h:B30H       action:'curr_btn 30;Kp2btnact'      font:Large      label:$(Kp2l30)
object  Button  name:Kp2.b31    geom:x:B31X:y:B31Y:w:B31W:h:B31H       action:'curr_btn 31;Kp2btnact'      font:Large      label:$(Kp2l31)
object  Button  name:Kp2.b32    geom:x:B32X:y:B32Y:w:B32W:h:B32H       action:'curr_btn 32;Kp2btnact'      font:Large      label:$(Kp2l32)
object  Button  name:Kp2.b33    geom:x:B33X:y:B33Y:w:B33W:h:B33H       action:'curr_btn 33;Kp2btnact'      font:Large      label:$(Kp2l33)
object  Button  name:Kp2.b34    geom:x:B34X:y:B34Y:w:B34W:h:B34H       action:'curr_btn 34;Kp2btnact'      font:Large      label:$(Kp2l34)
object  Button  name:Kp2.b35    geom:x:B35X:y:B35Y:w:B35W:h:B35H       action:'curr_btn 35;Kp2btnact'      font:Large      label:$(Kp2l35)
object  Button  name:Kp2.b36    geom:x:B36X:y:B36Y:w:B36W:h:B36H       action:'curr_btn 36;Kp2btnact'      font:Large      label:$(Kp2l36)
object  Button  name:Kp2.b37    geom:x:B37X:y:B37Y:w:B37W:h:B37H       action:'curr_btn 37;Kp2btnact'      font:Large      label:$(Kp2l37)
object  Button  name:Kp2.b38    geom:x:B38X:y:B38Y:w:B38W:h:B38H       action:'curr_btn 38;Kp2btnact'      font:Large      label:$(Kp2l38)
object  Button  name:Kp2.b39    geom:x:B39X:y:B39Y:w:B39W:h:B39H       action:'curr_btn 39;Kp2btnact'      font:Large      label:$(Kp2l39)
object  Button  name:Kp2.b40    geom:x:B40X:y:B40Y:w:B40W:h:B40H       action:'curr_btn 40;Kp2btnact'      font:Large      label:$(Kp2l40)
object  Button  name:Kp2.b41    geom:x:B41X:y:B41Y:w:B41W:h:B41H       action:'curr_btn 41;Kp2btnact'      font:Large      label:$(Kp2l41)
object  Button  name:Kp2.b42    geom:x:B42X:y:B42Y:w:B42W:h:B42H       action:'curr_btn 42;Kp2btnact'      font:Large      label:$(Kp2l42)
object  Button  name:Kp2.b43    geom:x:B43X:y:B43Y:w:B43W:h:B43H       action:'curr_btn 43;Kp2btnact'      font:Large      label:$(Kp2l43)
object  Button  name:Kp2.b44    geom:x:B44X:y:B44Y:w:B44W:h:B44H       action:'curr_btn 44;Kp2btnact'      font:Large      label:$(Kp2l44)
object  Button  name:Kp2.b45    geom:x:B45X:y:B45Y:w:B45W:h:B45H       action:'curr_btn 45;Kp2btnact'      font:Large      label:$(Kp2l45)
object  Button  name:Kp2.b46    geom:x:B46X:y:B46Y:w:B46W:h:B46H       action:'curr_btn 46;Kp2btnact'      font:Large      label:$(Kp2l46)
object  Button  name:Kp2.b47    geom:x:B47X:y:B47Y:w:B47W:h:B47H       action:'curr_btn 47;Kp2btnact'      font:Large      label:$(Kp2l47)
object  Button  name:Kp2.b48    geom:x:B48X:y:B48Y:w:B48W:h:B48H       action:'curr_btn 48;Kp2btnact'      font:Large      label:$(Kp2l48)
object  Button  name:Kp2.b49    geom:x:B49X:y:B49Y:w:B49W:h:B49H       action:'curr_btn 49;Kp2btnact'      font:Large      label:$(Kp2l49)
object  Button  name:Kp2.b50    geom:x:B50X:y:B50Y:w:B50W:h:B50H       action:'curr_btn 50;Kp2btnact'      font:Large      label:$(Kp2l50)


object	Button	name:Kp2.Shift	geom:x:SHIFTX:y:SHIFTY:w:SHIFTW:h:SHIFTH	action:ToggleShiftKey		font:Small	label:$(CfgShift)
object	Button	name:Kp2.CapLck	geom:x:CAPLCKX:y:CAPLCKY:w:CAPLCKW:h:CAPLCKH	action:ToggleCapLock		font:Small	label:$(CfgCapLck)
object  Button  name:Kp2.Send   geom:x:SENDX:y:SENDY:w:SENDW:h:SENDH	action:'$(kpaction);Kp2 unpost' label:$(CfgSend)        font:Small
object  Button  name:Kp2.Can    geom:x:CANX:y:CANY:w:CANW:h:CANH	action:'ResetString;Kp2 unpost' label:$(CfgCancel)      font:Small
