%!/psw/cpp

/*
 * Colour Scheme macros
 */

/*
 * default:Grey background, black text
 * Text boxes: White background, black text
 * For bright conditions
 */
#if #arch(pe)

macro   ColourScheme0	Screen colors:default,gray75:black,green:black,black:gr200;\
			Screen colors TextTerm,white:black,black:green128,gray82:gray50;\
			Screen colors:Canvas,white:black,black:green,grey064064064:grey192192192;\
			WinMgr refresh

#else

macro   ColourScheme0   Screen colors:default,grey128128128:black,green:black,grey064064064:grey192192192;\
                        Screen colors:TextTerm,white:black,green:white,grey064064064:grey192192192;\
                        Screen colors:Canvas,white:black,black:green,grey064064064:grey192192192;\
                        ComMgr setComponentColor:target:black;\
                        ComMgr setComponentColor:eqmt0:black;\
                        ComMgr setComponentColor:eqmt1:blue75;\
                        ComMgr setComponentColor:holeToTarget:black;\
                        WinMgr refresh

#endif

/*
 * default: Dark grey background, light grey text
 * Text boxes: Dark grey background, light grey text
 * For evening/overcast conditions
 */
#if #arch(pe)
macro	ColourScheme1   Screen colors:default,gray82:gray75,black:black,black:gr200;\
			Screen colors TextTerm,gray75:black,black:green128,gray82:gray50;\			
			Screen colors:Canvas,grey128128128:black,black:green,grey064064064:grey192192192;\
			WinMgr refresh

#else

macro   ColourScheme1   Screen colors:default,grey064064064:grey128128128,grey128128128:green,black:grey128128128;\
                        Screen colors:TextTerm,grey128128128:black,grey128128128:green,black:grey192192192;\
                        Screen colors:Canvas,grey128128128:black,black:green,grey064064064:grey192192192;\
                        ComMgr setComponentColor:target:black;\
                        ComMgr setComponentColor:eqmt0:black;\
                        ComMgr setComponentColor:eqmt1:blue75;\
                        ComMgr setComponentColor:holeToTarget:black;\
                        WinMgr refresh

#endif

/*
 * default: Black background, grey text
 * Text boxes: Black background, grey text
 * For night use
 */
#if #arch(pe)
macro	ColourScheme2	Screen colors:default,black:gray75,grey128128128:green,gray75:gray82;\
			Screen colors TextTerm,black:gray75,black:green128,gray82:gray50;\			
			Screen colors:Canvas,black:grey128128128,grey128128128:green,grey064064064:grey128128128;\
			WinMgr refresh
#else

macro   ColourScheme2   Screen colors:default,black:grey128128128,grey128128128:green,grey064064064:grey128128128;\
                        Screen colors:TextTerm,black:grey128128128,grey128128128:green,grey064064064:grey128128128;\
                        Screen colors:Canvas,black:grey128128128,grey128128128:green,grey064064064:grey128128128;\
                        ComMgr setComponentColor:target:yellow;\
                        ComMgr setComponentColor:eqmt0:blue50;\
                        ComMgr setComponentColor:eqmt1:blue;\
                        ComMgr setComponentColor:holeToTarget:green;\
                        WinMgr refresh

#endif

/* Operator-selectable screen dimming timer */

macro	setDimmerSecs	kpaction 'Vga dimmerSecs:\$(Kp.D label)';\
			Kp label:'Entrez le délai de veille en s (0=aucune veille)' post
