#!/psw/cpp
geom	bw:4
hmin	92
wmin	150
map	n
cols	2
item    Rappeler\nla\ commande         kpRecall
item    Actualiser\ l\\'écran         WinMgr refresh
item    Effacer\ la\nfenêtre\ de\ texte     w0.Text clear
/* item    Hardware\ Test          TestInstall post  */
item	Message	kpMessage
#if #arch(pe.net)
item    Verrouillage\nde\ l'écran            Screen lock
#endif
#define OBJECT  Options
#include <Cfg/Options.cfg>
item	Quitter		Options unpost
#if #arch(cgc) || #arch(pe)
itemColor Quitter:Exit
#endif
