#!/psw/cpp

#ifdef PORTRAIT
geom    x:0:y:440:w:480:h:280:bw:1
#else
geom    x:0:y:70:w:399:h:329:bw:1
#endif
font    Small
rows    12
cols    80
scroll  3
map	n
relief  sunken
#if #arch(cgc)
colors	w0.v2
#endif
