#!/psw/cpp

#ifdef PORTRAIT
geom    x:160:y:720:w:120:h:80:bw:1
action	StatBarRollR
#else
geom    x:528:y:400:w:80:h:80:bw:1
#endif
relief  sunken
font    Tiny2
label	$(v3.label)
#if #arch(cgc)
colors	StatBar
#endif
