#!/psw/cpp

#ifdef PORTRAIT
geom    x:160:y:760:w:240:h:40:bw:1
map	n
action	StatBarRollL
#else
geom    x:240:y:440:w:208:h:40:bw:1
#endif
relief  sunken
font    Tiny2
label	$(v2.label)
#if #arch(cgc)
colors	StatBar
#endif
