#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.11 $
 *   $Author: olivas $
 *     $Date: 2019/07/10 20:03:30 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* w0  */
message	MatlLbl		Matériaux

/* Production Information (wInfo) View */
message	ProdInfoHeader	' "Tonnes au Total  " "Charges Totales  " "Tonnes Der. Hr" "Charges Der. Hr" "Camions En Route" '

/* Load Side */
message LoadSideLbl     "Choisir Un Côté Pour Charger"
message LoadSide0       "Aucun"
message LoadSide1       "Gauche"
message LoadSide2       "Droite"
message LoadSide3       "Les Deux"
message LoadSideLock    "Permanent"

/* Remaining Buckets Beep */
message RemBktBeepON	"Bip de sceaux restants activé"
message RemBktBeepOFF	"Bip de sceaux restants désactivé"

/* Mobile Api text display */
message LoadingLbl Loading
message RemainingLbl Buckets
message OverTargetLbl over target
message HasMsg	has
message BucketTransactionMsg	tons after bucket

