#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Shovel...	req shvbar;menutype Shovels;menuselect menuactionob1;Shovels action:menuaction post
item	Dump...		req dmpbar;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	Material...	req matbar;menutype Load;menuselect menuactionob1;Load action:menuaction post
item	Semua\ Shovel	req shvbar;ob2 ubarall;sendaction
item	Semua\ Dump	req dmpbar;ob2 ubarall;sendaction
item	Semua\ Material	req matbar;ob2 ubarall;sendaction

item    Keluar\ Menu              Bar unpost
#if #arch(cgc)
itemColor Keluar\ Menu:Exit
#endif
