%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:48 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Goic/Rpc.cfg>
#include <Goic/Macro.cfg>
message	msg.0	欢迎使用   DISPATCH
message	msg.1	故障 发生在 $(loc)
message	msg.2	于 $(loc) 处待发 
message	msg.3	于 $(loc) 处等待
message	msg.4	于 $(loc) 处延误
message	msg.6	于 $(loc) 处停置
message	msg.7	驶向电铲 $(loc)
message	msg.8	到达 $(loc)
message	msg.9	于 $(loc) 处装载 
message	msg.10	于 $(loc) 处卸载 
message	pressOk	按 可键 
macro	kpLogOn Kp label:'工资代号 ' action:'LOGON \$(Kp.D label)' post
macro	kpReady Ok label:完好 action:READY post
macro	kpAssign Ok label:指派 action:ASSIGN post
macro	kpArrive Ok label:到达 action:ARRIVE post
macro	kpLoad	Ok label:装载 action:LOAD post
macro	kpFull	Ok label:'等待 $(loc) 燃料' action:none post
KSTATE	0
