#!/psw/cpp   
/*
 * * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Ku.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2007/09/19 22:44:25 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * * *
 */
#include <Goic/Russian/GeomMaster.cfg>
geom	x:0:y:0:w:640:h:VGAVERT:bw:2
map	n
relief	flat
tile	slash
titleHt	TITLEHT

#if #arch(cgc) && ( #arch(b100c) || #arch(b100l) || #arch(b101c) || #arch(b101l) || #arch(b102c) || #arch(b102l))
font    Small 
#elif #arch(cgc) && #arch(r2k)
font    Large
#endif

onpost	Ku.Disp label:"$(Kp2.Disp label)";Kplabel $(Ku label)
onunpost	eq? $(VarStringAdd) 0 ResetString;ne? $(VarStringAdd) 0 VarStringAdd $(- $(VarStringAdd) 1 )

object	Label	name:Ku.Disp	geom:x:0:y:0:w:630:h:35:bw:2	relief:flat  maxchars:45 label:$(Kp2.Disp label)
/* Fist row */
object	Button	name:Ku.b01	geom:x:COLONEX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb33);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb33)
object	Button	name:Ku.b02	geom:x:COLTWOX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb34);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb34)
object	Button	name:Ku.b03	geom:x:COLTHRX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb35);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb35)
object	Button	name:Ku.b04	geom:x:COLFOUX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb36);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb36)
object	Button	name:Ku.b05	geom:x:COLFIVX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb37);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb37)
object	Button	name:Ku.b06	geom:x:COLSIXX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb38);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb38)
object	Button	name:Ku.b07	geom:x:COLSEVX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb39);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb39)
object	Button	name:Ku.b08	geom:x:COLEIGX:y:ROWONEY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb40);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb40)


/* Second row */
object	Button	name:Ku.b09	geom:x:COLONEX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb41);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb41)
object	Button	name:Ku.b10	geom:x:COLTWOX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb42);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb42)
object	Button	name:Ku.b11	geom:x:COLTHRX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb43);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb43)
object	Button	name:Ku.b12	geom:x:COLFOUX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb44);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb44)
object	Button	name:Ku.b13	geom:x:COLFIVX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb45);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb45)
object	Button	name:Ku.b14	geom:x:COLSIXX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb46);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb46)
object	Button	name:Ku.b15	geom:x:COLSEVX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb47);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb47)
object	Button	name:Ku.b16	geom:x:COLEIGX:y:ROWTWOY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb48);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb48)

/* Third row */
object	Button	name:Ku.b17	geom:x:COLONEX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb49);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb49)
object	Button	name:Ku.b18	geom:x:COLTWOX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb50);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb50)
object	Button	name:Ku.b19	geom:x:COLTHRX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb51);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb51)
object	Button	name:Ku.b20	geom:x:COLFOUX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb52);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb52)
object	Button	name:Ku.b21	geom:x:COLFIVX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb53);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb53)
object	Button	name:Ku.b22	geom:x:COLSIXX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb54);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb54)
object	Button	name:Ku.b23	geom:x:COLSEVX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb55);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb55)
object	Button	name:Ku.b24	geom:x:COLEIGX:y:ROWTHRY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb56);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb56)


/* Fourth row */
object	Button	name:Ku.b25	geom:x:COLONEX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb57);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb57)
object	Button	name:Ku.b26	geom:x:COLTWOX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb58);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb58)
object	Button	name:Ku.b27	geom:x:COLTHRX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb59);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb59)
object	Button	name:Ku.b28	geom:x:COLFOUX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb60);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb60)
object	Button	name:Ku.b29	geom:x:COLFIVX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb61);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb61)
object	Button	name:Ku.b30	geom:x:COLSIXX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb62);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb62)
object	Button	name:Ku.b31	geom:x:COLSEVX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb63);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb63)
object	Button	name:Ku.b32	geom:x:COLEIGX:y:ROWFOUY:w:BTNHORZ:h:BTNVERT	action:'Kp2.Disp append:$(Cfgb64);Ku.Disp label:$(Kp2.Disp label)'	font:Large	label:$(Cfgb64)

object	Button	name:Ku.Del	geom:x:0:y:ROWFIVY:w:90:h:BTNVERT	action:'Kp2.Disp delete;Ku.Disp label:$(Kp2.Disp label)' label:$(CfgDelete)	font:Small
object	Button	name:Ku.Num	geom:x:180:y:ROWFIVY:w:90:h:BTNVERT	action:'VarStringAdd $(+ $(VarStringAdd) 1 );Kn label:$(kplabel) action:$(Ku action) post'	label:$(CfgNumpad)	font:Large

object	Button	name:Ku.Lc	geom:x:270:y:ROWFIVY:w:90:h:BTNVERT	action:'VarStringAdd $(+ $(VarStringAdd) 1 );Kp2 label: $(kplabel) action:$(Ku action) post'	label:$(CfgLowCase)

object	Button	name:Ku.SPACE	geom:x:360:y:ROWFIVY:w:90:h:BTNVERT	action:'Kp2.Disp append:_;Ku.Disp label:$(Kp2.Disp label)' label:$(CfgSpace)	font:Small

#if #arch(cgc)
object	Button	name:Ku.Send	geom:x:450:y:ROWFIVY:w:180:h:BTNVERT	action:'$(kpaction);Ku unpost'	label:$(CfgSend)	font:Small
object	Button	name:Ku.Can	geom:x:90:y:ROWFIVY:w:90:h:BTNVERT	action:'ResetString;Ku unpost'	label:$(CfgCancel)	font:Small
#else
object	Button	name:Ku.Send	geom:x:450:y:ROWFIVY:w:180:h:BTNVERT	action:'$(kpaction);Ku unpost'	label:$(CfgSend)	font:Small
object	Button	name:Ku.Can	geom:x:90:y:ROWFIVY:w:90:h:BTNVERT	action:'ResetString;Ku unpost'	label:$(CfgCancel)	font:Small
#endif
#undef VGAVERT
#undef TITLEHT
#undef BTNVERT
#undef ROWONEY
#undef ROWTWOY
#undef ROWTHRY
#undef ROWFOUY
#undef ROWFIVY
#undef ROWSIXY
/* object	Button	name:Ku.CLR	geom:x:0:y:ROWFOUY:w:BTNHORZ:h:BTNVERT		action:'Kp2.Disp label:""' label:$(CfgClear) font:Small
*/
