#!/psw/cpp
#ifdef PORTRAIT
geom	x:0:y:0:w:480:h:800
#else
geom    x:0:y:0:w:640:h:480
#endif
tile    root
relief  flat
map     n
object  Label   name:w2.l1
object  Label   name:w2.l2
object  Label   name:w2.l3
object  Text    name:w2.Text
object  Text    name:w2.Text2
object	Button	name:w2.Update
object	Button	name:w2.Main
object	Label	name:w2.Clock
