#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	120
wmin	150
map	n
cols	4
tile	slash
item	Вход...	        kpLogOn
item	Выход...	        kpLogOff
item	Предварительная проверка...		kpPrestart
item	Да	                kpYes
item	Нет	                kpNo
item	Топливо...	                kpFuel
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item    Чрезвычайная ситуация               kpHelp
item	Выход\ из\ Меню	        Actions unpost
#if #arch(cgc) || #arch(pe)
itemColor	Да:Yes
itemColor	Нет:No
itemColor	Выход\ из\ Меню:Exit
itemColor       Чрезвычайная ситуация:Down
#endif
