%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2007
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2007/12/11 23:27:15 $
 *    $State: Exp $
 *   Purpose: Load script for VsiOil driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME VsiOil
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	VsiOilDriver
	object	VsiOilDevice name:vsidev speed:9600 hdwe:rs232 port:GSPPORT
	object	VsiOilDriver name:vsioil device:vsidev sendto:MINECARENET
#endif
