#!/psw/cpp

#ifdef PORTRAIT
    object  Label   name:w0.speedOutline    geom:x:290:y:0:w:70:h:80:bw:1
    object  Label   name:w0.speedLbl        geom:x:295:y:7:w:65:h:65:bw:0
#else
    object  Label   name:w0.speedOutline    geom:x:400:y:0:w:80:h:80:bw:1
    object  Label   name:w0.speedLbl        geom:x:407:y:7:w:66:h:66:bw:0
#endif

object  Label   name:w0.speedOutline        font:Tiny map:n colors:redButton
object  Label   name:w0.speedLbl            font:Large map:n label:25 colors:Speed
