%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: WeighScale.cfg,v $
 * $Revision: 1.2 $
 *   $Author: zambetis $
 *     $Date: 2009/10/19 15:45:31 $
 *    $State: Exp $
 *   Purpose: Configuration file for weigh bridge interface
 *            integrated with RF tag reader.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Main/GspPort.h>
hdwe	rs232
speed	19200
