#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Información		req info;ob1 $(typ);args 2;sendaction
item	Mensaje			req mess;args 3;kplabel 'Mensaje a $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Foto\ de\ GC            snapshotUnit $(id);GetSnapshot

#if #option(Full)
item	Estatus			Status post
item    "Asignación\n Manual"   req asn;ManAsn post
item	Asig.\ Fija	        req tlock;Lock post
item	Quitar_Asig_Fija	req tunlck;Lock post
item	Bloquear		req tbar;Bar post
#endif

item    Salir\ Menú              Action1 unpost
#if #arch(cgc)
itemColor Salir\ Menú:Exit
#endif
