#!/psw/cpp
geom	bw:4
hmin	100
cols    3
map	n
tile	srash
item	Todos\nEquipos		id all;kplabel 'Mensaje a Todos Equipos';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Todos\nCamiones		id trks;kplabel 'Mensaje a Todos Camiones';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Todas\nPalas		id shv;kplabel 'Mensaje a Todas Palas';kpaction 'frmnmess';Kp2 label:$(kplabel) post
#item	Todos\nSupvsr		id fore;kplabel 'Mensaje A Supervisores';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Salir\nMenú             Bcast unpost
#if #arch(cgc)
itemColor Salir\nMenú:Exit
#endif
