#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Iniciar\nSesión			kpLogOn
item	Cerrar\nSesión		kpLogOff
item	Lista\ de\nChequeo	kpPrestart
item	Información...		Info post
item	LP\ Ruta	        WinMgr window:w1	
item	Foto\ de\ GC	        snapshotUnit $(id);WinMgr window:w5	
#item	Reports			Reports post
item	Borrar\ la\nPantalla		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item    Enviar mensaje\na\ Despachador   kpMessage
item	Emisión...		req bcast;args 2;Bcast post	
item    Salir\ Menú              Other unpost
#if #arch(cgc)
itemColor Salir\ Menú:Exit
#endif
