#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2012/07/20 00:35:43 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
message	SpeedMsg01	Exceso\nde\nVeloc
