%!/psw/cpp

geom		x:0:y:0:w:640:h:480
map		n
onpost		actwin wGpsstat; qrystat 1

onunpost	lastwin wGpsstat; qrystat 0

object	Button	name:wGpsstat.b0	geom:x:10:y:10:h:80:w:80:bw:2	icon:main	action:'WinMgr window:w0'
object	Button	name:wGpsstat.b1	geom:x:104:y:10:h:80:w:80:bw:2	icon:gps	action:'WinMgr window:hp'
object	Button	name:wGpsstat.b2	geom:x:546:y:10:h:80:w:80:bw:2	icon:emergency	action:'DoEmergency'

object	Label	name:wGpsstat.outline0	geom:x:10:y:94:h:385:w:300:bw:1
object	Label	name:wGpsstat.outline2	geom:x:198:y:10:h:80:w:328:bw:1

object	Label	name:wGpsstat.v1	geom:x:202:y:46:w:320:h:40:bw:2	font:Tiny	colors:TextTerm	relief:sunken 	

/* Internal Receiver */
object	Label	name:wGpsstat.lbl0	geom:x:20:y:98:h:30:w:260:bw:0		label:$(gpsStatLbl.0)	

object	Label	name:wGpsstat.gps10	geom:x:150:y:135:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm		
object	Label 	name:wGpsstat.pb0	geom:x:14:y:135:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.2)

object	Label	name:wGpsstat.gps11	geom:x:150:y:185:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm 	
object	Label 	name:wGpsstat.pb1	geom:x:14:y:185:h:50:w:126:bw:0		font:Small   	label:$(gpsStatLbl.3)

object	Label	name:wGpsstat.gps12	geom:x:150:y:235:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm 	
object	Label 	name:wGpsstat.pb2	geom:x:14:y:235:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.4)

object	Label	name:wGpsstat.gps13	geom:x:150:y:285:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm 	
object	Label 	name:wGpsstat.pb3	geom:x:14:y:285:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.5)

object	Label	name:wGpsstat.gps14	geom:x:150:y:335:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm 	
object	Label 	name:wGpsstat.pb4	geom:x:14:y:335:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.6)

object	Label	name:wGpsstat.gps15	geom:x:150:y:385:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm
object	Label 	name:wGpsstat.pb5	geom:x:14:y:385:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.7)

object	Label	name:wGpsstat.gps16	geom:x:150:y:435:h:40:w:150:bw:2	font:Tiny	relief:sunken	colors:TextTerm
object	Label 	name:wGpsstat.pb6	geom:x:14:y:435:h:40:w:126:bw:0		font:Small	label:$(gpsStatLbl.9)

/* Top window */
object	Label	name:wGpsstat.lbl2	geom:x:202:y:14:h:30:w:320:bw:0	font:Tiny	label:$(gpsStatLbl.8)

/* External Receiver */

#if #class(drill) || #class(shovel)

object	Label	name:wGpsstat.outline1	geom:x:330:y:94:h:385:w:300:bw:1

object	Label	name:wGpsstat.lbl1	geom:x:340:y:98:h:30:w:260:bw:0	label:$(gpsStatLbl.1)

object	Label	name:wGpsstat.gps20	geom:x:470:y:135:w:150:h:40:bw:2	font:Tiny	relief:sunken	colors:TextTerm map:y 
object	Label 	name:wGpsstat.cb0	geom:x:336:y:135:w:126:h:40:bw:0	font:Small	label:$(gpsStatLbl.2)

object	Label	name:wGpsstat.gps21	geom:x:470:y:185:w:150:h:40:bw:2	font:Tiny	relief:sunken	colors:TextTerm map:y 
object	Label 	name:wGpsstat.cb1	geom:x:336:y:185:w:126:h:50:bw:0  	font:Small	label:$(gpsStatLbl.3)	

object	Label	name:wGpsstat.gps22	geom:x:470:y:235:w:150:h:40:bw:2	font:Tiny	relief:sunken	colors:TextTerm map:y 
object	Label 	name:wGpsstat.cb2	geom:x:336:y:235:w:126:h:40:bw:0	font:Small	label:$(gpsStatLbl.4)

object	Label	name:wGpsstat.gps23	geom:x:470:y:285:w:150:h:40:bw:2	font:Tiny	relief:sunken	colors:TextTerm map:y 
object	Label 	name:wGpsstat.cb3	geom:x:336:y:285:w:126:h:40:bw:0	font:Small	label:$(gpsStatLbl.5)

object	Label	name:wGpsstat.gps24	geom:x:470:y:335:w:150:h:40:bw:2	font:Tiny	relief:sunken	colors:TextTerm map:y 
object	Label 	name:wGpsstat.cb4	geom:x:336:y:335:w:126:h:40:bw:0	font:Small	label:$(gpsStatLbl.6)

object  Label   name:wGpsstat.gps25     geom:x:470:y:385:h:40:w:150:bw:2        font:Tiny       relief:sunken   colors:TextTerm map:y
object  Label   name:wGpsstat.cb5       geom:x:336:y:385:h:40:w:126:bw:0        font:Small      label:$(gpsStatLbl.7)

object  Label   name:wGpsstat.gps26     geom:x:470:y:435:h:40:w:150:bw:2        font:Tiny       relief:sunken   colors:TextTerm map:y
object  Label   name:wGpsstat.cb6       geom:x:336:y:435:h:40:w:126:bw:0        font:Small      label:$(gpsStatLbl.9)

#endif
