#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Central.cfg,v $
 * $Revision: 1.16 $
 *   $Author: olivas $
 *     $Date: 2019/12/19 23:45:40 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* These values must match the UNIT enum */
message	u01	Truck
message	u02	Shovel
message	u03	Dump
message	u04	Crusher
message	u05	Stockpile
message	u06	Blast
message	u07	Workshop
message	u08	Shiftchange
message	u09	Call Point
message	u10	Pit
message	u11	Region
message	u12	Drill
message	u13	Dozer
message	u14	Grader
message	u15	Wheel Dozer
message	u16	Aux Crusher
message	u17	Foreman
message	u18	Water Truck
message	u19	Utility Vehicle
message	u20	Man Bus
message	u21	Generic Auxil

/* These values must match the STATUS enum */
message	stat1	Down
message	stat2	Ready
message	stat3	Standby
message	stat4	Delay
message	stat5	Shiftchange

/* Whether a broadcast (or just a HELP RPC) is sent when help button is pressed */
message	BroadcastHelp	n

/* Time format to display; 12 = 12 hour, 24 = 24 hour */
message	TimeFormat	12

/* Speed unit used, accepted values: mph, km/h */
message	SpeedUnit	mph

/* Antenna height in meters when using rudimentary Elevation Control for shovels */
/* Use #if #device conditions to enter individual shovel configuration */
message antennaHeight 	60

/* Time out period for no comms message box. Set to 0 for no timeout*/
symbol noCommsTime 5
/* Do beep when comms status changes. Set to 1 to enable beep */
symbol doCommsBeep 0

/* Enable SpeedMsg feature. This is the same as the SpeedMsg option but
 * it is now integrated into NEWUI code. This will prevent operator from
 * sending a message if they are moving faster than SpeedMsgVel
 */
message SpeedMsg	n
symbol SpeedMsgVel	223	/* 223 cm/s ~ 5 mph */

/* Enable restricted Checklist Pass All functionality
 * If set to y then Pass All button will only pass neutral 
 * items that have not been set yet. It will not pass
 * failed items
 */
symbol PassAllRestrict	y
symbol	DateSeparator /	/* seperator char for dates */
symbol DateFmt	mdy	/* Date Format; supported values are mdy, dmy, and ymd */

/*
 *  When trkfullpopup is set to y then trucks performing a full from the
 *  next action button with ALLOW_TRKFULL set to yes will recive the confirmation popup
 *  when trkfullpopup is set to n the popup will not happen
 *
 */
symbol trkfullpopup y

/*
 *  Display Favorites landing page when favorites button pressed in DE sidebar
 *  If not enabled, pressing favorites button will go directly to Quick Messages
 *  Not supported for DELite.
 */
symbol	enableFavorites	n

/*
 * For excavator's using the EXCAVMOBILEAPI or DSPINTEGMANAGER, this configuration 
 * sets the TruckEventManager to use shovel payloads OR truck dippers as the means
 * of information to update the target payload display.
 *
 */
symbol targetupdateconf shovel

/*
 * For excavator's using the EXCAVMOBILEAPI or DSPINTEGMANAGER, this configuration 
 * sets the range (from initial value) that the TruckEventManager will use to update
 * the bucketsize value.
 *
 */
symbol allowablebucketrangeconf 0.25
