%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2014/10/23 03:54:11 $
 *    $State: Exp $
 *   Purpose: Generic Macro.cfg definitions for communications
 *	      Hub which define radio channel select, generic
 *	      VSMS access, etc.
 * * * * * * * * * * * * * * * * * * *
 */
/*
 * Define RPC used to transmit foot switch input to GOIC.
 */
out	CP-SWITCH	0x18a	b	sendto Goic

/*
 * Define general purpose RPCs used to set radio port ID and
 * channel select.  Note that these RPCs require v2.4 firmware
 * to save the values in EEPROM.
 */
#if !#arch(pe.net)
/* Deprecating ID rpc, overwritten to name 0 when loaded */
/*in	ID		0x203	d	Rp id:$1 set */
in	CHANNEL		0x127	d	Rp channel:$1 set
#endif

/*
 * int vana(int chan, int val);
 *
 * Return current value of given analog input channel.  Optionally,
 * simulate the analog input.
 */
in	VANA		0x81	d?d,d	eq? $# 1 Vsms achan:$1;eq? $# 2 Vsms achan:$1:$2

/*
 * int vdig(int chan, int val);
 *
 * Return current value of given digital input channel.  Optionally,
 * simulate the digital input.
 */
in	VDIG		0x82	d?d,d	eq? $# 1 Vsms dchan:$1;eq? $# 2 Vsms dchan:$1:$2

/*
 * int vdout(int chan, int val, int secsOn);
 *
 * Set given digital output to `val'.  Optionally, turn off after `secsOn'
 * seconds.
 */
in	VDOUT		0x83	dd?d	Vsms relay:$1:$2

/*
 * Return current value of all analog inputs.
 */
in	VA*		0x84	v,[b]	Vsms analogs

/*
 * Return current value of all digital inputs.
 */
in	VD*		0x85	v,[b]	Vsms digitals

/*
 * Return verbose description, in volts DC, of given analog input.
 */
in	VDC		0x86	d,s	Vsms vdc:$1

/*
 * void vafilter(int chan, int count, int freq);
 *
 * If one arg, return current analog filtering parameters;  if
 * three args, set analog smoothing to moving average sampled every
 * `freq' milliseconds.
 */
in	VAFILTER	0x87	bbd	Vsms afilter:$1:$2:$3

/*
 * void vdfilter(int chan, int count, int freq);
 *
 * If one arg, return current digital filtering parameters;  if
 * three args, set digital smoothing to require `count' consecutive
 * samples in one state, sampled every `freq' milliseconds.
 */
in	VDFILTER	0x88	b?bd	Vsms dfilter:$1:$2:$3

/*
 * long vpulse(int chan, int reset);
 *
 * Read cumulative pulses since last VPULSE command.  If `reset' is non-zero,
 * reset counter to zero.
 */
in	VPULSE		0x8c	bb,l	Pc$1 counts

/*
 * void valarm(u_char condition, u_short value);
 *
 * Generic RPC for transmitting alarm condition.
 */
out	VALARM		0x95	bd	sendto up
#define OBJECT Macro
#include <Cfg/Options.cfg>
