%!/psw/cpp
geom		x:0:y:0:h:480:w:640
map		n
onpost		'actwin hp;hp.ht relief:raised'
onunpost	lastwin hp

object	Button	name:hp.b0	geom:x:10:y:10:h:80:w:80:bw:2	icon:main	action:'WinMgr window:w0'
object	Button	name:hp.b1	geom:x:90:y:10:h:80:w:80:bw:2	icon:project	font:Tiny	action:'WinMgr window:wProject'
object	Button	name:hp.b2	geom:x:170:y:10:h:80:w:80:bw:2	font:Tiny
object	Button	name:hp.b3	geom:x:250:y:10:h:80:w:80:bw:2	icon:zoom	action:'DoZoom'	icon:zoom	font:Tiny
object	Button	name:hp.b4	geom:x:330:y:10:h:80:w:80:bw:2	icon:rotate	action:'RotateViewGps'	icon:rotate	font:Tiny
object	Button	name:hp.b5	geom:x:410:y:10:h:80:w:80:bw:2	icon:gpsstatus	action:'GpsStatusPost'	font:Tiny
object	Button	name:hp.b6	geom:x:546:y:10:h:80:w:80:bw:2	icon:emergency	action:'DoEmergency'

object	Label	name:hp.statusOutline1	geom:x:492:y:10:h:36:w:52:bw:1	relief:flat
object	Label	name:hp.statusLbl1	geom:x:496:y:20:h:24:w:45:bw:0	font:USAscx18	label:"GPS"
object	Label	name:hp.statusLight1	geom:x:494:y:12:h:8:w:14:bw:1	relief:raised	colors:statusNone

/*
 * Material status indicator objects 
 * (flashes if GPS disagrees with operator-selected)
 */
object	Label	name:hp.statusOutline2	geom:x:492:y:54:h:36:w:52:bw:1	relief:flat
object	Label	name:hp.statusLbl2	geom:x:496:y:64:h:24:w:45:bw:0	font:USAscx18	label:"Matl"
object	Label	name:hp.statusLight2	geom:x:494:y:56:h:8:w:14:bw:1	relief:raised	colors:statusNone

/*
 * Pitch and roll indicator bounding box
 */
object	Label	name:hp.outline1	geom:x:394:y:428:h:44:w:232:bw:1	relief:flat map:n

/*
 * Graphical window
 */
object	HpGpsCADCanvas	name:hp.CADCanvas	geom:x:10:y:104:h:316:w:526:bw:2	relief:sunken	graphicsBoxSize:256	font:Tiny	colors:Canvas	zoom:100	action:canvasSelected	scale:1

/*
 * Height gauge
 */
object	HpGpsGauge	name:hp.ht

#if #option(Proximity)

/*
 * GPS and Operator material bounding box with Proximity option enabled
 */
object	Label	name:hp.outline0	geom:x:10:y:428:h:44:w:312:bw:1	relief:flat

/*
 * Tons and Truck bounding box with Proximity option enabled
 */
object	Label	name:hp.outline2	geom:x:326:y:428:h:44:w:193:bw:1	relief:flat	action:switchHpInformation

/*
 * Loading Truck indicator objects with Proximity option enabled
 */
object	Label	name:hp.data2		geom:x:376:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny label:"-"	action:switchHpInformation
object	Label	name:hp.dataLbl2	geom:x:328:y:432:h:38:w:48:bw:0	relief:flat	font:Tiny	action:switchHpInformation
/*
 * Current Tons  indicator objects with Proximity option enabled
 */
object	Label	name:hp.data3		geom:x:458:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny  label:"-"	action:switchHpInformation
object	Label	name:hp.dataLbl3	geom:x:434:y:432:h:38:w:35:bw:0	relief:flat	font:Tiny	action:switchHpInformation

/*
 * Pitch indicator (from inclinometer - front to back) objects with Proximity option enabled
 */
object	Label	name:hp.data0		geom:x:365:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny map:n	action:switchHpInformation
object	Label	name:hp.dataLbl0	geom:x:328:y:432:h:38:w:35:bw:0	relief:flat	font:Tiny map:n	action:switchHpInformation
/*

 * Roll indicator (from inclinometer - side to side) objects with Proximity option enabled
 */
object	Label	name:hp.data1		geom:x:458:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny map:n	action:switchHpInformation
object	Label	name:hp.dataLbl1	geom:x:420:y:432:h:38:w:40:bw:0	relief:flat	font:Tiny map:n	action:switchHpInformation

/* Proximity Display */
object  Label   name:hp.pxProximity     geom:x:520:y:428:w:105:h:44:bw:1  label:$(pxMsgProximity) font:Tiny action:'onOff label:$(pxMsgSound) post'

/*
 * GPS and Operator material display boxes with Proximity option enabled
 */
object	Label	name:hp.gpsmatl	geom:x:14:y:432:h:36:w:150:bw:2	relief:sunken	colors:TextTerm	font:Tiny
object	Label	name:hp.matl	geom:x:168:y:432:h:36:w:150:bw:2	relief:sunken	colors:TextTerm	font:Tiny

/*
 * Text popup with Proximity option enabled
 */
object  Text    name:hp.Text    geom:x:10:y:424:w:508:h:52:bw:2 relief:sunken   colors:TextTerm font:Tiny map:n

#else

/*
 * GPS and Operator material bounding box without Proximity option
 */
object	Label	name:hp.outline0	geom:x:10:y:428:h:44:w:316:bw:1	relief:flat

/*
 * Tons and Truck bounding box without Proximity option
 */
object	Label	name:hp.outline2	geom:x:330:y:428:h:44:w:232:bw:1	relief:flat 

/*
 * Loading Truck indicator objects without Proximity option
 */
object	Label	name:hp.data2		geom:x:384:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny label:"-"
object	Label	name:hp.dataLbl2	geom:x:332:y:432:h:38:w:48:bw:0	relief:flat	font:Tiny 
/*
 * Current Tons  indicator objects without Proximity option
 */
object	Label	name:hp.data3		geom:x:502:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny  label:"-"
object	Label	name:hp.dataLbl3	geom:x:448:y:432:h:38:w:48:bw:0	relief:flat	font:Tiny 

/*
 * Pitch indicator (from inclinometer - front to back) objects without Proximity option
 */
object	Label	name:hp.data0		geom:x:384:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny map:n
object	Label	name:hp.dataLbl0	geom:x:332:y:432:h:38:w:48:bw:0	relief:flat	font:Tiny map:n
/*

 * Roll indicator (from inclinometer - side to side) objects without Proximity option
 */
object	Label	name:hp.data1		geom:x:502:y:432:h:36:w:56:bw:2	relief:sunken	colors:TextTerm	font:Tiny map:n
object	Label	name:hp.dataLbl1	geom:x:448:y:432:h:38:w:48:bw:0	relief:flat	font:Tiny map:n

/*
 * Button to Switch Information Truck-Tons vs. Inclination  without Proximity option
 */
object	Button	name:hp.swInfo		geom:x:566:y:428:h:44:w:60:bw:2	relief:sunken  font:Tiny label:$(cfgLbl.116) action:switchHpInformation

/*
 * GPS and Operator material display boxes without Proximity option
 */
object	Label	name:hp.gpsmatl	geom:x:14:y:432:h:36:w:150:bw:2	relief:sunken	colors:TextTerm	font:Tiny
object	Label	name:hp.matl	geom:x:168:y:432:h:36:w:150:bw:2	relief:sunken	colors:TextTerm	font:Tiny

/*
 * Text popup without Proximity option
 */
object  Text    name:hp.Text    geom:x:10:y:424:w:468:h:52:bw:2 relief:sunken   colors:TextTerm font:Tiny map:n

#endif
