%!/psw/cpp
/*
 * default settings for HP Shovel application. Please
 * override in a client-specific version of this file
 * that should include this file at the start
 */

#include <HpShovel/Goic/Gauge.h>

numberOfAntennas 2
granularity	4

timeBeforeGivingUpOnRequest	30

startupdatingrelief		ReliefUpdate
startloadingdiglinemacro	DiglineUpdate
startloadingprojectmacro	ProjectUpdate
startloadingtopomacro		ReliefUpdate
startloadingmatpolygonsmacro	MaterialUpdate
endupdatingrelief		EndUpdate
endloadingdiglinemacro		EndUpdate
endloadingprojectmacro		EndUpdate
endloadingtopomacro		EndUpdate
endloadingmatpolygonsmacro	EndUpdate
infoRequestGiveupMacro		EndUpdate

elevBufferSize 60

setComponentColor       eqmt0:black
setComponentColor       eqmt1:yellow

#if #option(Backhoe)
isBackhoe	yes
#endif
