%!/psw/cpp

/*
 * only do the revD vsms specific stuff if we are actually on
 * a revD hub that has this capability
 */

#if #arch(hub) || #arch(hubcan)

/*
 * get equipment specific settings
 */
#include <VsmsDrill/Vsms.h>

path	y

/*
 * set defaults for depth counter if not specified by configuration file
 *
 * DEPTH_COUNTER = input to which shaft encoder is connected
 *
 * DEPTH_DIRECTOR = input to use for direction the encoder is turning
 *
 * DEPTH_REVERSE = set to 'yes' if up/down has to be reversed
 */
#if !defined(DEPTH_COUNTER)
#	define DEPTH_COUNTER 0
#endif
#if !defined(DEPTH_DIRECTOR)
#	define DEPTH_DIRECTOR 10
#endif
#if !defined(DEPTH_REVERSE)
#	define DEPTH_REVERSE no
#endif

/*
 * create the actual depth counter here
 */
object	Pulse name:Pc0 counter:DEPTH_COUNTER director:DEPTH_DIRECTOR reverse:DEPTH_REVERSE

#if defined(FREQ_COUNTER)
	object	Pulse name:Pc1 counter:FREQ_COUNTER
#else
	object	Pulse name:Pc1 counter:1
#endif

/*
 * maximum number of samples to gather.
 */
#if !defined(MAXSAMPLES)
#	define MAXSAMPLES 201
#endif

/*
 * Create drill monitoring system vector storage.
 */
bvec	prof0:MAXSAMPLES
bvec	prof1:MAXSAMPLES
bvec	prof2:MAXSAMPLES
bvec	prof3:MAXSAMPLES
bvec	prof4:MAXSAMPLES
timer	sampTimer

/*
 * when do we take a sample
 */
#if !defined(SAMPLE_INCR)
#	define SAMPLE_INCR +4
#endif

/*
 * when do we update the drilling rate
 */
#if !defined(RATE_INCR)
#	define RATE_INCR +1
#endif

/*
 * when do we update the CGC
 */
#if !defined(UPDATE_INCR)
#	define UPDATE_INCR 1
#endif

counter	SAMPLE_INCR:Pc0:drillSample
counter	RATE_INCR:Pc0:drillRate
counter	UPDATE_INCR:Pc0:drillUpdate

/*
 * setup a periodic update of realtime data to the CGC, if so
 * desired. For this functionality to be enabled, you must at least
 * define a macro 'REALTIMEDATA' in your Vsms.h, for example:
 *
 * #define REALTIMEDATA $(Vsms analogs)
 *
 * By default, this functionality is not active
 */
#if defined(REALTIMEDATA)
#	if !defined(REALTIMEDATA_INTV)
#		define REALTIMEDATA_INTV 1000
#	endif
every	REALTIMEDATA_INTV:KDATA [ REALTIMEDATA ]
#endif

#endif
