#if #arch(goic) || #arch(goiccan) || #arch(cgc)  

#else

every 1070:KPRSM apstat $(wan0 quality)
every 1060:KPRSM apname AP:$(wan0 description)
every 1050:KPRSM ssid $(wan0 ssid)
every 1040:KPRSM bssid $(wan0 bssid)
every 1030:KPRSM hops $(wan0 hops)
every 1020:KPRSM ipaddr $(wan0 ipaddr)
every 1010:KPRSM radio Active:$(wan0 activeRadio)
every 1080:KPRSM arssi $(wan0 qualityA)
every 1090:KPRSM brssi $(wan0 qualityB)
#endif

























































