#if #arch(goic) || #arch(goiccan) || #arch(cgc)   

object Window name:w1 geom:x:0:y:64:w:640:h:220:bw:2 map:no

object Label name:w1.apstatlbl geom:x:225:y:0:w:125:h:25:bw:1 label:Status:
object Label name:w1.apstat geom:x:350:y:0:w:285:h:25:bw:1 

object Label name:w1.apnamelbl geom:x:225:y:25:w:125:h:25:bw:1 label:AP:
object Label name:w1.apname geom:x:350:y:25:w:285:h:25:bw:1 

object Label name:w1.ipaddrlbl geom:x:225:y:50:w:125:h:25:bw:1 label:IP:
object Label name:w1.ipaddr geom:x:350:y:50:w:285:h:25:bw:1 

object Label name:w1.ssidlbl geom:x:225:y:75:w:125:h:25:bw:1 label:SSID:
object Label name:w1.ssid geom:x:350:y:75:w:285:h:25:bw:1 

object Label name:w1.bssidlbl geom:x:225:y:100:w:125:h:25:bw:1 label:BSSID:
object Label name:w1.bssid geom:x:350:y:100:w:285:h:25:bw:1 

object Label name:w1.radiolbl geom:x:225:y:100:w:125:h:25:bw:1 label:Radio:
object Label name:w1.radio geom:x:350:y:100:w:285:h:25:bw:1 

object Label name:w1.hopslbl geom:x:225:y:125:w:125:h:30:bw:1 label:Hops:
object Label name:w1.hops geom:x:350:y:125:w:285:h:30:bw:1 

object PctBar name:w1.arssi geom:x:64:y:8:w:64:h:144:bw:1  action:'w1 map:n' 
object PctBar name:w1.brssi geom:x:128:y:8:w:64:h:144:bw:1  action:'w1 map:n' 



#endif








