#!/psw/cpp
geom	x:0:y:0:w:640:bw:0
hmin	120
wmin	214
item	Tindakan	Actions post
item	Status	for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post
item	Opsi	Options	post
#define OBJECT w0.mb
#include <Cfg/Options.cfg>
itembw	4
#if #arch(cgc) || #arch(pe)
colors	default
#endif
