#!/psw/cpp
geom	x:0:y:0:w:640:bw:0
hmin	120
wmin	214
font	Hindi-uni
itembw	4
item		Actions post
item		for stat;req statreq;updtselect statupdate;menutype Status;Status action:menuaction post
item		Options	post
#define OBJECT w0.mb
#include <Cfg/Options.cfg>
#if #arch(cgc)
colors	default
#endif
