%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1999
 *               All Rights Reserved
 *  $RCSfile: OMS.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:51 $
 *    $State: Exp $
 *   Purpose: Insure that the OMS module is instantiated only once.
 * * * * * * * * * * * * * * * * * * *
 */
#if !#module(OMS)
#	assert	module(OMS)
	module	OMS
	object	OMS
#endif
