%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: GpsGround.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:48 $
 *    $State: Exp $
 *   Purpose: Configuration file for GPS ground station application.
 * * * * * * * * * * * * * * * * * * *
 */
sendTo	ARG2
#if defined(ARG3)
	sendCPDTo	ARG3
#elif #arg1(GpsGG24) || #arg1(GpsMicroZ)
	sendCPDTo	ARG2
#endif
