%!/psw/cpp
#include <Version.h>
#ifndef UP
#	define UP Slip
#endif
up	UP
connected y
module	ObjSh
module	Vga
module	File
object	ObjSh base:Test prompt:\'218 Board Test, vVERSION> \'
object	Adc
object	Vga
object	File path:y
mode	171
ssn	""
rom	x
ram	x
flash	x
e2rom	x
e2pot	x
adc	x
vga	x
done	x
