#!/psw/cpp
#ifdef PORTRAIT
geom	x:0:y:700:w:160:h:80
font    Tiny
#else
geom	x:0:y:400:w:213:h:80
font    Small
#endif
label   "Update"
action	w2.Text clear;w2.Text2 clear;EQ-REQ "TaskList"
relief	raised
