#!/psw/cpp
/*
 *
 *
 *
 */

#include <Goic/auxil/French/Macro.cfg>

#include <Goic/French/Macro_messages_newui.cfg>
#include <Goic/French/keyboard_KpGen.cfg>
#include <Goic/auxil/w0_config_newui.cfg>
#include <Goic/French/Macro_newui.cfg>
