#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    2
item    Log\ On         kpLogOn
item    Log\ Off        Ok label:$0 action:'LOGON -1' post
item    Pesan         kpMessage
item    Darurat	HELP 911 post
item    Ya             kpYes
item    Tidak              kpNo
item 	Hapus\ Layar   w0.Text clear
#define OBJECT Actions
#include <Cfg/Options.cfg>
item 	Keluar\ Menu      Actions unpost

#if #arch(cgc)
itemColor	Ya:Yes
itemColor	Tidak:No
itemColor	Keluar\ Menu:Exit
itemColor       Darurat:Down
#endif
