#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    2
item    Trucks\nEn-route	w0.Text clear;req inform;id 1;SendReq1
item    Tons\ This\nHour	w0.Text clear;req inform;id 2;SendReq1
item    Tons\ Last\nHour	w0.Text clear;req inform;id 3;SendReq1
item    Total\ Tons\nDumped	w0.Text clear;req inform;id 4;SendReq1
item    Loader/Shovel\nFeeding	w0.Text clear;req inform;id 5;SendReq1
item    Dump/Queue\nTime	w0.Text clear;req inform;id 6;SendReq1
#define OBJECT Info
#include <Cfg/Options.cfg>
item    Keluar\ Menu          	Info unpost
#if #arch(cgc) || #arch(pe)
itemColor       Keluar\ Menu:Exit
#endif
