%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.8 $
 *   $Author: zambetis $
 *     $Date: 2011/05/09 22:26:07 $
 *    $State: Exp $
 *   Purpose: GOIC configuration, definition additional objects for
 *            the client
 * * * * * * * * * * * * * * * * * *
 */

geom	x:0:y:0:bw:0
itembw	4
hmin	80
wmin	150
map	n
cols	3
tile	slash
item	Matrícula...	        kpLogOn
item	Retirar\nMatrícula... 	kpLogOff
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Chegada			kpArrive
item	Destino			kpAssign
item	Carregando		kpLoad
#endif
item	Cheio	                kpFull
#if #class(excav) || #class(shovel) || #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Setar\ Local\nde\ Carga...  kpChngLoc   
item	Setar\ Caminhão\nCarregando...	kpTrkLoad
#endif
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Combustível...	                kpFuel
item	Mudar\ Modo\nde\ Tramming	kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Carregando\nSplit	WinMgr window:wSplits
#endif
item	Checklist...	kpPrestart
item    Informação\ndo\ Turno   WinMgr window:wInfo
item	Sim	                kpYes
item	Não	                kpNo
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item	Emergência	        kpHelp
item	Sair\ Menu	        Actions unpost
#if #arch(cgc) || #arch(pe)
itemColor	Sim:Yes
itemColor	Não:No
itemColor	Emergência:Down
itemColor	Sair\ Menu:Exit
#endif
