%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olson $
 *     $Date: 2002/11/01 14:56:04 $
 *    $State: Exp $
 *   Purpose: Load script for Ddec driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Ddec
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#if !#module(j1587)
#	include <Main/GspPort.h>
#	if defined(GSPPORT) && !#GSPPORT(busy)
		module	J1587
		object	J1587Device name:j1587 port:GSPPORT speed:9600 hdwe:rs485
#		assert module(j1587)
#	endif
#endif
#if #module(j1587)
	object	DdecDriver name:ddec device:j1587 sendto:MINECARENET
#endif
