%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/10/19 00:20:07 $
 *    $State: Exp $
 *   Purpose: Load script for Plm driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Plm
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	PlmDriver
	object	PlmDevice name:plmdev speed:9600 hdwe:rs232 port:GSPPORT
	object	PlmDriver name:plm device:plmdev sendto:MINECARENET
#endif
