%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2016/11/22 05:28:55 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for Goic's MobileMonitor
 * * * * * * * * * * * * * * * * * * *
 */
macro MM_rpc_extra kstate_extra $(kstate_extra) MM
macro MM.kstate_extra MMINFO $(rpc_arg1) $(rpc_arg2) $(rpc_arg3) $(rpc_arg4) $(rpc_arg5) $(rpc_arg6) $(rpc_arg7)

#if !#arch(pe)
out MMINFO 0xa001 b?ssssss sendto up
#endif

