#!/psw/cpp
geom	x:118:y:112bw:4
hmin	92
wmin	150
map	n
cols	3
item	Гэрлийн\ шилжyyлэгчийг\nхянах\ удирдлага		kpaction 'setdimsecs';Kp label:'Автомат гэрлийн шилжyyлэг унтрах секунд: 0 автомат гэр.бyд унтраах' post
item	Гэрлийн\ шилжyyлэгчийн\nажиллагааг\ салгах		Vga dimmerSecs:0
item	Гэрэл\ анивчилтыг\nсалгах	flashEnable 0
item	Гэрэл\ анивчилтыг\nасаах	flashEnable 1
item	Цэснээс\nгарах		FlashCntrl unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif
