#!/psw/cpp
geom	bw:4
hmin	100
map	n
cols    3
item	Хyдэр		ob1 ore;MPrior post
item	Хаягдал		ob1 waste;MPrior post

item    Цэснээс\nгарах              Prior unpost
#if #arch(cgc)
itemColor Цэснээс\nгарах:Exit
#endif
