%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: PS_Macro.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2013/06/17 19:12:17 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */

#include <Goic/English/PS_Macro.cfg>

symbol comment Аль нь ч yгyй.

symbol	CfgPassFail.1	Унах
symbol	CfgPassFail.0	Тэнцэх

macro	PSRefresh	$(PSVer).Label label:"$(PrestartTitle.$(PsList)) - $(+ $(lastpage.$(PsList)) 1)-ийн $(+ $(pg) 1) хуудас";foreach $(PsInit$(pg));do mapbuttons

message	DoNotOperateLbl	Тенхикийг ажиллуулж болохгyй
message	PsCritFailLbl	Асалтын ноцтой алдаа
symbol	SelInitCLLbl	"Please select your\\ninitial checklist"

macro	kpCommentPS kpaction 'showComment';Kp2 label:'Нэмэлт Тайлбар оруулах' post

symbol  cfgLbl.pre.1 "Эхлэхийн oмнo шалгах жагсаалт"
symbol  cfgLbl.pre.2 "Ерoнхий Нэмэлт Тайлбар"
symbol  cfgLbl.pre.3 "Хуудас"
symbol  cfgLbl.pre.4 "Oмнoх хуудас"
symbol  cfgLbl.pre.5 "Дараагийн хуудас"
symbol  cfgLbl.pre.6 "OK"
symbol  cfgLbl.pre.7 "Бyгдийг алгасах"
symbol	cfgLbl.pre.8 "Нэмэлт Тайлбар\nоруулах"
symbol  cfgLbl.pre.9 "Илгээх"
symbol  cfgLbl.pre.10 "Yйлдлийг цуцлах"
