#!/psw/cpp
#include <Version.h>
#include <Main/GspPort.h>
#if #up(Slip)
	up	Slip
	module	Can
	object	Can name:CanA port:cana id:1
	object	Can name:CanB port:canb id:2
#else
	up	Can name:CanA port:cana id:1
	object	Can name:CanB port:canb id:2
	module	Slip
#endif
connected y
module	ObjSh
module	File
object	ObjSh base:Test prompt:\'215 Board Test, vVERSION> \'
object	Slip port:GSPPORT name:Gsp speed:9600
object	File path:y
mode	215
ssn	""
rom	x
ram	x
flash	x
e2rom	x
#if !#up(Can)
ping	CanA.2
ping	CanB.1
#endif
ping	Gsp:rs232
ping	Gsp:rs485
ping	Gsp:20ma
done	x
