%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2008/03/18 14:56:32 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for TireSaver
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(goic) || #arch(goiccan) || #arch(cgc)
#	include <TireSaver/Goic/Macro.cfg>
#else
#	include <TireSaver/Hub/Macro.cfg>
#endif
