#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Informação	     req info;ob1 $(typ);args 2;sendaction
item	Mensagem		     req mess;args 3;kplabel 'Mensagem para $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Foto\ do\ GC            snapshotUnit $(id);GetSnapshot
item	Setar\ Status	     args 3;updtselect statupdate;menutype Status;Status action:menuaction post
item	Setar\ Prioridade	     req pri;args 4;eq? "$(directprior)" "1" DPrior post;ne? "$(directprior)" "1" Prior post
item    Setar\ Utilização     req util;args 2;kplabel 'Utilização';kpaction 'sendKp';Kp label:$(kplabel) post
item	Setar\ Material  	     req lmat;args 2;menuselect menuactionob1;menutype Material;Material action:menuaction post
item	Fixo\ ao\nDepoósito...	req dlck;ob2 lock;args 4;menutype Locs;menuselect actlocmenu;Locs action:menuaction post
item	Abrir\ do\nDepósito   req dlck;ob2 unlock;args 4;sendaction
item	Setar\ Local\ de\nCarregamento...	     req ldloc;menutype Locs;args 2;menuselect actlocmenu;Locs action:menuaction post
item	Desabilitar	             req dis;args 1;menuselect menuactionid;Ok label:'Desabilitar $(id)' action:sendaction post
item	Habilitar          req ena;args 1;menuselect menuactionid;Ok label:'Habilitar $(id)' action:sendaction post
item	Tirar\ de\ Fixo\nCaminhões       req utrks;args 1;menuselect menuactionid;Ok label:'Desfixar caminhões de $(id) ?' action:sendaction post
#item    Oper\ Login          kplabel 'Núm. Matrícula';kpaction 'DoOperLogin';Kp label:$(kplabel) post

#define OBJECT Action2
#include <Cfg/Options.cfg>
item	Sair\ Menu	Action2 unpost
#if #arch(cgc)
itemColor Sair\ Menu:Exit
#endif

