#!/psw/cpp
#ifdef PORTRAIT
geom    x:0:y:70:w:480:h:640:bw:4
font Tiny2
#else
geom    x:0:y:70:w:640:h:410:bw:4
font USAscx10
#endif
cols    132
rows    33
relief  sunken
scroll  3
#if #arch(cgc)
colors   w0.v2
#endif
