%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: imascarenhas $
 *     $Date: 2015/02/10 16:48:49 $
 *    $State: Exp $
 *   Purpose: Load script for Caes driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Caes
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	object	Slip name:caesnet speed:9600 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
	module	CaesDriver
	object	CaesDriver name:caes device:caesnet sendto:MINECARENET
#endif
