%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/08/29 03:44:21 $
 *    $State: Exp $
 *   Purpose: Load script for HoursMeter driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME HoursMeter
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	module	HoursMeterDriver
	object	HoursMDevice name:HoursMeterdev speed:9600 hdwe:rs232 port:GSPPORT
	object	HoursMDriver name:HoursMeter device:HoursMeterdev sendto:MINECARENET
#endif
