%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2010/02/02 17:51:07 $
 *    $State: Exp $
 *   Purpose: script to instantiate any Port Embedded
 *            objects that are different or not instantiated
 *            by the non mlx scripts
 * * * * * * * * * * * * * * * * * * *
 */
/*
 * objects that are unique to PE
 */
#if #arch(pe.net)
	module	Radio
	object	Radio
#else
	echo Radio can only be an option for Underground PTX
#endif
