#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:47 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LoadLoc	јчих\ байршлыг\nтааруул...
#define	Dict_TrkLoad	јчааны\ машинд\ ачих\nачилтыг\ тааруул...
#define	Dict_Tram	√араар\ зooх\nгоримд\nшилжyyлэх
#define Dict_LoadSide	Set\ Loading\nSide...
