#!/psw/cpp
geom	bw:4
hmin	92
wmin	150
map	n
cols	3
font	Hindi-uni
#if #class(shovel) || #class(loader) || #class(truck)
item             kpRecall
item             WinMgr refresh
item         w0.Text clear
/* item    Hardware\ Test          TestInstall post  */
item		kpMessage
#else
item			kpRecall
item			WinMgr refresh
item		w0.Text clear
/* item	Hardware\ Test		TestInstall post 
#include <Goic/English/Options.Video.cfg> */
item		kpMessage
#endif
item			Options unpost
#if #arch(cgc)
itemColor Exit\ Menu:Exit
#endif
