%!/psw/cpp
#include<PS/generic/Macro.cfg>

#if #class(truck)
#include<PS/truck/Macro.cfg>
#endif

#if #class(aux)
#include<PS/aux/Macro.cfg>
#endif

#if #class(auxil) || #class(graderlp) || #class(dozerlp)
#include<PS/auxil/Macro.cfg>
#endif

#if #class(excav)
#include<PS/excav/Macro.cfg>
#endif

#if #class(shovel)
#include<PS/excav/Macro.cfg>
#endif

#if #class(loader) || #class(loaderlp)
#include<PS/loader/Macro.cfg>
#endif

#if #class(foreman)
#include<PS/foreman/Macro.cfg>
#endif

#if #class(drill)
#include<PS/drill/Macro.cfg>
#endif

#if #class(wtruck) || #class(wtrucklp)
#include<PS/wtruck/Macro.cfg>
#endif

#if #class(lhd)
#include<PS/lhd/Macro.cfg>
#endif

#if #class(ug_loader)
#include<PS/ug_loader/Macro.cfg>
#endif

#if #class(ug_truck)
#include<PS/ug_truck/Macro.cfg>
#endif

#if #class(ug_train)
#include<PS/ug_train/Macro.cfg>
#endif
