#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.5 $
 *   $Author: gsousa $
 *     $Date: 2019/08/07 12:40:36 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_SelfAssign	Assig\nDiri...
#define	Dict_Inpit	Inpit...
/* This is now in common/Indonesian/Actions.cfg, and translated:
#define	Dict_EngHours	Engine\nHours...
*/
