%!/psw/cpp

/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.7 $
 *   $Author: dcitron $
 *     $Date: 2013/06/17 19:12:18 $
 *    $State: Exp $
 *   Purpose: GOIC configuration, definition additional objects for
 *            the client
 * * * * * * * * * * * * * * * * * *
 */

geom    bw:0
itembw  4
hmin    80
wmin    150
map     n
cols    3
tile    slash
item    Matrícula       kpLogOn
item    Retirar\nMatrícula      kpLogOff
item    Hor\364metro... kpEngHrs
item    Checklist		kpPrestart
item    Sim                     kpYes
item    Não                     kpNo
item    Emergencia              kpHelp
item	Mensagem		KeyMessage
item	Cancelar\ Furo		EQ-REQ "cancelhole";CancelComMgrHole
item	Resetar\nFuro 		VSHAFT 0;dispDepth 0
item	Perigos			EQ-REQ "hazard"
item    Sair\ Menu      Actions unpost
#if #arch(cgc)
colors	default
#endif
