%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.6 $
 *   $Author: dcitron $
 *     $Date: 2014/02/23 07:49:49 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */

#define LANGUAGE Portuguese

#include <Goic/Rpc.cfg>
#include <Goic/Portuguese/keyboard.cfg>
#include <Goic/Portuguese/Message.cfg>
#include <Goic/Portuguese/PS_Macro.cfg>
#include <Goic/common/Macro.cfg>
#include <Goic/Portuguese/Macro_English_fix.cfg>
#include <Goic/common/Macro_hp.cfg>
#include <Goic/common/Macro_screen.cfg>
#include <Goic/Portuguese/Macro_cfg.cfg>
#include <Goic/common/Macro_msg.cfg>
#include <Goic/common/Macro_emerg.cfg>
#include <Goic/common/Macro_utils.cfg>
#include <Goic/common/Macro_project.cfg>

#include <Goic/drill/English/Macro_drill.cfg>

/*
 * this is Portuguese specific, it does not exist in English version
 */
macro requestHazards REQ-PROJECT "Update"

#include <Goic/common/Macro_client.cfg>
#include <Goic/common/Macro_gpss.cfg>
#include <Goic/Portuguese/Macro_gpsstat.cfg>
