%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: example.config,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2003/02/05 00:21:33 $
 *    $State: Exp $
 *   Purpose: Example configuration for the bucyrus interface
 *
 * * * * * * * * * * * * * * * * * * *
 *
 * you should create one of these files for each equipment with this
 * interface as <cli>/psw/MineCare/Bucyrus/<device>.cfg. It specifies the IP
 * address and port of the device that is connected to the hub via the ethernet.
 * Note that, typically, this IP address will be part of the mine wireless
 * subnet, and the ethernet bridge should be also loaded (e.g. BRIDGE=eth0 in
 * the load arguments).
 * Furthermore, OMS needs to have an entry in its routing tables, so-that it
 * knows how to reach the bucyrus device. You do this by creating a file
 * <cli>/psw/OMS/<device>.cfg with the details of the route. An example of the
 * contents of this file is:
 *
 * route add 10.220.0.140 vn0 00:80:82:19:01:77
 *
 * where the last argument is the MAC address of the bucyrus device. You can
 * determine the MAC address by manually adding a route while the hub is
 * connected: "OMS route add <IP address> vn0" and you will then find the MAC
 * address in the "Router status" output...
 */

devAddr	192.168.11.141:1055  /* Bucyrus device address and port */

