%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2010/02/01 17:54:12 $
 *    $State: Exp $
 *   Purpose: Load script for Adec driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Adec
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  SAEJ1939	
  module  AdecDriver

  object  SAEJ1939 name:adecdev port:canb id:12
  object  AdecDriver name:adec device:adecdev sendto:MINECARENET
