#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/05/09 22:26:08 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* this defines a macro that gets substituted into the Goic/French/Macro
     so that same code can be used in foreman and excav class equipment */
#define dEQREQ	SHOVEL-REQ
#include <Goic/French/Macro.cfg>
bufsize 2048
symbol	lastloc
symbol	temploc
macro   Init    Macro KSTATE:0
stack	8192

/* Messages */
message	msg.notavail	Action indisponible
/* End Messages */

symbol mnasnok n
symbol trkfull n

macro kpManAsn	eq? "$(mnasnok)" "n" notavail;ne? "$(mnasnok)" "n" doManAsn
macro notavail	Ok label:$(msg.notavail) post
macro doManAsn	req selfasn;args 2;ManAsn post

macro kpTrkFull eq? "$(trkfull)" "n" notavail;ne? "$(trkfull)" "n" doTrkFull
macro doTrkFull Ok label:'Camion plein' action:'FULL None' post
#	define OBJECT Macro
#	include <Cfg/Options.cfg>

/* include any client overrides */
#include <Goic/truck/French/Client_Macro.cfg>
