#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.8 $
 *   $Author: gsousa $
 *     $Date: 2018/12/05 15:53:46 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	fbFuelLbl Entrez l'ID
message fbFuelLblTrucks     Camion
message fbFuelLblLoaders    Chargeur
message fbFuelLblAuxEqmt    Eqmt.Aux.
message fbReadyFuelBay	Mettre l'équipement en état de disponibilité en premier s'il vous plaît!
message fdFluidRequestLbl Demande en cours de la liste des liquides; veuillez patienter...
