#!/psw/cpp
geom	bw:4
hmin	92
wmin	150
map	n
cols	3
item    Recuperar\nPrevio       kpRecall
item    Refrescar\nPantalla     WinMgr refresh
item    Eliminar\nTexto         w0.Text clear
/* item    Hardware\ Test          TestInstall post  */
item	Mensaje	kpMessage
#if #arch(pe.net)
item    Bloqueo\ de\ pantalla      Screen lock
#endif
#define OBJECT  Options
#include <Cfg/Options.cfg>
item	Salir\ Menu		Options unpost
#if #arch(cgc) || #arch(pe)
itemColor Salir\ Menu:Exit
#endif
