%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.2 $
 *   $Author: zambetis $
 *     $Date: 2011/01/05 16:32:29 $
 *    $State: Exp $
 *   Purpose: Load script for Contronicsj1939 driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME ContronicsJ1939
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  SAEJ1939
  module  ContronicsJ1939Driver

  object  SAEJ1939 name:contrdev port:canb id:12
  object  ContDriver name:contronics device:contrdev sendto:MINECARENET

  
  
