#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/03/03 19:26:07 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Полный
#define	Dict_Refill	Пополнить
#define	Dict_Watering	Поливка водой
#define	Dict_Empty	Пустой
#define	Dict_StopWater	Остановить\nполивку
#define	Dict_Weather	Погодные\nусловия...
