#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SkyCond.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/03/03 19:26:07 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Clear	Ясно
#define	Dict_PartCloudy	Частичная\ облачность
#define	Dict_Cloudy	Облачно
#define	Dict_ExitMenu	Выход\ Меню
