%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2008/08/06 15:46:53 $
 *    $State: Exp $
 *   Purpose: GSP configuration file for custom GSP interfaces.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#ifndef ISOPTION
#	include <Main/UpPort.h>
#	ifdef SIM
	    version	APPNAME Simulator, vVERSION
#	    define PROMPT	\'APPNAME Simulator, vVERSION (%s)> \'
#           define MYAPP APPNAME-Sim
#       else
	    version	APPNAME Interface, vVERSION
#	    define PROMPT	\'APPNAME Interface, vVERSION (%s)> \'
#           define MYAPP APPNAME
#	endif
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
#include <Main/GspPort.h>
#if ! #GSPPORT(busy)
#	ifdef ISOPTION
		module	OPT_NAME
		object	OPT_NAME
#	else
		module	MYAPP
		object	MYAPP
#		if !#up(Slip)
#			include <Main/Slip.cfg>
			object	Slip
#		endif
#	endif
#endif
#ifndef ISOPTION
#	define OBJECT Main
#	include <Cfg/Options.cfg>
#endif
