#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/07/01 05:54:25 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* Actions */
macro	SendSpray	EQ-REQ "Spray" [ "$1" ]
macro	doWaterFull	EQ-REQ "Full" [ "2" ];doWeather
macro	doRefill	EQ-REQ "Refill" [ "0" ]
macro	doSpray		PostDynamicMenu "Spray" "SendSpray"
macro	doEmpty		EQ-REQ "Empty" [ "3" ]
macro	doStopWater	EQ-REQ "Stop" [ "5" ]
macro	doWeather	PostWindow "Weather" MENU_LAYER

/* KSTATE stuff */
symbol  icon.0 logo
symbol  icon.1 down
symbol  icon.2 ready
symbol  icon.3 standby
symbol  icon.4 delay
symbol  icon.5 tiedown
symbol  icon.6 watertrk
symbol	anim.6	n
symbol  icon.7 watertrk
symbol	anim.7	n
symbol  icon.8 refill
symbol	anim.8	n
symbol  icon.9 spray
symbol	anim.9	n
symbol  icon.10 ready
symbol	anim.10	n
symbol  icon.11 watertrk
symbol	anim.11	n
symbol  icon.12 watertrk
symbol	anim.12	n

macro   rpc.0   doActLogOn
macro   rpc.1   doReadyChk
macro   rpc.2   doSpray
macro   rpc.3   doReadyChk
macro   rpc.4   doReadyChk
macro   rpc.5   doWaterFull
macro   rpc.6   doEmpty
macro   rpc.7   doSpray
macro   rpc.8   doWaterFull
macro   rpc.9   doStopWater
macro   rpc.10  doActLogOn
macro   rpc.11  doRefill
macro   rpc.12  doSpray

/* Weather */
symbol	temperature
symbol	windSpeed
symbol	windDir
symbol	skyCond
symbol	rain
macro	SetTemperature	temperature $(GetPadValue)
macro	SetWindSpeed	windSpeed $(GetPadValue)
macro	doWeatherTemp	PostNegNumPad "$(EnterTempLbl)" SetTemperature $(dfltKPLen) $(temperature)
macro	doWeatherSpeed	PostNumPad "$0" SetWindSpeed $(dfltKPLen) $(windSpeed)
macro	doWeatherDir	WindDir post
macro	doWindDir	windDir $0
macro	doWindDirExit	WindDir unpost
macro	doWeatherSky	SkyCond post
macro	doSkyCond	skyCond $0
macro	doSkyCondExit	SkyCond unpost
macro	doWeatherRain	Rain post
macro	doRain		rain $0
macro	doRainExit	Rain unpost
macro	doWeatherCancel	UnpostWindow "Weather"
macro	doWeatherOk	EQ-REQ "Wcond" [ "$(temperature)" "$(windSpeed)" "$(windDir)" "$(skyCond)" "$(rain)" ];doWeatherCancel

#define	LANG_FILE	<10inch/wtruck/LANGUAGE/Macro.cfg>
#include LANG_FILE
