%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/09/12 05:47:57 $
 *    $State: Exp $
 *   Purpose:
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME CollisionAvoidance
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  SAEJ1939	
  module  CollisionAvoidanceDriver

  object  SAEJ1939 name:casdev port:canb id:12
  object  CAS name:cas device:casdev sendto:MINECARENET
