#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/09/19 19:55:14 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Plein
#define	Dict_Refill	Remplir
#define	Dict_Watering	Arrosage
#define	Dict_Empty	Vide
#define	Dict_StopWater	Arrêter\nl'arrosage
#define	Dict_Weather	Conditions\nclimatiques...
