#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/09/19 19:55:14 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* Weather */
message	WeatherCondLbl	Conditions climatiques
message	TemperatureLbl	Température
message	WindSpeedLbl	Vitesse du vent
message	WindDirLbl	Direction du vent
message	SkyCondLbl	Etat du ciel
message	PrecipFactorLbl	Facteur de précipitation
message	EnterTempLbl	Entrez la température
