#!/psw/cpp

#ifdef PORTRAIT
geom       x:0:y:360:w:480:bw:1
hmin    120
wmin    160
#else
geom	   x:0:y:0:w:400:bw:1
hmin	133
wmin	133
#endif
map	n
item	Material	Material post
#define OBJECT w0.mb
#include <Cfg/Options.cfg>
itembw	4
#if #arch(cgc) || #arch(pe)
colors	default
#endif
