#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2018/10/09 11:55:37 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	fbFuelLbl Enter the Id of
message fbFuelLblTrucks     Truck
message fbFuelLblLoaders    Loader
message fbFuelLblAuxEqmt    Auxiliary Equipment
message fbReadyFuelBay	Ready equipment first, please!
message fdFluidRequestLbl Requesting fluid list, please wait...
