%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.6 $
 *   $Author: latum $
 *     $Date: 2007/02/21 23:09:58 $
 *    $State: Exp $
 *   Purpose: Load script for Vims driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Vims
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	object	Slip name:vimsnet speed:9600 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
	module	VimsConfig
	object	VimsConfig name:vimsconfig
	module	VimsDriver
	object	VimsDriver name:vims device:vimsnet sendto:MINECARENET
#endif
