#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	95
wmin	120
map	n
cols	4
tile	slash
item	Системд\nнэвтрэх...	        kpLogOn
item	Системээс\nгарах...	        kpLogOff
#if #class(loader)
item	Ирэх			kpArrive
item	Томилох			kpAssign
item	Ачааны\nмашинд\nачаа\ ачих			kpLoad
#endif
item	Дyyрэн	                kpFull
#if #class(excav) || #class(shovel) || #class(loader)
item	Ачих\ байршлыг\nтааруул  kpChngLoc   
item	Ачааны\ машинд\ ачих\nачилтыг\ тааруул	kpTrkLoad
#endif
#if #class(loader)
item	Шатахуун...	                kpFuel
item	Гараар\ зooх\nгоримд\nшилжyyлэх	kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Малталтыг\nхэсэгчлэх		WinMgr window:wSplits
#endif
item	Эхлэхийн\noмнoх\nшалгалт...	kpPrestart
item	Тийм	                kpYes
item	Yгyй	                kpNo
item    Мессеж       		KeyMessage
item    Ээлж\nМэдээлэл      WinMgr window:wInfo
#if #option(Backhoe)
item    Материал\nДавхаргууд\nШинэчлэх    EQ-REQ "updtmatlayers" 
#endif
#define OBJECT Actions
#include <Cfg/Options.cfg>
item	Цэснээс\nгарах	        Actions unpost
