#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCClist.0.2.0.0_2.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2016/08/17 15:39:34 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map     n
geom    x:0:y:0:bw:0

#define CCCTITLE        "(Demo) SUB LIST 3-1-1 - Item List Page 2"
#define CCCINIT         Fail
#define CCCNXTMAP       y
#define CCCOBJ          0-2-0-0_2
#define CCCITM0		5
#define CCCITM1		6
#define CCCITM2		7
#define CCCITM3		8
#define	CCCITM4		9
#define CCCBTN0MAP      y
#define CCCBTN1MAP      y
#define CCCBTN2MAP      y
#define CCCBTN3MAP      n
#define CCCBTN4MAP      n

#define CCCBTN0LBL      "CHECKLIST ITEM 5"
#define CCCBTN1LBL      "CHECKLIST ITEM 6"
#define CCCBTN2LBL      "CHECKLIST ITEM 7"
#define CCCBTN3LBL      ""
#define CCCBTN4LBL      ""

#define CCCBTN0PORT      "CHECKLIST ITEM 5"
#define CCCBTN1PORT      "CHECKLIST ITEM 6"
#define CCCBTN2PORT      "CHECKLIST ITEM 7"
#define CCCBTN3PORT      ""
#define CCCBTN4PORT      ""

#define CCCBTN0ML      "CHECKLIST ITEM 5"
#define CCCBTN1ML      "CHECKLIST ITEM 6"
#define CCCBTN2ML      "CHECKLIST ITEM 7"
#define CCCBTN3ML      ""
#define CCCBTN4ML      ""

#define CCCBTN0FONT     Large
#define CCCBTN1FONT     Large
#define CCCBTN2FONT     Large
#define CCCBTN3FONT     Large
#define CCCBTN4FONT     Large

#define CCCBTN0FONTML   default
#define CCCBTN1FONTML   default
#define CCCBTN2FONTML   default
#define CCCBTN3FONTML   default
#define CCCBTN4FONTML   default

#include <CCClist/CCCItem_common.cfg>
