#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: CCClist.0.1.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2016/08/17 15:39:34 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
map     n
geom    x:0:y:0:bw:0

#define CCCTITLE        "(Demo) SUB LIST 2"
#define CCCNAVMAP       y
#define CCCSENDMAP	n
#define CCCOBJ          0-1
#define CCCBTN0MAP      y
#define CCCBTN1MAP      n
#define CCCBTN2MAP      n
#define CCCBTN3MAP      n
#define CCCBTN4MAP      n
#define CCCBTN5MAP      n
#define CCCBTN6MAP      n
#define CCCBTN7MAP      n
#define CCCBTN8MAP      n
#define CCCBTN9MAP      n

#define CCCBTN0LBL      "SUB LIST 2-1"
#define CCCBTN1LBL      ""
#define CCCBTN2LBL      ""
#define CCCBTN3LBL      ""
#define CCCBTN4LBL      ""
#define CCCBTN5LBL      ""
#define CCCBTN6LBL      ""
#define CCCBTN7LBL      ""
#define CCCBTN8LBL      ""
#define CCCBTN9LBL      ""

#define CCCBTN0ML      "SUB LIST 2-1"
#define CCCBTN1ML      ""
#define CCCBTN2ML      ""
#define CCCBTN3ML      ""
#define CCCBTN4ML      ""
#define CCCBTN5ML      ""
#define CCCBTN6ML      ""
#define CCCBTN7ML      ""
#define CCCBTN8ML      ""
#define CCCBTN9ML      ""

#define BTN0FONTML      default
#define BTN1FONTML      default
#define BTN2FONTML     	default
#define BTN3FONTML      default
#define BTN4FONTML      default
#define BTN5FONTML      default
#define BTN6FONTML      default
#define BTN7FONTML      default
#define BTN8FONTML      default
#define BTN9FONTML      default

#include <CCClist/CCClist_common.cfg>
