#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	120
wmin	150
map	n
cols	4
tile	slash
item	Acceder\nSesion	        kpLogOn
item	Cerrar\nSesion	        kpLogOff
item	Lista\ de\nChequeo	kpPrestart
item    Emergencia               kpHelp
item	Si	                kpYes
item	No	                kpNo
item	Tanque\nLleno		kpFull
item	Re-Llenar		kpLoad
item	Regando			kpSpray
item	Tanque\nVacio		kpEmpty
item	Fin\nRegando		kpStop
item    Mal\Tiempo     WinMgr window:w1
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item	Salir\ Menu	        Actions unpost

#if #arch(cgc) || #arch(pe)
itemColor	Si:Yes
itemColor	No:No
itemColor	Salir\ Menu:Exit
itemColor       Emergencia:Down
#endif
