#!/psw/cpp

/*
 * rev-D equipment have loop network with Master controller
 * on hub. Masterlink equipment have Can bus. We don't
 * rely on any name resolution of 'Goic' bc we simply want
 * to broadcast over the local network
 */
#if #arch(hub)
	sendTo	Master.-1
#else
	sendTo	Can.-1
#endif

/*
 * turn POS-PATH transmissions OFF
 */
ppathTo	-1

/*
 * elevation is in dm
 */
zScale	10

/*
 * send EQMT-PATH-HP instead of EQMT-PATH
 */
pathOption	high-precision

/*
 * send EQMT-PATH-HP every 8 minutes (16 points at 30 sec)
 */
pathTm	30

