#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: StatBar.cfg,v $
 * $Revision: 1.6 $
 *   $Author: olivas $
 *     $Date: 2013/10/04 22:18:40 $
 *    $State: Exp $
 *   Purpose: Object instantiation Proximity Objects used in StatBar
 * * * * * * * * * * * * * * * * * * *
 */
/* 
 * This functionality has been replaced by generic GPS Status icon
 * functionality in boot/10inch/common/Macro.cfg
 *
#ifdef DELITE
#   ifdef PORTRAIT
#      ifdef LARGEUI
         object Label name:StatBar.ProxGps      geom:x:440:y:0:w:94:h:40:bw:4
         object Label name:StatBar.ProxGpsLight geom:x:410:y:7:w:30:h:21:bw:1
#      else
         object Label name:StatBar.ProxGps      geom:x:420:y:0:w:112:h:40:bw:4
         object Label name:StatBar.ProxGpsLight geom:x:390:y:12:w:30:h:21:bw:1
#      endif
#   else
      object	Label	name:StatBar.ProxGps		geom:x:640:y:0:w:94:h:40:bw:4
      object	Label	name:StatBar.ProxGpsLight	geom:x:610:y:7:w:30:h:21:bw:1
#   endif
   object	Label	name:StatBar.ProxGps		relief:sunken	colors:StatBar	label:"$(pxGpsLbl)"
   object	Label	name:StatBar.ProxGpsLight	relief:raised	colors:Fail
#endif

/* Minor adjustment when loading LANGUAGE=Hindi */
#if #language(Hindi)
#	ifdef LARGEUI
	object Label name:StatBar.ProxGps font:Small
#	else
#		ifdef PORTRAIT
			object Label name:StatBar.ProxGps font:Small
#		endif
#	endif
#endif
*/
