#!/psw/cpp
/*
 *
 *
 *
 */

#include <Goic/excav/English/Macro.cfg>

#include <Goic/Russian/Macro_messages_newui.cfg>
#include <Goic/Russian/keyboard_KpGen.cfg>
#include <Goic/excav/w0_config_newui.cfg>
#include <Goic/Russian/Macro_newui.cfg>
