#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: SkyCond.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2014/12/16 21:24:22 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Clear	Изчисти
#define	Dict_PartCloudy	Частично\ облачно
#define	Dict_Cloudy	Облачно
#define	Dict_ExitMenu	излизане\ от\nменюто
