#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: WindDir.cfg,v $
 * $Revision: 1.3 $
 *   $Author: olivas $
 *     $Date: 2015/02/10 20:41:42 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_N		С
#define	Dict_S		Ю
#define	Dict_E		И
#define	Dict_W		З
#define	Dict_NE		СИ
#define	Dict_NW		СЗ
#define	Dict_SE		ЮИ
#define	Dict_SW		ЮЗ
#define	Dict_ExitMenu	излизане\ от\nменюто
