#!/psw/cpp
#if #option(Proximity)
geom    x:0:y:0:w:585:bw:0
#else
geom    x:0:y:0:w:640:bw:0
#endif
hmin	110
wmin	117
item	јчааны\ машинууд	   typ 1;menutype Trucks;menuselect menuaction4;Trucks action:menuaction post
item	Ёкскаваторууд	   typ 2;menutype Shovels;menuselect menuaction4;Shovels action:menuaction post
item	Ѕайршлууд       typ L;menutype Locs;menuselect menuaction5;Locs action:menuaction post
item	“услах\ тoхooрoмж	   typ A;menutype Aux;menuselect menuaction6;Aux action:menuaction post
item	Ѕусад	   Other post
itembw  4
#if #arch(cgc)
colors default
#endif
