#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.6 $
 *   $Author: gsousa $
 *     $Date: 2016/09/13 13:37:58 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Recall	Repetir\ Comando
#define	Dict_Refresh	Repintar\ Tela
#define	Dict_Lock	Bloquear\nTela
#define Dict_Chat       Enviar\nMensagem
#define Dict_Clear      Limpar\ Texto
#define Dict_RemBktBeep	Mudar\ Configuração\ndo\ Beep\ para\nCaçambadas\ Restantes
#define Dict_Color      Cores
#define	Dict_ExitMenu	Sair\ Menu
