#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Options.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olivas $
 *     $Date: 2015/04/08 08:04:05 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define Dict_EnRoute    Транспорт\nв\ пути
