#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:47 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LoadLoc	Setar\ Local\nde\ Carga...
#define	Dict_TrkLoad	Setar\ Caminhão\nCarregando...
#define	Dict_Tram	Mudar\ Modo\nde\ Tramming
#define Dict_LoadSide	Setar\ Lado\nde\ Carga...
