%!/psw/cpp
/*
 * Symbols for language-independent display
 */


#include <Goic/common/Macro_cfg.cfg>

message GoodCommsLbl Commun. Reestabelecida.\n
message BadCommsLbl  Comun. Perdida!\n
symbol	cfgLbl.0 "Sim"
symbol	cfgLbl.1 "Não"
symbol	cfgLbl.2 "Nenhuma resposta da central.\nTentar novamente?"
symbol	cfgLbl.3 "Nenhum"
#if #class(shovel) || #class(loader)
symbol	cfgLbl.4 "Acima"
symbol	cfgLbl.5 "Nível"
#else
symbol	cfgLbl.4 "Corte"
symbol	cfgLbl.5 "Aterro"
#endif
symbol	cfgLbl.6 "Esquerda"
symbol	cfgLbl.7 "Direita"
symbol	cfgLbl.8 "Frente"
symbol	cfgLbl.9 "Mensagem"
symbol	cfgLbl.10 "De"
symbol	cfgLbl.11 "De"
symbol	cfgLbl.12 "Enviar Para"
symbol	cfgLbl.13 ' "Incl.V" "Incl.L" "Cam." "Tons" '
symbol	cfgLbl.14 ""
symbol	cfgLbl.15 '"Realmente enviar\nEmergência?"'
symbol	cfgLbl.16 "Entre mensagem e pressione Enviar"
symbol	cfgLbl.17 "Dispatch"
symbol	cfgLbl.18 "Essa opção não está disponível"
symbol	cfgLbl.19 ' "Cancelar\\nSplit"'
symbol	cfgLbl.20 "Dia"
symbol	cfgLbl.21 "Nublado"
symbol	cfgLbl.22 "Noite"
symbol	cfgLbl.23 "Controle\nLumin."
symbol	cfgLbl.Bright "Brilho"
symbol  cfgLbl.Clear "Limpar"
symbol  cfgLbl.Cancel "Cancelar"
/* Pre-Start labels */
symbol  cfgLbl.pre.1 "Checklist"
symbol  cfgLbl.pre.2 "Comentário"
symbol  cfgLbl.pre.3 "Página"
symbol  cfgLbl.pre.4 "Anterior"
symbol  cfgLbl.pre.5 "Próximo"
symbol  cfgLbl.pre.6 "Confirmar"
symbol  cfgLbl.pre.7 "Tudo OK"
/* Pre gauge window labels */
symbol  cfgLbl.gau.1 "RPM"
symbol  cfgLbl.gau.2 "Pressão Ar"
symbol  cfgLbl.gau.3 "Torque"
symbol  cfgLbl.gau.4 "Pull Down"
symbol  cfgLbl.gau.5 "Taxa Penetr"

/* Project/Surface creation labels */
symbol	cfgLbl.24 "XInicial YInicial ZInicial Direção Comprimento Largura Inclinação"
symbol	cfgLbl.25 "XInicial YInicial ZInicial XFinal YFinal ZFinal Largura"
symbol	cfgLbl.26 "ZObjetivo"
symbol	cfgLbl.27 "Entre Valor X Inicial"
symbol	cfgLbl.28 "Entre Valor Y Inicial"
symbol	cfgLbl.29 "Entre Valor Z Inicial"
symbol	cfgLbl.30 "Entre Direção"
symbol	cfgLbl.31 "Entre Comprimento"
symbol	cfgLbl.32 "Entre Largura"
symbol	cfgLbl.33 "Entre Inclinação (%)"
symbol	cfgLbl.34 "Ok"
symbol	cfgLbl.35 "Desenho não pode ser carregado"
symbol	cfgLbl.36 ""
symbol	cfgLbl.37 "Mova para ponto inicial e pressione Ok"
symbol	cfgLbl.38 "Mova para ponto final e pressione Ok"
symbol	cfgLbl.39 "Entre Largura"
symbol	cfgLbl.40 "Ambos os pontos são os mesmos! Tente novamente"
symbol	cfgLbl.41 "Criar"
symbol	cfgLbl.42 "Complete todos campos de entrada"
symbol	cfgLbl.43 "Entre elevação objetivo"
symbol	cfgLbl.44 "Atualizando dados"
symbol	cfgLbl.45 "Entre Valor X Inicial"
symbol	cfgLbl.46 "Entre Valor Y Inicial"
symbol	cfgLbl.47 "Entre Valor Z Inicial"
symbol	cfgLbl.48 "Entre Valor X Final"
symbol	cfgLbl.49 "Entre Valor Y Final"
symbol	cfgLbl.50 "Entre Valor Z Final"
symbol	cfgLbl.51 "Entre Largura"
symbol	cfgLbl.52 "Atualizando mapa de superfície"
symbol	cfgLbl.53 "Carregando dados do projeto"
symbol	cfgLbl.54 "Carregando dados de avanço"
symbol	cfgLbl.55 "Carregando dados de material"
symbol	cfgLbl.60 "Rampa de 1-Ponto"
symbol	cfgLbl.61 "Rampa de 2-Pontos"
symbol	cfgLbl.62 "Rampa 2-Pt Keyed"
symbol	cfgLbl.63 "Nível Plano"
symbol	cfgLbl.64 "Nível Keyed"
symbol	cfgLbl.65 "Carregar Desenho"
symbol	cfgLbl.66 "Remover Projeto"
#if #class(shovel) || #class(loader) || #class(excav) || #class(dozer) || #class(grader)
symbol	cfgLbl.67 '"Fogo" "Design" "BCMs" "Cargas" "Taxa" "Ultimo" "Tons"'
symbol  cfgLbl.65  "Baixar Projeto"
symbol  cfgLbl.66  "Deletar Projeto"
#else
symbol  cfgLbl.60  "Referência 1Pto"
symbol  cfgLbl.61  "No used"
symbol  cfgLbl.62  "Referência 2Pto"
symbol  cfgLbl.63  "Referência 1Pto Off"
symbol  cfgLbl.64  "Referência 2Pto Off"
symbol  cfgLbl.65  "Baixar Fogo"
symbol  cfgLbl.66  "Deletar Fogo"
symbol	cfgLbl.67 '"Fogo" "ID do Furo" "Estado" "Furos" "Metros" "Rate" "Hora"'
symbol  cfgLbl.200 "BOH Delta_Largura Largura Delta_Comprimento Comprimento Lado"
symbol  cfgLbl.201 "Entre BOH"
symbol  cfgLbl.202 "Entre Delta Largura" 
symbol  cfgLbl.203 "Entre Largura"
symbol  cfgLbl.204 "Entre Delta Comprimento"
symbol  cfgLbl.205 "Entre Comprimento"
symbol  cfgLbl.206 "Esqueda(1) o Centro(2) o Direita(3)"
symbol  cfgLbl.207 ""
symbol  cfgLbl.208 ""
symbol  cfgLbl.209 ""
symbol  cfgLbl.210 "Mova para ponto Inicial e pressione este botão"
symbol  cfgLbl.211 "Mova para ponto final e pressione este botão"
symbol  cfgLbl.212 "BOH Delta_Largura Largura Delta_Comprimento Comprimento Lado" 
symbol  cfgLbl.213 "BOH Delta_Largura Largura Delta_Comprimento Comprimento Lado"
symbol  cfgLbl.214 "BOH Delta_Largura Largura Delta_Comprimento Comprimento Lado"
symbol  cfgLbl.215 "Furos extras na linha de Referência "
symbol  cfgLbl.216 "Atual" 
#endif

symbol	cfgLbl.68 "Entre Matrícula"

/* Drill-specific labels */

#if #class(drill)
symbol	cfgLbl.70	"ID do Furo"
symbol	cfgLbl.71	"Selecione Furo"
symbol	cfgLbl.72	' "Novo Furo" "Mudar Furo" "Set Pattern" "Mast Angle" "Add Rod"'

symbol	cfgLbl.73	"ID Componente:"
symbol	cfgLbl.74	"Entre Fogo Primeiro"
symbol	cfgLbl.75	' "Componentes" "Configuração" "Informação do Despacho"'

/* hp window data display labels */
symbol	cfgLbl.76	' "Fogo" "ID do Furo" "Dist" "Angle" "Head" "Angle" "Head"'

/* Component-related labels (should conform to the order of component
 * tracking set on central computer) */
symbol	cfgLbl.77	' "Adaptador" "Haste" "Bucha Guia" "Estabilizador" "Broca" "Top Sub" "Fundo Sub"'

/* Initialisation string for mounted components display on wDrilling */
symbol	cfgLbl.78	' "Nenhum" "Nenhum" "Nenhum" "Nenhum" "Nenhum" "Nenhum" "Nenhum"'

/* Drilling-related labels on wDrilling */
symbol	cfgLbl.79	' "Fogo" "Furo" "Mast" "Hastes" "Material" "Novo Furo" "Voltar\\nAutomático"'

/* Initialisation string for hole/pattern data display on wDrilling */
symbol	cfgLbl.80	' "Nenhum" "Nenhum" "0" "Nenhum"'

symbol	cfgLbl.81	' "Changing:" "Dismount Reason:" "New Part ID:" "Select Component Type"'
symbol	cfgLbl.82	' Change Change'

/* Status light labels on w0 and hp windows */
symbol	cfgLbl.83	' "Msg" "GPS" "Deck"'

/* Target and Actual display fields on hp window */
symbol	cfgLbl.84	' "Objetivo" "Atual"'

/* w0 Output box display labels */
symbol	cfgLbl.85	' "Profund." "Broca" "Objetivo"'

/* Pattern data entry text label */
symbol	cfgLbl.86	"ID do Fogo:"

symbol	cfgLbl.87	"Profundidade Furo:"

symbol	cfgLbl.88	"Fogo, Furo e profundidade são requeridos"

symbol	cfgLbl.89	' "." "Limpar" "Ok" "Cancelar"'

symbol	cfgLbl.90	' "Sair" "/" "Limp." "Del" "-" "Espaço" "Ok"'

symbol	cfgLbl.91	"Termine o furo atual primeiro!"

symbol	cfgLbl.92	"Entre Ângulo do Mastro:"

symbol	cfgLbl.93	"Informação da Central"

symbol	cfgLbl.94	"GPS está sendo usado para identificação do furo"

symbol	cfgLbl.95	"Mast angle detection override removed"

symbol	cfgLbl.96	"Overriding automatic mast angle detection"

symbol	cfgLbl.97	"Tomar\\nElevação"

symbol	cfgLbl.98	"Iniciar\\nFuro"

symbol	cfgLbl.99	"Mais Componentes"

symbol	cfgLbl.100	"Adicionar\\nHaste"

symbol	cfgLbl.101	"Inciar\\nFuro"

/* w0 Output box display labels */
symbol  cfgLbl.102      ' "Profundidade" "Taxa" "Objetivo"'

symbol  cfgLbl.103      "Baixa Qualidade de GPS"

symbol	cfgLbl.104	' "Furos Perfurados" "Profundidade Total" "Media. Taza Pen." "Media. Mins\/Furo" "Horas fução" '

symbol  cfgLbl.105      "Baixa Qualidade de GPS"

symbol  cfgLbl.106      "Atualizar"

symbol	cfgLbl.107	"Favor iniciar o furo pela janela de navegação"

symbol	cfgLbl.108	"Confirmar refução"

/* 111 and 112 tied to cfgLbl.104 *** if you chang this, make change in 
 ** Macro_utils.cfg .. search for UpdateW0
 */
#if #arch(pe)
symbol  cfgLbl.111      "Furos Perfurados"

symbol  cfgLbl.112      "Min. por Furo (Med.)"
#else
symbol  cfgLbl.111      "Furos\nPerfurados"

symbol  cfgLbl.112      "Min. por Furo\n(Med.)"
#endif

symbol  cfgLbl.113      "Realmente\nResetar"

/*********************** End of Drill-Specific labels ***************************/

#else

/*********************** Not Drill-Related **************************************/

#	if #class(shovel) || #class(loader)

	symbol	cfgLbl.83	' "Msg" "GPS" "Matl"'

/* wInfo labels  */

        symbol  cfgLbl.104      ' "Tonelagem Total"  "Total de Cargas" "Tons Ultima Hora" "Cargas Ult. Hora" "Caminhões a Caminho" '

        symbol  cfgLbl.106      "Atualizar"

/* Info Labels */
        symbol  cfgLbl.114      "Cargas"

        symbol  cfgLbl.115      ' "Tons\/Hora" "Tons" "Min. por carga\\n     (Média)" '

/* Switch Button Labels */

        symbol  cfgLbl.116      "Inclinom."


#	endif

#	if #class(dozer) || #class(grader)
	symbol  cfgLbl.65  "Baixar Projeto"
	symbol  cfgLbl.66  "Deletar Projeto"

	symbol	cfgLbl.76	' "Projeto" "Incl F" "Incl L"'

	symbol	cfgLbl.83	' "Msg" "GPS"'

        symbol  cfgLbl.84       "Projeto Atual"

	symbol  cfgLbl.200 "Comprimento"

	symbol  cfgLbl.201 "Entre Comprimento"

	symbol  cfgLbl.210 "Mova para ponto Inicial e pressione este botão"

	symbol  cfgLbl.211 "Mova para ponto final e pressione este botão"

#	endif

	/* Single-antenna HP unit direction change button labels */
	symbol	cfgLbl.99	"Troca\\nDirecção"

#endif

symbol	cfgLbl.150	"O equipamento não pode rotacionar porque estã sem GPS"

symbol sfyesnolbl "Desligar Beep\nde Comunicação?"
