%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.12 $
 *   $Author: dcitron $
 *     $Date: 2014/01/15 19:39:39 $
 *    $State: Exp $
 *   Purpose: GOIC configuration common to all equipment.
 * * * * * * * * * * * * * * * * * * *
 */

#include <Goic/English/Macro.cfg>

/* Pre-Start Check stuff */
#include <Goic/Portuguese/PS_Macro.cfg>

/* Keyboard button configurations and macros */
#include <Goic/Portuguese/keyboard.cfg>

/* Message file */
#include <Goic/Portuguese/Message.cfg>

#include <Goic/Portuguese/Macro_cfg.cfg>

#if #option(Tasks)
#include <Tasks/Macro.cfg>
#include <Tasks/Portuguese/TaskMessage.cfg>
#endif

symbol  updtstr         Atualizar
symbol  exitstr         Sair Menu
symbol  morestr         Mais->
macro SetMenus        eq? "$(statmenuupdt)" "0" Status item:Atualizar

/* MsgBox */
message	OkLbl		OK
message	CancelLbl	Cancelar
message	YesLbl		Sim
message	NoLbl		Não

/* Weight Station message, in principle useful for trucks only */
message	ReadyToWeighLbl	Quando estiver pronto para pesar, pressione o botão Ok

message	v1.label	Bem-vindo a Intellimine
message	v2.label	Entre Matrícula
message	v3.label

/* Messages assigned to each state -- these appear on w0.v1
   These override the ones in Massage.cfg */
message	msg.0	Bem-vindo a IntelliMine
message msg.1   Manutenção no(a) $(loc)
message msg.2   Apto no(a) $(loc)
message msg.3   Liberado no(a) $(loc)
message msg.4   Parado no(a) $(loc)
message msg.5   Estacionado no(a) $(loc)
message msg.6   Ir para $(loc)
message msg.7   Chegou no(a) $(loc)
message msg.8   Carregando no(a) $(loc)
message msg.9   Ir para $(loc)
message msg.10  Basculando no(a) $(loc)
message msg.14  Alim. Britador no $(loc)
message msg.17  Carregando no(a) $(loc)

/* Messages assigned to each state -- these appear on w0.v2
   These override the ones in Massage.cfg */
message	nmsg.0	Entre Matrícula
message	nmsg.1	Prox: $(next)
message nmsg.2	Prox: $(next)
message nmsg.3	Prox: $(next)
message nmsg.4	Prox: $(next)
message nmsg.5	Prox: $(next)
message nmsg.6	Prox: $(next)
message nmsg.7	Prox: $(next)
message nmsg.8	Prox: $(next)
message nmsg.9	Prox: $(next)
message nmsg.10	Prox: $(next)
message	nmsg.14	Prox: $(next)
message nmsg.17	Espere para Excavadeira


#if #class(excav) | #class(lhd) | #class(loader) | #class(loaderlp) | #class(ug_loader)
message msg.21   Manutenção no(a) $(loc)
message msg.22   Liberado no(a) $(loc)
message msg.23   Parado no(a) $(loc)
message msg.24   Estacionado no(a) $(loc)
message msg.25   Esperando no(a) $(loc)
message msg.16   Carregando $(unit.$(u1)) $(id1)
message msg.7    Esperando no(a) $(loc)
#else
message msg.16  Carregando por $(loc)
#endif
message msg.256  Temporariamente sem comunicação



message pressOk	Aperte OK

/* Macros run by rpc.$(state) */
macro	kpLogOn	kplabel 'Matrícula No.';kpaction 'DoLogon';Kp label:$(kplabel) post

macro	kpOkReady	Ok label:Apto action:READY post

macro	kpOkAssign	Ok label:Destino action:ASSIGN post

macro	kpOkArrive	Ok label:Chegada action:ARRIVE post

macro	kpFuel		kplabel 'Quantidade de Combustível';kpaction 'sendfuel';Kp label:$(kplabel) post
macro	SendMessage	id $1;kplabel 'mensagem para $1';kpaction 'sendmsg2';Kp2 label:$(kplabel) post
macro   kpTrkLoad       Ok label:Carregamento action:LOAD post 
macro   kpTrkFull       Ok label:'Caminhão esta Cheio' action:'FULL None' post 
macro 	kpNoFull	Ok label:'Espere pelo CHEIO da Escavadeira' action:none post

/* Engine Hours macros */
macro   kpEngHrs        kplabel 'Horômetro';kpaction 'DoEngHrs';Kp label:$(kplabel) post

macro	kpHelp2		Ok label:'Você pressionou Emergência' action:SendHelp post

