#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: FuelEqmtTypes.cfg,v $
 * $Revision: 1.2 $
 *   $Author: schultes $
 *     $Date: 2018/09/20 20:29:09 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define Dict_Trucks	Камиони
#define	Dict_Loaders	Товарачи
#define Dict_AuxEqmt	Спом.оборудване
#define	Dict_ExitMenu	Меню\ Изход
