#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.7 $
 *   $Author: gsousa $
 *     $Date: 2018/12/05 15:53:46 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	fbFuelLbl Въведете идентификацията на
message fbFuelLblTrucks     Камион
message fbFuelLblLoaders    Товарач
message fbFuelLblAuxEqmt    Помощно Оборудване
message fbReadyFuelBay	Моля ви, първо поставете статус Готовност!
message fdFluidRequestLbl Заявява се списък с флуиди, моля, изчакайте...
