#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	120
wmin	150
map	n
cols	4
tile	slash
item	Log\ On...	        kpLogOn
item	Log\ Off...	        kpLogOff
item	Checklist...		kpPrestart
item	Ya	                kpYes
item	Tidak	                kpNo
item	Bahan\ Bakar...	                kpFuel
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item    Darurat               kpHelp
item	Keluar\ Menu	        Actions unpost
#if #arch(cgc) || #arch(pe)
itemColor	Ya:Yes
itemColor	Tidak:No
itemColor	Keluar\ Menu:Exit
itemColor       Darurat:Down
#endif
