%! /psw/cpp      
/*  
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2009
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.6 $
 *   $Author: dcitron $
 *     $Date: 2014/10/23 03:54:11 $
 *    $State: Exp $
 *   Purpose: Macro configuration file for Idle Monitor
 * * * * * * * * * * * * * * * * * * *
 */

#if !#option(MobileMonitor)
#    include <MobileMonitor/Macro.cfg>
#endif

symbol sendEngStat 0
symbol eng_stat

macro setEngStat sendEngStat 1

macro FS.mobilemon ne? $(ENGINE_STATUS) 0 checkEngStat
#if #arch(pe)
macro checkEngStat eng_stat $(adap paramVal:$(ENGINE_STATUS));\
                   ne? $(eng_stat) 0 engVal 3;\
                   eq? $(eng_stat) 0 engVal 4;\
		   eq? $(eng_stat) N/A engVal 4;\
                   eq? $(sendEngStat) 1 sendEngStatVal;\
                   eq? $(sendEngStat) 1 sendEngStat 0
#else
macro checkEngStat adap paramVal $(ENGINE_STATUS);\
                   eng_stat $(adap paramVal);\
                   ne? "$(eng_stat)" "0" engVal 3;\
                   eq? "$(eng_stat)" "0" engVal 4;\
                   eq? "$(eng_stat)" "NO VALUE!" engVal 4;\
                   eq? $(sendEngStat) 1 sendEngStatVal;\
                   eq? $(sendEngStat) 1 sendEngStat 0
#endif
