%!/psw/cpp
out	%C	0x240	s	sendto up
out	%D	0x241	s	sendto up
out	%T	0x242	db	PcBkt
in	$R	0x243	s	sendto PitCtl
in	$K	0x244	s	sendto PitCtl
out	%P	0x245	v	sendto up
out	%M	0x246	s	sendto up
out	%C_REMAIN 0x247	db	sendto up
#if #arch(hub) || #arch(hubcan)
macro	PcBkt	PC-TONS $1.$2
out	PC-TONS	0x248	s	sendto Goic
in	PC-DONE	0x249	v	Macro \$K:&30
#else
out	KD1	0x50	s	sendto up
out	KD2	0x51	s	sendto up
out	KD3	0x52	s	sendto up
#endif
