#!/psw/cpp
geom	x:4:y:4:w:480:h:104:bw:0
wmin	96
hmin	104
itembw	4
item	Синий		userColor 0;nextColor.0;ScrnCntrl unpost
item	Зеленый		userColor 1;nextColor.1;ScrnCntrl unpost
item	Серый		userColor 2;nextColor.2;ScrnCntrl unpost
item	Коричн	userColor 3;nextColor.3;ScrnCntrl unpost
item	Желтый		userColor 4;nextColor.4;ScrnCntrl unpost
itemColor	Синий:BlueScheme
itemColor	Зеленый:GreenScheme
itemColor	Серый:GrayScheme
itemColor	Коричн:BrownScheme
itemColor	Желтый:YellowSchem
