#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Colors.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2013/02/11 08:52:28 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Blue	Azul
#define	Dict_Green	Verde
#define	Dict_Gray	Gris
#define	Dict_Brown	Marrón
#define	Dict_Yellow	Amarillo
#define	Dict_ExitMenu	Salir\ Menú
