%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2013/02/02 23:44:28 $
 *    $State: Exp $
 *   Purpose: Configuration file for FuelSaver
 * * * * * * * * * * * * * * * * * * *
 */
#if  #arch(goic) || #arch(goiccan) || #arch(cgc)
#else
#	include <FuelSaver/Hub/Macro.cfg>
#endif
