#!/psw/cpp
geom	x:0:y:0:bw:4
hmin	120
wmin	120
map	n
cols	4
tile	slash
item	Log\ On...	        kpLogOn
item	Log\ Off...	        kpLogOff
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Arrive			kpArrive
item	Assign			kpAssign
item	Load			kpLoad
#endif
item	Full	                kpFull
#if #class(excav) || #class(shovel) || #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Set\ Load\nLocation...  kpChngLoc   
item	Set\ Truck\nLoading...	kpTrkLoad
#endif
#if #class(loader) || #class(lhd) || #class(ug_loader) || #class(loaderlp)
item	Fuel...	                kpFuel
item	Change\nTramming\nMode	kpTrammode
#endif
#if #class(shovel) || #class(loader)
item	Split\nDigging		WinMgr window:wSplits
#endif
item	Checklist...		kpPrestart
item    Shift\nInformation  WinMgr window:wInfo
item	Yes	                kpYes
item	No	                kpNo
#define OBJECT  Actions
#include <Cfg/Options.cfg>
item	Exit\ Menu	        Actions unpost
item	Emergency	        kpHelp
#if #arch(cgc) || #arch(pe)
itemColor	Yes:Yes
itemColor	No:No
itemColor       Emergency:Down
itemColor	Exit\ Menu:Exit
#endif
