%!/psw/cpp

#include <Goic/emv/hosts>

class	com/mmsi/ats/emergency/message/Emergency				0x0214
class	com/mmsi/ats/emergency/message/EmergencySwitch			0x0215
class	com/mmsi/ats/emergency/message/EmergencyLEDS				0x0216
class	com/mmsi/ats/emergency/message/EmergencyOK				0x0217
class	com/mmsi/ats/emergency/message/EmergencyPos				0x7850
class	com/mmsi/ats/emergency/message/EmergencyTest				0x7851
class	com/mmsi/ats/emergency/message/EmergencyTestAck			0x7852
class	com/mmsi/ats/emergency/message/EmergencyAck				0x7853
class	com/mmsi/ats/emergency/message/EmergencyStop				0x8044
class	com/mmsi/net/ReplicaRequest						0x0154
class	com/mmsi/net/ReplicaResponse						0x0155
class	com/mmsi/net/Event						0x0218
class 	com/mmsi/ats/eventlogger/MonitorEventLog                             0x6669
