%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2001
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/22 00:38:44 $
 *    $State: Exp $
 *   Purpose: Main configuration file for Std.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef ISOPTION
#	include <Main/UpPort.h>
#	include <Version.h>
	version	Std, vVERSION
#	define PROMPT \'Std, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/OMS.h>
#	if !#up(Slip)
		module	Slip
		object	Slip
#	endif
#endif
module 	Std
object  Std
