#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:23 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* w0  */
message	MatlLbl		Materiaalit

/* Production Information (wInfo) View */
message	ProdInfoHeader	' "Tonnit yhteensä       " "Kuormat yhteensä      " "Edellisen tunnin tonnit   " "Edellisen tunnin kuormat  " "Kiviautot reitillä  " '

/* Load Side */
message	LoadSideLbl	"Valitse lastaus puoli"
message	LoadSide0	"Ei mitään"
message	LoadSide1	"Vasen"
message	LoadSide2	"Oikea"
message	LoadSide3	"Kaksinkertainen varmistus"
message	LoadSideLock	"Lukittu"

/* Remaining Buckets Beep */
message RemBktBeepON	"Jäljellä olevien kauhojen äänimerkki PÄÄLLÄ"
message RemBktBeepOFF	"Jäljellä olevien kauhojen äänimerkki POIS PÄÄLTÄ"

/* Mobile Api text display */
message LoadingLbl Lastaa
message RemainingLbl Kauhojen
message OverTargetLbl yli tavoite
message HasMsg	on
message BucketTransactionMsg	tonnia kauhojen jälkeen

