%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2004/01/05 23:21:11 $
 *    $State: Exp $
 *   Purpose: Load the Macro.cfg files for all OPTIONS in
 *	      a Custom application.
 * * * * * * * * * * * * * * * * * * *
 */
#define OBJECT Macro
#include <Cfg/Options.cfg>
