#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: smartins $
 *     $Date: 2020/01/29 20:20:23 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_SelfAssign	Omatoimisesti...
#define	Dict_Inpit	Tyhjennys kuoppaan...
/* This is now in common/English/Actions.cfg:
#define	Dict_EngHours	Moottorin\ntunnit...
*/
