%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: default.config,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/10/19 00:20:07 $
 *    $State: Exp $
 *   Purpose: Standard definitions of parameters and events.
 *            Override for each equipment / class of installation
 * * * * * * * * * * * * * * * * * * *
 */
config param:9000	device:an1 channel:0	/* Analog input 1 */
config param:9001	device:an1 channel:1	/* Analog input 2 */
config param:9002	device:an1 channel:2	/* Analog input 3 */
config param:9003	device:an1 channel:3	/* Analog input 4 */
config param:9004	device:an2 channel:0	/* Analog input 5 */
config param:9005	device:an2 channel:1	/* Analog input 6 */
config param:9006	device:an2 channel:2	/* Analog input 7 */
config param:9007	device:an2 channel:3	/* Analog input 8 */
config event:9516	device:dig1 channel:0	/* Digital input 1 HIGH */
config event:9517	device:dig1 channel:1	/* Digital input 2 HIGH */
config event:9518	device:dig1 channel:2	/* Digital input 3 HIGH */
config event:9519	device:dig1 channel:3	/* Digital input 4 HIGH */
config event:9520	device:dig1 channel:4	/* Digital input 5 HIGH */
config event:9521	device:dig1 channel:5	/* Digital input 6 HIGH */
config event:9522	device:dig1 channel:6	/* Digital input 7 HIGH */
config event:9523	device:dig1 channel:7	/* Digital input 8 HIGH */
config event:9524	device:dig1 channel:8	/* Digital input 9 HIGH */
config event:9525	device:dig1 channel:9	/* Digital input 10 HIGH */
config event:9526	device:dig1 channel:10	/* Digital input 11 HIGH */
config event:9527	device:dig1 channel:11	/* Digital input 12 HIGH */
config event:9528	device:dig1 channel:12	/* Digital input 13 HIGH */
config event:9529	device:dig1 channel:13	/* Digital input 14 HIGH */
config event:9530	device:dig1 channel:14	/* Digital input 15 HIGH */
config event:9531	device:dig1 channel:15	/* Digital input 16 HIGH */
