%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:51 $
 *    $State: Exp $
 *   Purpose: Generic Macro.cfg definitions for communications
 *	      Hub which define radio channel select, generic
 *	      VSMS access, etc.
 * * * * * * * * * * * * * * * * * * *
 */
#define OBJECT Macro
#include <Cfg/Options.cfg>
none
