/*
 *
 * If you wish to use an icon
 * for a particular button defined
 * in w0 then define it here 
 */

#define ACTIONS_ICON Actions
#define MESG_ICON Mesg
#define RESRC_ICON resrc_view
#define STATUS_ICON stat_ready
#define RDY_ICON stat_ready
#define DWN_ICON stat_down
#define DLY_ICON stat_delay
#define STB_ICON stat_standby
#define TDW_ICON stat_tiedown
