%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: TagReader.cfg,v $
 * $Revision: 1.3 $
 *   $Author: dcitron $
 *     $Date: 2011/11/18 21:56:16 $
 *    $State: Exp $
 *   Purpose: Configuration file for RF tag reader interface, pre-rail version.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef ARRIVECT
#	define ARRIVECT 1
#endif
#ifndef DEPARTCT
#	define DEPARTCT 5
#endif
port	 COM2
arriveCt ARRIVECT
departCt DEPARTCT
driver	 Modular.OemInterfaces.TagReader.Embedded.Implementation.dll;Modular.OemInterfaces.TagReader.VegaSerialReaderDriver

