#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/09/19 19:55:14 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Full	Penuh
#define	Dict_Refill	Isi\ Ulang
#define	Dict_Watering	Watering
#define	Dict_Empty	Kosong
#define	Dict_StopWater	Stop\nWatering
#define	Dict_Weather	Kondisi\nCuaca...
