#!/psw/cpp
object	Window	name:w0
object  Window	name:ws
object  Popup   name:yesNo
object	Popup   name:Kp
object	Popup	name:Kp2
object	Popup	name:Ku
object	Popup	name:Ks
object	Popup	name:Kn
object  Popup	name:Ok
object  Window	name:MsgBox
object  Window	name:Prestart
object  Popup	name:ScrnCntrl
object  Menu    name:Actions
object  Menu    name:ManAsn
object  Menu    name:Status
object  Menu    name:Locs
object  Menu    name:Shovels
object  Menu    name:Shovels2
object  Menu	name:Help
object  Menu    name:Ready
object  Menu    name:Ready2
object  Menu    name:Ready3
object  Menu    name:Ready4
object  Menu    name:Ready5
object  Menu    name:Ready6
object  Menu    name:Down
object  Menu    name:Down2
object  Menu    name:Down3
object  Menu    name:Down4
object  Menu    name:Down5
object  Menu    name:Down6
object  Menu    name:Delay
object  Menu    name:Delay2
object	Menu	name:Delay3
object  Menu    name:Delay4
object  Menu    name:Delay5
object  Menu    name:Delay6
object  Menu    name:Standby
object  Menu    name:Standby2
object  Menu    name:Standby3
object  Menu    name:Standby4
object  Menu    name:Standby5
object  Menu    name:Standby6
object  Menu    name:Options
object  Menu    name:Info
object  Menu    name:TestInstall
object  Menu    name:Location
object	Menu	name:Material
object	Menu	name:FlashCntrl
object  Menu    name:LUnit03
object  Menu    name:LUnit04
object  Menu    name:LUnit05
object  Menu    name:LUnit06
object  Menu    name:LUnit07
object  Menu    name:LUnit08
object  Menu    name:LUnit032
object  Menu    name:LUnit042
object  Menu    name:LUnit052
object  Menu    name:LUnit062
object  Menu    name:LUnit072
object  Menu    name:LUnit082
object  Menu    name:LUnit033
object  Menu    name:LUnit043
object  Menu    name:LUnit053
object  Menu    name:LUnit063
object  Menu    name:LUnit073
object  Menu    name:LUnit083
object  Menu    name:LUnit034
object  Menu    name:LUnit044
object  Menu    name:LUnit054
object  Menu    name:LUnit064
object  Menu    name:LUnit074
object  Menu    name:LUnit084
object  Menu    name:LUnit035
object  Menu    name:LUnit045
object  Menu    name:LUnit055
object  Menu    name:LUnit065
object  Menu    name:LUnit075
object  Menu    name:LUnit085
posty   -20
after   0:Init
after   6:PowerUp
after	7:video
after   8:initcomms
after	10:SetMenus
#	define OBJECT WinMgr
#	include <Cfg/Options.cfg>
