#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Colors.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2014/03/03 19:26:07 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Blue	Синий
#define	Dict_Green	Зеленый
#define	Dict_Gray	Серый
#define	Dict_Brown	Коричневый
#define	Dict_Yellow	Желтый
#define	Dict_ExitMenu	Выход\ Меню
