#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Colors.cfg,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2013/03/28 16:15:49 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_Blue	Цэнхэр
#define	Dict_Green	Ногоон
#define	Dict_Gray	Саарал
#define	Dict_Brown	Хyрэн
#define	Dict_Yellow	Шар
#define	Dict_ExitMenu	Цэснээс\nгарах
