#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: FuelEqmtTypes.cfg,v $
 * $Revision: 1.1 $
 *   $Author: gsousa $
 *     $Date: 2019/09/20 13:01:23 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define Dict_Trucks	Kiviautot
#define	Dict_Loaders	Kuormaajat
#define Dict_AuxEqmt	Apukoneet
#define	Dict_ExitMenu	Poistu\ valikosta
