/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2016/09/14 23:48:17 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_CCC2line	Критический\ Контрольный\nсписок\ управления...
#define Dict_CCC3line	Критический\nКонтрольный\nсписок\nуправления...
