#!/psw/cpp

message GoodCommsLbl  Comm. rétablies.\n
message BadCommsLbl   Perte de comm.!\n

/* some dimensional independence, see also unit_config.frm */
symbol liquid1 gallons
symbol mass1 tonnes
symbol length1 pieds

/* now some stuff for labels, needs 2.5 */
symbol	CfgActions	Actions
symbol	CfgStatus	Statut
symbol	CfgDeclEmerg	URGENCE
symbol	CfgDispatch	Dispatcheur
/* symbol	CfgClear	Clear
symbol	CfgSpace	Espace
symbol	CfgDelete	Supprimer
symbol	CfgCancel	Annuler
symbol	CfgUpCase	Supérieur
symbol	CfgLowCase	Inférieur
symbol	CfgOk	Ok
symbol	CfgKeypad	Clavier
symbol	CfgNumpad	'#'
symbol	CfgSend	Send
symbol	CfgExit	Exit */

symbol	CfgPassAll	Réussir tout
symbol	CfgShopAll	Tout prendre
symbol	CfgPrevReset.0	Réinitialiser
symbol	CfgPrevReset.1	Précédent
symbol	CfgPrevReset.2	Précédent
symbol	CfgPrevReset.3	Précédent
symbol	CfgPrevReset.4	Précédent
symbol	CfgPrevReset.5	Précédent
symbol	CfgPrevReset.6	Précédent
symbol	CfgPrevReset.7	Précédent
symbol	CfgNextSend.0	Suivant
symbol	CfgNextSend.1	Suivant
symbol	CfgNextSend.2	Suivant
symbol	CfgNextSend.3	Suivant
symbol	CfgNextSend.4	Suivant
symbol	CfgNextSend.5	Suivant
symbol	CfgNextSend.6	Suivant
symbol	CfgNextSend.7	Envoyer

symbol	CfgReset	Annuler


/* These must agree with the enumerated UNIT table in enum.c */
symbol unit.0	All
symbol unit.1	''
symbol unit.2	Equipment
symbol unit.3	Dump
symbol unit.4	Crusher
symbol unit.5	Stockpile
symbol unit.6	Blast
symbol unit.7	Shop
symbol unit.8	Parkup
symbol unit.9	'Call Point'
symbol unit.10	Pit
symbol unit.11	Beat
symbol unit.12	Chute
symbol unit.13	Development
symbol unit.14	Foreman
symbol unit.15	Drill
symbol unit.16	'Aux Crusher'
symbol unit.17	Grader
symbol unit.18	Nipper
symbol	unit.255	All

/* These are used for dynamic unit and location menus created
   for self-assigns and setting load locations. They must match
   the unit names in UNIT table in enum.c */
symbol  u01     Truck
symbol  u02     Shovel
symbol  u03     Dump
symbol  u04     Crusher
symbol  u05     Stockpile
symbol  u06     Blast
symbol  u07     Workshop
symbol  u08     Shiftchange

/* These should agree with the enumerated ACTIONS table in enum.c,
   but they can be re-worded if desired.  */
symbol act.0	Tout
symbol act.1	Arrêt
symbol act.2	Prêt
symbol act.3	'En réserve'
symbol act.4	Retard
symbol act.5	Affecter
symbol act.6	Arrivée
symbol act.7	Chargement
symbol act.8	CONNEXION
symbol act.108	Déconnexion
symbol act.9	Aide
symbol act.10	Carburant
symbol act.11	Retard
symbol act.12	Plein
symbol act.13	Balise
symbol act.14	Alarme
symbol act.15	'Données d\\'alarme'
symbol act.16	'Débuter le bennage'
symbol act.17   'Fin du résumé'
symbol act.18   'Affectation personnel'
symbol act.20   Message
symbol act.21   Diffusion
symbol act.22   'Commande de panneau'
symbol act.27   IR
symbol act.28   'Arrivée GPS'
symbol act.29   'Départ GPS'
symbol act.30   'Arrivée balise'
symbol act.31   'Départ balise'
symbol act.33   OUI
symbol act.34   NON
symbol act.35   'Message opérateur'

/* These should agree with the material types in the LOAD table in enum.c */
symbol	load.0	Empty
symbol	load.1	'Ore 1'
symbol	load.2	'Ore 2'
symbol	load.3	'Ore 3'
symbol	load.4	'Ore 4'
symbol	load.5	'Ore 5'
symbol	load.6	'Ore 6'
symbol	load.7	'Waste 1'
symbol	load.8	'Waste 2'
symbol	load.9	'Waste 3'
symbol	load.10	'Waste 4'

/* These appear in the w0.v2 window according to the state */
symbol goicstate.0 'Entrez le personnel'
symbol goicstate.1 'Entrez le personnel'
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.2 'Premier godet'
#endif
#if #class(truck)
symbol goicstate.2 'Prêt'
#endif
symbol goicstate.3 'Entrez le n° personnel'
symbol goicstate.4 Prêt
symbol goicstate.5 Affecter
#if #class(truck)
symbol goicstate.6 'Arrivée'
symbol goicstate.7 'Premier godet'
#endif
#if #class(shovel) | #class(loader) | #class(lhd) | #class(loaderlp)
symbol goicstate.6 'Premier godet'
symbol goicstate.7 'Premier godet'
#endif
symbol goicstate.8 'Attente plein'
symbol goicstate.9 'Arrivée'
symbol goicstate.10 'Affecter'
symbol goicstate.11 'Affecter'
symbol goicstate.12 'Arrivée'
#if #class(crusher)
symbol goicstate.10 'Rompu'
symbol goicstate.11 'Prêt'
symbol goicstate.12 'Prêt'
#endif
symbol goicstate.13 'Carburant'
#if #class(wtruck) | #class(pusher) | #class(drill)
symbol goicstate.0 'Entrez le n° personnel'
symbol goicstate.1 'Entrez le n° personnel'
symbol goicstate.2 'Prêt'
symbol goicstate.3 'Entrez le n° personnel'
symbol goicstate.4 'Retard'
symbol goicstate.5 'Affecter'
symbol goicstate.6 'Prêt'
symbol goicstate.7 'Prêt'
symbol goicstate.8 'Retard'
#endif

symbol u1	0
symbol u2	0
symbol id1	None
symbol id2	None
symbol v1	None
symbol a1	0
symbol v2	None

#if #class(truck)
in	KV_MSG	0x0a0	sb	w0.$1 label:Plateau:$(load.$2)
#endif

in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)

#if #class(foreman)
in	KD_MSG	0x0a3	b?bssbsbs	u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;writerightone
#endif

/* Messages assigned to each state -- these appear on w0.v1 */
message	msg.0	Bienvenue dans Intellimine
#if ! #option(loadcount)
in      KD_MSG  0x0a3   b?bssbsbs       u1 $2;id1 $3;v1 $4;v2 $6;a1 $5;u2 $7;id2 $8;KDISP $(msg.$1)
#if #class(shovel) | #class(loader) | #class(truck) | #class(lhd) | #class(loaderlp)
message	msg.1	$(act.1) à $(unit.$(u1)) $(id1)
message msg.2	$(act.2) à $(unit.$(u1)) $(id1)
message	msg.3	$(act.3) à $(unit.$(u1)) $(id1)
message	msg.4	$(act.4) à $(unit.$(u1)) $(id1)
message	msg.5	Parking à $(unit.$(u1)) $(loc)
message	msg.6	Attente de camion à $(loc)
message	msg.7	Attente de camion à $(loc)
message msg.8	Chargement de $(unit.$(u1)) $(id1)
#endif
#if #class(truck) | #class(train)
message msg.8	Chargement par $(unit.$(u1)) $(id1)
#endif
#if #class(wtruck) | #class(pusher) | #class(drill)
message msg.1 $(act.1) à $(unit.$(u1)) $(id1)
message msg.2 $(act.2) à $(unit.$(u1)) $(id1)
message msg.3 $(act.3) à $(unit.$(u1)) $(id1)
message msg.4 $(act.4) à $(unit.$(u1)) $(id1)
message msg.5 Parking à $(unit.$(u1)) $(loc)
message msg.6 $(act.4) à $(unit.$(u1)) $(id1)
#if #class(wtruck)
message msg.7 Itinéraire d\\'irrigation $(u1)
message msg.8 Remplissage à $(unit.$(u1)) $(id1)
#endif
#if #class(drill)
message msg.6 $(act.6) à $(unit.$(u1)) $(id1)
message msg.7 $(act.7) à $(unit.$(u1)) $(id1)
message	msg.8 $(unit.$(u1)) $(id1) désormais $(act.8)
#endif
#endif
#endif /* loadcount */

/* These messages are not associated with states, but are called upon by FORMS. */
message msg.19	Entrez le n° salaire.
message	msg.20	$(unit.$(u1)) $(id1) a $(v1) min de retard pour $(act.$(a1)) à $(v2)
message	msg.21	$(unit.$(u1)) $(id1) a $(v1) min de retard pour $(act.$(a1))
message	msg.22	Blocage $(unit.$(u1)) $(id1) sur $(unit.$(u2)) $(id2) ignoré.
message	msg.23	$(unit.$(u1)) $(id1) requiert du carburant au plus tôt, $(v1) $(liquid1) restants.
message	msg.24	$(unit.$(u1)) $(id1) est $(act.$(a1)) $(v1).
message	msg.25	$(unit.$(u1)) $(id1) est désormais $(act.$(a1)).
message	msg.26	$(unit.$(u1)) $(id1) rempli avec $(v1) $(liquid1)s.
message	msg.27	$(unit.$(u1)) $(id1) a été préparé automatiquement par $(unit.$(u2)) $(id2) $(a1).
message	msg.28	Le blocage de $(unit.$(u1)) $(id1) sur $(v2) a été ignoré.
message	msg.29	Aucun grade pour $(v1)
message	msg.30	Statut $(unit.$(u1)) $(id1) modifié en $(act.$(a1)).
message	msg.31	AVERTISSEMENT: $(unit.$(u1)) $(id1) bloqué sur $(v1)!!!
message msg.32	AVERTISSEMENT: $(v1) de $(unit.$(u1)) $(id1) bloqué sur $(v2)!!!
message	msg.33	$(unit.$(u1)) $(id1) est $(v1) à $(unit.$(u2)) $(id2).
message	msg.34	$(unit.$(u1)) $(id1) est désormais exclu de $(v1).
message msg.35	AVERTISSEMENT: Plus aucun camion n\\'est exclu.
message	msg.36	$(unit.$(u1)) $(id1) $(v1) défini sur $(v2).
message	msg.37	Le panneau DISPATCH $(unit.$(u1)) $(id1) est $(v1).
message	msg.38	Les affectations à $(unit.$(u1)) $(id1) ont été $(v1).
message msg.39	$(v1) $(v2) à benner à $(unit.$(u1)) $(id1).
message	msg.40	$(unit.$(u1)) $(id1) $(v1)a bloqué $(v2) $(unit.$(u2))s.
message	msg.41	$(unit.$(u1)) $(id1) $(v1)a bloqué $(v2) $(id2).
message	msg.42	Déjà $(v1) à $(v2).
message	msg.43	$(id1) n\\'est pas un site $(unit.$(u1)) valide!
message	msg.44	Site modifié en $(unit.$(u1)) $(id1)
message	msg.45	Nombre maxi de $(unit.$(u1))s à $(v1) $(v2) 
message	msg.46	$(unit.$(u1)) $(id1) auto-affecté à $(unit.$(u2)) $(id2)
message	msg.47	Type de matériau $(id1) inconnu.
message	msg.48	$(unit.$(u1)) $(id1) a essayé d\\'auto-bloquer le matériau $(v1) sur $(v2).
message msg.49	Impossible de bloquer $(unit.$(u1)) $(id1) $(v1) sur $(v2)!
message	msg.50	$(unit.$(u1)) $(id1) a auto-bloqué $(v1) sur $(v2).
message	msg.51	$(id1) bloqué sur $(v1).
message	msg.52	$(id1) n\\'existe pas!
message	msg.53	$(unit.$(u1)) a le statut $(v1). Doit d\\'abord être $(act.$(a1)).
message	msg.54	$(unit.$(u1)) $(id1) dit que $(v1) est en cours de chargement.
message	msg.55	$(unit.$(u1)) $(id1) charge toujours $(unit.$(u2)) $(id2).
message	msg.56	Aucune qté de carburant autorisée.
message msg.57	$(unit.$(u1)) $(id1) chargé avec $(v1) $(mass1).
message	msg.58	Appuyez sur \"Actions\", puis sur \"Affecter\" au PLEIN.
message	msg.59	$(v1) $(liquid1)s de carburant $(v2).
message	msg.60	Débuter le bennage à $(unit.$(u1)) $(id1):$(act.$(a1))
message	msg.61	Demande d\\'informations inconnue.
message	msg.62	Attendez $(unit.1) pour appuyer sur charger
message	msg.63	Attendez le $(unit.1) suivant
message	msg.64	Chargement de $(unit.$(u1)) $(id1)
message msg.65  Impossible de modifier le matériau.
message msg.66  Menu $(unit.$(u1)) mis à jour.
message msg.67  Le système a été réactivé.
message msg.68  $(act.$(u1)) a été REJETE!!!
message msg.69  Aucun $(unit.1) en route.
message msg.70  $(unit.1) en route.
message msg.71  $(unit.$(u1)) arrive dans $(v1) minutes.
message msg.72  \\nIndisponible.
message msg.73  Aucun.
message msg.74  '$(id1)'
message msg.75  $(CfgDispatch) doit vérifier.
message msg.76  N° salaire inconnu
message msg.77  Entrez le n° salaire
#if #class(truck)
message	msg.78	Appuyez sur $(act.$(u1)) uniquement à $(id1).
#endif
#if #class(train)
message msg.78	Sélectionnez un autre site que celui-ci.
#endif
#if #class(crusher) | #class(foreman)
message msg.78  $(act.$(u1)):  $(id1) charge$(v1) / $(id2) $(mass1)
message msg.79  $(id1) $(v1) benné ce poste
message msg.80  Demande d\\'aide
message msg.81  $(unit.2) alimentant $(id1) : $(v1)
message msg.82  $(id1) charge $(v1) / $(v2) $(mass1) $(id2) heure
message msg.83  Vitesse actuelle (T/H): $(id2)  Vitesse cible (T/H): $(v1)\\n $(id1) => $(act.$(u1))
#endif
message msg.84	Aucun blocage $(unit.$(u1)) pour les matériaux.
message	msg.85	\\n--------- $(unit.$(u1)) $(v1): ------------
message	msg.90	OUI a été validé.
message msg.91	NON a été validé.
message msg.92	Contrôle de sécurité terminé:$(act.$(u1))
message	msg.93	Vous devez être à vide pour affecter!
message	msg.94	Effectuer la procédure de sécurité
message	msg.95	$(act.$(a1)) vous-même sur $(unit.$(u1))
message	msg.96	Il reste $(v1)% fcarburant à $(unit.$(u1)) $(id1).
message	msg.97	Fin de la liste de carburant requis.
message	msg.98	$(act.$(u1)) a été REJETE!
message	msg.99	Action suivante: $(act.$(u1))
message msg.100	Carburant indisponible
message msg.101 Vous avez entré $(act.$(a1)) $(id1) inconnu
message msg.102 Vérifiez si le réservoir est plein\\n$(unit.$(u1)) $(id1) est rempli avec $(v1) $(liquid1)
message	msg.103 $(unit.$(u1)) $(id1) Le site est désormais %(unit.$(u2)) $(id2)
message	msg.104 $(unit.$(u1)) $(id1) inconnu, réessayez
#if #class(truck)
message msg.105	
#endif
#if #class(drill)
message msg.78  Entrez d\\'abord le modèle!
message msg.79  Site invalide, appelez le dispatcheur!
message msg.80  Demande d\\'aide
message msg.81  $(unit.2) alimentant $(id1) : $(v1)
message msg.82  $(id1) charge$(v1) / $(v2) $(mass1) $(id2) heure
message msg.83  Vitesse actuelle (T/H): $(id2)  Vitesse cible (T/H): $(v1)\\n $(id1) => $(act.$(u1))
message msg.105 Entrez à nouveau le n° trou
message msg.106 Forage $(id1): trou final
message msg.107 Tête montée $(id1):$(act.$(u1))
message msg.108 $(id1) fini: trou de départ
message msg.109 Appuyez sur TROU FINAL avant de modifier le modèle
message msg.110 Modèle défini sur $(id1):$(act.$(u1))
message msg.111 Pièce montée $(id1):$(act.$(u1))
#endif
#if #class(foreman)
message msg.105 Aucun $(unit.$(u1)) $(id1)
message msg.106 $(unit.$(u1)) $(id1) $(v1)
message msg.107 Aucun $(unit.$(u1)) $(v1) $(unit.$(a1)) $(id1)
message msg.108 ----- Informations $(unit.$(u1)) $(id1) ------
message msg.109 Site: $(unit.$(u1)) $(id1)
message msg.110 Site $(unit.$(u1)) $(id1) modifié en $(v1)
message msg.111 Pièce montée $(id1):$(act.$(u1))
#endif
message	msg.123	$(id1) est désormais $(v1)
message	msg.124 Non activé pour souterrain
message	msg.125	$(unit.$(u1)) $(id1) est désormais $(act.$(a1)): $(v1).
message msg.130 Type de matériau modifié avec succès.
message msg.131 Type de matériau incorrect sélectionné!
message	msg.132 $(unit.$(u1)) %(id1) n\\'est pas activé pour charger les camions.
message msg.168  $(act.$(u1)) a été ACCEPTE!!!
message	msg.255	$(unit.$(u1)) $(id1) A DEMANDE UNE AIDE D\\'URGENCE!!!
message msg.256 Communication temporairement interrompue

message sfyesnolbl "Désactiver le bip de comm?"
message cfgLbl.0 "Oui"
message cfgLbl.1 "Non"
