%!/psw/cpp

/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: PS_Macro.cfg,v $
 * $Revision: 1.4 $
 *   $Author: dcitron $
 *     $Date: 2013/06/17 19:12:17 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* Prestart check stuff */

#include <Goic/English/PS_Macro.cfg>

symbol comment Aucun

/* CfgPassFail.2 is used for items that are not used */
symbol	CfgPassFail.1	Erreur
symbol	CfgPassFail.0	Réussi

macro	PSRefresh	$(PSVer).Label label:"$(PrestartTitle.$(PsList)) - Page $(+ $(pg) 1) de $(+ $(lastpage.$(PsList)) 1)";foreach $(PsInit.$(PsList).$(pg));do mapbuttons

macro	kpCommentPS kpaction 'showComment';Kp2 label:'Entrez un commentaire' post

symbol  cfgLbl.pre.1 "Liste de contrôle avant le démarrage"
symbol  cfgLbl.pre.2 "Commentaire général"
symbol  cfgLbl.pre.3 "Page"
symbol  cfgLbl.pre.4 "Page préc."
symbol  cfgLbl.pre.5 "Page suiv."
symbol  cfgLbl.pre.6 "OK"
symbol  cfgLbl.pre.7 "Réussir tout"
symbol	cfgLbl.pre.8 "Entrez un\ncommentaire"
symbol  cfgLbl.pre.9 "Envoyer"
symbol  cfgLbl.pre.10 "Annuler"
message	PsCritFailLbl	Echec des éléments critiques du prédémarrage
message	DoNotOperateLbl	N'utilisez pas l'équipement!
symbol	SelInitCLLbl	"Sélectionnez votre liste\\ninitiale s'il vous plaît"
