#!/psw/cpp
geom	bw:4
hmin	90
wmin	300
map	n
font	Large
cols	2
tile	slash
#if #class(shovel) | #class(truck)
item	Tester\ la\ radio	w0.Text write:"retries:$(CP-PING up)\n";timerfOpt
item	ID\ panneau	w0.Text write:"ID panneau:$(LOCAL-ID 0)\n"
#else
item    Tester\ la\ radio     w0.Text write:"retries:$(CP-PING up)\n";timerfOpt
item    ID\ panneau       w0.Text write:"ID panneau:$(LOCAL-ID 0)\n"
item	Etal.\ balise	kpTagDebug
#endif
item	Quitter      TestInstall unpost 
#if #arch(cgc)
itemColor       Quitter:Exit
#endif
