%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: latum $
 *     $Date: 2004/04/27 21:39:52 $
 *    $State: Exp $
 *   Purpose: Load script for Lincs driver
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME Lincs
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
#if defined(GSPPORT) && !#GSPPORT(busy)
	object	Slip name:lincsnet speed:9600 hdwe:rs232 port:GSPPORT ipaddr:GSPIPADDR
	module	LincsDriver
	object	LincsDriver name:lincs device:lincsnet sendto:MINECARENET
#endif
