%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: imascarenhas $
 *     $Date: 2015/04/30 13:07:19 $
 *    $State: Exp $
 *   Purpose: 
 * * * * * * * * * * * * * * * * * * *
 */
#define DRIVERNAME CenseJ1939CM2330
#assert do(GenericDriver)
#include <MineCare/Main.cfg>
#include <Main/GspPort.h>
  module  SAEJ1939	
  module  CenseJ1939CM2330Driver

  object  SAEJ1939 name:censedev port:canb id:12
  object  CenseCM2330 name:cense device:censedev sendto:MINECARENET
