#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: w0.cfg,v $
 * $Revision: 1.10 $
 *   $Author: gsousa $
 *     $Date: 2019/08/07 12:40:36 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#ifdef NEWUI
#	ifdef LARGEUI  /* NEWUI for 10" PTXB */
#		ifdef PORTRAIT
#			ifdef SHOWOPSAFEAREA
				object	Button	name:w0.NextAct	geom:x:300:y:500:w:301:h:200:bw:2
				object	Label	name:w0.ExpTime	geom:x:300:y:700:w:301:h:50:bw:2 font:default relief:raised
				object	Button	name:w0.FatgLbl	geom:x:300:y:750:w:301:h:50:bw:1
#			else
				object	Button	name:w0.NextAct	 geom:x:300:y:500:w:301:h:250:bw:2
				object	Label	name:w0.ExpTime  geom:x:299:y:749:w:301:h:49:bw:2 font:default relief:raised
#			endif
			object	Text	name:w0.Text	geom:x:0:y:100:w:600:h:299:bw:0
			object	Text	name:w0.CurAct	geom:x:0:y:400:w:600:h:51:bw:2 relief:raised
			object	Text	name:w0.InfAct	geom:x:0:y:450:w:600:h:51:bw:2 relief:raised
#		else
#			ifdef SHOWOPSAFEAREA
				object	Button	name:w0.NextAct	geom:x:534:y:100:w:266:h:200:bw:2
				object	Label	name:w0.ExpTime	geom:x:533:y:300:w:266:h:50:bw:2 font:default relief:raised
				object	Button	name:w0.FatgLbl	geom:x:534:y:350:w:266:h:50:bw:0
#			else
				object	Button	name:w0.NextAct	geom:x:534:y:100:w:266:h:251:bw:2
				object	Label	name:w0.ExpTime	geom:x:534:y:350:w:265:h:50:bw:2 font:default relief:raised
#			endif
			object	Text	name:w0.Text	geom:x:0:y:100:w:534:h:394:bw:0
			object	Text	name:w0.CurAct	geom:x:0:y:495:w:534:h:58:bw:2 relief:raised
			object	Text	name:w0.InfAct	geom:x:0:y:546:w:534:h:58:bw:2 relief:raised
#		endif
#	else /* NEWUI for 7" PTXB */
#		ifdef PORTRAIT
#			ifdef SHOWOPSAFEAREA
				object  Button	name:w0.NextAct	 geom:x:300:y:0:w:300:h:280:bw:2
				object  Label	name:w0.ExpTime  geom:x:300:y:280:w:300:h:50:bw:2 relief:rasied
				object  Button	name:w0.FatgLbl  geom:x:300:y:330:w:300:h:70:bw:1
#			else
				object  Button  name:w0.NextAct	 geom:x:300:y:0:w:300:h:368:bw:2
				object  Label    name:w0.ExpTime  geom:x:300:y:368:w:300:h:51:bw:2 relief:raised
#			endif
			object  Text    name:w0.Text    geom:x:0:y:418:w:600:h:252:bw:0
			object  Text    name:w0.CurAct  geom:x:0:y:670:w:600:h:50:bw:2 relief:raised
			object  Text    name:w0.InfAct  geom:x:0:y:720:w:600:h:50:bw:2 relief:raised
#		else
#			ifdef SHOWOPSAFEAREA
				object	Button	name:w0.NextAct geom:x:534:y:150:w:266:h:321:bw:2 font:Large
				object	Label	name:w0.ExpTime geom:x:533:y:470:w:266:h:66:bw:2 font:Large relief:raised
				object	Button	name:w0.FatgLbl	geom:x:533:y:534:w:266:h:64:bw:0 font:Large
#			else
				object  Button  name:w0.NextAct geom:x:533:y:150:w:266:h:386:bw:2 font:Large
				object  Label    name:w0.ExpTime  geom:x:533:y:535:w:266:h:66:bw:2 font:Large relief:raised
#			endif
			object  Text    name:w0.Text    geom:x:0:y:150:w:534:h:320:bw:0 font:Large
			object  Text    name:w0.CurAct  geom:x:0:y:471:w:534:h:66:bw:2 relief:raised
			object  Text	name:w0.InfAct  geom:x:0:y:536:w:534:h:66:bw:2 relief:raised
#		endif
#	endif
#endif

object	Menu	name:SelfAssign
object	Menu	name:Inpit
object	Menu	name:Shovels
object	Menu	name:Shovels2
object	Menu	name:Shovels3

#if (DEMAJOR > 6 || DEMINOR > 6) || (DEMAJOR == 6 && DEMINOR == 6 && DEMAINT >= 8)
	object  Text    name:w0.CurAct  multiline:no
	object  Text	name:w0.InfAct  multiline:no
#endif

