/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: Arch.cfg,v $
 * $Revision: 1.3 $
 *   $Author: zambetis $
 *     $Date: 2009/05/01 16:01:53 $
 *    $State: Exp $
 *   Purpose: Create miscellaneous architecture specific objects
 	      common to all applications.
 * * * * * * * * * * * * * * * * * * *
 */
object	Gc
#if !#arch(pe)
#	if #arch(sh)
		object	Cache
#	endif
#	if #arch(arm)
		object	Mmu
		object	Flash name:Nand
#	else
		object	Flash
#	endif
#endif
