/**
 * Note: This code only works when interfaces shall be loaded on GSPs.
 * We need to add code to support scenarios like Interfaces running on Hubs,
 * or running multiple interfaces on both Hub+GSPs stituations.
*/

#if #arch(pe) || #arch(mlink)
  in    INTF-COMMAND   0x076a   sss     INTF-COMMAND $1 $2 $3
  in    INTF-REPLY     0x076b   [s]     INTF-REPLY $1
  out   INTF-COMMAND   0x076a   sss     sendto Can.-1
#else
  in    INTF-COMMAND   0x076a   sss     $1 $2: $3
#endif

out   INTF-REPLY     0x076b   [s]     sendto up
