%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1999
 *               All Rights Reserved
 *  $RCSfile: OMS.cfg,v $
 * $Revision: 1.9 $
 *   $Author: zambetis $
 *     $Date: 2009/05/01 16:01:53 $
 *    $State: Exp $
 *   Purpose: Create the OMS.cfg file from all the OMS.cfg files
 *            specified in the OPTIONS list.
 * * * * * * * * * * * * * * * * * * *
 */
#ifdef HOST
	host	HOST
#endif
#if defined(DOMAIN) && !#domain(default)
	domain	DOMAIN
#endif
#ifdef PROXY
	proxy	PROXY
#endif
#ifdef IDENTITY
	identity IDENTITY
#endif
#ifdef KEEPALIVE
	keepalive KEEPALIVE
#endif
#if #arch(pe)
#	include <PortEmbedded/OMS.cfg>
#endif
#if defined(OMSCLASS)
#	define OMS_FILE <OMSCLASS/OMS.cfg>
#	include OMS_FILE
#elif defined(HOST) && (#omsapp(Mpr) || #omsapp(Hub))
#	define OMS_FILE <OMS/HOST.cfg>
#	include OMS_FILE
#endif
#if defined(DEFAULTROUTE) && !#defaultroute(none)
	route	add default DEFAULTROUTE
#endif
#define OBJECT OMS
#include <Cfg/Options.cfg>
