%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1998
 *               All Rights Reserved
 *  $RCSfile: pfs.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:44 $
 *    $State: Exp $
 *   Purpose: Configure the persistent file store for application
 *            flash partitions.
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(arm)
	addr	0
	size	0x40000
#elif #arch(goic) || #arch(goiccan)
	addr	0x40000
	size	0x20000
#elif #arch(hubcan)
	addr	0x40000
	size	0x40000
#else
	addr	0x40000
	size	0x10000
#endif
#ifdef ARG1
	unsafe	ARG1
#endif
