%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Prism.cfg,v $
 * $Revision: 1.6 $
 *   $Author: zambetis $
 *     $Date: 2010/04/27 05:30:13 $
 *    $State: Exp $
 *   Purpose: Configuration file for 802.11 Prism radio networks.
 *            and channel number.
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(mlink2)
#	define RADIO GinaRadio
#else
#	define RADIO PrismRadio
#endif
#ifdef ARG1
	ipaddr	ARG1
#endif
#if !#arch(pe)
#if #arg2(A)
	object	RADIO name:ssra radio:A
	radioa	ssra
	radiob	off
#elif #arg2(B)
	object	RADIO name:ssrb radio:B
	radioa	off
	radiob	ssrb
#elif #arg2(NONE)
	radioa	ssra
	radiob	off
#elif #arg2(AB) || #arch(r2m)
	object	RADIO name:ssra radio:A
	object	RADIO name:ssrb radio:B
	radioa	ssra
	radiob	ssrb
#else
	object	RADIO name:ssra radio:A
	radioa	ssra
	radiob	off
#endif
#endif /* #arch(mlx) */
#ifdef ARG3
	ssid	ARG3
#else
	ssid	MLINK
#endif
#ifdef ARG4
	mode	ARG4
#else
	mode	APCLIENT
#endif
#ifdef ARG5
	wepkey	ARG5
#endif
#ifdef ARG6
	chanAgility ARG6
#endif

/*
 * For 802.11 wireless access points, lower the goodRSSI and increase the
 * changeThreshold, since reassociation is much more costly than for mobiles.
 */
#if #class(repeater)
	goodRSSI	19
	changeThreshold 30
#endif
