%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Rp.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:44 $
 *    $State: Exp $
 *   Purpose: Radio port configuration script for setting up ID
 *            and channel number.
 * * * * * * * * * * * * * * * * * * *
 */
#ifndef MODEM
#	define MODEM tait1200
#	assert modem(tait1200)
#endif
#include <Cfg/ModemType.h>
#ifdef ARG1
ipaddr	ARG1
#endif
#ifdef	ARG2
channel	ARG2
#endif
/*
 * Although the new Rp object will find the DSP modem without
 * the `.dsp' suffix, old Rp modules won't.  For compatibility,
 * define the modem with the `.dsp' suffix unless we require
 * dual modulator/demodulator support.
 */
#if #modem(dual)
	modem	etc/MODEM
#else
	modem	etc/MODEM.dsp
#endif
#if #modem(tait1200)
	chanmap	4,3,2,1
	rxaudio	26
#endif
#if #modem(efj1200)
	chanmap	1,2
	rxaudio	25
#endif
#if #modem(efj1200v)
	chanmap	1,2
	rxaudio	25
#endif
#if #modem(efj1200_5w)
	chanmap	8,7,6,5,4,3,2,1
	rxaudio	25
#endif
#if #modem(efj9600)
	chanmap	1,2
	keyup	60
	speed	9600
	rxaudio	30
#endif
#if #modem(efj9600_5w) || #modem(efj9600v_5w) || #modem(ucell9600_5w)
	chanmap	8,7,6,5,4,3,2,1
	keyup	60
	speed	9600
	rxaudio	30
#endif
#if #modem(rnet1200)
	chanmap	2,1
	rxaudio	25
#endif
#if #modem(ge1200)
	chanmap 1,2,3,4
	rxaudio	12
#endif
#if #modem(moto1200)
	chanmap -1,1,2,-1,3,-1,-1,-1,4
	rxaudio	24
#endif
#if #modem(tait3840)
	chanmap	4,3,2,1
	speed	3840
	rxaudio	25
#endif
#if #modem(rnet3840)
	chanmap	2,1
	rxaudio	25
#endif
#if #modem(efj3840r)
	chanmap	1,2
	rxaudio	25
#endif
#if #modem(spec1200)
	chanmap 16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1
	rxaudio 26
#endif
#if #modem(pp9600)
	chanmap 1,2
	keyup	60
	speed	9600
	rxaudio 30
#endif
#if #modem(tait9600)
	chanmap	4,3,2,1
	speed	9600
	rxaudio	30
#endif
#if #modem(tait9600v)
	chanmap	16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1
	speed	9600
	rxaudio	30
#endif
#if #modem(brg29600)
	chanmap	0
        speed   9600
        rxaudio 30
	swapModem n
#	define ISBRG
#endif
#if #modem(br9600)
	chanmap	0
	speed	9600
	swapModem n
	rxaudio	30
#	define ISBRG
#endif
#if #modem(br3840)
	chanmap	0
	speed	3840
	swapModem n
	rxaudio	30
#	define ISBRG
#endif
#if #modem(ucell9600)
	chanmap	1,2
	keyup	60
	speed	9600
	rxaudio	30
#endif
#if #modem(ssm9600)
	chanmap	1,2
	keyup	60
	speed	9600
	rxaudio	30
#endif
#if #modem(ssm1200)
	chanmap	1,2
	keyup	60
	speed	1200
	rxaudio	30
#endif
#if #modem(tait1200hs)
	chanmap	4,3,2,1
	speed	1200
	rxaudio	25
#endif
#if #modem(br1200)
	chanmap	0
	speed	1200
	swapModem n
	rxaudio	30
#	define ISBRG
#endif
#ifdef RPCELL
	cell	RPCELL
#endif
#ifdef ISBRG
	chanmsec 1100
#else
#	ifdef RPCHANMSEC
		chanmsec RPCHANMSEC
#	endif
#	ifdef RPCHANAUTO
		chanauto RPCHANAUTO
#	endif
#	ifdef RPCHANPKTS
		chanpkts RPCHANPKTS
#	endif
#endif
