%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: TMp.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olson $
 *     $Date: 2002/10/08 20:35:53 $
 *    $State: Exp $
 *   Purpose: Configure TMp control modem.
 * * * * * * * * * * * * * * * * * * *
 */
id	ARG1
ipaddr	ARG2
#if ARG1 != 0
	bufsize 2048
#elif defined(DEVICE)
#	define TMP_CFG <TMp/DEVICE.cfg>
#	include TMP_CFG
#endif
