%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Vga.cfg,v $
 * $Revision: 1.4 $
 *   $Author: zambetis $
 *     $Date: 2009/07/31 21:48:42 $
 *    $State: Exp $
 *   Purpose: Configuration file for mobile Vga display
 * * * * * * * * * * * * * * * * * * *
 */
display	DISPLAY
#if #arch(r2k)
/* the 8.4" display has its own temperature management */
	tempHot	100
	tempToast	120
	warmupMax	-40
#endif
#if #display(vga-10.5)
        dbuffer yes
#endif
