%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: Boot.cfg,v $
 * $Revision: 1.6 $
 *   $Author: latum $
 *     $Date: 2005/06/03 22:58:55 $
 *    $State: Exp $
 *   Purpose: Object configuration file for boot FLASH images.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Boot/Config.h>
#include <Main/GspPort.h>
#include <Version.h>
#ifdef PRODUCT
#	define BOOT_PROMPT \'CPU Boot, vVERSION (PRODUCT)> \'
#else
#	define BOOT_PROMPT \'CPU Boot, vVERSION> \'
#endif
up	none
version CPU Boot, vVERSION
#if #arch(r22) || #arch(r23) || #arch(r23s)
module	fl0/Boot
#endif
#include <Cfg/Arch.cfg>
module	Slip
object	Slip speed:0
module	ObjSh
object	ObjSh base:Boot prompt:BOOT_PROMPT
module	Nfs
#if #arch(Rom) || #arch(Rom_2)
	object	Nfs name:net arch:BOOT_ARCH
#else
	object	Nfs name:net
#endif
module	File
object	File path:y
#if #module(AdcI2C)
	module	Adc
#	ifdef ADC_ADDR
		object	Adc addr:ADC_ADDR
#	else
		object	Adc
#	endif
#elif #module(Mcp)
	module	Mcp
	object	Mcp
#elif #module(Adc) || #module(Adc0808) || #module(Adc7858)
	module	Adc
	object	Adc
#endif
#if #module(Vga)
	module	Vga
	object	Vga
#endif
#if #module(Ether)

#if #arch(mlink2)
#define ETHERCHIP SMC91C111
#else
#define ETHERCHIP CS8900
#endif
	module	Ethernet
	object	Ethernet name:eth0 chip:ETHERCHIP
#endif
#if #module(Prism) && !#prismradio(NONE)
	module	PrismNet
	object	PrismNet name:wan0
#endif
#if #module(Loop) || #module(Master)
	module	Loop
	object	Loop
#endif
#if #module(Rp)
	module	Rp
	object	Rp
#endif
#if #module(TMp)
	module	TMp
	object	TMp
#endif
#if #module(Wit)
	module	Wit
	object	Wit
#endif
#if #module(Can_2)
	module	Can
	object	Can name:CanA port:cana
	object	Can name:CanB port:canb
#elif #module(Can) || #module(CanDual)
	module	Can
	object	Can
#endif
#if #module(Stas)
	module	SlipMp
	object	SlipMp name:Stas port:GSPPORT hdwe:rs485
#endif
object	OMS
