%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2001
 *               All Rights Reserved
 *  $RCSfile: Install_30.cfg,v $
 * $Revision: 1.2 $
 *   $Author: olson $
 *     $Date: 2002/08/17 00:55:08 $
 *    $State: Exp $
 *   Purpose: Object configuration for v3.0 boot flash installation.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Boot/Config.h>
#include <Version.h>
#ifdef PRODUCT
#	define BOOT_PROMPT \'CPU Install (PRODUCT), vVERSION> \'
#else
#	define BOOT_PROMPT \'CPU Install Boot, vVERSION> \'
#endif
up	UP
#if #up(Can)
	module	Ssn
	object	Ssn
#endif
connected y
version CPU Install, vVERSION
#if #arch(arm)
	module	Persistent
#endif
module	ObjSh
object	ObjSh base:Main prompt:BOOT_PROMPT
module	Nfs
object	Nfs name:net arch:ARCH-install
module	File
object	File path:y
