%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: listener.config,v $
 * $Revision: 1.2 $
 *   $Author: latum $
 *     $Date: 2004/01/05 23:04:13 $
 *    $State: Exp $
 *   Purpose: default simple configuration for modbus listener interface
 * * * * * * * * * * * * * * * * * * *
 */

/*
 * default serial port settings. Typically, modbus is rs485 running
 * at relatively low speed. Override these settings by specifying
 * the MODBUSCONFIG=<name> argument which will load the configu-
 * ration from the file net/MineCare/Modbus/<name>.config
 * the flags 0x10 is required for rs485
 */

hdwe	rs485
flags	0x10
speed	9600
role  Listener

/*
 * register 3 Modbus Listener Devices as slave 1,2,3,
 * object name 'plc1', 'plc2' and 'plc3'
 * usage: device <Device class name> name:<object name> slave:<slave id>
 * note: <slave id> is mandatory
 * a slave id of '0' means that any requests to this device will be
 * broadcast to the bus. Any PLC that can handle broadcasts will
 * respond to the query. So, if you have a bus with a PLC that you don't
 * know the ID of, you can try simply using plc0 to access it...
 */
device	ModbusListenerDevice name:plc0 slave:1
device	ModbusListenerDevice name:plc1 slave:2
device	ModbusListenerDevice name:plc3 slave:3

