%!/psw/cpp

/*
 * Now let's register and request some channels.
 * Note: On a Modbus device, such as a PLC,
 * there are 4 types of data points, they are:
 *
 * 0 = 'Holding Registers'
 * 1 = 'Input Registers'
 * 2 = 'Read/Write Coils'
 * 3 = 'Read-Only_Coils'
 *
 * Here let's define the following encouding function to map a
 * VitalSigns channel id into a Modbus point with address:
 *   channel_id = (point_type << 16) + point_address
 *
 * For examples,
 * the Holding register 100, should be channel:
 *   (0 << 16) + 0x64 = 0x64
 * and Read/Write coil 200, should be channel:
 *   (2 << 16) + 0xc8 = 0x200c8
 */

/*
 * Register 5 channels on plc1.
 * These requests are for: Holding Registers, addresses 100 - 104.
 */
vs config:param:100 device:plc1 channel:0x64
vs config:param:101 device:plc1 channel:0x65
vs config:param:102 device:plc1 channel:0x66
vs config:param:103 device:plc1 channel:0x67
vs config:param:104 device:plc1 channel:0x68

/*
 * request above 5 requests from VitalSigns Driver
 */
vs request:100:5000
vs request:101:5000
vs request:102:5000
vs request:103:5000
vs request:104:5000

/*
 * request Read/Write coil address 200 as an event
 */
vs config:event:5200 device:plc1 channel:0x200c8


/*
 * Register 5 channels on plc2.
 * These requests are for: Holding Registers, addresses 110 - 114.
 */
vs config:param:110 device:plc2 channel:0x6e
vs config:param:111 device:plc2 channel:0x6f
vs config:param:112 device:plc2 channel:0x70
vs config:param:113 device:plc2 channel:0x71
vs config:param:114 device:plc2 channel:0x72

/*
 * request above 5 requests from VitalSigns Driver
 */
vs request:110:5000
vs request:111:5000
vs request:112:5000
vs request:113:5000
vs request:114:5000

/*
 * Register and request 16 digital events on plc2.
 * These requests are for: Read/Write Coils, addressse 200 - 215.
 */
vs config:event:2200 device:plc2 channel:0x200c8
vs config:event:2201 device:plc2 channel:0x200c9
vs config:event:2202 device:plc2 channel:0x200ca
vs config:event:2203 device:plc2 channel:0x200cb
vs config:event:2204 device:plc2 channel:0x200cc
vs config:event:2205 device:plc2 channel:0x200cd
vs config:event:2206 device:plc2 channel:0x200ce
vs config:event:2207 device:plc2 channel:0x200cf
vs config:event:2208 device:plc2 channel:0x200d0
vs config:event:2209 device:plc2 channel:0x200d1

vs config:event:2210 device:plc2 channel:0x200d2
vs config:event:2211 device:plc2 channel:0x200d3
vs config:event:2212 device:plc2 channel:0x200d4
vs config:event:2213 device:plc2 channel:0x200d5
vs config:event:2214 device:plc2 channel:0x200d6
vs config:event:2215 device:plc2 channel:0x200d7


/*
 * Register and request Holding Register 300 on plc3.
 */
vs config:param:300 device:plc3 channel:0x12c
vs request:300:5000

/*
 * Register and request 10 digital events on plc3.
 * These requests are for: Read/Write Coils, addresses 500 - 509.
 */
vs config:event:2500 device:plc3 channel:0x201f4
vs config:event:2501 device:plc3 channel:0x201f5
vs config:event:2502 device:plc3 channel:0x201f6
vs config:event:2503 device:plc3 channel:0x201f7
vs config:event:2504 device:plc3 channel:0x201f8
vs config:event:2505 device:plc3 channel:0x201f9
vs config:event:2506 device:plc3 channel:0x201fa
vs config:event:2507 device:plc3 channel:0x201fb
vs config:event:2508 device:plc3 channel:0x201fc
vs config:event:2509 device:plc3 channel:0x201fd

