%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: vitalsigns.config,v $
 * $Revision: 1.3 $
 *   $Author: latum $
 *     $Date: 2007/10/23 00:50:40 $
 *    $State: Exp $
 *   Purpose: default definitions of parameters and events
 *            for some Modbus device.
 * * * * * * * * * * * * * * * * * * *
 */

/*
 * register parameters with the vitalsigns subsystem, that come from the
 * modbus plc. In this (marginally useful default) case, there is only one
 * plc providing parameters, called 'plc1'.
 *
 * usage: config param:<param id> device:<device obj name> channel:<channel id>
 * here, <channel id> = ("Point type" << 16) + "address"
 *
 * In the above "channel id" function, the concept "Point type" is a
 * Modbus PLC's natural characteristic.
 * On a Modbus device, such as a PLC,
 * there are 4 types of data points, they are:
 *
 * 0 = 'Holding Registers'
 * 1 = 'Input Registers'
 * 2 = 'Read/Write Coils'
 * 3 = 'Read-Only_Coils'
 *
 * Now let's predefine/register some channels
 * on the Modbus Master device plc1:
 */

/*
 * The '2000' to '2019' parameters are pre-defined as "Electrical sensor <n>"
 * parameters. So if you use this configuration and ask for "Electrical
 * sensor 11" from this device, you will get the contents of the "Input
 * register 110" (sensor '1' is param '2000', sensor '2' is param '2001', etc)
 */
config:param:2000 device:plc1 channel:0x10064  /* Input register 100 */
config:param:2001 device:plc1 channel:0x10065  /* Input register 101 */
config:param:2002 device:plc1 channel:0x10066  /* Input register 102 */
config:param:2003 device:plc1 channel:0x10067  /* Input register 103 */
config:param:2004 device:plc1 channel:0x10068  /* Input register 104 */
config:param:2005 device:plc1 channel:0x10069  /* Input register 105 */
config:param:2006 device:plc1 channel:0x1006a  /* Input register 106 */
config:param:2007 device:plc1 channel:0x1006b  /* Input register 107 */
config:param:2008 device:plc1 channel:0x1006c  /* Input register 108 */
config:param:2009 device:plc1 channel:0x1006d  /* Input register 109 */
config:param:2010 device:plc1 channel:0x1006e  /* Input register 110 */
config:param:2011 device:plc1 channel:0x1006f  /* Input register 111 */
config:param:2012 device:plc1 channel:0x10070  /* Input register 112 */
config:param:2013 device:plc1 channel:0x10071  /* Input register 113 */
config:param:2014 device:plc1 channel:0x10072  /* Input register 114 */
config:param:2015 device:plc1 channel:0x10073  /* Input register 115 */
config:param:2016 device:plc1 channel:0x10074  /* Input register 116 */
config:param:2017 device:plc1 channel:0x10075  /* Input register 117 */
config:param:2018 device:plc1 channel:0x10076  /* Input register 118 */
config:param:2019 device:plc1 channel:0x10077  /* Input register 119 */

/*
 * The '9024' to '9033' parameters are defined as "General sensor <n>" in the
 * great big generalizes vitalsigns parameter database.
 */
config:param:9024 device:plc1 channel:0x64  /* Holding register 100 */
config:param:9025 device:plc1 channel:0x65  /* Holding register 101 */
config:param:9026 device:plc1 channel:0x66  /* Holding register 102 */
config:param:9027 device:plc1 channel:0x67  /* Holding register 103 */
config:param:9028 device:plc1 channel:0x68  /* Holding register 104 */
config:param:9029 device:plc1 channel:0x69  /* Holding register 105 */
config:param:9030 device:plc1 channel:0x6a  /* Holding register 106 */
config:param:9031 device:plc1 channel:0x6b  /* Holding register 107 */
config:param:9032 device:plc1 channel:0x6c  /* Holding register 108 */
config:param:9033 device:plc1 channel:0x6d  /* Holding register 109 */

/*
 * register events with the vitalsigns subsystem, coming from the modbus
 * plc. In this case, only the generic device 'plc1' is used but of course
 * you are free to use any number of modbus devices and any of the pre-
 * defined events or even your own numbers
 *
 * usage:
 * vs config:event:<event id> device:<device obj name> channel:<channel id>
 * note: <channel id> = ("Point type" << 16) + "address"
 *
 * again, "Point type" is one of the following 4 values:
 * 0 = 'Holding Registers'
 * 1 = 'Input Registers'
 * 2 = 'Read/Write Coils'
 * 3 = 'Read-Only_Coils'
 *
 * this will create an event <event id> whenever the digital input on the
 * channel <address> becomes non zero. To change this to create an event on
 * a change to a zero state, add the "state:0" argument
 *
 * events '2500' to '2519' are pre-defined as "Electrical Event 1" to
 * "Electrical event 20" resp.
 */
config:event:2500 device:plc1 channel:0x20064  /* status on rw coil 100 */
config:event:2501 device:plc1 channel:0x20065  /* status on rw coil 101 */
config:event:2502 device:plc1 channel:0x20066  /* status on rw coil 102 */
config:event:2503 device:plc1 channel:0x20067  /* status on rw coil 103 */
config:event:2504 device:plc1 channel:0x20068  /* status on rw coil 104 */
config:event:2505 device:plc1 channel:0x20069  /* status on rw coil 105 */
config:event:2506 device:plc1 channel:0x2006a  /* status on rw coil 106 */
config:event:2507 device:plc1 channel:0x2006b  /* status on rw coil 107 */
config:event:2508 device:plc1 channel:0x2006c  /* status on rw coil 108 */
config:event:2509 device:plc1 channel:0x2006d  /* status on rw coil 109 */

config:event:2510 device:plc1 channel:0x30064  /* status on ro coil 100 */
config:event:2511 device:plc1 channel:0x30065  /* status on ro coil 101 */
config:event:2512 device:plc1 channel:0x30066  /* status on ro coil 102 */
config:event:2513 device:plc1 channel:0x30067  /* status on ro coil 103 */
config:event:2514 device:plc1 channel:0x30068  /* status on ro coil 104 */
config:event:2515 device:plc1 channel:0x30069  /* status on ro coil 105 */
config:event:2516 device:plc1 channel:0x3006a  /* status on ro coil 106 */
config:event:2517 device:plc1 channel:0x3006b  /* status on ro coil 107 */
config:event:2518 device:plc1 channel:0x3006c  /* status on ro coil 108 */
config:event:2519 device:plc1 channel:0x3006d  /* status on ro coil 109 */
