#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: FuelEqmtTypes.cfg,v $
 * $Revision: 1.4 $
 *   $Author: gsousa $
 *     $Date: 2018/12/05 18:03:31 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define Dict_Trucks	Camiones
#define	Dict_Loaders	Cargadores
#define Dict_AuxEqmt	Equipo\ Aux
#define	Dict_ExitMenu	Salir\ Menú
