#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.7 $
 *   $Author: gsousa $
 *     $Date: 2018/12/05 15:53:46 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

message	fbFuelLbl Ingrese la Id de
message fbFuelLblTrucks     Camión
message fbFuelLblLoaders    Cargador
message fbFuelLblAuxEqmt    Equipo Auxiliar
message fbReadyFuelBay	Antes poner el equipo Operativo, por favor!
message fdFluidRequestLbl Solicitando lista de fluidos, espere...
