%!/psw/cpp
#if #arch(gsp) || #arch(gspcan)
	out GPS-QUERY	0x1a8	d,s	sendto up
#endif
in	FMDATA		0x542	s	fmcoordxyz
out	FM-DATA		0x540	s	OS-DATA "$1"
in	FM-OPACT	0x541	s	sendto Astid
/* ASTiD now operates under the Operator Safety Module */
out	OS-DATA		0x761	s?[s]	sendto up
in	OS-RESP		0x762	s?[s]	FM-OPACT $1
macro	fmcoordxyz	FM-DATA $1 $(GPS-QUERY 6)
