#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: FuelEqmtTypes.cfg,v $
 * $Revision: 1.2 $
 *   $Author: schultes $
 *     $Date: 2018/09/20 20:29:11 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define Dict_Trucks	Транспорт
#define	Dict_Loaders	Погрузчик
#define Dict_AuxEqmt	Всп.Оборудование
#define	Dict_ExitMenu	Выход\ из\ Меню
