#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.3 $
 *   $Author: olivas $
 *     $Date: 2014/12/16 21:24:20 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LogOn	Влизане\...
#define	Dict_LogOff	Излизане
#define	Dict_PsCheck	Отчет\ за\nпредстартова\ проверка...
#define	Dict_PsReport	Предстартов\nотчет...
#define	Dict_EngHours	часове\ на\nдвигателя...
#define	Dict_Arrive	Пристига
#define	Dict_Assign	Задаване
#define	Dict_Load	Товар
#define	Dict_Fuel	Гориво...
#define	Dict_Full	Пълен
#define	Dict_Yes	Да
#define	Dict_No		Не
#define	Dict_ExitMenu	излизане\ от\nменюто