#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: GeomMaster.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2008/10/24 20:24:47 $
 *    $State: Exp $
 *   Purpose: GC object geometry configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
#if #arch(cgc)
#define VGAVERT 468
#define TITLEHT 34
#define BTNVERT 81
#define ROWONEY 35
#define ROWTWOY 116
#define ROWTHRY 197
#define ROWFOUY 278
#define ROWFIVY 359
#define ROWSIXY 83
#else
#define VGAVERT 480
#define TITLEHT 25
#define BTNVERT 85
#define ROWONEY 35
#define ROWTWOY 120
#define ROWTHRY 205
#define ROWFOUY 290
#define ROWFIVY 375
#define ROWSIXY 83
#endif
