/*
 * Symbols for language-independent display
 */
symbol	cfgLbl.0 "Yes"
symbol	cfgLbl.1 "No"
symbol	cfgLbl.2 "No response from central.\nTry again?"
symbol	cfgLbl.3 "None"
#if #class(shovel) || #class(loader)
symbol	cfgLbl.4 "High"
symbol	cfgLbl.5 "Low"
#else
symbol	cfgLbl.4 "Cut"
symbol	cfgLbl.5 "Fill"
#endif
symbol	cfgLbl.6 "Left"
symbol	cfgLbl.7 "Right"
symbol	cfgLbl.8 "Front"
symbol	cfgLbl.9 "Message"
symbol	cfgLbl.10 "Of"
symbol	cfgLbl.11 "From"
symbol	cfgLbl.12 "Send To"
symbol	cfgLbl.13 ' "Pitch" "Roll" "Truck" "Tons" '
symbol	cfgLbl.14 ""
symbol	cfgLbl.15 '"Really declare\nemergency?"'
symbol	cfgLbl.16 "Enter message and press Ok"
symbol	cfgLbl.17 "Dispatch"
symbol	cfgLbl.18 "This feature is not enabled"
symbol	cfgLbl.19 ' "Cancel\\nSplit"'
symbol	cfgLbl.20 "Bright\nDay"
symbol	cfgLbl.21 "Overcast"
symbol	cfgLbl.22 "Night"
symbol	cfgLbl.23 "Dimmer\nControl"
symbol	cfgLbl.Bright "Brightness"
symbol	cfgLbl.Clear "CLEAR"
symbol	cfgLbl.Cancel "CANCEL"
/* Pre start labels */
symbol	cfgLbl.pre.1 "Pre-Start Check List"
symbol	cfgLbl.pre.2 "Comment"
symbol  cfgLbl.pre.3 "Page"
symbol  cfgLbl.pre.4 "Prev Page"
symbol  cfgLbl.pre.5 "Next Page"
symbol  cfgLbl.pre.6 "OK"
symbol  cfgLbl.pre.7 "Pass All"
symbol  cfgLbl.pre.8 "Enter\nComment"
/* Pre gauge window labels */
symbol  cfgLbl.gau.1 "RPM"
symbol  cfgLbl.gau.2 "Air Pressure"
symbol  cfgLbl.gau.3 "Torque"
symbol  cfgLbl.gau.4 "Pull Down"
symbol  cfgLbl.gau.5 "Penetr.Rate"

/* Project/Surface creation labels */
symbol	cfgLbl.24 "StartX StartY StartZ Heading Length Width Grade"
symbol	cfgLbl.25 "StartX StartY StartZ EndX EndY EndZ Width"
symbol	cfgLbl.26 "TargetZ"
symbol	cfgLbl.27 "Enter Start Point X"
symbol	cfgLbl.28 "Enter Start Point Y"
symbol	cfgLbl.29 "Enter Start Point Z"
symbol	cfgLbl.30 "Enter Heading"
symbol	cfgLbl.31 "Enter Length"
symbol	cfgLbl.32 "Enter Width"
symbol	cfgLbl.33 "Enter Gradient (pct)"
symbol	cfgLbl.34 "Ok"
symbol	cfgLbl.35 "Design could not be downloaded"
symbol	cfgLbl.36 ""
symbol	cfgLbl.37 "Move to start point and press Ok"
symbol	cfgLbl.38 "Move to end point and press Ok"
symbol	cfgLbl.39 "Enter Width"
symbol	cfgLbl.40 "Both points are the same! Try again"
symbol	cfgLbl.41 "Create"
symbol	cfgLbl.42 "Complete all input fields"
symbol	cfgLbl.43 "Enter target elevation"
symbol	cfgLbl.44 "Updating data"
symbol	cfgLbl.45 "Enter Start Point X"
symbol	cfgLbl.46 "Enter Start Point Y"
symbol	cfgLbl.47 "Enter Start Point Z"
symbol	cfgLbl.48 "Enter End Point X"
symbol	cfgLbl.49 "Enter End Point Y"
symbol	cfgLbl.50 "Enter End Point Z"
symbol	cfgLbl.51 "Enter Width"
symbol	cfgLbl.52 "Updating relief map"
symbol	cfgLbl.53 "Loading project data"
symbol	cfgLbl.54 "Loading digline data"
symbol	cfgLbl.55 "Loading material data"

#if #class(shovel) || #class(loader) || #class(excav) || #class(dozer) || #class(grader)
symbol	cfgLbl.60 "1-Point Ramp"
symbol	cfgLbl.61 "2-Point Ramp"
symbol	cfgLbl.62 "2-Pt Keyed Ramp"
symbol	cfgLbl.63 "Flat Surface"
symbol	cfgLbl.64 "Keyed Surface"
symbol	cfgLbl.65 "Download Design"
symbol	cfgLbl.66 "Delete Project"
symbol	cfgLbl.200 "Width"
symbol	cfgLbl.201 "Enter Width"
symbol	cfgLbl.210 "Move to start point and press this button"
symbol	cfgLbl.211 "Move to end point and press this button"

#else
symbol	cfgLbl.60  "1-Pt Reference"
symbol	cfgLbl.61  "No used"
symbol	cfgLbl.62  "2-Pt Reference"
symbol	cfgLbl.63  "1-Pt Reference Off"
symbol	cfgLbl.64  "2-Pt Reference Off"
symbol	cfgLbl.65  "Download Pattern"
symbol	cfgLbl.66  "Delete Pattern"
symbol	cfgLbl.200 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.201 "Enter BOH"
symbol	cfgLbl.202 "Enter Delta Length"
symbol	cfgLbl.203 "Enter Length"
symbol	cfgLbl.204 "Enter Delta Width"
symbol	cfgLbl.205 "Enter Width"
symbol	cfgLbl.206 "Enter Left(1) or Center(2) or Right(3)"
symbol	cfgLbl.207 ""
symbol	cfgLbl.208 ""
symbol	cfgLbl.209 ""
symbol	cfgLbl.210 "Move to start point and press this button"
symbol	cfgLbl.211 "Move to end point and press this button"
symbol	cfgLbl.212 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.213 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.214 "BOH Delta_Length Length Delta_Witdh Witdh Side"
symbol	cfgLbl.215 "Extra holes at reference line"
symbol	cfgLbl.216 "Current"
#endif

#if #class(shovel) || #class(loader) || #class(excav)
symbol	cfgLbl.67 '"Blast" "Design" "BCMs" "Loads" "Rate" "Last" "Payld"'
#else
symbol	cfgLbl.67 '"Pattern" "Hole ID" "Status" "Holes" "Metres" "Rate" "Time"'
#endif

symbol	cfgLbl.68 "Enter Payroll ID"
symbol	cfgLbl.69 "FUEL"

/* Drill-specific labels */

#if #class(drill)
symbol	cfgLbl.70	"Hole ID"
symbol	cfgLbl.71	"Select Hole"
symbol	cfgLbl.72	' "New Hole" "Change Hole" "Set Pattern" "Mast Angle" "Add Rod"'

symbol	cfgLbl.73	"Component ID:"
symbol	cfgLbl.74	"Set Pattern First"
symbol	cfgLbl.75	' "Components" "Configuration" "Information from Central"'

/* hp window data display labels */
symbol	cfgLbl.76	' "Pattern" "Hole ID" "Dist" "Angle" "Head" "Angle" "Head"'

/* Component-related labels (should conform to the order of component
 * tracking set on central computer) */
symbol	cfgLbl.77	' "Bit" "Rod" "Hammer" "Top Sub" "Bottom Sub" "Stabilizer" "Coupling"'

/* Initialisation string for mounted components display on wDrilling */
symbol	cfgLbl.78	' "None" "None" "None" "None" "None" "None" "None"'

/* Drilling-related labels on wDrilling */
symbol	cfgLbl.79	' "Pattern" "Hole ID" "Mast" "Rods Added" "Material" "New Hole" "Restore\\nAuto"'

/* Initialisation string for hole/pattern data display on wDrilling */
symbol	cfgLbl.80	' "None" "None" "0" "None"'

symbol	cfgLbl.81	' "Changing:" "Dismount Reason:" "New Part ID:" "Select Component Type"'
symbol	cfgLbl.82	' Change Change'

/* Status light labels on w0 and hp windows */
symbol	cfgLbl.83	' "Msg" "GPS" "Deck"'

/* Target and Actual display fields on hp window */
symbol	cfgLbl.84	' "Target" "Actual"'

/* w0 Output box display labels */
symbol	cfgLbl.85	' "Depth" "Bottom" "Target"'

/* Pattern data entry text label */
symbol	cfgLbl.86	"Pattern ID:"

symbol	cfgLbl.87	"Enter Hole Depth"

symbol	cfgLbl.88	"Pattern, hole and target depth are required"

symbol	cfgLbl.89	' "." "Clear" "Ok" "Cancel"'

symbol	cfgLbl.90	' "Exit" "/" "Clr" "Del" "-" "Space" "Ok"'

symbol	cfgLbl.91	"Finish current hole first!"

symbol	cfgLbl.92	"Enter Mast Angle:"

symbol	cfgLbl.93	"Information from Central"

symbol	cfgLbl.94	"GPS now used for hole identification"

symbol	cfgLbl.95	"Mast angle detection override removed"

symbol	cfgLbl.96	"Overriding automatic mast angle detection"

symbol	cfgLbl.97	"Extend\\nJacks"

symbol	cfgLbl.98	"Start\\nDrilling"

symbol	cfgLbl.99	"More Components"

symbol	cfgLbl.100	"Add\\nRod"

symbol	cfgLbl.101	"Start\\nDrill"

/* w0 Output box display labels */
symbol	cfgLbl.102	' "Depth" "Rate" "Target"'

symbol	cfgLbl.103	"Poor GPS Quality"

symbol	cfgLbl.104	' "Holes Drilled" "Total Depth" "Avg. Pen. Rate" "Avg. Mins\/Hole" "Drilling Time"'

symbol	cfgLbl.105	"Poor GPS Quality"

symbol	cfgLbl.106	"Update"

symbol	cfgLbl.107	"Please start the hole from the map window"

symbol	cfgLbl.108	"Confirm redrilling"

/* 111 and 112 tied to cfgLbl.104 *** if you chang this, make change in 
 ** Macro_utils.cfg .. search for UpdateW0 
 */
#if #arch(pe)
symbol	cfgLbl.111	"Holes Drilled"

symbol	cfgLbl.112	"Min. per Hole (avg.)"
#else
symbol	cfgLbl.111	"Holes Drilled"

symbol	cfgLbl.112	"Min. per Hole\n(avg.)"
#endif

symbol 	cfgLbl.113	"Really Reset?"

/*********************** End of Drill-Specific labels ***************************/

#else

/*********************** Not Drill-Related **************************************/

#	if #class(shovel) || #class(loader)

	symbol	cfgLbl.83	' "Msg" "GPS" "Matl"'
/* wInfo labels  */

/* symbol	cfgLbl.104	' "Total  Tons        " "Total Loads        " "Last Hour Tons     " "Last Hour Loads    " \
 *				  "Avg. Loading Time  " "Avg. Waiting Time  " "Working Time       " "Excav Rate         " \
 *				  "Excav Productivity " "Trucks Coming      " '
 */
 	symbol	cfgLbl.104	' "Total Tons         " "Total Loads         " "Last Hour Tons      " "Last Hour Loads     " "Trucks Coming       " '

	symbol	cfgLbl.106	"Update"

/* Info Labels */
	symbol	cfgLbl.114	"Loads"

	symbol	cfgLbl.115	' "Tons\/Hour" "Tons" "Min. per Load\\n      (Avg.)" '

/* Switch Button Labels */

	symbol	cfgLbl.116	"Inclinom."

#	endif

#	if #class(dozer) || #class(grader)

	symbol	cfgLbl.76	' "Project" "Pitch" "Roll"'

	symbol	cfgLbl.83	' "Msg" "GPS"'

	symbol	cfgLbl.84	"Current Project"

#	endif

	/* Single-antenna HP unit direction change button labels */
	symbol	cfgLbl.99	"Change\\nDirection"

#endif

        symbol  cfgLbl.150      "The equipment can not rotate because there is not Gps"

/* 
 * Configuration switches for turning
 * stuff on and off 
 */
symbol	cfg.0 1 /* Emergency button */
symbol	cfg.1 1 /* Ask operator to confirm emergency */
symbol	cfg.2 1 /* Operator can send keyed messages ... still used with basic keypad */
symbol	cfg.3 0 /* Operator can send messages to other equipment */
symbol	cfg.4 0 /* UNUSED Drill parts entered from keypad (0) or menu selection */

/*
 * Automatically switch to the message window when a new
 * message comes in. 0 = no switch. Any other number will
 * switch to the Message window for that many seconds
 */
symbol	cfg.5 5

#if #class(drill)
/*
 * Set the minimum auto-zoom-in-to-hole distance for a drill
 * This will vary for metric and non-metric mines and is in
 * meters or feet accordingly
 */
symbol	cfg.6	8

/*
 * set the following to determine the behaviour with material:
 * '0' : operator does not specify material type
 * '1' : operator specifies material type at least once
 * '2' : operator specifies material type for every hole
 */

symbol	cfg.7	0

#else
symbol	cfg.6
symbol	cfg.7
#endif

symbol	cfg.8

/* Split digging enabled? */
symbol	cfg.9 1

/* 
 * How many split materials 
 * '0'   = No split digging
 * '0 1' = Left and Right
 * '0 1 2' = Left, Front and Right
 */
symbol	cfg.10 '0 1'

symbol	matlCol.0	material1
symbol	matlCol.1	material2
symbol	matlCol.2	material3

/*
 * Icons for menu screens
 */
symbol	cfgIcon.0	none
symbol	cfgIcon.1	truck
symbol	cfgIcon.2	shovel
symbol	cfgIcon.3	dump
symbol	cfgIcon.4	crusher
symbol	cfgIcon.5	blast
symbol	cfgIcon.6	workshop
symbol	cfgIcon.11	region
symbol	cfgIcon.12	drill
symbol	cfgIcon.13	dozer
symbol	cfgIcon.14	grader
symbol	cfgIcon.15	rtdozer
symbol	cfgIcon.17	foreman
symbol	cfgIcon.18	wtruck
symbol	cfgIcon.19	general

symbol sfyesnolbl "Turn Off Comm Beep?"
