%!/psw/cpp

/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1996
 *               All Rights Reserved
 *  $RCSfile: PS_Macro.cfg,v $
 * $Revision: 1.3 $
 *   $Author: zambetis $
 *     $Date: 2009/06/19 13:24:40 $
 *    $State: Exp $
 *   Purpose: GOIC object configuration file.
 * * * * * * * * * * * * * * * * * * *
 */
/* Prestart check stuff */

#include <Goic/English/PS_Macro.cfg>


/* CfgPassFail.2 is used for items that are not used */
symbol	CfgPassFail.1	¸
symbol	CfgPassFail.0	·
symbol	CfgPassFail.2	''
/* Pre start labels */
symbol  cfgLbl.pre.1 "Pre-Start Check List"
symbol  cfgLbl.pre.2 "À"
symbol  cfgLbl.pre.3 "¼"
symbol  cfgLbl.pre.4 "¾"
symbol  cfgLbl.pre.5 "¿"
symbol  cfgLbl.pre.6 "Á"
symbol  cfgLbl.pre.7 "»"
symbol  cfgLbl.pre.8 "Enter\nComment"
