#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Actions.cfg,v $
 * $Revision: 1.2 $
 *   $Author: dcitron $
 *     $Date: 2015/06/26 07:58:47 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */
#define	Dict_LoadLoc	Définir\ site\ de\nchargement...
#define	Dict_TrkLoad	Définir\ chargement\nde\ camion...
#define	Dict_Tram	Changer\ le\ mode\nChargeur
#define Dict_LoadSide	Définir\ côté\npour\ charger...
