<?xml version="1.0"?>
<defaultDriverConfiguration>

   <!--Dispatch Lite 6.5 Driver configuration.  Fill in the necessary fields and remove the rest.-->
   <!--Available portTypes: NotApplicable, rs232, rs485, can, udp, tcp, other-->
   <!--<driverConfig hostName="" driverTypeName="" selectedModel="" enabled="" portType0="" ipAddress0="" baudRate0="" portNumber0="" portType1="" ipAddress1="" baudRate1="" portNumber1="" configParameters=""/>-->

    <!--Example ECS driver configuration.-->
    <!--<driverConfig hostName="T505" driverTypeName="ECS" selectedModel="12072" enabled="true" portType0="rs232"  baudRate0="9600" portNumber0="1"/>-->
    <!--Example LINSII driver configuration-->
    <!--<driverConfig hostName="T505" driverTypeName="LINCSII" selectedModel="L-950" enabled="true" portType0="tcp" ipAddress0="172.167.54.11" portNumber0="54627" portType1="udp" ipAddress1="152.16.81.45" portNumber1="54629" configParameters="multicast1=true"/>-->
    <!--Example Interface connected through external GSP configuration.-->
    <!--<driverConfig hostName="T108" driverTypeName="VIMS-EXTERNAL" selectedModel="785B" enabled="true" portType0="other"/>-->
    <!--Example loaded on all trucks except T101, T102, and T103.-->
    <!--<driverConfig hostName="*" hostExceptions=”T101,T102,T103” driverTypeName="Vims"  selectedModel=”785B” enabled="true" portType0="rs232" portNumber0="1" baudRate0="9600"/>-->
	
    <!--Internal GPS driver configuration.-->
    <driverConfig hostName="*" driverTypeName="TrimbleLassen" driverName="Gps1-Default" enabled="true" portType0="other"  baudRate0="38400" portNumber0="9"/>
	
</defaultDriverConfiguration>
