%!/psw/cpp
<?xml version="1.0" encoding="utf-8"?>
<networkConfiguration>
  <network name="Default" network="WiFi" default="True" enabled="True" peerToPeer="True" broadcast="True" encryption="False" priority="0" address="172.31.213.0" mask="255.255.255.0" >
      <host name="
        DEVICE" alias="DELite" address="
        IPADDR"/>
      <host name="
        GSPXDEVICE" alias="PeerDevice" address="
        GSPXDEVICEIP" />
  </network>
</networkConfiguration>
