%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: zambetis $
 *     $Date: 2011/08/31 17:12:26 $
 *    $State: Exp $
 *   Purpose: Main configuration file for FuelMetrix interface.
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
#ifndef ISOPTION
#	include <Main/UpPort.h>
	version	APPNAME Interface, vVERSION
#	define PROMPT	\'APPNAME Interface, vVERSION> \'
#	include <Main/ObjSh.h>
#	include <Main/Adc.h>
#	include <Main/OMS.h>
	module	Macro
	object	Macro path:y
#endif
#include <Main/GspPort.h>
#if ! #GSPPORT(busy)
	module	FuelMetrix
	object	FuelMetDevice name:fueldev speed:19200 hdwe:rs232 port:GSPPORT
#endif
#if ! #port(cpu) && !defined(ISOPTION)
#	include <Main/Slip.cfg>
	object	Slip
#endif
		object	FuelMetDriver name:fuel device:fueldev		

