#!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2011
 *               All Rights Reserved
 *  $RCSfile: Macro.cfg,v $
 * $Revision: 1.38 $
 *   $Author: olivas $
 *     $Date: 2020/02/19 23:27:47 $
 *    $State: Exp $
 * * * * * * * * * * * * * * * * * * *
 */

/* common */
message GoodCommsLbl    Kom dibangun kembali.
message BadCommsLbl     Kom hilang!
message CommsBeepLbl    Matikan Bip Kom?
message CommsBeepBtn    Atur Bip\nKom
message	OkLbl		OK
message	CancelLbl	Batal
message	YesLbl		Ya
message	NoLbl		Tidak
message	CommsErrorLbl	Kesalahan
message	CantSendLbl	Tidak dapat mengirim $2 ke $1
message	UpdatePanelLbl	Berikutnya: Pembaruan Panel
message	ExitLbl		Keluar
message	NoneLbl		None
message ConfirmActLbl	Mengkonfirmasi Tindakan
message	ShvlWaitLbl	Tunggu PENUH dari shovel
message QuickMessageLbl Pesan cepat
message FavoritesTitle  Halaman Favorit Operator
/* The following are default values which should be overridden in Central.cfg */
message	stat1		Down
message	stat2		Siap
message	stat3		Standby
message	stat4		Delay
message	stat5		Shiftchange

/* Dynamic Menus */
/* The following are default values which get overridden by Central on PWRUP */
message morestr		Lainnya->
message exitstr		Menu Keluar
message updtstr		Perbarui

/* w0 */
message	ActionLbl	Tindakan
message	StatusLbl	Status
message	OptionsLbl	Opsi
message	ChatLbl		Kirim Pesan
message	ClearTextLbl	Hapus Layar
message	ViewBtnLbl	Tampilan
message	HomeLbl		Rumah
message LockBtnLbl	Kunci Layar
message	ColorLbl	Warna
message	EnterMsgLbl	Masukkan Pesan
message WelcomeLbl	Selamat Datang di IntelliMine
message	ExpectedLbl	Perkiraan
message	LateLbl		Terlambat
message	MinutesLbl	menit
message	SpeedMsgLbl	Pesan dinonaktifkan pada kecepatan
message	AlertViewLbl	Anda memiliki $2 catatan yang belum terbaca pada tampilan $(msg.$1)

/* StatBar */
message	EmergOkLbl	Anda telah menekan darurat\n(Permintaan akan dikirim dalam $(EmergCnt) detik)
message	SendNowLbl	Kirim Sekarang
message	BcastMsg	Pesan dari $(OMS host):\n
message	EmergBcastMsg	Operator memiliki darurat

/* Actions */
message	ErrorLbl	Error
message	PressOkLbl	Tekan OK
message	PayrollLbl	No. Payroll
message	NotAvailableLbl	Tindakan Ini Tidak Ada
message	FuelLbl		Masukkan Jumlah Bahan Bakar
message	EngHoursLbl	Masukkan Jam Mesin

/* Prestart */
message	PrestartTitle	Daftar Pemeriksaan Pre-Start
message	PrestartLoading	Memuat item...
message	PageLbl		Halaman
message	GenCommentLbl	Komentar Umum
message	GenComm2Lbl	Komentar\nUmum
message	General		Umum
message	EditCommLbl	Edit\nKomentar
message LastComm	Komentar Terakhir untuk $1
message LastCommEnhan	Komentar Terakhir untuk $1: $2 oleh $3
message PsIncompleteLbl	$(PrestartTitle.$(PsList)) Tidak lengkap!\nBeberapa item tidak ditetapkan.
message	PassAllLbl	Lulus Semua
message	EnterCommentLbl	Masukkan\nKomentar
message	PrevPageLbl	Halaman\nSebelumnya
message	NextPageLbl	Halaman\nBerikutnya
message	CommentTitle	Masukkan Komentar
message	RepRequestLbl	Meminta laporan, harap tunggu...
message	PsCritFailLbl	Penting daftar item gagal
message	DoNotOperateLbl	Tidak mengoperasikan peralatan!
message NoConfig      tidak dikonfigurasi!
message	SelInitCLLbl	Pilih daftar awal Anda
message SendLbl		Kirim
/* The following must match the definitions in central:
These messages are now created by the Prestart Item Utility from the enum DEFAULT
message	FailLbl		Gagal
message	PassLbl		Lulus
*/
/* EqInfo View */
message msg.bcmunit	BCMs
message msg.tonunit	Tons
message msg.bcm0        Pencedok:
message msg.bcm1        Berat Sistem Muatan:
message msg.bcm2        DISPATCH Muatan:
message msg.bcmshift0
message msg.bcmshift1   Regu Produksi:
message msg.bcmshift2   Regu Produksi:

/* Operator Messages View */
message	OperMsgCreatebt	Buat\nCatatan
message	OperMsgCreate	Buat Catatan Peralatan Baru
message	msg.opmsgreq	Meminta catatan, tunggu...
message	msg.OperMsg	    Catatan Peralatan

/* Resource View (future devel)*/
message	msg.rview1	-----Informasi Lokasi-----
message	msg.rview2	Nama:
message	msg.rview3	Jenis:
message	msg.rview4	Status:
message	msg.rview5	Auto Arrive: Ya
message	msg.rview6	Auto Arrive: Tidak

/* Weight Station Module */
message ReadyToWeighLbl Ketika siap untuk menimbang, tekan tombol OK

/* Two Engine Hours */
message	TwoEngine0	Mesin 1
message	TwoEngine1	Mesin 2

/* Non-truck tiedown */
message	tiedownrejMsg	Parkir ditolak.
message tiedownacptMsg	Parkir diterima.
message	TiedownNotifyLbl	Penetapan Parkir
message AcceptLbl	Terima
message RejectLbl	Tolak

/* SpeedUnit Display */
message UnitMph   mpj
message UnitKph   km/j

/* Trucks En Route */
message TrkRoutesLblLine    Truck Dalam Perjalanan
message	TrkRoutesLbl	Truk\ Dalam\nPerjalanan
message	msg.trkrt	------ Truk Dalam Perjalanan -------
