%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-2002
 *               All Rights Reserved
 *  $RCSfile: example.config,v $
 * $Revision: 1.1 $
 *   $Author: dcitron $
 *     $Date: 2012/07/08 07:50:23 $
 *    $State: Exp $
 *   Purpose: Example definitions of parameters and event
 *            DOES NOT REPRESENT A REAL CONFIGURATION
 * * * * * * * * * * * * * * * * * * *
 */
config param:23		device:an1 channel:0			/* Coolant level */
config param:25		device:an1 channel:1			/* Coolant temperature */
config param:43		device:an1 channel:2			/* Fuel level */
config param:2020	device:an1 channel:3			/* Battery Voltage */
config param:2021	device:an2 channel:0			/* Alternator Voltage */
config param:21		device:an2 channel:1			/* Engine Oil Pressure */
config param:1021	device:an2 channel:2			/* Hydraulic Oil Pressure */
config event:541	device:dig1 channel:0 param:25		/* Coolant Temp HIGH */
config event:532	device:dig1 channel:8 param:21		/* Engine Oil Pressure LOW */
config event:533	device:dig1 channel:2 param:21		/* Engine Oil Pressure HIGH */
config event:2520	device:dig1 channel:12 param:2020	/* Battery Voltage LOW */
