#!/psw/cpp
geom	bw:4
hmin	80
cols    3
map	n
tile	srash
item	Matrícula			kpLogOn
item	Retirar\ Matrícula		kpLogOff
item	Checklist...	kpPrestart
item	Informação...		Info post
item	Foto\ do\ GC	        snapshotUnit $(id);WinMgr window:w5	
#item	Reports			Reports post
item	Limpar\ Tela		w0.Text clear
#item	Panel\ Controls\ ->	Options post
item    Mensagem\ para\nDespachante                 kpMessage
item	Broadcast...		req bcast;args 2;Bcast post	
item    Sim                     kpYes
item    Não                     kpNo
item    Emergência              kpHelp
#define OBJECT  Other
#include <Cfg/Options.cfg>
item    Sair\ Menu              Other unpost
#if #arch(cgc)
itemColor       Sim:Yes
itemColor       Não:No
itemColor       Emergência:Down
itemColor Sair\ Menu:Exit
#endif
