#!/psw/cpp
geom	x:104:y:0:bw:4
hmin	75
cols	3
map	n
item	Informação	     req info;ob1 $(typ);args 2;sendaction
item	Mensagem		     req mess;args 3;kplabel 'Mensagem para $(id)';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Foto\ do\ GC            snapshotUnit $(id);GetSnapshot
item	Sair\ Menu	Action2 unpost
#if #arch(cgc)
itemColor Sair\ Menu:Exit
#endif

