#!/psw/cpp
geom	bw:4
hmin	100
cols    3
map	n
tile	srash
item	Todos\nEquipamentos		id all;kplabel 'Mensagem para Todos Equipamentos';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Todos\nCaminhões		id trks;kplabel 'Mensagem para Todos Caminhões';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item	Todas\nEscavadeiras		id shv;kplabel 'Mensagem para Todas Escavadeiras';kpaction 'frmnmess';Kp2 label:$(kplabel) post
#item	Todos\nSupervisores		id fore;kplabel 'Mensagem para Todos Supervisores';kpaction 'frmnmess';Kp2 label:$(kplabel) post
item    Sair\ Menu              Bcast unpost
#if #arch(cgc)
itemColor Sair\ Menu:Exit
#endif
