#!/psw/cpp
#include <Version.h>
up	Slip
connected y
module	ObjSh
module	Pulse
module	File
object	ObjSh base:Test prompt:\'187 Board Test, vVERSION> \'
object	Adc
object	Rp
object	LoopTest name:Loop
object	Slip port:scc1a name:Gsp speed:4800
object	Slip port:scc1b name:Gps speed:4800
object	Pulse name:Pc0 counter:0
object	Pulse name:Pc1 counter:1
object	File path:y
mode	187
ssn	""
rom	x
ram	x
flash	x
e2rom	x
e2pot	x
adc	x
chan	x
pio	x
pulse	0
pulse	1
ping	Loop
ping	Gsp:rs232
ping	Gsp:rs485
ping	Gsp:20ma
ping	Gps
spray	Rp
done	x
