%!/psw/cpp

/*
 * Fatigue Management Module
 */

/* flag as to whether to reset or increment fatgRespSecs */
symbol countSecs     0

/* response time & response to the Fatigue Warning Message */
symbol fatgRespSecs  0
symbol fatgResponse  0

macro   startCounting       countSecs 1
macro   stopCounting        countSecs 0
macro   countFatgWarngSecs  eq? $(countSecs) 0 fatgRespSecs 0;eq? $(countSecs) 1 fatgRespSecs $(+ $(fatgRespSecs) 1 )
#macro   sendFatgRespSecs    FATG-RESP $(fatgRespSecs) $(fatgResponse);countSecs 0
macro   sendFatgRespSecs    EQ-REQ "fatg-resp" [ "$(fatgRespSecs)" "$(fatgResponse)" ];countSecs 0
macro   storeFatgResponse   fatgResponse $2

in    TOHUB           0x27    s?s     $1
out   FATG-RESP       0x777   ds      sendto up
out   EQ-REQ          0x30    s?[s]   sendto up

/* END Fatigue Management Module */
