%!/psw/cpp
/*
 * * * * * * * * * * * * * * * * * * *
 *  DISPATCH Real-Time Firmware Module
 * Copyright (c) Modular Mining Systems, 1982-1995
 *               All Rights Reserved
 *  $RCSfile: Main.cfg,v $
 * $Revision: 1.1 $
 *   $Author: olson $
 *     $Date: 2002/05/17 18:56:52 $
 *    $State: Exp $
 *   Purpose: Slope monitor application configuration file
 * * * * * * * * * * * * * * * * * * *
 */
#include <Version.h>
up	Rp
version	Slope Monitor, vVERSION
#define PROMPT \'Slope Monitor, vVERSION> \'
#include <Main/ObjSh.h>
#include <Main/Adc.h>
module	Slip
object	Slip
#include <Main/OMS.h>
module	Macro
object	Macro path:y
module	Slope
object	Slope path:y
