%!/psw/cpp
#ifndef PARENT
#	define ARG1 Calib
	geom	x:0:y:0:w:640:h:480
	tile	root
	relief	flat
	map	n
#endif
object	Label	name:PARENT.lbl	geom:x:80:y:200:w:480:h:80  font:Large
object	Button	name:PARENT.Done	geom:x:80:y:280:w:240:h:80  font:Large action:Calib.$(caldone)
object	Button	name:PARENT.Calibrate	geom:x:320:y:280:w:240:h:80 font:Large action:Calib.start
onpost		Calib.0
onunpost	Tp calib:0
action		Calib.$(Tp calib)
