#!/psw/cpp

#ifdef PORTRAIT
geom	x:80:y:720:w:80:h:80:bw:1
label	'>>\\n$(CfgTime)'
action	GetTime1;StatBarRollR
#else
geom	x:640:y:400:w:80:h:80:bw:1
label	$(CfgTime)
action	GetTime1
#endif
object	Time
font	Tiny2
#if #arch(cgc) || #arch(pe)
colors	StatBar
#endif
